<template>
  <div class="rentAnalysis">
    <div class="echarts-top">

      <div class="item-echarts">
       <div class="census-base"><span class="vertical-line"></span>近3年产值及单位面积产值趋势统计分析</div>
       <div ref="into" class="echarts-line"></div>
      </div>

      <div class="item-echarts item-tow">
       <div class="census-base"><span class="vertical-line"></span>近3年纳税及单位纳税趋势统计分析</div>
       <div ref="lineRight" class="echarts-line"></div>
      </div>

     <div class="item-echarts item-center">
       <div class="census-base"><span class="vertical-line"></span>近3年地方财力贡献统计分析</div>
       <div ref="enterprise" class="echarts-line"></div>
     </div>

    </div>

    <div class="echarts-bottom">

      <div class="item-echarts">
       <div class="census-base"><span class="vertical-line"></span>近3年企业年度节约租金成本趋势统计</div>
       <div ref="money" class="echarts-line"></div>
      </div>

      <div class="item-echarts item-tow">
       <div class="census-base"><span class="vertical-line"></span>近3年资金和用房使用绩效分析</div>
       <div class="tagging">( 公式： 使用绩效=地方财力-节约租金-扶持资金)</div>
       <div ref="merits" class="echarts-line"></div>
      </div>

     <div class="item-echarts item-center">
       <div class="census-base"><span class="vertical-line"></span>近3年企业规模趋势图</div>
       <div ref="scale" class="echarts-line"></div>
     </div>

    </div>
    </div>

</template>
<script>
import * as echarts from 'echarts'
import threeBarOption from './threeBarOption.js'
import barOptions from './barOption.js'
import lineRightOptions from './barOption2.js'
import scaleOptions from './barOption3.js'
import moneyOptions from './costOption.js'
import meritsOptions from './achievementOption.js'

import Calculation from './calculation'
export default {
  components: { Calculation },
  props: {benefitData: Array},
  data () {
    return {
      isInto: false,
      isLineRight: false,
      isEnterprise: false,
      isMoney: false,
      isMerits: false,
      isScale: false,

      barData: {
        xAxisDtat: ['2018年', '2019年', '2020年'],
        unit1: '万元',
        unit2: '万元/㎡',
        unit3: '元',
        unit4: '元/㎡',
        yAxisDataz: [0, 0, 0], // 产值金额
        yAxisDatay: [0, 0, 0], // 单位产值
        yAxisDatas: [0, 0, 0], // 纳税金额
        yAxisDatax: [0, 0, 0] // 单位面积纳税

      },

      barData3: {
        logoName: ['人均面积', '员工人数'],
        xAxisDtat: ['2018年', '2019年', '2020年'],
        unit1: '㎡/人',
        unit2: '人',
        yAxisDatak: [0, 0, 0],
        yAxisDataj: [0, 0, 0]
      },

      barDataData: {
        logoName: ['财力贡献'],
        unit1: '元',
        xAxisDtat: ['2018年', '2019年', '2020年'],
        yAxisDataz: [0, 0, 0]
      },

      moneyData: {
        logoName: ['企业节约租金成本', '实际租金'],
        xAxisDtat: ['2018年', '2019年', '2020年'],
        unit1: '元',
        unit2: '元',
        yAxisDatak: [0, 0, 0],
        yAxisDataj: [0, 0, 0]
      },

      meritsData: {
        logoName: ['资金和用房使用绩效'],
        xAxisDtat: ['2018年', '2019年', '2020年'],
        unit1: '元',
        yAxisData: [0, 0, 0]
      },

      dialogVisible: false
    }
  },
  created () {
  },
  mounted () {
    // 近3年产值及单位面积产值趋势统计分析
    let intoChart = echarts.init(this.$refs.into)

    // 近3年纳税及单位纳税趋势统计分析
    let lineRightChart = echarts.init(this.$refs.lineRight)

    // 近3年地方财力贡献统计分析
    let bottomChart = echarts.init(this.$refs.enterprise)

    // 近3年企业年度节约租金成本趋势统计
    let moneyChart = echarts.init(this.$refs.money)

    // 近3年资金和用房使用绩效分析
    let meritsChart = echarts.init(this.$refs.merits)

    // 近3年企业规模趋势图
    let scaleChart = echarts.init(this.$refs.scale)

    let data = this.benefitData

    let barAxisDataz = [] // 产值金额
    let barAxisDatay = [] // 单位产值

    let barAxisDatas = [] // 纳税金额
    let barAxisDatax = [] // 单位面积纳税

    let barAxisDatak = [] // 人均面积
    let barAxisDataj = [] // 员工人数

    let baryAxisDataz = [] // 减少的企业成本

    let baryAxisDatak = [] // 企业节约租金成本
    let baryAxisDataj = [] // 实际租金

    let baryAxisData = [] // 资金和用房使用绩效

    data && Array.isArray(data) && data.length > 0 && data.forEach((item, index) => {
      barAxisDataz[index] = item.cz && (Number(item.cz) !== 0) ? (Number(item.cz) * 10000).toFixed(2) : 0
      barAxisDatay[index] = item.avgcz && (Number(item.avgcz) !== 0) ? (Number(item.avgcz) / 10000).toFixed(2) : 0
      barAxisDatas[index] = item.ns && (Number(item.ns) !== 0) ? Number(item.ns).toFixed(2) : 0
      barAxisDatax[index] = item.avgns && (Number(item.avgns) !== 0) ? Number(item.avgns).toFixed(2) : 0
      barAxisDatak[index] = item.avgarea && (Number(item.avgarea) !== 0) ? Number(item.avgarea).toFixed(2) : 0
      barAxisDataj[index] = item.num && (Number(item.num) !== 0) ? Number(item.num).toFixed() : 0
      baryAxisDataz[index] = item.clgx && (Number(item.clgx) !== 0) ? Number(item.clgx).toFixed() : 0
      baryAxisDatak[index] = item.jmz && (Number(item.jmz) !== 0) ? Number(item.jmz).toFixed() : 0
      baryAxisDataj[index] = item.sjzj && (Number(item.sjzj) !== 0) ? Number(item.sjzj).toFixed() : 0
      baryAxisData[index] = item.syjx && (Number(item.syjx) !== 0) ? Number(item.syjx).toFixed() : 0
    })

    // if ((this.countSum(barAxisDataz) === 0) && (this.countSum(barAxisDatay) === 0)) {
    //   this.isInto = true
    // }

    // if ((this.countSum(barAxisDatas) === 0) && (this.countSum(barAxisDatax) === 0)) {
    //   this.isLineRight = true
    // }

    // if ((this.countSum(barAxisDatak) === 0) && (this.countSum(barAxisDataj) === 0)) {
    //   this.isScale = true
    // }

    // if ((this.countSum(baryAxisDatak) === 0) && (this.countSum(baryAxisDataj) === 0)) {
    //   this.isMoney = true
    // }

    // if (this.countSum(baryAxisDataz) === 0) {
    //   this.isEnterprise = true
    // }

    // if (this.countSum(baryAxisData) === 0) {
    //   this.isMerits = true
    // }

    this.barData.yAxisDataz = barAxisDataz
    this.barData.yAxisDatay = barAxisDatay
    this.barData.yAxisDatas = barAxisDatas
    this.barData.yAxisDatax = barAxisDatax

    this.barData3.yAxisDatak = barAxisDatak
    this.barData3.yAxisDataj = barAxisDataj

    this.barDataData.yAxisDataz = baryAxisDataz

    this.moneyData.yAxisDatak = baryAxisDatak
    this.moneyData.yAxisDataj = baryAxisDataj

    this.meritsData.yAxisData = baryAxisData

    intoChart.setOption(barOptions(this.barData))
    lineRightChart.setOption(lineRightOptions(this.barData))
    bottomChart.setOption(threeBarOption(this.barDataData))
    moneyChart.setOption(moneyOptions(this.moneyData))
    meritsChart.setOption(meritsOptions(this.meritsData))
    scaleChart.setOption(scaleOptions(this.barData3))
  },
  watch: {
    benefitData: function (val) {
      // 近3年产值及单位面积产值趋势统计分析
      let intoChart = echarts.init(this.$refs.into)

      // 近3年纳税及单位纳税趋势统计分析
      let lineRightChart = echarts.init(this.$refs.lineRight)

      // 近3年地方财力贡献统计分析
      let bottomChart = echarts.init(this.$refs.enterprise)

      // 近3年企业年度节约租金成本趋势统计
      let moneyChart = echarts.init(this.$refs.money)

      // 近3年资金和用房使用绩效分析
      let meritsChart = echarts.init(this.$refs.merits)

      // 近3年企业规模趋势图
      let scaleChart = echarts.init(this.$refs.scale)

      let barAxisDataz = [] // 产值金额
      let barAxisDatay = [] // 单位产值
      let barAxisDatas = [] // 纳税金额
      let barAxisDatax = [] // 单位面积纳税
      let barAxisDatak = [] // 人均面积
      let barAxisDataj = [] // 员工人数
      let baryAxisDataz = [] // 减少的企业成本
      let baryAxisDatak = [] // 企业节约租金成本
      let baryAxisDataj = [] // 实际租金
      let baryAxisData = [] // 资金和用房使用绩效

      val && Array.isArray(val) && val.length > 0 && val.forEach((item, index) => {
        barAxisDataz[index] = item.cz && (Number(item.cz) !== 0) ? (Number(item.cz) * 10000).toFixed(2) : 0
        barAxisDatay[index] = item.avgcz && (Number(item.avgcz) !== 0) ? (Number(item.avgcz) / 10000).toFixed(2) : 0
        barAxisDatas[index] = item.ns && (Number(item.ns) !== 0) ? Number(item.ns).toFixed(2) : 0
        barAxisDatax[index] = item.avgns && (Number(item.avgns) !== 0) ? Number(item.avgns).toFixed(2) : 0
        barAxisDatak[index] = item.avgarea && (Number(item.avgarea) !== 0) ? Number(item.avgarea).toFixed(2) : 0
        barAxisDataj[index] = item.num && (Number(item.num) !== 0) ? Number(item.num).toFixed() : 0
        baryAxisDataz[index] = item.clgx && (Number(item.clgx) !== 0) ? Number(item.clgx).toFixed() : 0
        baryAxisDatak[index] = item.jmzj && (Number(item.jmzj) !== 0) ? Number(item.jmzj).toFixed() : 0
        baryAxisDataj[index] = item.sjzj && (Number(item.sjzj) !== 0) ? Number(item.sjzj).toFixed() : 0
        baryAxisData[index] = item.syjx && (Number(item.syjx) !== 0) ? Number(item.syjx).toFixed() : 0
      })
      console.log(baryAxisDatak, baryAxisDataj, 'baryAxisDatak,baryAxisDataj')
      // if ((this.countSum(barAxisDataz) === 0) && (this.countSum(barAxisDatay) === 0)) {
      //   this.isInto = true
      // }

      // if ((this.countSum(barAxisDatas) === 0) && (this.countSum(barAxisDatax) === 0)) {
      //   this.isLineRight = true
      // }

      // if ((this.countSum(barAxisDatak) === 0) && (this.countSum(barAxisDataj) === 0)) {
      //   this.isScale = true
      // }

      // if ((this.countSum(baryAxisDatak) === 0) && (this.countSum(baryAxisDataj) === 0)) {
      //   this.isMoney = true
      // }

      // if (this.countSum(baryAxisDataz) === 0) {
      //   this.isEnterprise = true
      // }

      // if (this.countSum(baryAxisData) === 0) {
      //   this.isMerits = true
      // }

      this.barData.yAxisDataz = barAxisDataz
      this.barData.yAxisDatay = barAxisDatay

      this.barData.yAxisDatas = barAxisDatas
      this.barData.yAxisDatax = barAxisDatax

      this.barData3.yAxisDatak = barAxisDatak
      this.barData3.yAxisDataj = barAxisDataj

      this.barDataData.yAxisDataz = baryAxisDataz

      this.moneyData.yAxisDatak = baryAxisDatak
      this.moneyData.yAxisDataj = baryAxisDataj

      this.meritsData.yAxisData = baryAxisData

      intoChart.setOption(barOptions(this.barData))
      lineRightChart.setOption(lineRightOptions(this.barData))
      bottomChart.setOption(threeBarOption(this.barDataData))
      moneyChart.setOption(moneyOptions(this.moneyData))
      meritsChart.setOption(meritsOptions(this.meritsData))
      scaleChart.setOption(scaleOptions(this.barData3))
    },
    deep: true
  },
  methods: {
    countSum (val) {
      let num = 0
      for (let i = 0; i < val.length; i++) {
        num = num + Number(val[i])
      }
      return num
    },
    handleAddEditSee () {
      this.dialogVisible = true
    },
    handleChange (val) {
      this.radio = val
    }
  }
}

</script>

<style lang="less" scoped>
@import "./index.less";
</style>
