<template>
  <div class="officeHouse">
    <div class="property-content">
      <div class="property-base">
        <div class="census-base">
          <span>商业基本统计信息</span>
          <div @click="handleMore('more')">
            <span class="more">统计分析</span>
            <img :src="require('../../../img/right_arrow.png')" style="width:6px;height:10px; margin-right:14px;" alt="" />
          </div>
        </div>
        <ul class="base-content">
          <li class="base-item">
            <p class="base-name">总面积</p>
            <p class="base-num">{{baseData.buildArea?(baseData.buildArea/10000).toFixed(2):"--"}}万㎡</p>
          </li>
          <li class="base-item">
            <p class="base-name">资产总数</p>
            <p class="base-num">{{baseData.syNum?baseData.syNum:"--"}}处</p>
          </li>
          <!-- <li class="base-item">
            <p class="base-name">空置面积</p>
            <p class="base-num">{{baseData.kzArea?(baseData.kzArea/10000).toFixed(2):"--"}}万㎡</p>
          </li>
          <li class="base-item">
            <p class="base-name">空置户</p>
            <p class="base-num">{{baseData.kzNum?baseData.kzNum : '--'}}户</p>
          </li>
          <li class="base-item">
            <p class="base-name">使用率</p>
            <p class="base-num">{{baseData.useRate?(baseData.useRate).toFixed(2) : '--'}}%</p>
          </li>
          <li class="base-item">
            <p class="base-name">平均租金</p>
            <p class="base-num">{{baseData.averageRent?(baseData.averageRent).toFixed(2) : '--'}}元/㎡</p>
          </li> -->
           <li class="base-item-last"></li>
        </ul>
      </div>

      <div class="business-expect">
        <div class="census-base">各单位管理商业情况统计</div>
        <!-- <div ref="wrap" class="echarts-content"></div> -->
        <ul class="item-ul">
          <li class="li_title">
            <span class="li_zrdwname">单位名称</span>
            <span class="li_zrdwname">物业数（处）</span>
            <span class="li_zrdwname">租赁面积（㎡）</span>
          </li>
          <vue-seamless-scroll :data="tableData" class="seamless-warp" :class-option="optionSetting">
            <li class="li_item" v-for="(item,index) in tableData" :key="index">
              <el-tooltip class="item" effect="dark" :content="item.unitName" placement="right-start">
                <span class="li_sjLevelStr" :unitName="item.unitName">{{ item.unitName | ellipsis(6) }}</span>
              </el-tooltip>
              <span class="li_sjLevelStr" :num="item.num">{{item.num}}</span>
              <span class="li_sjLevelStr" :area="item.area">{{item.area}}</span>
            </li>
          </vue-seamless-scroll>
        </ul>
      </div>

    </div>
  </div>
</template>
<script>
// import * as echarts from 'echarts'
import { fiveListData, propertyStatisticsList } from '../../../request'
import {openModal} from '@/until/bigUrl.js'
// import handleOption from './businessDption.js'

export default {
  // components: {Breadcrumb},
  data () {
    return {
      xAxisDtat: ['2016年', '2017年', '2018年', '2019年', '2020年'],
      yAxisDataz: [210, 187, 178, 168, 210],
      yAxisDatas: [15, 17, 15, 14, 15],
      tableData: [],
      baseData: {
        buildArea: '',
        syNum: '',
        kzArea: '',
        kzNum: '123456',
        useRate: '', // 使用率=出租面积/总面积
        averageRent: ''
      }
    }
  },
  created () {
    this.getDataList()
    this.getEchartsData()
  },
  filters: {
    ellipsis (value, limit) {
      if (!value) return ''
      if (value.length > limit) {
        return value.slice(0, limit) + '...'
      }
      return value
    }
  },
  computed: {
    optionSetting () {
      return {
        step: 0.4, // 数值越大速度滚动越快
        limitMoveNum: this.tableData.length, // 开始无缝滚动的数据量 this.dataList.length
        hoverStop: true, // 是否开启鼠标悬停stop
        direction: 1, // 0向下 1向上 2向左 3向右
        openWatch: true, // 开启数据实时监控刷新dom
        singleHeight: 0, // 单步运动停止的高度(默认值0是无缝不停止的滚动) direction => 0/1
        singleWidth: 0, // 单步运动停止的宽度(默认值0是无缝不停止的滚动) direction => 2/3
        waitTime: 0 // 单步运动停止的时间(默认值1000ms)
      }
    }
  },
  // mounted () {
  // 1. 实例化echarts对象，并传入容器
  // let myChart = echarts.init(this.$refs.wrap)

  // 3. 让echarts对象应用这个配置
  // if (this.yAxisDataz.length > 0 && this.yAxisDatas.length > 0) {
  //   myChart.setOption(handleOption({
  //     yAxisDataz: this.yAxisDataz,
  //     yAxisDatas: this.yAxisDatas,
  //     xAxisDtat: this.xAxisDtat,
  //     legendData: this.legendData
  //   })
  //   )
  // }
  // },

  methods: {
    handleMore (mark) {
      if (mark === 'more') {
        openModal(6, '/businessStatAnalysis', () => {})
      }
    },
    rowClick (row, column) {
      console.log(row, column, '点击了某一行')
    },
    getDataList () {
      fiveListData('商业').then(res => {
        console.log(res.data.data)
        let data = res.data.data
        // 物业基本统计
        this.baseData.buildArea = data.buildArea
        this.baseData.syNum = data.syNum
        this.baseData.kzArea = data.kzArea
        this.baseData.useRate = data.czArea / data.buildArea * 100
        this.baseData.averageRent = data.averageRent
      })
    },
    getEchartsData () {
      propertyStatisticsList('商业').then(res => {
        // console.log(res.data.data, 'res.data.data')
        let tableArr = res.data.data
        let arr = []
        Array.isArray(tableArr) && tableArr.length > 0 && tableArr.forEach((item, index) => {
          let i = {}
          i.area = (item.area).toFixed(2)
          i.unitName = item.unitName
          i.num = item.num
          arr[index] = i
        })
        this.tableData = arr
      })
    }
  }

}

</script>

<style lang="less" scoped>
@import "./index.less";
</style>
