<template>
  <div class="governmentProperty">
    <h6 class="title">国企物业资产统计</h6>
    <div class="property-content">
      <div class="property-base">
        <div class="census-base">
          <span>国企物业基本统计信息</span>
          <!-- <div @click="handleMore('more')">
            <span class="more">更多分析</span>
            <img :src="require('../img/right_arrow.png')" style="width:6px;height:10px; margin-right:14px;" alt="" />
          </div> -->
        </div>
        <ul class="base-content">
          <li class="base-item">
            <p class="base-name">国企总数</p>
            <p class="base-num">4</p>
          </li>
          <li class="base-item">
            <p class="base-name">资产总数</p>
            <p class="base-num">12处</p>
          </li>
          <li class="base-item">
            <p class="base-name">建筑面积</p>
            <p class="base-num">1232.23万㎡</p>
          </li>
        </ul>
      </div>

      <div class="business-expect">
        <div class="census-base">各国企所占物业面积统计分析</div>
        <div ref="chartPie" class="echarts-data" style="height: 300px"></div>
      </div>

      <div class="business-expect">
        <div class="census-base">五大类资产统计分析</div>
        <div ref="chartBar" class="echarts-data" style="height: 280px"></div>
      </div>
    </div>
  </div>
</template>
<script>
import * as echarts from "echarts";
import { openModal } from '@/until/bigUrl.js'
import { govermentHouseCodeCheck } from '@/views/request'
import pieOption1 from '@/views/common/pie/pieOption1'
import barOption from '@/views/common/bar/barOption'

export default {
  // components: {Breadcrumb},
  data() {
    return {
      //各国企所占物业面积统计分析
      pieData: {
        title: "",
        unit: '万㎡',
        data: [
          {
            name: "大沙河建投", value: 12.12,
            itemStyle: {
              normal: {
                borderWidth: 1,
                borderColor: 'rgba(33,138,253)'
              }
            }
          },
          {
            name: "深汇通", value: 43.23,
            itemStyle: {
              normal: {
                borderWidth: 1,
                borderColor: 'rgba(33,199,255)'
              }
            }
          },
          {
            name: "广聚能源", value: 32.12,
            itemStyle: {
              normal: {
                borderWidth: 1,
                borderColor: 'rgba(255,193,24)'
              }
            }
          },
          {
            name: "广聚投控", value: 32.12,
            itemStyle: {
              normal: {
                borderWidth: 1,
                borderColor: 'rgba(255,129,8)'
              }
            }
          },
        ],
        color: ["rgba(33,138,253,0.4)", "rgba(33,199,255,0.4)", "rgba(255,193,24,0.4)", "rgba(255,129,8,0.4)"],
        legendData: ["大沙河建投", "深汇通", "广聚能源", "广聚投控"],
      },
      //五大类资产统计分析
      barData: {
        yAxisName: '面积（万㎡）',
        axisLabelWrap: 4,
        grid: {
          left: '5%'
        },
        tooltip: {
          show: false
        },
        xAxisData: [
          "产业用房",
          "行政办公",
          "公共服务设施",
          "商业",
          "住宅"
        ],
        yAxisDatax: [
          23, 12, 15, 34, 53
        ],
      },
    }
  },
  created() {
  },
  mounted() {
    this.initChart();
  },
  methods: {
    initChart() {
      let chartPie = echarts.init(this.$refs.chartPie);
      chartPie.setOption(pieOption1(this.pieData), false);
      let chartBar = echarts.init(this.$refs.chartBar);
      chartBar.setOption(barOption(this.barData), false);
    },
    handleMore(mark) {
      if (mark === 'more') {
        openModal(6, '/moreAnalysis', () => { })
      }
    }
  }

}

</script>

<style lang="less" scoped>
@import "./index.less";
</style>
