<template>
  <div class="propertyAnalysis">
    <div style=" display: flex;">
    <div>
       <div class="census-base"><span class="vertical-line"></span>政府办公用房面积空置情况对比分析</div>
       <div class="echarts-left">
       <div ref="houseRoot" class="echarts-root"></div>
       <div ref="house" class="echarts-data"></div>
       </div>
    </div>

     <div>
       <div class="census-base"><span class="vertical-line"></span>政府物业办公用房空置情况</div>
       <div ref="rate" class="echarts-right"></div>
    </div>
    </div>

    <div style=" display: flex;">
    <div>
       <div class="census-base"><span class="vertical-line"></span>政府办公用房资产入账统计分析</div>
       <div class="echarts-left">
       <div ref="rentRoot" class="echarts-root"></div>
       <div ref="rent" class="echarts-data"></div>
       </div>
    </div>

     <div>
       <div class="census-base"><span class="vertical-line"></span>政府物业办公用房使用单位统计</div>
       <div ref="into" class="echarts-right"></div>
    </div>
    </div>

  </div>
</template>
<script>
import * as echarts from 'echarts'
import optionPie from '@/views/common/pieOptions'
import rootOptionPie from '@/views/common/rootOptions'
import lineOption from './lineOption.js'
import lineOption2 from './lineOption2.js'

export default {

  data () {
    return {
      pieData1: [
        {value: 1048, name: '空置面积'},
        {value: 735, name: '使用面积'}
      ],
      pieData2: [
        {value: 1048, name: '政府公共物业'},
        {value: 735, name: '国企物业'}
      ],
      lineData: {
        xAxisData: ['2014年', '2015年', '2016年', '2017年', '2018年', '2019年', '2020年'],
        legendData: ['空置面积', '空置率'],
        yAxisDataz: [10, 50, 100, 35, 55, 30, 20],
        yAxisDatas: [15, 25, 90, 40, 26, 30, 20]
      },
      barData: {
        xAxisData: ['泰山公安局', '区机关事务分局', '区法院', '区域管和综合执法局', '区检查园', '桃园街道办', '区委党校'],
        legendData: ['物业数', '占比'],
        yAxisDataz: [10, 50, 100, 35, 55, 30, 20],
        yAxisDatas: [15, 25, 90, 40, 26, 30, 20],
        scale: 1
      }
    }
  },
  created () {
  },
  mounted () {
    // 政府办公用房面积空置情况
    let houseRootChart = echarts.init(this.$refs.houseRoot)
    let houseChart = echarts.init(this.$refs.house)
    houseChart.setOption(optionPie(
      {
        data: this.pieData1,
        color: [
          '#006ced', '#ffe000', '#ffa800', '#ff5b00',
          '#ff3000', '#c519ff', '#188eff', '#19c4fc',
          '#febf00', '#ff8b19', '#fd1b8b'
        ],
        val: 60,
        name: '用房数统计',
        unit: '家',
        top: '84%',
        total: '总数',
        ringWidth: 100,
        ringHeight: 100,
        basemap: [150, 68],
        ringRadius: ['44%', '64%'],
        ringCenter: ['50%', '41%']
      }
    ))
    rootOptionPie({
      isTimer: true,
      eChart: houseRootChart,
      step: 6,
      color: [
        '#006ced', '#ffe000', '#ffa800', '#ff5b00',
        '#ff3000', '#c519ff', '#188eff', '#19c4fc',
        '#febf00', '#ff8b19', '#fd1b8b'
      ]
    }
    )

    // 政府及国企物业退租原因分析
    let rentRootChart = echarts.init(this.$refs.rentRoot)
    let rentChart = echarts.init(this.$refs.rent)
    rootOptionPie({
      isTimer: true,
      eChart: rentRootChart,
      step: 6,
      color: [
        '#ff5b00', '#ff3000', '#c519ff', '#188eff',
        '#19c4fc', '#febf00', '#ff8b19', '#fd1b8b'
      ]
    }
    )
    rentChart.setOption(optionPie(
      {
        data: this.pieData2,
        color: [
          '#ffa800', '#ff5b00', '#c519ff', '#188eff',
          '#19c4fc', '#febf00', '#ff8b19', '#fd1b8b'
        ],
        val: 60,
        name: '用房数统计',
        unit: '家',
        top: '84%',
        total: '总数',
        ringWidth: 100,
        ringHeight: 100,
        basemap: [150, 68],
        ringRadius: ['44%', '64%'],
        ringCenter: ['50%', '41%']
      }
    ))

    // 政府物业办公用房空置情况
    let rateChart = echarts.init(this.$refs.rate)
    rateChart.setOption(lineOption(this.lineData))

    // 政府及国企物业产业用房近5年退租数、入住数对比
    let intoChart = echarts.init(this.$refs.into)
    intoChart.setOption(lineOption2(this.barData))
  },

  destroyed () {
    optionPie({isTimer: false})
  }
}

</script>

<style lang="less" scoped>
@import "./index.less";
</style>
