<template>
  <div class="business-tas">
    <el-form :model="formInline" ref="form" class="form">
      <el-form-item>
        <el-input style="width:250px" v-model="formInline.region" placeholder="请输入物业资产名称"></el-input>
      </el-form-item>

      <el-form-item>
        <el-button type="primary" @click="onSubmit">查询</el-button>
      </el-form-item>
    </el-form>
    <div class="table-analysis" :style="{borderBottom: (tableData.length===0 ? '1px solid #336b6c': '') }">
      <el-table :data="tableData" style="width: 100%,font-size:12px" @row-click="handleMore">
        <el-table-column label="序号" type="index" width="40">
        </el-table-column>
        <el-table-column prop="name" label="物业资产名称">
          <template slot-scope="scope">
            <el-popover placement="top-start" width="230" trigger="hover" :content="scope.row.name">
              <span slot="reference"> {{ scope.row.name | ellipsis(15) }}</span>
            </el-popover>
          </template>
        </el-table-column>
        <el-table-column prop="itemName" align="right" width="30">
          <div style="margin-right:10px;">
            <img :src="require('@/views/img/right_arrow.png')" style="width:6px;height:10px;padding:0;" alt="" />
          </div>
        </el-table-column>
      </el-table>
    </div>
    <div class="table-pagination">
      <el-pagination :small='true' :pagerCount="pagerCount" background :data="tableData" @current-change="handleCurrentChange" :current-page.sync="currentPage" :page-size="pagesize" layout="total, prev, pager, next" :total="totalNum">
      </el-pagination>
    </div>
  </div>
</template>
<script>
import { industryHouseList } from '@/views/request'
import { openModal } from '@/until/bigUrl.js'

export default {
  data () {
    return {
      pagerCount: 5,
      currentPage: 1,
      pagesize: 25,
      pagelist: [],
      totalNum: 0,
      formInline: {
        region: ''
      },
      tableData: []

    }
  },
  created () {
    this.getDataList()
  },
  filters: {
    ellipsis (value, limit) {
      if (!value) return ''
      if (value.length > limit) {
        return value.slice(0, limit) + '...'
      }
      return value
    }
  },
  methods: {
    onSubmit () {
      let obj = {
        p: 1,
        size: this.pagesize,
        index: this.formInline.region,
        type: '住宅'
      }
      this.list(obj)
    },

    handleCurrentChange (currentPage) {
      this.currentPage = currentPage
      this.getDataList()
    },
    getDataList () {
      let obj = {
        p: this.currentPage,
        size: this.pagesize,
        index: '',
        type: '住宅'
      }
      this.list(obj)
    },
    list (obj) {
      industryHouseList(obj).then(res => {
        this.totalNum = res.data.data.total
        this.tableData = res.data.data.list
      })
    },
    handleMore (row) {
      openModal(1, '/leftDetail?id=' + row.id + '&name=' + row.name + '&url=' + this.$route.path, () => { })
    }
  }
}
</script>

<style lang="less" scoped>
@import "./index.less";
</style>
