<template>
  <div class="propertyHouse">

    <div class="property-base">
      <div class="census-base">物业基本统计(本统计不包含1处孵化园区)</div>
      <ul class="base-content">
        <!-- <li class="base-item">
          <p class="base-name">总面积</p>
          <p class="base-num">{{baseData.buildArea ? (baseData.buildArea/10000).toFixed(2):"--"}}万㎡</p>
        </li> -->
         <li class="base-item">
          <p class="base-name">总面积</p>
          <p class="base-num">119.46万㎡</p>
        </li>
        <!-- <li class="base-item">
          <p class="base-name">资产总数</p>
          <p class="base-num">{{baseData.cyNum ? baseData.cyNum : "--"}}处</p>
        </li> -->
        <li class="base-item">
          <p class="base-name">资产总数</p>
          <p class="base-num">17处</p>
        </li>
        <!-- <li class="base-item">
          <p class="base-name">空置面积</p>
          <p class="base-num">{{baseData.kzArea ? (baseData.kzArea/10000).toFixed(2): "--"}}万㎡</p>
        </li> -->
        <li class="base-item">
          <p class="base-name">空置面积</p>
          <p class="base-num">45.74万㎡</p>
        </li>
        <!-- <li class="base-item">
          <p class="base-name">空置户</p>
          <p class="base-num">{{baseData.kzNum ? baseData.kzNum: "--"}}户</p>
        </li> -->
        <li class="base-item">
          <p class="base-name">空置户</p>
          <p class="base-num">1127户</p>
        </li>
        <!-- <li class="base-item">
          <p class="base-name">空置率</p>
          <p class="base-num">{{baseData.vacancyRate?baseData.vacancyRate.toFixed(2): "--"}}%</p>
        </li> -->
        <li class="base-item">
          <p class="base-name">空置率</p>
          <p class="base-num">47.87%</p>
        </li>
        <!-- <li class="base-item">
          <p class="base-name">平均租金</p>
          <p class="base-num">{{baseData.averageRent?baseData.averageRent.toFixed(2): "--"}}元/㎡</p>
        </li> -->
        <li class="base-item">
          <p class="base-name">平均租金</p>
          <p class="base-num">73.77元/㎡</p>
        </li>
      </ul>
    </div>

    <div class="business-expect">
      <div class="census-base">重点企业标签</div>
      <div class="business-content">

        <div class="business-line">
          <div class="business-item" @click="handleMore('领导挂点','领导挂点')">
            <img class="imgIcon" :src="require('../../../img/leader-tag.png')" alt="" />
            <div>
              <p class="business-name">领导挂点</p>
              <p class="business-num">20家</p>
              <!-- <p class="business-num">{{baseData.leaderTagNum?baseData.leaderTagNum: "--"}}家</p> -->
            </div>
          </div>
          <div class="business-item" @click="handleMore('工业百强','工业百强')">
            <img class="imgIcon" :src="require('../../../img/industry-tag.png')" alt="" />
            <div>
              <p class="business-name">工业百强</p>
              <p class="business-num">14家</p>
              <!-- <p class="business-num">{{baseData.industryTagNum?baseData.industryTagNum: "--"}}家</p> -->
            </div>
          </div>
        </div>

        <div class="business-line">
          <div class="business-item" @click="handleMore('服务业百强','服务业百强')">
            <img class="imgIcon" :src="require('../../../img/industry-tag.png')" alt="" />
            <div>
              <p class="business-name">服务业百强</p>
              <p class="business-num">{{baseData.serveTagNum?baseData.serveTagNum: "--"}}家</p>
            </div>
          </div>
          <div class="business-item" @click="handleMore('建筑业50强','建筑业五十强')">
            <img class="imgIcon" :src="require('../../../img/serve-tag.png')" alt="" />
            <div>
              <p class="business-name">建筑业50强</p>
              <p class="business-num">{{baseData.bulidTagNum?baseData.bulidTagNum: "--"}}家</p>
            </div>
          </div>
        </div>

        <div class="business-line">
          <div class="business-item" @click="handleMore('纳税百强','纳税百强')">
            <img class="imgIcon" :src="require('../../../img/taxes-tag.png')" alt="" />
            <div>
              <p class="business-name">纳税百强</p>
              <p class="business-num">{{baseData.taxesTagNum?baseData.taxesTagNum: "--"}}家</p>
            </div>
          </div>
          <div class="business-item" @click="handleMore('上市公司','上市企业')">
            <img class="imgIcon" :src="require('../../../img/company-tag.png')" alt="" />
            <div>
              <p class="business-name">上市公司</p>
              <p class="business-num">{{baseData.companyTagNum?baseData.companyTagNum: "--"}}家</p>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="business-expect">
      <div class="census-base">
        <span>预到期</span>
        <div @click="handleMore('more')" style="cursor: pointer;">
          <span class="more">查看全部</span>
          <img :src="require('../../../img/right_arrow.png')" style="width:6px;height:10px; margin-right:14px;" alt="" />
        </div>
      </div>
      <!-- <div class="table-analysis" :style="{borderBottom: (tableData.length===0 ? '1px solid #336b6c': '') }">
        <el-table :data="tableData" style="width: 100%,font-size:12px">
          <el-table-column prop="name" label="企业名称">
            <template slot-scope="scope">
              <span v-if="scope.row.syNum === 30 || scope.row.syNum < 30" style="color:#00D5FF;">【推】</span>
              <el-popover placement="top-start" width="230" trigger="hover" :content="scope.row.name">
                <span slot="reference"> {{ scope.row.name | ellipsis(6) }}</span>
              </el-popover>
            </template>
          </el-table-column>
          <el-table-column prop="syNum" label="剩余时间（天）">
            <template slot-scope="scope">
              {{scope.row.syNum ? scope.row.syNum : "--"}}
            </template>
          </el-table-column>
        </el-table>
      </div> -->
      <ul class="item-ul">
          <li class="li_title">
            <span class="li_zrdwname">企业名称</span>
            <span class="li_zrdwname">剩余时间（天）</span>
          </li>
          <vue-seamless-scroll :data="tableData" class="seamless-warp" :class-option="optionSetting">
            <li class="li_item" v-for="(item,index) in tableData" :key="index">
              <el-tooltip class="item" effect="dark" :content="item.name" placement="right-start">
                <span class="li_sjLevelStr" :name="item.name">{{ item.name | ellipsis(6) }}</span>
              </el-tooltip>
              <span class="li_sjLevelStr" :syNum="item.syNum">{{item.syNum}}</span>
            </li>
          </vue-seamless-scroll>
        </ul>
    </div>

  </div>
</template>
<script>
import { fiveListData, industryPreCompany, KeyCompanyData } from '../../../request'
import { openModal } from '@/until/bigUrl.js'
export default {
  data () {
    return {
      baseData: {
        zdArea: '',
        buildArea: '',
        czArea: '', // 使用面积=出租面积
        kzArea: '',
        cyNum: '', // 项目数量
        kzNum: '', // 空置户
        supportNum: '',
        vacancyRate: '', // 空置率=空置面积/建筑面积
        averageRent: '',
        leaderTagNum: '',
        industryTagNum: '',
        serveTagNum: '',
        bulidTagNum: '',
        taxesTagNum: '',
        companyTagNum: ''
      },
      tableData: []
    }
  },
  created () {
    this.getDataList()
  },
  computed: {
    optionSetting () {
      return {
        step: 0.4, // 数值越大速度滚动越快
        limitMoveNum: this.tableData.length, // 开始无缝滚动的数据量 this.dataList.length
        hoverStop: true, // 是否开启鼠标悬停stop
        direction: 1, // 0向下 1向上 2向左 3向右
        openWatch: true, // 开启数据实时监控刷新dom
        singleHeight: 0, // 单步运动停止的高度(默认值0是无缝不停止的滚动) direction => 0/1
        singleWidth: 0, // 单步运动停止的宽度(默认值0是无缝不停止的滚动) direction => 2/3
        waitTime: 0 // 单步运动停止的时间(默认值1000ms)
      }
    }
  },
  filters: {
    ellipsis (value, limit) {
      if (!value) return ''
      if (value.length > limit) {
        return value.slice(0, limit) + '...'
      }
      return value
    }
  },
  methods: {
    getDataList () {
      let obj = {
        p: 1,
        size: 14,
        index: ''
      }
      fiveListData('产业用房').then(res => {
        let data = res.data.data
        this.baseData.zdArea = data.zdArea
        this.baseData.buildArea = data.buildArea
        this.baseData.czArea = data.czArea
        this.baseData.kzNum = data.kzNum
        this.baseData.kzArea = data.kzArea
        this.baseData.cyNum = data.cyNum
        this.baseData.supportNum = data.supportNum
        this.baseData.vacancyRate = data.kzArea / data.cyArea * 100
        this.baseData.averageRent = data.averageRent
      })
      industryPreCompany(obj).then(res => {
        let arr = res.data.data.list
        this.tableData = arr
        Array.isArray(arr) && arr.length > 0 && arr.forEach((item) => {
          if (item.syNum === 30 || item.syNum < 30) {
            this.isShow = true
          }
        })
      })
      KeyCompanyData().then(res => {
        console.log(res)
        let data = res.data.data
        this.baseData.leaderTagNum = data.ldgdNum
        this.baseData.industryTagNum = data.gybqNum
        this.baseData.serveTagNum = data.fwybqNum
        this.baseData.bulidTagNum = data.jzyNum
        this.baseData.taxesTagNum = data.lsbqNum
        this.baseData.companyTagNum = data.shqyNum
      })
    },
    handleMore (val, more) {
      console.log(val)
      console.log(more)
      if (val === 'more') {
        openModal(6, '/preDue', () => { })
      } else {
        openModal(6, '/companyTag?name=' + val + '&queryName=' + more, () => { })
      }
    }
  }
}

</script>

<style lang="less" scoped>
@import "./index.less";
</style>
