<template>
  <div>
     <table border="1" cellspacing="0" cellpadding="0" style="width:1100px;" bordercolor="#336b6c">
    <tr>
      <td class="tit" align="right">法定代表人</td>
      <td align="center">{{companyData.name?companyData.name:'--'}}</td>
      <td class="tit" align="right">挂点领导</td>
      <td align="center">{{companyData.gdname?companyData.gdname:'--'}}</td>

    </tr>
    <!-- <tr>
      <td class="tit" align="right">联系电话</td>
      <td align="center">{{companyData.phone?companyData.phone:'--'}}</td>
      <td class="tit" align="right">用电情况</td>
      <td align="center">--</td>
    </tr> -->
    <tr>
      <td class="tit" align="right">注册资本</td>
      <td align="center">{{companyData.zcMoney?companyData.zcMoney:'--'}}万元</td>
      <td class="tit" align="right">纳税总额</td>
      <td align="center">{{nsTotal?(Number(nsTotal)/10000).toFixed(2):'--'}}万元</td>
    </tr>
    <tr>
      <td class="tit" align="right">实缴资本</td>
      <td align="center">--</td>
      <td class="tit" align="right">参保人数</td>
      <td align="center">{{companyData.cbNum?companyData.cbNum:'--'}}</td>
    </tr>
    <tr>
      <td class="tit" align="right">成立时间</td>
      <td align="center">{{companyData.time | timeFilter}}</td>
      <td class="tit" align="right">人员规模</td>
      <td align="center">{{companyData.scale?companyData.scale:'--'}}</td>
    </tr>
    <tr>
      <td class="tit" align="right">扶持人才房</td>
      <td align="center" class="tit-color" @click="companyData.fcrcNum && (Number(companyData.fcrcNum)!==0) && handleData('support')" style="cursor: pointer;">{{companyData.fcrcNum?companyData.fcrcNum:'--'}}</td>
      <td class="tit" align="right">扶持资金</td>
      <td align="center" class="tit-color" @click="companyData.fcMoney && (Number(companyData.fcMoney)!==0) && handleData('property')" style="cursor: pointer;">{{companyData.fcMoney?(companyData.fcMoney).toFixed(2):'--'}}万元</td>
    </tr>
    <tr>
      <td class="tit" align="right">人才总数</td>
      <td align="center" class="tit-color" @click="companyData.rcNum && (Number(companyData.rcNum)!==0) && handleData('talents')" style="cursor: pointer;">{{companyData.rcNum?companyData.rcNum:'--'}}</td>
      <td class="tit" align="right" width="66px">租赁信息</td>
      <td align="center" class="tit-color"  @click="companyData.zpNum && (Number(companyData.zpNum)!==0) && handleData('rent')" style="cursor: pointer;">{{companyData.zpNum?companyData.zpNum:'--'}}</td>
    </tr>
    <tr>
      <td class="tit" align="right" width="120px">统一社会信用代码</td>
      <td align="center" colspan="3">{{companyData.code?companyData.code:'--'}}</td>
    </tr>
    <!-- <tr>
      <td class="tit" align="right">联系电话</td>
      <td align="center" colspan="3">{{companyData.phone?companyData.phone:'--'}}</td>
    </tr> -->
  </table>
  </div>
</template>

<script>
export default {
  props: {companyData: Object, nsTotal: String},
  data () {
    return {
      time: '',
      stute: ''
    }
  },

  created () {
  },

  filters: {
    timeFilter (val) {
      if (val) {
        return val.substring(0, 10)
      } else {
        return '--'
      }
    }
  },

  methods: {
    handleData (val) {
      this.$emit('event', val)
    }
  }
}
</script>

<style lang="less" scoped>
@import "../index.less";
</style>
