.governmentProperty {
  height: 800px;
  width: 1200px;
  padding: 0 24px;
  box-sizing: border-box;
  border: 1px solid #00d5ff;
  background: url(../../../../../img/biger.png) no-repeat center;
  background-size: 100% 100%;
  .title {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #00d5ff;
    padding: 16px 0;
    .title-icon {
      font-size: 12px;
      color: #00d5ff;
      display: inline-block;
      margin-right: 8px;
    }
    .title-content {
      font-size: 16px;
      color: #fff;
    }
  }
  .tabs {
    height: 40px;
    .tabs-main {
      height: 40px;
    }
  }
  /deep/.el-tabs__item {
    font-size: 16px;
    color: #fff;
  }
  /deep/.el-tabs__nav-wrap::after {
    background-color: transparent !important;
  }
  /deep/.el-tabs__item {
    margin-top: 0;
    border: none;
  }
  /deep/.el-tabs__item.is-active {
    color: #00d5ff;
    background-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    background: url('~@/views/img/tabsback.png') repeat-x;
    background-size: 100% 100%;
  }
  /deep/.el-tabs__active-bar {
    background-color: #00d5ff;
  }
  /deep/.el-tabs--border-card > .el-tabs__header {
    background: transparent;
    border: none;
  }
  /deep/.el-tabs--border-card {
    border: none;
    box-shadow: none;
  }
  /deep/.el-tabs__item:focus.is-active.is-focus:not(:active) {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border-radius: 0 !important;
  }
  /deep/.el-tabs--border-card {
    background: transparent;
  }
  /deep/.el-tabs__content {
    padding: 0;
    margin-top: 1px;
  }
}
.propertyAnalysis {
  box-sizing: border-box;
  // box-shadow: 0 0 2px 2px rgba(24, 23, 23, 0.3) inset;
  padding: 10px 15px 10px 10px;
  margin-top: 30px;
  .business-tas {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .left {
      .left-img {
        width: 1010px;
        height: 660px;
        object-fit: cover;
      }
    }
    .right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      .btn {
        margin-bottom: 5px;
      }
      .right-top {
        display: flex;
        flex-direction: column;
        align-items: center;
        .img-box {
          height: 578px;
          overflow-y: auto;
        }
      }
      #right-img {
        display: block;
        width: 100px;
        height: 70px;
        object-fit: cover;
        margin-top: 2px;
        opacity: 0.3;
      }
    }
  }
}
.current {
  opacity: 1 !important;
  border: 1px solid #00d5ff;
}
.behind {
  opacity: 0.3;
}
/deep/.el-button {
  width: 66px;
  height: 30px;
  background: url('~@/views/img/text_bg.png') no-repeat center;
  background-size: 100% 100%;
  border: none;
  padding: 0;
  color: #fff;
}
/* 定义滚动条样式 */
::-webkit-scrollbar {
  width: 5px;
  height: 1px;
  background-color: #0b8195;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  height: 3px;
  box-shadow: inset 0 0 0px rgba(240, 240, 240, 0.5);
  border-radius: 20px;
  background-color: rgba(240, 240, 240, 0.5);
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  height: 3px;
  border-radius: 20px;
  box-shadow: inset 0 0 0px rgba(240, 240, 240, 0.5);
  background-color:  #0b8195;
}
