<template>
  <div class="totalAnalysis">
    <div style=" display: flex;">
    <div>
       <div class="census-base"><span class="vertical-line"></span>近3年园区入驻与退租趋势图对比</div>
       <div ref="rent" class="echarts-left">{{isShow ? '暂无数据' : ''}}</div>
    </div>

    <div>
       <div class="census-base"><span class="vertical-line"></span>园区入驻企业知识产权数量统计</div>
       <div ref="into" class="echarts-left">{{isBar ? '暂无数据' : ''}}</div>
    </div>

    <div>
       <div class="census-base" style="margin-right:0;"><span class="vertical-line"></span>园区各行业知识产权数量（TOP10个）</div>
       <div class="table-data">
       <div class="table-analysis" :style="{borderBottom: (tableData.length===0 ? '1px solid #336b6c': '') }">
    <el-table
     v-loading="loading"
     element-loading-text="正在加载···"
     element-loading-spinner="el-icon-loading"
     element-loading-background="rgba(0, 0, 0, 0)"
     empty-text=''
    :data="tableData"
    style="width: 100%,font-size:12px;"
    :style="{height: loading ? '273px' : ''}"
    >
    <el-table-column prop="serial" label="序号" width="60px" align="center">
        <template slot-scope="scope">
              <span v-if="scope.row.serial === 1" class="serialIndex1">{{scope.row.serial}}</span>
              <span v-else-if="scope.row.serial === 2" class="serialIndex2">{{scope.row.serial}}</span>
              <span v-else-if="scope.row.serial === 3" class="serialIndex3">{{scope.row.serial}}</span>
              <span v-else>{{scope.row.serial}}</span>
        </template>
    </el-table-column>

    <el-table-column
        prop="name"
        label="行业"
        align="center"
        >
    </el-table-column>
    <el-table-column
        prop="num"
        label="产权数"
        align="center"
        width="90px"
        >
    </el-table-column>
      </el-table>
       </div>
       </div>
    </div>
    </div>

    <div style=" display: flex;">
    <div>
       <div class="census-base"><span class="vertical-line"></span>近一年园区用电情况</div>
       <div ref="electric" class="echarts-right" style="margin-right:12px;">{{isBar ? '暂无数据' : ''}}</div>
    </div>

     <div>
       <div class="census-base" style="margin-right:0;"><span class="vertical-line"></span>近一年园区用水情况</div>
       <div ref="water" class="echarts-right">{{isBar ? '暂无数据' : ''}}</div>
    </div>
    </div>

  </div>
</template>
<script>
import * as echarts from 'echarts'
import barLineOptions from './barLineOption.js'
import barOptions from './barOption.js'
import electricOptions from './electricOption.js'
import parkOption from './parkOption.js'
import {totalAnalysis} from '@/views/request.js'
export default {

  data () {
    return {
      isShow: false,
      isBar: false,
      currentID: '',
      loading: true,
      lineData: {
        tipData: [{name: '退租数'}, {name: '入住数'}],
        xLabel: ['2019年', '2020年', '2021年'],
        unit: '家',
        goToSchool: [],
        goOutSchool: []
      },
      barData: {
        xAxisDtat: ['商标信息', '商标文书', '专利信息', '国际专利', '资质证书', '软件著作权', '标准信息'],
        yAxisDataz: [0, 0, 0, 0, 0, 0, 0]
      },
      electricData: {
        xAxisData: ['2020.8', '2020.9', '2020.10', '2020.11', '2020.12', '2021.1', '2021.2', '2021.3', '2021.4', '2021.5', '2021.6', '2021.7', '2021.8'],
        yAxisDataz: [], // 智园一期用电
        numKey: 5

      },
      waterData: {
        unit: '吨',
        xAxisData: ['2020.8', '2020.9', '2020.10', '2020.11', '2020.12', '2021.1', '2021.2', '2021.3', '2021.4', '2021.5', '2021.6', '2021.7', '2021.8'],
        yAxisDataz: [], // 智园一期用水
        numKey: 3
      },
      barLineData: {
        xAxisData: ['2018年', '2019年', '2020年'],
        legendData: ['退租数', '入住数', '出租率'],
        yAxisDatas: [0, 0, 0],
        yAxisDataz: [0, 0, 0],
        yAxisData: [0, 0, 0]

      },
      tableData: []
    }
  },
  created () {
    let nameKey = this.$route.query.name
    this.currentID = this.$route.query.id
    let obj = {
      yAxisDataz1Electric: [1855536, 1280095, 557342, 745121, 649687, 1154248, 457549, 589892, 1204904.5, 853025, 1933035, 2788831.9, 542627], // 智园一期用电
      yAxisDataz2Electric: [230557, 117877, 166461, 155313, 115107, 124464, 129773.2, 170910.8, 296613.2, 354513.1, 498132.7, 593012.6, 603206], // 智园二期用电
      yAxisDataz3Electric: [1032960, 988200, 716640, 730440, 620520, 562680, 491520, 750120, 912840, 1173960, 1300320, 1403640, 1386120], // 智园三期用电

      yAxisDataz1Water: [36481, 24351, 35929, 25455, 21130, 23599, 15947, 19501, 30235, 23340, 26217, 32316, 17951], // 智园一期用水
      yAxisDataz2Water: [0, 0, 0, 0, 0, 563, 885, 1852, 3415, 2208, 3249, 3732, 6124.8], // 智园二期用水
      yAxisDataz3Water: [7377, 6174, 4584, 4749, 4115, 3795, 2793, 5115, 4718, 6540, 7900, 7874, 8332], // 智园三期用水

      goToSchool1: [16, 17, 5], // 智园一期
      goOutSchool1: [12, 12, 1], // 智园一期
      percentage1: [0, 0, 0],

      goToSchool3: [0, 1, 0], // 智园三期
      goOutSchool3: [27, 9, 2], // 智园三期
      percentage3: [39.21, 56.37, 75.23]

    }
    if (nameKey === '南山智园（一期）') {
      this.electricData.yAxisDataz = obj.yAxisDataz1Electric
      this.waterData.yAxisDataz = obj.yAxisDataz1Water
      this.barLineData.yAxisDatas = obj.goToSchool1
      this.barLineData.yAxisDataz = obj.goOutSchool1
      this.barLineData.yAxisData = obj.percentage1
    } else if (nameKey === '南山智园（二期）') {
      this.electricData.yAxisDataz = obj.yAxisDataz2Electric
      this.waterData.yAxisDataz = obj.yAxisDataz2Water
      this.isShow = true
    } else if (nameKey === '南山智园（三期）崇文园区') {
      this.electricData.yAxisDataz = obj.yAxisDataz3Electric
      this.waterData.yAxisDataz = obj.yAxisDataz3Water
      this.barLineData.yAxisDatas = obj.goToSchool3
      this.barLineData.yAxisDataz = obj.goOutSchool3
      this.barLineData.yAxisData = obj.percentage3
    } else {
      this.electricData.yAxisDataz = []
      this.waterData.yAxisDataz = []
      this.barLineData.yAxisDatas = []
      this.barLineData.yAxisDataz = []
      this.barLineData.yAxisData = []
      this.isShow = true
      this.isBar = true
    }
  },
  mounted () {
    // 近3年园区入驻与退租趋势图对比
    if (this.barLineData.yAxisDatas.length > 0 && this.barLineData.yAxisDataz.length > 0 && this.barLineData.yAxisData.length > 0) {
      let rentChart = echarts.init(this.$refs.rent)
      rentChart.setOption(barLineOptions(this.barLineData))
    }
    // 园区入驻企业知识产权数量统计
    let intoChart = echarts.init(this.$refs.into)
    intoChart.showLoading({
      text: '正在加载···', // 显示的文本
      effect: 'ring', // 可选为：'spin' | 'bar' | 'ring' | 'whirling' | 'dynamicLine' | 'bubble'
      color: '#00ffff', // 显示转圈的圆圈颜色
      textColor: 'white', // 显示文本的颜色
      maskColor: 'rgba(255,255,255,0)', // 显示的背景色
      zlevel: 0,
      fontSize: 14, // 字体大小。从 `v4.8.0` 开始支持。
      showSpinner: true, // 是否显示旋转动画（spinner）。从 `v4.8.0` 开始支持。
      spinnerRadius: 10, // 旋转动画（spinner）的半径。从 `v4.8.0` 开始支持。
      lineWidth: 3, // 旋转动画（spinner）的线宽。从 `v4.8.0` 开始支持。
      fontWeight: 'normal', // 字体粗细。从 `v5.0.1` 开始支持。
      fontStyle: 'normal', // 字体风格。从 `v5.0.1` 开始支持。
      fontFamily: 'sans-serif' // 字体系列。从 `v5.0.1` 开始支持。
    })
    totalAnalysis(this.currentID).then((res) => {
      if (res.data.code === 0) {
        intoChart.hideLoading()
        this.loading = false
        let dataList = res.data.data
        let tableDataVal = []
        dataList.top10List && Array.isArray(dataList.top10List) && dataList.top10List.length > 0 && dataList.top10List.forEach((item, index) => {
          let val = item
          val.serial = index + 1
          tableDataVal[index] = item
        })
        this.tableData = tableDataVal
        let barArr = []
        barArr[0] = dataList.v1 && Number(dataList.v1) !== 0 ? dataList.v1 : 0
        barArr[1] = dataList.v2 && Number(dataList.v2) !== 0 ? dataList.v2 : 0
        barArr[2] = dataList.v3 && Number(dataList.v3) !== 0 ? dataList.v3 : 0
        barArr[3] = dataList.v4 && Number(dataList.v4) !== 0 ? dataList.v4 : 0
        barArr[4] = dataList.v5 && Number(dataList.v5) !== 0 ? dataList.v5 : 0
        barArr[5] = dataList.v7 && Number(dataList.v7) !== 0 ? dataList.v7 : 0
        barArr[6] = dataList.v13 && Number(dataList.v13) !== 0 ? dataList.v13 : 0
        this.barData.yAxisDataz = barArr
        intoChart.setOption(barOptions(this.barData))
      }
    })

    // 近一年园区用电情况
    if (this.electricData.yAxisDataz.length > 0) {
      let electricChart = echarts.init(this.$refs.electric)
      electricChart.setOption(electricOptions(this.electricData))
    }

    // 近一年园区用水情况
    if (this.waterData.yAxisDataz.length > 0) {
      let waterChart = echarts.init(this.$refs.water)
      waterChart.setOption(parkOption(this.waterData))
    }
  }
}

</script>

<style lang="less" scoped>
@import "./index.less";
</style>
