.totalAnalysis{
  box-sizing: border-box; 
  box-shadow: 0 0 2px 2px #000 inset;
  .census-base{
    color: #fff;
    padding-left: 14px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    box-sizing: border-box;
    margin-right: 12px;
    background-color:rgba(0,0,0,0.1);
    .vertical-line{
      display: inline-block;
      position: relative;
      top: 2px;
      height: 14px;
      width: 4px;
      background-color: #00D5FF;
      margin-right: 10px;
      margin-top: 9px;
    }
  }
  .table-analysis {
    // margin-top: 10px;
    border-top: 1px solid #336b6c;
    border-left: 1px solid #336b6c;
    border-right: 1px solid #336b6c;
    .serialIndex1{
      display: inline-block;
      width: 20px;
      height: 20px;
      text-shadow: 0 0 4px #583c00;
      background: url('~@/views/common/img/top-1@2x.png') no-repeat center;
      background-size: 100% 100%;
    }
    .serialIndex2{
      display: inline-block;
      width: 20px;
      height: 20px;
      text-shadow: 0 0 4px #583c00;
      background: url('~@/views/common/img/top-2@2x.png') no-repeat center;
      background-size: 100% 100%;
    }
    .serialIndex3{
      display: inline-block;
      width: 20px;
      height: 20px;
      text-shadow: 0 0 4px #583c00;
      background: url('~@/views/common/img/top-3@2x.png') no-repeat center;
      background-size: 100% 100%;
    }
  }
  .table-data{
    width: 350px;
    height: 288px;
    padding:0 12px;  
    background-color:rgba(0,0,0,0.1);
  }
  .echarts-left{
    font-size: 14px;
    text-align: center;
    line-height: 288px;
    color: #fff;
    width: 376px;
    height: 288px;
    margin-bottom: 12px;
    margin-right: 12px;
    background-color:rgba(0,0,0,0.1);
  }
  .echarts-right{
    font-size: 14px;
    text-align: center;
    line-height: 288px;
    color: #fff;
    width: 570px;
    height: 288px;
    background-color:rgba(0,0,0,0.1);
  }
  /deep/.el-table__empty-block{
    display: none;
  }
  /deep/.el-icon-loading:before{
    font-size: 24px;
    color: #00ecff;
  }
  /deep/.el-loading-text{
    color: #fff;
  }
  /deep/.el-table {
    background-color: transparent;
  }
  /deep/.el-table::before {
    background-color: transparent;
  }
  /deep/.el-table th,
  /deep/.el-table tr {
    background-color: transparent;
  }
  /deep/.el-table td,
  /deep/.el-table th {
    padding: 0;
    color: #fff;
  }
  /deep/.el-table td,
  /deep/.el-table th.is-leaf {
    border-bottom: 1px solid #1b4950;
  }
  /deep/.el-table th > .cell {
    padding-right: 0;
  }
  /deep/.el-table .cell {
    padding-right: 0;
  }
  /deep/.el-table__body tr:hover {
    color: rgb(18, 157, 250);
    cursor: pointer;
  }
  /deep/ tbody tr:hover > td,
  /deep/ tbody tr.hover-row > td {
    background-color: #66b1ff;
  }
  /deep/.el-form-item {
    margin-bottom: 0;
  }
  /deep/.btn-next,
  /deep/.btn-prev {
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #fff;
  }
  /deep/.el-pagination__total {
    color: #fff;
  }
  /deep/.el-pager li {
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #fff;
  }
  /deep/.el-pagination.is-background .el-pager li:not(.disabled).active {
    background-color: #00ffff;
    border: none;
  }
  /deep/th.is-leaf {
    background-color: rgba(210, 153, 255, 0.3);
  }
  /deep/.el-table td, /deep/.el-table th.is-leaf{
    border-bottom: 1px solid #336b6c; 
  }
  /deep/.el-loading-mask{
   background-color: transparent;
  }
}