<template>
  <div class="rentAnalysis">
    <div class="tips">
        <div class="census-base"><span class="vertical-line"></span>地方财力</div>
        <div class="tips-content">
          <div>
          2010年{{oneEightYear ? oneEightYear : '--'}}亿元、
          2010年{{oneNineYear ? oneNineYear : '--'}}亿元、
          2010年{{twoZeroYear ? twoZeroYear : '--'}}亿元
          （注：目前仅纳入{{fitInto ? fitInto : '--'}}家企业进行统计分析）
          </div>
           <el-button type="primary" @click="handleAddEditSee">模拟推算</el-button>
        </div>
    </div>

    <div class="echarts-three">

      <div class="item-echarts">
       <div class="census-base"><span class="vertical-line"></span>近3年产值纳税及单位产业值纳税趋势统计分析</div>
       <div class="tagging">( 注：目前仅纳入{{payTaxes ? payTaxes : '--'}}家企业进行统计分析 )</div>
       <div ref="into" class="echarts-line"></div>
      </div>

      <div class="item-echarts item-tow">
       <div class="census-base"><span class="vertical-line"></span>近3年企业规模趋势图</div>
       <div class="tagging">( 注：目前仅纳入{{payTaxes ? payTaxes : '--'}}家企业进行统计分析 )</div>
       <div ref="lineRight" class="echarts-line"></div>
      </div>

     <div class="item-echarts item-center">
       <div class="census-base"><span class="vertical-line"></span>近3年减少企业成本趋势统计</div>
       <div class="tagging">( 注：目前仅纳入{{payTaxes ? payTaxes : '--'}}家企业进行统计分析 )</div>
       <div ref="enterprise" class="echarts-line"></div>
     </div>

    </div>

    <div class="echarts-top">
       <div class="census-base"><span class="vertical-line"></span>近3年各园区租赁价格及市场指导价统计分析</div>
       <div class="taggingName">
         <span>( 注：目前仅纳入{{payTaxes ? payTaxes : '--'}}家企业进行统计分析 ) </span>
         <el-radio-group v-model="radio1" size="mini" @change="handleChange">
         <el-radio-button label="租赁价格"></el-radio-button>
         <el-radio-button label="市场指导价"></el-radio-button>
         </el-radio-group>
       </div>
       <div ref="lineBottom" class="echarts-useHouse"></div>
    </div>

     <div>
      <el-dialog title="模拟推算"
      :visible.sync="dialogVisible"
      width="60%"
      top="20vh"
      >
        <Calculation></Calculation>
      </el-dialog>
    </div>
    </div>

</template>
<script>
import * as echarts from 'echarts'
import threeBarOption from './threeBarOption.js'
import barOptions from './barOption.js'
import lineRightOptions from './lineOptions'
import bottomOptions from './bottomOptions'
import Calculation from './calculation'
import {supportAnalysis} from '@/views/request.js'
export default {
  components: { Calculation },
  data () {
    return {
      radio1: '租赁价格',
      radio2: '市场指导价',
      radio: '租赁价格',
      oneEightYear: 0,
      oneNineYear: 0,
      twoZeroYear: 0,
      fitInto: 0,
      payTaxes: 0,
      barData: {
        logoName: ['产业金额', '纳税金额', '单位面积纳税', '单位面积产值'],
        xAxisDtat: ['2018年', '2019年', '2020年'],
        unit1: '亿元',
        unit2: '万元/㎡',
        yAxisDataz: [], // 产值金额
        yAxisDatas: [], // 纳税金额
        yAxisDatax: [], // 单位面积纳税
        yAxisDatay: [] // 单位面积纳税
      },
      lineRightData: {
        xAxisDtat: ['2019年', '2020年', '2021年'],
        yAxisDataz: []
      },
      barDataData: {
        xAxisDtat: ['2019年', '2019年', '2020年'],
        yAxisDataz: []
      },
      lineData: {
        tipData: [{name: '2018年'}, {name: '2019年'}, {name: '2020年'}],
        xLabel: [],
        goToSchool: [],
        goOutSchool: [],
        goOutSchool3: []
      },
      dialogVisible: false
    }
  },
  created () {
  },
  mounted () {
    // 近3年产值纳税及单位产业值纳税趋势统计分析
    let intoChart = echarts.init(this.$refs.into)
    intoChart.showLoading({
      text: '正在加载···', // 显示的文本
      effect: 'ring', // 可选为：'spin' | 'bar' | 'ring' | 'whirling' | 'dynamicLine' | 'bubble'
      color: '#00ffff', // 显示转圈的圆圈颜色
      textColor: 'white', // 显示文本的颜色
      maskColor: 'rgba(255,255,255,0)', // 显示的背景色
      zlevel: 0,
      fontSize: 14, // 字体大小。从 `v4.8.0` 开始支持。
      showSpinner: true, // 是否显示旋转动画（spinner）。从 `v4.8.0` 开始支持。
      spinnerRadius: 10, // 旋转动画（spinner）的半径。从 `v4.8.0` 开始支持。
      lineWidth: 3, // 旋转动画（spinner）的线宽。从 `v4.8.0` 开始支持。
      fontWeight: 'normal', // 字体粗细。从 `v5.0.1` 开始支持。
      fontStyle: 'normal', // 字体风格。从 `v5.0.1` 开始支持。
      fontFamily: 'sans-serif' // 字体系列。从 `v5.0.1` 开始支持。
    })

    // 近3年企业规模趋势图
    let lineRightChart = echarts.init(this.$refs.lineRight)
    lineRightChart.showLoading({
      text: '正在加载···', // 显示的文本
      effect: 'ring', // 可选为：'spin' | 'bar' | 'ring' | 'whirling' | 'dynamicLine' | 'bubble'
      color: '#00ffff', // 显示转圈的圆圈颜色
      textColor: 'white', // 显示文本的颜色
      maskColor: 'rgba(255,255,255,0)', // 显示的背景色
      zlevel: 0,
      fontSize: 14, // 字体大小。从 `v4.8.0` 开始支持。
      showSpinner: true, // 是否显示旋转动画（spinner）。从 `v4.8.0` 开始支持。
      spinnerRadius: 10, // 旋转动画（spinner）的半径。从 `v4.8.0` 开始支持。
      lineWidth: 3, // 旋转动画（spinner）的线宽。从 `v4.8.0` 开始支持。
      fontWeight: 'normal', // 字体粗细。从 `v5.0.1` 开始支持。
      fontStyle: 'normal', // 字体风格。从 `v5.0.1` 开始支持。
      fontFamily: 'sans-serif' // 字体系列。从 `v5.0.1` 开始支持。
    })

    // 近3年减少企业成本趋势统计
    let bottomChart = echarts.init(this.$refs.enterprise)
    bottomChart.showLoading({
      text: '正在加载···', // 显示的文本
      effect: 'ring', // 可选为：'spin' | 'bar' | 'ring' | 'whirling' | 'dynamicLine' | 'bubble'
      color: '#00ffff', // 显示转圈的圆圈颜色
      textColor: 'white', // 显示文本的颜色
      maskColor: 'rgba(255,255,255,0)', // 显示的背景色
      zlevel: 0,
      fontSize: 14, // 字体大小。从 `v4.8.0` 开始支持。
      showSpinner: true, // 是否显示旋转动画（spinner）。从 `v4.8.0` 开始支持。
      spinnerRadius: 10, // 旋转动画（spinner）的半径。从 `v4.8.0` 开始支持。
      lineWidth: 3, // 旋转动画（spinner）的线宽。从 `v4.8.0` 开始支持。
      fontWeight: 'normal', // 字体粗细。从 `v5.0.1` 开始支持。
      fontStyle: 'normal', // 字体风格。从 `v5.0.1` 开始支持。
      fontFamily: 'sans-serif' // 字体系列。从 `v5.0.1` 开始支持。
    })

    // 近3年各园区租赁价格及市场指导价统计分析
    let lineRentChart = echarts.init(this.$refs.lineBottom)
    lineRentChart.showLoading({
      text: '正在加载···', // 显示的文本
      effect: 'ring', // 可选为：'spin' | 'bar' | 'ring' | 'whirling' | 'dynamicLine' | 'bubble'
      color: '#00ffff', // 显示转圈的圆圈颜色
      textColor: 'white', // 显示文本的颜色
      maskColor: 'rgba(255,255,255,0)', // 显示的背景色
      zlevel: 0,
      fontSize: 14, // 字体大小。从 `v4.8.0` 开始支持。
      showSpinner: true, // 是否显示旋转动画（spinner）。从 `v4.8.0` 开始支持。
      spinnerRadius: 10, // 旋转动画（spinner）的半径。从 `v4.8.0` 开始支持。
      lineWidth: 3, // 旋转动画（spinner）的线宽。从 `v4.8.0` 开始支持。
      fontWeight: 'normal', // 字体粗细。从 `v5.0.1` 开始支持。
      fontStyle: 'normal', // 字体风格。从 `v5.0.1` 开始支持。
      fontFamily: 'sans-serif' // 字体系列。从 `v5.0.1` 开始支持。
    })

    supportAnalysis().then((res) => {
      if (res.data.code === 0) {
        intoChart.hideLoading()
        lineRightChart.hideLoading()
        bottomChart.hideLoading()
        lineRentChart.hideLoading()

        let {regTaxList, zlRegTaxVoList} = res.data.data

        this.oneEightYear = (Number(regTaxList[0].cz)).toFixed(2)
        this.oneNineYear = (Number(regTaxList[1].cz)).toFixed(2)
        this.twoZeroYear = (Number(regTaxList[2].cz)).toFixed(2)
        this.fitInto = regTaxList[2].num
        this.payTaxes = regTaxList[2].num

        let payTaxesz = [] // 产值金额
        let payTaxess = [] // 纳税金额
        let payTaxesx = [] // 单位面积纳税
        let payTaxesy = [] // 单位面积纳税

        let manNum = [] // 企业人数

        let priceRange = [] // 减少的企业成本

        Array.isArray(regTaxList) && regTaxList.length > 0 && regTaxList.forEach((item) => {
          let arrz = item.cz && Number(item.cz) !== 0 ? Number(item.cz).toFixed(2) * 10000 : 0 // 产值金额
          let arrs = item.total && Number(item.total) !== 0 ? (Number(item.total) / 10000).toFixed(2) : 0 // 纳税金额
          let arrx = (arrs !== 0) && item.area && (Number(item.area) !== 0) ? (arrs / (Number(item.area).toFixed(2))).toFixed(2) : 0 // 单位面积纳税：纳税金额/面积
          let arry = (arrz !== 0) && item.area && (Number(item.area) !== 0) ? (arrz / (Number(item.area).toFixed(2))).toFixed(2) : 0 // 单位面积纳税：产值金额/面积

          // 减少的企业成本：指导价*面积-月租金
          let price = ''
          if (item.guideprice && (Number(item.guideprice) !== 0) && item.area && ((Number(item.area) !== 0))) {
            price = (((Number(item.guideprice).toFixed(2)) * (Number(item.area).toFixed(2)) - (Number(item.yzj).toFixed(2))) / 10000).toFixed(2)
          } else {
            price = 0
          }
          let arrz0 = item.cz && Number(item.cz) !== 0 ? Number(item.cz).toFixed(2) : 0
          payTaxesz.push(arrz0)
          payTaxess.push(arrs / 100000000)
          payTaxesx.push(arrx)
          payTaxesy.push(arry)
          manNum.push(Number(item.number))
          priceRange.push(price)
        })

        this.barData.yAxisDataz = payTaxesz
        this.barData.yAxisDatas = payTaxess
        this.barData.yAxisDatax = payTaxesx
        this.barData.yAxisDatay = payTaxesy
        intoChart.setOption(barOptions(this.barData))

        this.lineRightData.yAxisDataz = manNum
        lineRightChart.setOption(lineRightOptions(this.lineRightData))

        this.barDataData.yAxisDataz = priceRange
        bottomChart.setOption(threeBarOption(this.barDataData))

        let rentName = [] // 建筑名称
        let rentEightYear = [] // 2018年租赁价格
        let rentNineYear = [] // 2019年租赁价格
        let rentTwoZeroYear = [] // 2020年租赁价格

        let marketEightYear = [] // 2018年市场指导价格
        let marketNineYear = [] // 2019年市场指导价格
        let marketTwoZeroYear = [] // 2020年市场指导价格
        Array.isArray(zlRegTaxVoList) && zlRegTaxVoList.length > 0 && zlRegTaxVoList.forEach((item) => {
          rentName.push(item.name)
          if (item.regTaxList && Array.isArray(item.regTaxList) && item.regTaxList.length > 0) {
            // 租赁价格
            if ((item.regTaxList[0]).price && (Number((item.regTaxList[0]).price) !== 0)) {
              rentEightYear.push(Number((item.regTaxList[0]).price).toFixed(2))
            } else {
              rentEightYear.push(0)
            }

            if ((item.regTaxList[1]).price && (Number((item.regTaxList[1]).price) !== 0)) {
              rentNineYear.push(Number((item.regTaxList[1]).price).toFixed(2))
            } else {
              rentNineYear.push(0)
            }

            if ((item.regTaxList[2]).price && (Number((item.regTaxList[2]).price) !== 0)) {
              rentTwoZeroYear.push(Number((item.regTaxList[2]).price).toFixed(2))
            } else {
              rentTwoZeroYear.push(0)
            }

            // 指导价格
            if ((item.regTaxList[0]).guideprice && (Number((item.regTaxList[0]).guideprice) !== 0)) {
              marketEightYear.push(Number((item.regTaxList[0]).guideprice).toFixed(2))
            } else {
              marketEightYear.push(0)
            }

            if ((item.regTaxList[1]).guideprice && (Number((item.regTaxList[1]).guideprice) !== 0)) {
              marketNineYear.push(Number((item.regTaxList[1]).guideprice).toFixed(2))
            } else {
              marketNineYear.push(0)
            }

            if ((item.regTaxList[2]).guideprice && (Number((item.regTaxList[2]).guideprice) !== 0)) {
              marketTwoZeroYear.push(Number((item.regTaxList[2]).guideprice).toFixed(2))
            } else {
              marketTwoZeroYear.push(0)
            }
          } else {
            rentEightYear.push(0)
            rentNineYear.push(0)
            rentTwoZeroYear.push(0)
            marketEightYear.push(0)
            marketNineYear.push(0)
            marketTwoZeroYear.push(0)
          }
        })

        this.lineData.xLabel = rentName
        if (this.radio === '租赁价格') {
          this.lineData.goToSchool = rentEightYear
          this.lineData.goOutSchool = rentNineYear
          this.lineData.goOutSchool3 = rentTwoZeroYear
        } else if (this.radio === '市场指导价') {
          this.lineData.goToSchool = marketEightYear
          this.lineData.goOutSchool = marketNineYear
          this.lineData.goOutSchool3 = marketTwoZeroYear
        }
        lineRentChart.setOption(bottomOptions(this.lineData))
      }
    })
  },
  watch: {
    radio: function (val) {
      // 近3年各园区租赁价格及市场指导价统计分析
      let lineRentChart = echarts.init(this.$refs.lineBottom)
      lineRentChart.showLoading({
        text: '正在加载···', // 显示的文本
        effect: 'ring', // 可选为：'spin' | 'bar' | 'ring' | 'whirling' | 'dynamicLine' | 'bubble'
        color: '#00ffff', // 显示转圈的圆圈颜色
        textColor: 'white', // 显示文本的颜色
        maskColor: 'rgba(255,255,255,0)', // 显示的背景色
        zlevel: 0,
        fontSize: 14, // 字体大小。从 `v4.8.0` 开始支持。
        showSpinner: true, // 是否显示旋转动画（spinner）。从 `v4.8.0` 开始支持。
        spinnerRadius: 10, // 旋转动画（spinner）的半径。从 `v4.8.0` 开始支持。
        lineWidth: 3, // 旋转动画（spinner）的线宽。从 `v4.8.0` 开始支持。
        fontWeight: 'normal', // 字体粗细。从 `v5.0.1` 开始支持。
        fontStyle: 'normal', // 字体风格。从 `v5.0.1` 开始支持。
        fontFamily: 'sans-serif' // 字体系列。从 `v5.0.1` 开始支持。
      })
      supportAnalysis().then((res) => {
        if (res.data.code === 0) {
          lineRentChart.hideLoading()
          let {zlRegTaxVoList} = res.data.data
          let rentName = [] // 建筑名称
          let rentEightYear = [] // 2018年租赁价格
          let rentNineYear = [] // 2019年租赁价格
          let rentTwoZeroYear = [] // 2020年租赁价格

          let marketEightYear = [] // 2018年市场指导价格
          let marketNineYear = [] // 2019年市场指导价格
          let marketTwoZeroYear = [] // 2020年市场指导价格

          Array.isArray(zlRegTaxVoList) && zlRegTaxVoList.length > 0 && zlRegTaxVoList.forEach((item) => {
            rentName.push(item.name)
            if (item.regTaxList && Array.isArray(item.regTaxList) && item.regTaxList.length > 0) {
            // 租赁价格
              if ((item.regTaxList[0]).price && (Number((item.regTaxList[0]).price) !== 0)) {
                rentEightYear.push(Number((item.regTaxList[0]).price).toFixed(2))
              } else {
                rentEightYear.push(0)
              }

              if ((item.regTaxList[1]).price && (Number((item.regTaxList[1]).price) !== 0)) {
                rentNineYear.push(Number((item.regTaxList[1]).price).toFixed(2))
              } else {
                rentNineYear.push(0)
              }

              if ((item.regTaxList[2]).price && (Number((item.regTaxList[2]).price) !== 0)) {
                rentTwoZeroYear.push(Number((item.regTaxList[2]).price).toFixed(2))
              } else {
                rentTwoZeroYear.push(0)
              }

              // 指导价格
              if ((item.regTaxList[0]).guideprice && (Number((item.regTaxList[0]).guideprice) !== 0)) {
                marketEightYear.push(Number((item.regTaxList[0]).guideprice).toFixed(2))
              } else {
                marketEightYear.push(0)
              }

              if ((item.regTaxList[1]).guideprice && (Number((item.regTaxList[1]).guideprice) !== 0)) {
                marketNineYear.push(Number((item.regTaxList[1]).guideprice).toFixed(2))
              } else {
                marketNineYear.push(0)
              }

              if ((item.regTaxList[2]).guideprice && (Number((item.regTaxList[2]).guideprice) !== 0)) {
                marketTwoZeroYear.push(Number((item.regTaxList[2]).guideprice).toFixed(2))
              } else {
                marketTwoZeroYear.push(0)
              }
            } else {
              rentEightYear.push(0)
              rentNineYear.push(0)
              rentTwoZeroYear.push(0)
              marketEightYear.push(0)
              marketNineYear.push(0)
              marketTwoZeroYear.push(0)
            }
          })
          this.lineData.xLabel = rentName
          if (val === '租赁价格') {
            this.lineData.goToSchool = rentEightYear
            this.lineData.goOutSchool = rentNineYear
            this.lineData.goOutSchool3 = rentTwoZeroYear
          } else if (val === '市场指导价') {
            this.lineData.goToSchool = marketEightYear
            this.lineData.goOutSchool = marketNineYear
            this.lineData.goOutSchool3 = marketTwoZeroYear
          }
          lineRentChart.setOption(bottomOptions(this.lineData))
        }
      })
    }
  },
  methods: {
    handleAddEditSee () {
      this.dialogVisible = true
    },
    handleChange (val) {
      this.radio = val
    }
  }
}

</script>

<style lang="less" scoped>
@import "./index.less";
</style>
