<template>
  <div class="rentAnalysis">
    <div class="echarts-top">
       <div class="census-base"><span class="vertical-line"></span>各产业用房空置面积/租金单价对比</div>
       <div ref="useHouse" class="echarts-useHouse"></div>
    </div>

    <div class="echarts-top">

      <!-- <div class="item-echarts">
       <div class="census-base"><span class="vertical-line"></span>政府、国企物业产业用房租金趋势对比（3年一周期）</div>
       <div ref="into" class="echarts-line"></div>
      </div>

     <div class="item-echarts item-center">
       <div class="census-base"><span class="vertical-line"></span>政府物业及国企物业产业用房租金收缩对比</div>
       <div ref="lineRent" class="echarts-line"></div>
     </div> -->

     <div class="item-echarts">
       <div class="census-base"><span class="vertical-line"></span>产业用房租金趋势（3年一周期）</div>
       <div ref="lineRight" class="echarts-useHouse"></div>
     </div>

    </div>

    </div>

</template>
<script>
import * as echarts from 'echarts'
import topBarOption from './topOption'
// import lineOptions from './options.js'
// import barOptions from './barOption.js'
import lineRightOptions from './lineOptions'

export default {

  data () {
    return {
      topData: {
        xAxisData: [
          '汇通大厦', '方大城（广场）', '水木一方大厦', '南山金融大厦', '金桃园大厦', '侨城一号广场',
          '绿景美景广场', '兆邦基科技中心', '创意大厦', '南山软件园', '阳光科创中心',
          '源政创新大厦', '南山智园（三期）崇文园区', '塘朗城广场', '华侨城8号', '南山云科技大厦',
          '南山智园（一期）', '南山智园（二期）'
        ],
        legendData: ['租金单价', '空置面积'],
        yAxisDataz: [2.99, 0.17, 0.15, 1.4, 0, 0.87, 0.17, 0.18, 0, 0, 0, 0.25, 7.81, 0.27, 0.23, 14.99, 2.1, 13.97],
        yAxisDatas: [0, 102.9, 0, 0, 64.75, 0, 83, 0, 40, 50.62, 68.6, 0, 77, 64.51, 81.12, 0, 76.43, 67.83]
      },
      lineRightData: {
        xAxisDtat: ['2019年', '2020年', '2021年'],
        yAxisDataz: [75.79, 76.44, 76.5]
      }
      // lineData: {
      //   tipData: [{name: '政府物业'}, {name: '国企物业'}],
      //   xLabel: ['第一季度', '第二季度', '第三季度', '第四季度'],
      //   goToSchool: ['40', '60', '22', '85'],
      //   goOutSchool: ['20', '50', '12', '65']
      // },
      // barData: {
      //   xAxisDtat: ['2014年', '2015年', '2016年', '2017年', '2018年', '2019年', '2020年'],
      //   yAxisDataz: [10, 50, 100, 35, 55, 30, 20],
      //   yAxisDatas: [15, 25, 90, 40, 26, 30, 20],
      //   yAxisDatax: [40, 85, 230, 95, 100, 60, 50]
      // }
    }
  },
  created () {
  },
  mounted () {
    // 各产业用房空置面积/租金单价对比
    let useHouseChart = echarts.init(this.$refs.useHouse)
    useHouseChart.setOption(topBarOption(this.topData))

    // // 政府、国企物业产业用房租金趋势对比（3年一周期）
    // let intoChart = echarts.init(this.$refs.into)
    // intoChart.setOption(barOptions(this.barData))

    // // 政府、国企物业产业用房租金趋势对比（3年一周期）
    // let lineRentChart = echarts.init(this.$refs.lineRent)
    // lineRentChart.setOption(lineOptions(this.lineData))

    // 产业用房租金趋势（3年一周期）
    let lineRightChart = echarts.init(this.$refs.lineRight)
    lineRightChart.setOption(lineRightOptions(this.lineRightData))
  }
}

</script>

<style lang="less" scoped>
@import "./index.less";
</style>
