.rentAnalysis{
  box-sizing: border-box; 
  box-shadow: 0 0 2px 2px #000 inset;
  .census-base{
    color: #fff;
    padding-left: 14px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    box-sizing: border-box;
    margin-right: 12px;
    .vertical-line{
      display: inline-block;
      position: relative;
      top: 2px;
      height: 14px;
      width: 4px;
      background-color: #00D5FF;
      margin-right: 10px;
      margin-top: 9px;
    }
  }
  .echarts-top{
    width: 1152px;
    height: 334px;
    background-color:rgba(0,0,0,0.1);
    margin-bottom: 12px;
    .echarts-useHouse{
      width: 1152px;
      height: 334px;
    }
  }
  .echarts-bottom{
    display: flex;
    .item-echarts{
      width: 376px;
      height: 334px;
      background-color:rgba(0,0,0,0.1);
    }
    .item-center{
      margin: 0 12px;
    }
    
    .echarts-line{
      width: 376px;
      height: 334px;
    }
  }
}