<template>
  <div class="governmentProperty">
    <div class="title">
        <div>
          <i class="title-icon">|&nbsp;|&nbsp;|</i>
          <span class="title-content">更多分析</span>
        </div>
        <i class="el-icon-close" style="color:#fff; font-size:18px;" @click="close"></i>
    </div>
  <div class="tabs">
  <el-tabs v-model="activeName" class="tabs-main" type="border-card">
    <el-tab-pane label="扶持效益分析" name="benefitAnalysis" class="tabs-item" v-if="titleName==='南山智园（三期）崇文园区'">
      <BenefitAnalysis></BenefitAnalysis>
    </el-tab-pane>
    <el-tab-pane label="总体分析" name="totalAnalysis" class="tabs-item">
      <TotalAnalysis></TotalAnalysis>
    </el-tab-pane>
    <!-- <el-tab-pane label="房屋信息" name="houseInfo" class="tabs-item">
      <HouseInfo></HouseInfo>
    </el-tab-pane> -->
    <el-tab-pane label="入驻企业" name="intoInfo" class="tabs-item">
      <IntoBusiness></IntoBusiness>
    </el-tab-pane>
    <el-tab-pane label="空置详情" name="vacancy" class="tabs-item">
      <Vacancy></Vacancy>
    </el-tab-pane>
  </el-tabs>
   </div>
  </div>
</template>
<script>

import BenefitAnalysis from './benefitAnalysis/index.vue'
import TotalAnalysis from './totalAnalysis/index.vue'
import HouseInfo from './houseInfo/index.vue'
import Vacancy from './vacancy/index.vue'
import IntoBusiness from './intoBusiness/index.vue'
import {closeModal} from '@/until/bigUrl.js'
export default {
  name: 'parkMoreAnalysis',
  components: {BenefitAnalysis, TotalAnalysis, HouseInfo, Vacancy, IntoBusiness},
  data () {
    return {
      activeName: 'totalAnalysis',
      titleName: ''
    }
  },
  created () {
    this.currentID = this.$route.query.id
    let activeName = this.$route.query.activeName
    let titleName = this.$route.query.name
    this.activeName = (titleName === '南山智园（三期）崇文园区' ? 'benefitAnalysis' : 'totalAnalysis')
    this.titleName = titleName
    if (activeName) {
      this.activeName = activeName
    }
  },

  methods: {
    close () {
      closeModal(6)
    }
  }
}
</script>

<style lang="less" scoped>
.governmentProperty {
    height: 800px;
    width: 1200px;
    padding: 0 24px;
    box-sizing: border-box;
    border: 1px solid #00D5FF;
    background:url(../../../../../img/biger.png) no-repeat center;
    background-size: 100% 100%;
    .title{
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #00D5FF;
      padding: 16px 0;
     .title-icon{
         font-size: 12px;
         color:#00D5FF;
         display: inline-block;
         margin-right: 8px;
     }
     .title-content{
         font-size: 16px;
         color: #fff;
     }
  }
    .tabs{
       height: 40px;
       .tabs-main{
         height: 40px;
       }
    }
    /deep/.el-tabs__item{
      font-size: 16px;
      color: #fff;
    }
    /deep/.el-tabs__nav-wrap::after{
      background-color: transparent !important;
    }
     /deep/.el-tabs__item{
        margin-top:0;
        border:none;
    }
    /deep/.el-tabs__item.is-active{
      color: #00D5FF;
       background-color: transparent;
       border-right-color: transparent;
       border-left-color: transparent;
       background: url(../../../../../img/tabsback.png) repeat-x;
       background-size: 100% 100%;
    //    border-bottom: 2px solid #00FFFF;
    }
    // /deep/.el-tabs__item:not(.is-disabled):hover{
    //   color: #fff;
    // }
    /deep/.el-tabs__active-bar{
      background-color: #00D5FF;
    }
    /deep/.el-tabs--border-card>.el-tabs__header{
       background:transparent;
       border: none;
    }
    /deep/.el-tabs--border-card{
       border: none;
       box-shadow: none;
    }
    /deep/.el-tabs__item:focus.is-active.is-focus:not(:active){
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
      border-radius: 0 !important;
    }
    /deep/.el-tabs--border-card{
        background:transparent;
    }
    /deep/.el-tabs__content{
      padding: 0;
      margin-top:1px;
    }
  }
</style>
