<template>
  <div class="governmentProperty">
    <div class="title">
      <div class="title-text">
        <ul class="icon-title">
          <li></li>
          <li></li>
          <li></li>
        </ul>
        <span class="title-content">园区照片</span>
      </div>
      <i class="el-icon-close" style="color:#fff; font-size:18px;" @click="close"></i>
    </div>
    <div class="tabs">
      <div class="propertyAnalysis">
        <div class="business-tas">
          <div class="left">
            <img v-show="currentImg!=''" :src="require('@/views/img/'+currentImg)" class="left-img">
          </div>
          <div class="right">
            <div class="right-top">
              <el-button type="primary" @click="onSubmit(0)" class="btn">上一张</el-button>
              <div class="img-box">
                <div v-for="(item,index) in imgList" :key='index'>
                  <img :src="require('@/views/img/'+item)" id="right-img" @click="onCurrentImg(index,item)" :class="currentIndex===index?'current':''">
                </div>
              </div>

            </div>
            <div class="right-bottom">
              <el-button type="primary" @click="onSubmit(1)">下一张</el-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>

import { closeModal } from '@/until/bigUrl.js'

export default {
  data() {
    return {
      currentIndex: 0,
      currentImg: '',
      imgUrl: '',// /zbkc
      imgList: []
    }
  },
  created() {
    let imgs = sessionStorage.getItem('park_img_list');
    if (imgs) {
      this.imgList = JSON.parse(imgs);
    }
    if (this.imgList.length > 0) {
      this.currentImg = this.imgUrl + this.imgList[0];
    }
  },

  methods: {
    onSubmit(mark) {
      if (this.currentIndex > 0 && mark === 0) {
        this.currentIndex -= 1
      } else if (this.currentIndex < this.imgList.length - 1 && mark === 1) {
        this.currentIndex += 1
      }
      this.getCurrentImg()
    },
    getCurrentImg() {
      for (let item = 0; item < this.imgList.length; item++) {
        if (item === this.currentIndex) {
          this.currentImg = this.imgUrl + this.imgList[item]
        }
      }
    },
    onCurrentImg(index, item) {
      this.currentIndex = index
      this.currentImg = this.imgUrl + item
    },
    close() {
      closeModal(6)
    }
  }
}
</script>

<style lang="less" scoped>
@import "./index.less";
</style>
