<template>
  <div class="governmentProperty">
    <div class="header">
      <div>
        <i class="header-icon">|&nbsp;|&nbsp;|</i>
        <span class="header-content">企业详情</span>
      </div>
      <i class="el-icon-close" style="color:#fff; font-size:18px;" @click="close"></i>
    </div>
    <div class="form-box">
      <div class="form-title">
        <div class="block"></div>
        <div>基本信息</div>
      </div>
      <table border="1" cellspacing="0" cellpadding="0" bordercolor="#336b6c">
        <tr>
          <td class="tit" align="right">房屋编码</td>
          <td class="content">{{formData.houseNumber?formData.houseNumber:'--'}}</td>
          <td class="tit" align="right">是否空置</td>
          <td class="content">{{formData.emptystate?formData.emptystate:'--'}}</td>
        </tr>
        <tr>
          <td class="tit" align="right">物业种类8+1</td>
          <td class="content">{{formData.wyKind?formData.wyKind:'--'}}</td>
          <td class="tit" align="right">物业归属类型</td>
          <td class="content">{{formData.belongType?formData.belongType:'--'}}</td>
        </tr>
        <tr>
          <td class="tit" align="right">物业来源</td>
          <td class="content">{{formData.source?formData.source:'--'}}</td>
          <td class="tit" align="right">该物业规模</td>
          <td class="content">{{formData.wyScale?formData.wyScale:'--'}}</td>
        </tr>
        <tr>
          <td class="tit" align="right">街道</td>
          <td class="content">{{formData.streetName?formData.streetName:'--'}}</td>
          <td class="tit" align="right">详细地址</td>
          <td class="content">{{formData.address?formData.address:'--'}}</td>
        </tr>
        <tr>
          <td class="tit" align="right">竣工时间</td>
          <td class="content">{{formData.jgTime?formData.jgTime:'--'}}</td>
          <td class="tit" align="right">移交时间</td>
          <td class="content">{{formData.yjTime?formData.yjTime:'--'}}</td>
        </tr>
        <tr>
          <td class="tit" align="right">移交单位</td>
          <td class="content">{{formData.yjUnit?formData.yjUnit:'--'}}</td>
          <td class="tit" align="right">建筑面积（㎡）</td>
          <td class="content">{{formData.buildArea?formData.buildArea:'--'}}</td>
        </tr>
        <tr>
          <td class="tit" align="right">实用面积（㎡）</td>
          <td class="content">{{formData.actArea?formData.actArea:'--'}}</td>
          <td class="tit" align="right">实际用途</td>
          <td class="content">{{formData.actUsage?formData.actUsage:'--'}}</td>
        </tr>
        <tr>
          <td class="tit" align="right">规定用途</td>
          <td class="content">{{formData.usageguiding?formData.usageguiding:'--'}}</td>
          <td class="tit" align="right">使用起止日期</td>
          <td class="content">{{formData.syqssj?formData.syqssj:'--'}}</td>
        </tr>
        <tr>
          <td class="tit" align="right">使用批准文件号</td>
          <td class="content">{{formData.pizhunNo?formData.pizhunNo:'--'}}</td>
          <td class="tit" align="right">管理单位</td>
          <td class="content">{{formData.manUnit?formData.manUnit:'--'}}</td>
        </tr>
        <tr>
          <td class="tit" align="right">使用单位联系方式</td>
          <td class="content">{{formData.useTel?formData.useTel:'--'}}</td>
          <td class="tit" align="right">实际使用单位</td>
          <td class="content">{{formData.useUnit?formData.useUnit:'--'}}</td>
        </tr>
      </table>
      <div class="form-title">
        <div class="block"></div>
        <div>产权信息</div>
      </div>
      <table border="1" cellspacing="0" cellpadding="0" bordercolor="#336b6c">
        <tr>
          <td class="tit" align="right">是否已办理产权证</td>
          <td class="content">{{formData.certHas?formData.certHas:'--'}}</td>
          <td class="tit" align="right">产权人</td>
          <td class="content">{{formData.owner?formData.owner:'--'}}</td>
        </tr>
        <tr>
          <td class="tit" align="right">产权证号</td>
          <td class="content">{{formData.certNo?formData.certNo:'--'}}</td>
          <td class="tit" align="right">产权证办理日期</td>
          <td class="content">{{formData.certDate?formData.certDate:'--'}}</td>
        </tr>
      </table>
      <div class="form-title">
        <div class="block"></div>
        <div>入账信息</div>
      </div>
      <table border="1" cellspacing="0" cellpadding="0" bordercolor="#336b6c">
        <tr>
          <td class="tit" align="right">是否已入账</td>
          <td class="content">{{formData.ruzhang?formData.ruzhang:'--'}}</td>
          <td class="tit" align="right">入账单位</td>
          <td class="content">{{formData.ruzhangUnit?formData.ruzhangUnit:'--'}}</td>
        </tr>
        <tr>
          <td class="tit" align="right">入账凭证</td>
          <td class="content">{{formData.sfyrzpzfj?formData.sfyrzpzfj:'--'}}</td>
          <td class="tit" align="right">入账金额（元）</td>
          <td class="content">{{formData.ruzhangAmount?formData.ruzhangAmount:'--'}}</td>
        </tr>
        <tr>
          <td class="tit" align="right">入账日期</td>
          <td class="content" colspan="3">{{formData.ruzhangDate?formData.ruzhangDate:'--'}}</td>
        </tr>
      </table>
      <div class="form-title">
        <div class="block"></div>
        <div>承租信息</div>
      </div>
      <table border="1" cellspacing="0" cellpadding="0" bordercolor="#336b6c">
        <tr>
          <td class="tit" align="right">是否出租</td>
          <td class="content">{{formData.zfwysfcz?formData.zfwysfcz:'--'}}</td>
          <td class="tit" align="right">出租承租方</td>
          <td class="content">{{formData.czczf?formData.czczf:'--'}}</td>
        </tr>
        <tr>
          <td class="tit" align="right">出租合同</td>
          <td class="content">{{formData.sfyczhtfj?formData.sfyczhtfj:'--'}}</td>
          <td class="tit" align="right">租赁方式</td>
          <td class="content">{{formData.czzlfs?formData.czzlfs:'--'}}</td>
        </tr>
        <tr>
          <td class="tit" align="right">租金（元/月）</td>
          <td class="content">{{formData.czyzj?formData.czyzj:'--'}}</td>
          <td class="tit" align="right">租金定价标准（元/月·㎡）</td>
          <td class="content">{{formData.czdjbz?formData.czdjbz:'--'}}</td>
        </tr>
        <tr>
          <td class="tit" align="right">租赁期限（年）</td>
          <td class="content">{{formData.czzljx?formData.czzljx:'--'}}</td>
          <td class="tit" align="right">免租期限</td>
          <td class="content">{{formData.mzqx?formData.mzqx:'--'}}</td>
        </tr>
        <tr>
          <td class="tit" align="right">合同起止日期</td>
          <td class="content">{{formData.czqssj?formData.czqssj:'--'}}——{{formData.czjssj?formData.czjssj:'--'}}</td>
          <td class="tit" align="right">合同剩余时间（天）</td>
          <td class="content">{{formData.certDate?formData.certDate:'--'}}</td>
        </tr>
      </table>
    </div>
  </div>
</template>

<script>
import { closeModal } from '@/until/bigUrl.js'
import { homeDataListDetail } from '@/views/request'

export default {
  data () {
    return {
      currentID: '6acfef6415bd48149853943bfdd92ceb',
      labelPosition: 'center',
      formData: {
        type: 'B类',
        date: '2021202202',
        status: '有效',
        cardNum: '9183918391831'
      }
    }
  },
  created () {
    this.currentID = this.$route.query.id
    this.getDataList()
  },
  methods: {
    getDataList () {
      homeDataListDetail(this.currentID).then(res => {
        let data = res.data.data
        this.formData = data
      })
    },
    close () {
      closeModal(6)
    }
  }
}
</script>

<style lang="less" scoped>
@import "./index.less";
</style>
