<template>
 <div class="moreAnalysis">

   <div class="title">
        <div>
          <i class="title-icon">|&nbsp;|&nbsp;|</i>
          <span class="title-content">更多分析</span>
        </div>
        <icon class="el-icon-close" style="color:#fff; font-size:18px;" @click="close"></icon>
    </div>

  <div class="enterpriseAnalysis">
    <div style=" display: flex; margin-bottom:12px;">
    <div>
       <div class="census-title" style="width:376px; margin-right:12px;"><span class="vertical-line"></span>租赁物业种类占比</div>
       <div class="echarts-left">
       <div ref="entryRoot" class="echarts-root"></div>
       <div ref="entry" class="echarts-data"></div>
       </div>
    </div>
     <div>
       <div class="census-title" style="margin-right:0;"><span class="vertical-line"></span>各街道租赁物业面积分布情况</div>
       <div ref="vacant" class="echarts-right"></div>
    </div>
  </div>

  <div style=" display: flex; background-color:rgba(0,0,0,0.1); padding:12px 0;">
       <div class="census-base" style="margin-right:0;">
          <div>
             <span class="vertical-line"></span>各单位租赁面积统计情况对比
          </div>

          <div>
            <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
              <el-form-item label="物业类型" prop="region">
                <el-select v-model="value" placeholder="请选择" @change="getVale" :popper-append-to-body="false">
                 <el-option
                   v-for="item in options"
                   :key="item.value"
                   :label="item.label"
                   :value="item.value"
                   >
                 </el-option>
                </el-select>
             </el-form-item>
            </el-form>
          </div>
         </div>
  </div>

    <div ref="lease" class="echarts-bottom"></div>

 </div>
 </div>
</template>
<script>
import * as echarts from 'echarts'
import optionPie from '@/views/common/pieOptions'
import rootOptionPie from '@/views/common/rootOptions'
import lineOption from './lineOption.js'
import rentLineOption from './rentLineOption.js'
import {leaseMoreAnalysis, unitAreaStatistics} from '@/views/request.js'
import {closeModal} from '@/until/bigUrl.js'
export default {

  data () {
    return {
      pieData1: {
        data: [
          {value: 0, name: '社康中心'},
          {value: 0, name: '行政办公'},
          {value: 0, name: '警务室'},
          {value: 0, name: '办公'},
          {value: 0, name: '住宅'},
          {value: 0, name: '其他'}
        ],
        color: [
          '#ff5b00', '#ff3000', '#c519ff', '#19c4fc', '#febf00', '#ff8b19',
          '#fd1b8b'
        ],
        verticalHorizontal: 'vertical',
        seriesLeft: '-40%',
        seriesTop: '9.6%',
        val: 2,
        unit: '处',
        legendTop: '24%',
        legendLeft: '59%',
        titleTop: '37%',
        titleLeft: '28.5%',
        total: '总数',
        ringWidth: 100,
        ringHeight: 100,
        basemap: [150, 68],
        ringRadius: ['50%', '62%'],
        ringCenter: ['50%', '41%']
      },

      lineData: {
        xAxisData: ['西丽街道', '招商街道', '粤海街道', '南山街道', '南头街道', '沙河街道', '蛇口街道', '桃源街道'],
        legendData: ['租赁社会物业面积'],
        // yAxisDatas: [2.36, 4.45, 1.82, 1.4, 2.93, 2.15, 1.17, 3.75]
        yAxisDatas: [0, 0, 0, 0, 0, 0, 0, 0]

      },

      leaseData: {
        xAxisData: ['西丽街道', '招商街道', '粤海街道', '南山街道', '南头街道', '沙河街道', '蛇口街道', '桃源街道'],
        legendData: ['租赁物业面积'],
        yAxisDatas: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
      },

      options: [{
        value: '全部物业',
        label: '全部物业'
      }, {
        value: '行政办公',
        label: '行政办公'
      }, {
        value: '医疗卫生',
        label: '医疗卫生'
      }, {
        value: '社区服务',
        label: '社区服务'
      }, {
        value: '教育',
        label: '教育'
      }, {
        value: '住宅',
        label: '住宅'
      }],
      value: '全部物业'
    }
  },
  created () {
  },

  methods: {
    getVale (val) {
      this.value = val
    },
    close () {
      closeModal(6)
    }
  },
  mounted () {
    // 租赁物业种类占比
    let entryRootChart = echarts.init(this.$refs.entryRoot)
    let entry = echarts.init(this.$refs.entry)

    // 各街道租赁物业面积分布情况
    let vacantChart = echarts.init(this.$refs.vacant)

    leaseMoreAnalysis().then((res) => {
      let {
        zbList,
        zlPriceList
      } = res.data.data

      // 租赁物业种类占比
      let barArr = []
      Array.isArray(zbList) && zbList.forEach((item) => {
        let barObj = {}
        barObj.value = item.num
        barObj.name = item.unitName
        barArr.push(barObj)
      })

      this.pieData1.data = barArr
      entry.setOption(optionPie(this.pieData1))

      // 各街道租赁物业面积分布情况
      let lineNameArr = []
      let lineDataArr = []
      Array.isArray(zlPriceList) && zlPriceList.forEach((item, index) => {
        lineDataArr[index] = item.area.toFixed(2)
        lineNameArr[index] = item.streetName
      })
      let source = {}
      source.xAxisData = lineNameArr
      source.yAxisDatas = lineDataArr
      let target = this.lineData
      let lineArrObj = Object.assign(target, source)
      this.lineData = lineArrObj
      vacantChart.setOption(lineOption(this.lineData))
    })

    // 各单位租赁面积统计情况对比
    let leaseChart = echarts.init(this.$refs.lease)
    unitAreaStatistics(this.value).then((res) => {
      if (res.data.code === 0) {
        rootOptionPie({
          isTimer: true,
          eChart: entryRootChart,
          step: 6,
          widthNum: 3.34,
          widthInNum: 3.34,
          heightNum: 2.15,
          heightInNum: 2.14,
          outsideLine1: 3.05,
          outsideLine2: 3.33,
          outsideLine3: 5.15,
          color: [
            '#ff3000', '#c519ff', '#188eff', '#19c4fc', '#febf00', '#ff8b19', '#fd1b8b'
          ]
        }
        )

        let zlUnitArea = res.data.data
        let lineNameArr = []
        let lineDataArr = []
        Array.isArray(zlUnitArea) && zlUnitArea.forEach((item, index) => {
          lineDataArr[index] = item.area.toFixed(2)
          lineNameArr[index] = item.streetName
        })
        let source = {}
        source.xAxisData = lineNameArr
        source.yAxisDatas = lineDataArr
        let target = this.leaseData
        let lineArrObj = Object.assign(target, source)
        this.leaseData = lineArrObj
        leaseChart.setOption(rentLineOption(this.leaseData))
      }
    })
  },
  watch: {
    value: function (prams) {
      // 各单位租赁面积统计情况对比
      let leaseChart = echarts.init(this.$refs.lease)
      unitAreaStatistics(prams).then((res) => {
        let zlUnitArea = res.data.data
        let lineNameArr = []
        let lineDataArr = []
        Array.isArray(zlUnitArea) && zlUnitArea.forEach((item, index) => {
          lineDataArr[index] = item.area.toFixed(2)
          lineNameArr[index] = item.streetName
        })
        let source = {}
        source.xAxisData = lineNameArr
        source.yAxisDatas = lineDataArr
        let target = this.leaseData
        let lineArrObj = Object.assign(target, source)
        this.leaseData = lineArrObj
        leaseChart.setOption(rentLineOption(this.leaseData))
      })
    }
  },
  destroyed () {
    optionPie({isTimer: false})
  }
}

</script>

<style lang="less" scoped>
@import "./index.less";
</style>
