.moreAnalysis{
  height: 800px;
  width: 1200px;
  padding: 0 24px;
  box-sizing: border-box;
  border: 1px solid #00D5FF;
  background:url(../../../../img/biger.png) no-repeat center;
  background-size: 100% 100%;
  .title{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #00D5FF;
    padding: 16px 0;
   .title-icon{
       font-size: 12px;
       color:#00D5FF;
       display: inline-block;
       margin-right: 8px;
   }
   .title-content{
       font-size: 16px;
       color: #fff;
   }
}
.enterpriseAnalysis{
  box-sizing: border-box; 
  box-shadow: 0 0 2px 2px #000 inset;
  .census-base{
    width: 100%;
    color: #fff;
    padding:0 14px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    box-sizing: border-box;
    margin-right: 12px;
    display: flex;
    justify-content: space-between;
    .vertical-line{
      display: inline-block;
      position: relative;
      top: 2px;
      height: 14px;
      width: 4px;
      background-color: #00D5FF;
      margin-right: 10px;
      margin-top: 9px;
    }
  }
  .census-title{
    width: 100%;
    color: #fff;
    padding:0 14px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    box-sizing: border-box;
    margin-right: 12px;
    background-color:rgba(0,0,0,0.1);
    .vertical-line{
      display: inline-block;
      position: relative;
      top: 2px;
      height: 14px;
      width: 4px;
      background-color: #00D5FF;
      margin-right: 10px;
      margin-top: 9px;
    }
  }
  .echarts-left{
    width: 460px;
    height: 313px;
    background-color:rgba(0,0,0,0.1);
    // margin-bottom: 12px;
    margin-right: 12px;
    position: relative;
    .echarts-root{
      width: 460px;
      height: 313px;
      position: absolute;
      top: 0;
      left: 0;
    }
    .echarts-data{
      width: 460px;
      height: 313px;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .table-data{
    width: 678px;
    height: 313px;
    padding: 0 12px;
    background-color:rgba(0,0,0,0.1);
    border-left: 1px solid #214042;
    border-bottom: 1px solid #214042;
    border-top: 1px solid #214042;
  }
  .echarts-right{
    width: 678px;
    height: 313px;
    background-color:rgba(0,0,0,0.1);
  }
  .echarts-bottom{
    width: 100%;
    height: 290px;
    background-color:rgba(0,0,0,0.1);
  }
}
/deep/.el-form-item__label{
  color: #fff;
}
/deep/.el-input__inner{
  background:rgba(0,0,0,0.5);
  border: 1px solid #214042;
  color: #fff;
}
/deep/.el-icon-arrow-up:before{
  color: #fff;
}
/deep/.el-select-dropdown{
  background-color: transparent;
  border: 1px solid #214042;
}

/deep/.el-select-dropdown__wrap{
  background:rgba(0,0,0,0.5);
  color: #fff;
}
/deep/.el-select-dropdown__item.selected{
  color: #fff;
}
/deep/.el-select-dropdown__item{
  color: #fff;
}
/deep/.el-select-dropdown__item.hover, /deep/.el-select-dropdown__item:hover{
      background-color: rgba(255,255,255,0.5);
}
/deep/.popper__arrow{
  border-bottom-color:#214042;
}
/deep/.el-input.is-focus{
  border-color: #214042;
}
/deep/.popper__arrow::after{
  border-bottom-color:#214042;
}
}