.governmentProperty {
  height: 800px;
  width: 1200px;
  padding: 0 24px;
  box-sizing: border-box;
  border: 1px solid #00d5ff;
  background: url("~@/views/img/biger.png") no-repeat center;
  background-size: 100% 100%;
  .title {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #00d5ff;
    padding: 16px 0;
    .title-icon {
      font-size: 12px;
      color: #00d5ff;
      display: inline-block;
      margin-right: 8px;
    }
    .title-content {
      font-size: 16px;
      color: #fff;
    }
  }
  .propertyAnalysis {
    box-sizing: border-box;
    // box-shadow: 0 0 2px 2px rgba(24, 23, 23, 0.3) inset;
    padding: 10px 0px;
    margin-top: 40px;
    .list-tit {
      display: flex;
      align-items: center;
      padding: 0px 10px;
      color: #fff;
      font-size: 14px;
      .block {
        width: 5px;
        height: 15px;
        background-color: #00d5ff;
        margin-right: 10px;
      }
      .left {
        margin-left: 20px;
      }
    }
    .business-tas {
      width: 100%;
      margin-bottom: 14px;
    }
    .table-analysis {
      margin: 10px 5px;
      border-top: 1px solid #336b6c;
      border-left: 1px solid #336b6c;
      border-right: 1px solid #336b6c;
    }
    .form {
      display: flex;
      justify-content: space-between;
    }
    .table-pagination {
      margin-top: 150px;
      margin-bottom: 12px;
      display: flex;
      justify-content: flex-end;
    }
    .el-input {
      margin-right: 10px;
    }
    /deep/.el-table__row /deep/.el-table_1_column_9{
      background-color: #323638;
    }
    /deep/.el-table /deep/.el-table__header /deep/.el-table_1_column_9{
      background-color: #232627;
    }
    .el-table:not(.el-table–scrollable-x) /deep/.el-table__fixed-right{
      width: 100%;
      height: 100% !important;
      border: none !important;
      // background-color: #484e50;
      }
      /deep/.el-table__fixed-right::before, /deep/.el-table__fixed::before{
        background-color: transparent !important;
      }
    /deep/.el-button {
      width: 66px;
      height: 30px;
      background: url("~@/views/img/text_bg.png") no-repeat center;
      background-size: 100% 100%;
      border: none;
      padding: 0;
      color: #fff;
    }
    /deep/.el-button:hover {
      background-color: #00d5ff;
    }
    /deep/.el-input__inner {
      height: 28px;
      line-height: 28px;
      background-color: rgba(255, 255, 255, 0.3);
      border-color: #00d5ff;
      color: #fff;
    }
    /deep/.el-table {
      background-color: transparent;
    }
    /deep/.el-table::before {
      background-color: transparent;
    }
    /deep/.el-table th,
    /deep/.el-table tr {
      background-color: transparent;
    }
    /deep/.el-table td,
    /deep/.el-table th {
      padding: 0;
      color: #fff;
    }
    /deep/.el-table td,
    /deep/.el-table th.is-leaf {
      border-bottom: 1px solid #336b6c;
    }
    /deep/.el-table th > .cell {
      padding-right: 0;
    }
    /deep/.el-table .cell {
      padding-right: 0;
      // text-align: center;
    }
    /deep/.el-table__body tr:hover {
      color: rgb(18, 157, 250);
      cursor: pointer;
    }
    /deep/ tbody tr:hover > td,
    /deep/ tbody tr.hover-row > td {
      background-color: #66b1ff;
    }
    /deep/th.is-leaf {
      background-color: rgba(0, 0, 0, 0.3);
    }
    /deep/.el-form-item {
      margin-bottom: 0;
    }
    /deep/.btn-next,
    /deep/.btn-prev {
      background-color: rgba(255, 255, 255, 0.3);
      border: 1px solid rgba(255, 255, 255, 0.3);
      color: #fff;
    }
    /deep/.el-pagination__total {
      color: #fff;
    }
    /deep/.el-pager li {
      background-color: rgba(255, 255, 255, 0.3);
      border: 1px solid rgba(255, 255, 255, 0.3);
      color: #fff;
    }
    /deep/.el-pagination.is-background .el-pager li:not(.disabled).active {
      background-color: #00ffff;
      border: none;
    }
  }
  /deep/.el-tabs__item {
    font-size: 16px;
    color: #fff;
  }
  /deep/.el-tabs__nav-wrap::after {
    background-color: transparent !important;
  }
  /deep/.el-tabs__item {
    margin-top: 0;
    border: none;
  }
  /deep/.el-tabs__item.is-active {
    color: #00d5ff;
    background-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    background: url("~@/views/img/tabsback.png") repeat-x;
    background-size: 100% 100%;
    //    border-bottom: 2px solid #00FFFF;
  }
  // /deep/.el-tabs__item:not(.is-disabled):hover{
  //   color: #fff;
  // }
  /deep/.el-tabs__active-bar {
    background-color: #00d5ff;
  }
  /deep/.el-tabs--border-card > .el-tabs__header {
    background: transparent;
    border: none;
  }
  /deep/.el-tabs--border-card {
    border: none;
    box-shadow: none;
  }
  /deep/.el-tabs__item:focus.is-active.is-focus:not(:active) {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border-radius: 0 !important;
  }
  /deep/.el-tabs--border-card {
    background: transparent;
  }
  /deep/.el-tabs__content {
    padding: 0;
    margin-top: 1px;
  }
  /* 定义滚动条样式 */
::-webkit-scrollbar {
  width: 5px;
  height: 6px;
  background-color: #0b8195;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0px rgba(240, 240, 240, 0.5);
  background-color: rgba(240, 240, 240, 0.5);
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0px rgba(240, 240, 240, 0.3);
  background-color:  #0b8195;
}
}
