<template>
  <div class="governmentProperty">
    <div class="title">
      <div>
        <i class="title-icon">|&nbsp;|&nbsp;|</i>
        <span class="title-content">物业列表</span>
      </div>
      <i class="el-icon-close" style="color:#fff; font-size:18px;" @click="close"></i>
    </div>

    <div class="propertyAnalysis">
      <div class="business-tas">
        <div class="list-tit">
          <div class="block"></div>
          <div>空置物业列表</div>
          <div class="left">
            <div style="margin-right:20px">已筛选物业<span style="color:#00D5FF;">&nbsp;&nbsp;{{totalNum}}</span>&nbsp;&nbsp;户</div>
          </div>
        </div>
        <div class="table-analysis" :style="{borderBottom: (tableData.length===0 ? '1px solid #336b6c': '') }">
          <el-table :data="tableData">
            <el-table-column label="序号" align="center" type="index" width="50">
            </el-table-column>
            <el-table-column prop="name" label="空置物业名称" width="350">
              <!-- <template slot-scope="scope">
                <el-popover placement="top-start" trigger="hover" :content="scope.row.name">
                  <span slot="reference"> {{ scope.row.name}}</span>
                </el-popover>
              </template> -->
            </el-table-column>
            <el-table-column prop="address" label="物业地址" width="300">
              <!-- <template slot-scope="scope">
                <el-popover placement="top-start" trigger="hover" :content="scope.row.address">
                  <span slot="reference"> {{ scope.row.address | ellipsis(12)}}</span>
                </el-popover>
              </template> -->
            </el-table-column>
            <el-table-column prop="wyType" label="物业种类" width="100"></el-table-column>
            <el-table-column prop="buildArea" label="建筑面积(㎡)" width="100"></el-table-column>
            <el-table-column prop="avgPrice" label="平均租金(元/㎡)" width="120"></el-table-column>
            <el-table-column prop="streetName" label="街道" width="100"></el-table-column>
            <el-table-column prop="communityName" label="社区" width="100"></el-table-column>
            <el-table-column label="操作" align="center" fixed="right" width="100">
            <template slot-scope="scope">
              <div @click="handleAddEditSee(scope.row)" :style="{'color':vrName.indexOf(scope.row.name)!=-1?'#00D5FF':''}">VR看房</div>
            </template>
          </el-table-column>
          </el-table>
        </div>
        <div class="table-pagination">
          <el-pagination background :data="tableData" @current-change="handleCurrentChange" :current-page.sync="currentPage" :page-size="pagesize" layout="total, prev, pager, next" :total="totalNum">
          </el-pagination>
        </div>
      </div>
    </div>

  </div>
</template>
<script>

import { closeModal, openModal } from '@/until/bigUrl.js'
import { homeSearchList } from '@/views/request'
import vrUrlObj from '@/until/vrUrl'

export default {
  data () {
    return {
      index: '',
      currentPage: 1,
      pagesize: 15,
      avgPriceEnd: '',
      avgPriceStart: '',
      communityName: '',
      streetName: '',
      wyType: '',
      kzAreaStart: '',
      kzAreaEnd: '',
      totalNum: 0,
      tableData: [],
      vrName: Object.keys(vrUrlObj)
    }
  },
  filters: {
    ellipsis (value, limit) {
      if (!value) return ''
      if (value.length > limit) {
        return value.slice(0, limit) + '...'
      }
      return value
    }
  },
  created () {
    this.getSearchList()
  },
  methods: {
    handleCurrentChange (currentPage) {
      this.currentPage = currentPage
      this.getSearchList()
    },
    getSearchList () {
      // let data = JSON.parse(this.$route.query.content)
      let obj = {
        // index: data.name,
        // p: this.currentPage,
        // size: this.pagesize,
        // avgPriceEnd: data.rentMax,
        // avgPriceStart: data.rentMin,
        // communityName: data.street,
        // streetName: data.street,
        // wyType: data.type,
        // kzAreaStart: data.areaMin,
        // kzAreaEnd: data.areaMax
        index: '', // 南山智园（三期）崇文园区2号楼19层1902房
        p: this.currentPage,
        size: this.pagesize,
        avgPriceEnd: '',
        avgPriceStart: '',
        communityName: '',
        streetName: '',
        wyType: '',
        kzAreaStart: '',
        kzAreaEnd: ''
      }
      homeSearchList(obj).then(res => {
        this.totalNum = res.data.data.total
        this.tableData = res.data.data.list
      })
    },
    handleAddEditSee (item) {
      if (this.vrName.indexOf(item.name) !== -1) {
        console.log(vrUrlObj[item.name])
        openModal(6, '/parkVR?url=' + vrUrlObj[item.name], () => { })
      }
    },
    close () {
      closeModal(6)
    }
  }
}
</script>

<style lang="less" scoped>
@import "./index.less";
</style>
