.el-table td, .el-table th{
  padding: 4px 0;
}
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
  width: 6px;
  /*滚动条宽度*/
  height: 12px;
  /*滚动条高度*/
  background-color: white;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0px white;
  -webkit-box-shadow: inset 0 0 0px white;
  background-color: rgb(193, 193, 193);
  /*滚动条的背景颜色*/
  border-radius: 20px;
}

/*解决表格固定列时的压样式问题*/
.el-table__fixed {
  height: calc(100% - 12px) !important;   /*这里的12px和上方的滚动条高度相同*/
}

.el-table__fixed-right {
  height: calc(100% - 12px) !important;
}

.el-table__fixed-right::before,
.el-table__fixed::before {
  background-color: unset !important;
}
.login_button {
    color: #fff;
    background-color: #385fff;
    border-color: #385fff;
    width: 100%;
    font-size: 15px;
    border-radius: 5px;
    padding: 0 17px;
    height: 40px;
    border-radius: 20px;
    margin-top: 2rem;
  }
  .login_user {
    margin: 50px 30px;
  }
  .login_el-input{
    display: inline;
    line-height: 60px;
    margin-left: 3%;
  }
  .login_el-label {
    line-height: normal;
    /* margin-bottom: 4px; */
    font-size: 13px;
    display: inline;
  }
  .login_app{
    width: 100%;
    height: 100%;
    background: #eff3f8;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    background-image: url('http://wygl.onlinefindyou.com/gqzhmh/static/img/login-bg.ed655353.jpg');
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .login_body {
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 40%;
    display: inline-block;
    vertical-align: middle;
    width: 500px;
    background: hsla(0,0%,100%,.8);
    -webkit-box-shadow: 0 2px 20px 0 rgb(74 144 226 / 54%);
    box-shadow: 0 2px 20px 0 rgb(74 144 226 / 54%);
    border-radius: 4px;
    padding: 50px 88px 60px;
    background-image: url('http://wygl.onlinefindyou.com/gqzhmh/static/img/login-bg.ed655353.jpg');
  }
