.officeHouse {
  .census-base {
    height: 24px;
    font-size: 16px;
    color: #fff;
    line-height: 24px;
    padding-left: 14px;
    box-sizing: border-box;
    background: url(../../../img/title.png) no-repeat center;
    background-size: 100% 100%;
    display: flex;
    justify-content: space-between;
    .more {
      height: 24px;
      padding: 0 16px;
      display: inline-block;
      color: #00d5ff;
      font-size: 14px;
      cursor: pointer;
    }
  }

  .property-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .property-base {
      width: 100%;
      .base-content {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 12px;
        box-sizing: border-box;
        .base-item {
          width: 158px;
          height: 70px;
          background: url(../../../img/text_bg.png) no-repeat center;
          background-size: 100% 100%;
          margin-bottom: 12px;
          .base-name {
            font-size: 12px;
            margin-top: 16px;
            text-align: center;
            color: #fff;
          }
          .base-num {
            margin-top: 6px;
            font-size: 12px;
            text-align: center;
            color: #00d5ff;
          }
        }
        .base-item-last {
          width: 100px;
          height: 60px;
        }
      }
    }
    .business-expect {
      width: 100%;
      margin-top: 4px;
      // .echarts-content{
      //   margin-top: 14px;
      //   width: 328px;
      //   height: 274px;
      // }
      .item-ul {
        margin-top: 12px;
        .li_title {
          height: 28px;
          display: flex;
          justify-content: space-between;
          background-color: rgba(0, 0, 0, 0.3);
          border: 1px solid #336b6c;
          .li_zrdwname {
            flex: 1;
            line-height: 28px;
            color: #fff;
            font-size: 14px;
            text-align: center;
          }
        }
        .li_item {
          // height: 60px;
          display: flex;
          justify-content: space-between;
          background-color: rgba(0, 0, 0, 0.3);
          border-left: 1px solid #336b6c;
          border-right: 1px solid #336b6c;
          border-bottom: 1px solid #336b6c;
          cursor: pointer;
          .li_sjLevelStr {
            text-align: center;
            flex: 1;
            line-height: 24px;
            color: #fff;
            font-size: 14px;
            color: #fff;
          }
        }
      }
      .seamless-warp {
        height: 600px;
        overflow: hidden;
      }
    }

    .table-analysis {
      margin-top: 10px;
      border-top: 1px solid #336b6c;
      border-left: 1px solid #336b6c;
      border-right: 1px solid #336b6c;
    }
    .data-none-border {
      border-bottom: 1px solid #336b6c;
    }
    /deep/.el-table {
      background-color: transparent;
    }
    /deep/.el-table::before {
      background-color: transparent;
    }
    /deep/.el-table th,
    /deep/.el-table tr {
      background-color: transparent;
    }
    /deep/.el-table td,
    /deep/.el-table th {
      padding: 0;
      color: #fff;
    }
    /deep/.el-table td,
    /deep/.el-table th.is-leaf {
      border-bottom: 1px solid #336b6c;
    }
    /deep/.el-table th > .cell {
      padding-right: 0;
    }
    /deep/.el-table .cell {
      padding-right: 0;
    }
    /deep/.el-table__body tr:hover {
      color: rgb(18, 157, 250);
      cursor: pointer;
    }
    /deep/ tbody tr:hover > td,
    /deep/ tbody tr.hover-row > td {
      background-color: #66b1ff;
    }
    /deep/th.is-leaf {
      background-color: rgba(210, 153, 255, 0.3);
    }
    /deep/.el-form-item {
      margin-bottom: 0;
    }
    /deep/.btn-next,
    /deep/.btn-prev {
      background-color: rgba(255, 255, 255, 0.3);
      border: 1px solid rgba(255, 255, 255, 0.3);
      color: #fff;
    }
    /deep/.el-pagination__total {
      color: #fff;
    }
    /deep/.el-pager li {
      background-color: rgba(255, 255, 255, 0.3);
      border: 1px solid rgba(255, 255, 255, 0.3);
      color: #fff;
    }
    /deep/.el-pagination.is-background .el-pager li:not(.disabled).active {
      background-color: #00ffff;
      border: none;
    }
    /deep/.el-table__empty-text {
      color: #fff;
    }
  }
}
