<template>
  <div class="officeHouse">
    <div class="property-content">
      <div class="property-base">
        <div class="census-base">
          <span>基本信息</span>
          <div @click="handleMore">
            <span class="more">更多分析</span>
            <img :src="require('@/views/img/right_arrow.png')" style="width:6px;height:10px; margin-right:14px;" alt="" />
          </div>
        </div>
        <ul class="base-content">
          <li class="base-item">
            <p class="base-name">租赁总面积</p>
            <p class="base-num">{{baseData.area?(baseData.area/10000).toFixed(2):"--"}}万㎡</p>
          </li>
          <li class="base-item">
            <p class="base-name">租赁总数</p>
            <p class="base-num">{{baseData.num?baseData.num:"--"}}处</p>
          </li>
          <!-- <li class="base-item">
            <p class="base-name">月租金</p>
            <p class="base-num">{{baseData.price?baseData.price/10000:"--"}}万元</p>
          </li>
          <li class="base-item">
            <p class="base-name">平均租金</p>
            <p class="base-num">{{baseData.avgPrice?(baseData.avgPrice/10000).toFixed(2):"--"}}元/㎡</p>
          </li> -->
        </ul>
      </div>
      <!-- <div class="census-base" style="margin-top:4px;">租赁物业使用单位统计情况</div>
      <div class="table-analysis" :style="{borderBottom: (tableData.length===0 ? '1px solid #336b6c': '') }">
        <el-table :data="tableData" style="width: 100%,font-size:12px">
          <el-table-column label="序号" type="index" width="40">
          </el-table-column>

          <el-table-column prop="name" label="园区名称" width="160">
            <template slot-scope="scope">
              <el-popover placement="top-start" width="230" trigger="hover" :content="scope.row.name">
                <span slot="reference"> {{ scope.row.name | ellipsis(8) }}</span>
              </el-popover>
            </template>
          </el-table-column>

          <el-table-column prop="itemName" label="租赁面积（㎡）">
            <template slot-scope="scope">
              {{ scope.row.itemName}}
              <span>{{scope.row.itemName ? '㎡' : ""}}</span>
            </template>
          </el-table-column>
        </el-table>
      </div> -->
      <div class="business-expect">
        <div class="census-base">租赁物业使用单位统计情况</div>
        <!-- <div ref="wrap" class="echarts-content"></div> -->
        <ul class="item-ul">
          <li class="li_title">
            <span class="li_zrdwname">单位名称</span>
            <span class="li_zrdwname">物业数（处）</span>
            <span class="li_zrdwname">租赁面积（㎡）</span>
          </li>
          <vue-seamless-scroll :data="tableData" class="seamless-warp" :class-option="optionSetting">
            <li class="li_item" v-for="(item,index) in tableData" :key="index">
              <el-tooltip class="item" effect="dark" :content="item.unitName" placement="right-start">
                <span class="li_sjLevelStr" :unitName="item.unitName">{{ item.unitName | ellipsis(6) }}</span>
              </el-tooltip>
              <span class="li_sjLevelStr" :num="item.num">{{item.num}}</span>
              <span class="li_sjLevelStr" :area="item.area">{{item.area}}</span>
            </li>
          </vue-seamless-scroll>
        </ul>
      </div>

    </div>
  </div>
</template>
<script>
import { openModal } from '@/until/bigUrl.js'
import { rentStatisticsList } from '../../../request'

export default {
  // components: {Breadcrumb},
  data () {
    return {
      baseData: {
        area: '',
        num: '',
        price: '',
        avgPrice: ''
      },
      tableData: []
    }
  },
  created () {
    this.getEchartsData()
  },
  filters: {
    ellipsis (value, limit) {
      if (!value) return ''
      if (value.length > limit) {
        return value.slice(0, limit) + '...'
      }
      return value
    }
  },
  computed: {
    optionSetting () {
      return {
        step: 0.4, // 数值越大速度滚动越快
        limitMoveNum: this.tableData.length, // 开始无缝滚动的数据量 this.dataList.length
        hoverStop: true, // 是否开启鼠标悬停stop
        direction: 1, // 0向下 1向上 2向左 3向右
        openWatch: true, // 开启数据实时监控刷新dom
        singleHeight: 0, // 单步运动停止的高度(默认值0是无缝不停止的滚动) direction => 0/1
        singleWidth: 0, // 单步运动停止的宽度(默认值0是无缝不停止的滚动) direction => 2/3
        waitTime: 0 // 单步运动停止的时间(默认值1000ms)
      }
    }
  },
  methods: {
    handleMore () {
      openModal(6, '/rentMoreAnalysis', () => { })
    },
    rowClick (row, column) {
      console.log(row, column, '点击了某一行')
    },
    getEchartsData () {
      rentStatisticsList().then(res => {
        // console.log(res.data.data, 'res.data.data')
        this.baseData.area = res.data.data.area
        this.baseData.num = res.data.data.num
        this.baseData.price = res.data.data.price
        this.baseData.avgPrice = res.data.data.avgPrice
        let tableArr = res.data.data.zlList
        let arr = []
        Array.isArray(tableArr) && tableArr.length > 0 && tableArr.forEach((item, index) => {
          let i = {}
          i.area = (item.area).toFixed(2)
          i.unitName = item.unitName
          i.num = item.num
          arr[index] = i
        })
        this.tableData = arr
      })
    }
  }

}

</script>

<style lang="less" scoped>
@import "./index.less";
</style>
