.rentAnalysis{
  box-sizing: border-box; 
  box-shadow: 0 0 2px 2px #000 inset;
  .census-base{
    color: #fff;
    padding-left: 14px;
    height: 28px;
    line-height: 28px;
    font-size: 14px;
    box-sizing: border-box;
    margin-right: 12px;
    .vertical-line{
      display: inline-block;
      position: relative;
      top: 2px;
      height: 14px;
      width: 4px;
      background-color: #00D5FF;
      margin-right: 10px;
      margin-top: 9px;
    }
  }
  .echarts-top{
    margin-bottom: 10px;
    display: flex;
    .item-echarts{
      width: 376px;
      height: 330px;
      background-color:rgba(0,0,0,0.1);
      .echarts-line{
        width: 376px;
        height: 270px;
      }
    }
  }

  .echarts-bottom{
    display: flex;
    .item-echarts{
      width: 376px;
      height: 330px;
      background-color:rgba(0,0,0,0.1);
      .echarts-line{
        width: 376px;
        height: 270px;
      }
    }
  }

  .item-tow{
    margin: 0 10px;
  }
 
  .tagging{
    padding: 4px 0 12px 28px;
    color: #fff;
  }
  .taggingName{
    padding: 10px 28px 0 28px;
    color: #fff;
    height: 30px;
    display: flex;
    justify-content: space-between;

  }

  /deep/.el-button{
    width: 80px;
    height: 30px;
    background:url('~@/views/img/text_bg.png') no-repeat center;
    background-size: 100% 100%;
    border:none;
    padding:0;
    color:#fff;
  }
  /deep/.el-button:hover{
    background-color: #00D5FF;
  }
  /deep/.el-radio-button__inner{
    background: #26617d;
    border: 1px solid #0bafca;
    color:#fff;
  }
  /deep/.el-radio-button__orig-radio:checked+.el-radio-button__inner{
    background: #0bafca;
  }
  /deep/.el-dialog{
    height: 500px;
    background: url("~@/views/common/biger.png") no-repeat center;
    background-size: 100% 100%;
  }
  /deep/.el-dialog__header{
    padding:10px 20px 10px;
  }
  /deep/.el-dialog__body{
    padding: 0 20px 20px 20px;
  }
  /deep/.el-dialog__title{
    font-size: 14px;
    color: #fff;
  }
  /deep/.el-dialog__headerbtn, 
  /deep/.el-dialog__close{
    color: #fff;
  }
} 