<template>
  <div class="rentAnalysis">
    <!-- <div class="tips">
        <div class="census-base"><span class="vertical-line"></span>地方财力</div>
        <div class="tips-content">
          <div>
          2010年{{oneEightYear ? oneEightYear : '--'}}亿元、
          2010年{{oneNineYear ? oneNineYear : '--'}}亿元、
          2010年{{twoZeroYear ? twoZeroYear : '--'}}亿元
          （注：目前仅纳入{{fitInto ? fitInto : '--'}}家企业进行统计分析）
          </div>
           <el-button type="primary" @click="handleAddEditSee">模拟推算</el-button>
        </div>
    </div> -->

    <div class="echarts-top">

      <div class="item-echarts">
       <div class="census-base"><span class="vertical-line"></span>近3年产值及单位面积产值趋势统计分析</div>
       <div class="tagging">( 注：目前仅纳入{{payTaxes ? payTaxes : '--'}}家企业进行统计分析 )</div>
       <div ref="into" class="echarts-line"></div>
      </div>

      <div class="item-echarts item-tow">
       <div class="census-base"><span class="vertical-line"></span>近3年纳税及单位纳税趋势统计分析</div>
       <div class="tagging">( 注：目前仅纳入{{payTaxes ? payTaxes : '--'}}家企业进行统计分析 )</div>
       <div ref="lineRight" class="echarts-line"></div>
      </div>

     <div class="item-echarts item-center">
       <div class="census-base"><span class="vertical-line"></span>近3年地方财力贡献统计分析</div>
       <div class="tagging">( 注：目前仅纳入{{payTaxes ? payTaxes : '--'}}家企业进行统计分析 )</div>
       <div ref="enterprise" class="echarts-line"></div>
     </div>

    </div>

    <div class="echarts-bottom">

      <div class="item-echarts">
       <div class="census-base"><span class="vertical-line"></span>近3年企业年度节约租金成本趋势统计</div>
       <div class="tagging">( 注：目前仅纳入{{payTaxes ? payTaxes : '--'}}家企业进行统计分析 )</div>
       <div ref="money" class="echarts-line"></div>
      </div>

      <div class="item-echarts item-tow">
       <div class="census-base"><span class="vertical-line"></span>近3年资金和用房使用绩效分析</div>
       <div class="tagging" style="padding:4px 0 0 28px;">( 注：目前仅纳入{{payTaxes ? payTaxes : '--'}}家企业进行统计分析 )</div>
       <div class="tagging">( 公式： 使用绩效=地方财力-节约租金-扶持资金)</div>
       <div ref="merits" class="echarts-line"></div>
      </div>

     <div class="item-echarts item-center">
       <div class="census-base"><span class="vertical-line"></span>近3年企业规模趋势图</div>
       <div class="tagging">( 注：目前仅纳入{{payTaxes ? payTaxes : '--'}}家企业进行统计分析 )</div>
       <div ref="scale" class="echarts-line" style="width: 376px;
        height: 270px;"></div>
     </div>

    </div>

     <!-- <div class="echarts-three">

      <div class="item-echarts">
       <div class="census-base"><span class="vertical-line"></span>近3年产值纳税及单位产业值纳税趋势统计分析</div>
       <div class="tagging">( 注：目前仅纳入{{payTaxes ? payTaxes : '--'}}家企业进行统计分析 )</div>
       <div ref="into" class="echarts-line"></div>
      </div>

      <div class="item-echarts item-tow">
       <div class="census-base"><span class="vertical-line"></span>近3年企业规模趋势图</div>
       <div class="tagging">( 注：目前仅纳入{{payTaxes ? payTaxes : '--'}}家企业进行统计分析 )</div>
       <div ref="lineRight" class="echarts-line"></div>
      </div>

     <div class="item-echarts item-center">
       <div class="census-base"><span class="vertical-line"></span>近3年减少企业成本趋势统计</div>
       <div class="tagging">( 注：目前仅纳入{{payTaxes ? payTaxes : '--'}}家企业进行统计分析 )</div>
       <div ref="enterprise" class="echarts-line"></div>
     </div>

    </div> -->

    <!-- <div class="echarts-top">
       <div class="census-base"><span class="vertical-line"></span>近3年各园区租赁价格及市场指导价统计分析</div>
       <div class="taggingName">
         <span>( 注：目前仅纳入{{payTaxes ? payTaxes : '--'}}家企业进行统计分析 ) </span>
         <el-radio-group v-model="radio1" size="mini" @change="handleChange">
         <el-radio-button label="租赁价格"></el-radio-button>
         <el-radio-button label="市场指导价"></el-radio-button>
         </el-radio-group></div>
       <div ref="lineBottom" class="echarts-useHouse"></div>
    </div> -->

     <!-- <div>
      <el-dialog title="模拟推算"
      :visible.sync="dialogVisible"
      width="60%"
      top="20vh"
      >
        <Calculation></Calculation>
      </el-dialog>
    </div> -->
    </div>

</template>
<script>
import * as echarts from 'echarts'
import threeBarOption from './threeBarOption.js'
import barOptions from './barOption.js'
import lineRightOptions from './barOption2.js'
import scaleOptions from './barOption3.js'
import moneyOptions from './costOption.js'
import meritsOptions from './achievementOption.js'

import Calculation from './calculation'
// import {supportAnalysis} from '@/views/request.js'
export default {
  components: { Calculation },
  data () {
    return {
      radio1: '租赁价格',
      radio2: '市场指导价',
      radio: '租赁价格',
      oneEightYear: 0,
      oneNineYear: 0,
      twoZeroYear: 0,
      fitInto: 53,
      payTaxes: 53,

      barData: {
        logoName: ['产值金额', '纳税金额', '单位面积纳税', '单位面积产值'],
        xAxisDtat: ['2018年', '2019年', '2020年'],
        unit1: '万元',
        unit2: '万元/㎡',
        yAxisDataz: [1110900, 997000, 1417500], // 产值金额
        yAxisDatay: [9.52, 8.21, 10.30], // 单位产值
        yAxisDatas: [19278, 25659, 30666], // 纳税金额
        yAxisDatax: [0.23, 0.28, 0.30] // 单位面积纳税

      },

      barData3: {
        logoName: ['人均面积', '员工人数'],
        xAxisDtat: ['2018年', '2019年', '2020年'],
        unit1: '㎡/人',
        unit2: '人',
        yAxisDatak: [7.50, 7.21, 12.80],
        yAxisDataj: [3818, 3719, 8605]
      },

      barDataData: {
        xAxisDtat: ['2018年', '2019年', '2020年'],
        yAxisDataz: [4400, 5400, 6300]
      },

      moneyData: {
        logoName: ['企业节约租金成本', '实际租金'],
        xAxisDtat: ['2018年', '2019年', '2020年'],
        unit1: '万元',
        unit2: '万元',
        yAxisDatak: [0, 2613, 3196],
        yAxisDataj: [0, 5924, 8699]
      },

      meritsData: {
        logoName: ['资金和用房使用绩效'],
        xAxisDtat: ['2018年', '2019年', '2020年'],
        unit1: '万元',
        yAxisData: [0, 2826, 3116]
      },

      dialogVisible: false
    }
  },
  created () {
  },
  mounted () {
    // 近3年产值纳税及单位产业值纳税趋势统计分析
    let intoChart = echarts.init(this.$refs.into)
    intoChart.setOption(barOptions(this.barData))
    // intoChart.showLoading({
    //   text: '正在加载···', // 显示的文本
    //   effect: 'ring', // 可选为：'spin' | 'bar' | 'ring' | 'whirling' | 'dynamicLine' | 'bubble'
    //   color: '#00ffff', // 显示转圈的圆圈颜色
    //   textColor: 'white', // 显示文本的颜色
    //   maskColor: 'rgba(255,255,255,0)', // 显示的背景色
    //   zlevel: 0,
    //   fontSize: 14, // 字体大小。从 `v4.8.0` 开始支持。
    //   showSpinner: true, // 是否显示旋转动画（spinner）。从 `v4.8.0` 开始支持。
    //   spinnerRadius: 10, // 旋转动画（spinner）的半径。从 `v4.8.0` 开始支持。
    //   lineWidth: 3, // 旋转动画（spinner）的线宽。从 `v4.8.0` 开始支持。
    //   fontWeight: 'normal', // 字体粗细。从 `v5.0.1` 开始支持。
    //   fontStyle: 'normal', // 字体风格。从 `v5.0.1` 开始支持。
    //   fontFamily: 'sans-serif' // 字体系列。从 `v5.0.1` 开始支持。
    // })

    // 近3年企业规模趋势图
    let lineRightChart = echarts.init(this.$refs.lineRight)
    lineRightChart.setOption(lineRightOptions(this.barData))
    // lineRightChart.showLoading({
    //   text: '正在加载···', // 显示的文本
    //   effect: 'ring', // 可选为：'spin' | 'bar' | 'ring' | 'whirling' | 'dynamicLine' | 'bubble'
    //   color: '#00ffff', // 显示转圈的圆圈颜色
    //   textColor: 'white', // 显示文本的颜色
    //   maskColor: 'rgba(255,255,255,0)', // 显示的背景色
    //   zlevel: 0,
    //   fontSize: 14, // 字体大小。从 `v4.8.0` 开始支持。
    //   showSpinner: true, // 是否显示旋转动画（spinner）。从 `v4.8.0` 开始支持。
    //   spinnerRadius: 10, // 旋转动画（spinner）的半径。从 `v4.8.0` 开始支持。
    //   lineWidth: 3, // 旋转动画（spinner）的线宽。从 `v4.8.0` 开始支持。
    //   fontWeight: 'normal', // 字体粗细。从 `v5.0.1` 开始支持。
    //   fontStyle: 'normal', // 字体风格。从 `v5.0.1` 开始支持。
    //   fontFamily: 'sans-serif' // 字体系列。从 `v5.0.1` 开始支持。
    // })

    // 近3年减少企业成本趋势统计
    let bottomChart = echarts.init(this.$refs.enterprise)
    bottomChart.setOption(threeBarOption(this.barDataData))
    // bottomChart.showLoading({
    //   text: '正在加载···', // 显示的文本
    //   effect: 'ring', // 可选为：'spin' | 'bar' | 'ring' | 'whirling' | 'dynamicLine' | 'bubble'
    //   color: '#00ffff', // 显示转圈的圆圈颜色
    //   textColor: 'white', // 显示文本的颜色
    //   maskColor: 'rgba(255,255,255,0)', // 显示的背景色
    //   zlevel: 0,
    //   fontSize: 14, // 字体大小。从 `v4.8.0` 开始支持。
    //   showSpinner: true, // 是否显示旋转动画（spinner）。从 `v4.8.0` 开始支持。
    //   spinnerRadius: 10, // 旋转动画（spinner）的半径。从 `v4.8.0` 开始支持。
    //   lineWidth: 3, // 旋转动画（spinner）的线宽。从 `v4.8.0` 开始支持。
    //   fontWeight: 'normal', // 字体粗细。从 `v5.0.1` 开始支持。
    //   fontStyle: 'normal', // 字体风格。从 `v5.0.1` 开始支持。
    //   fontFamily: 'sans-serif' // 字体系列。从 `v5.0.1` 开始支持。
    // })

    // 近3年产值纳税及单位产业值纳税趋势统计分析
    let moneyChart = echarts.init(this.$refs.money)
    moneyChart.setOption(moneyOptions(this.moneyData))
    // moneyChart.showLoading({
    //   text: '正在加载···', // 显示的文本
    //   effect: 'ring', // 可选为：'spin' | 'bar' | 'ring' | 'whirling' | 'dynamicLine' | 'bubble'
    //   color: '#00ffff', // 显示转圈的圆圈颜色
    //   textColor: 'white', // 显示文本的颜色
    //   maskColor: 'rgba(255,255,255,0)', // 显示的背景色
    //   zlevel: 0,
    //   fontSize: 14, // 字体大小。从 `v4.8.0` 开始支持。
    //   showSpinner: true, // 是否显示旋转动画（spinner）。从 `v4.8.0` 开始支持。
    //   spinnerRadius: 10, // 旋转动画（spinner）的半径。从 `v4.8.0` 开始支持。
    //   lineWidth: 3, // 旋转动画（spinner）的线宽。从 `v4.8.0` 开始支持。
    //   fontWeight: 'normal', // 字体粗细。从 `v5.0.1` 开始支持。
    //   fontStyle: 'normal', // 字体风格。从 `v5.0.1` 开始支持。
    //   fontFamily: 'sans-serif' // 字体系列。从 `v5.0.1` 开始支持。
    // })

    // 近3年产值纳税及单位产业值纳税趋势统计分析
    let meritsChart = echarts.init(this.$refs.merits)
    meritsChart.setOption(meritsOptions(this.meritsData))
    // meritsChart.showLoading({
    //   text: '正在加载···', // 显示的文本
    //   effect: 'ring', // 可选为：'spin' | 'bar' | 'ring' | 'whirling' | 'dynamicLine' | 'bubble'
    //   color: '#00ffff', // 显示转圈的圆圈颜色
    //   textColor: 'white', // 显示文本的颜色
    //   maskColor: 'rgba(255,255,255,0)', // 显示的背景色
    //   zlevel: 0,
    //   fontSize: 14, // 字体大小。从 `v4.8.0` 开始支持。
    //   showSpinner: true, // 是否显示旋转动画（spinner）。从 `v4.8.0` 开始支持。
    //   spinnerRadius: 10, // 旋转动画（spinner）的半径。从 `v4.8.0` 开始支持。
    //   lineWidth: 3, // 旋转动画（spinner）的线宽。从 `v4.8.0` 开始支持。
    //   fontWeight: 'normal', // 字体粗细。从 `v5.0.1` 开始支持。
    //   fontStyle: 'normal', // 字体风格。从 `v5.0.1` 开始支持。
    //   fontFamily: 'sans-serif' // 字体系列。从 `v5.0.1` 开始支持。
    // })

    // 近3年产值纳税及单位产业值纳税趋势统计分析
    let scaleChart = echarts.init(this.$refs.scale)
    scaleChart.setOption(scaleOptions(this.barData3))
    // scaleChart.showLoading({
    //   text: '正在加载···', // 显示的文本
    //   effect: 'ring', // 可选为：'spin' | 'bar' | 'ring' | 'whirling' | 'dynamicLine' | 'bubble'
    //   color: '#00ffff', // 显示转圈的圆圈颜色
    //   textColor: 'white', // 显示文本的颜色
    //   maskColor: 'rgba(255,255,255,0)', // 显示的背景色
    //   zlevel: 0,
    //   fontSize: 14, // 字体大小。从 `v4.8.0` 开始支持。
    //   showSpinner: true, // 是否显示旋转动画（spinner）。从 `v4.8.0` 开始支持。
    //   spinnerRadius: 10, // 旋转动画（spinner）的半径。从 `v4.8.0` 开始支持。
    //   lineWidth: 3, // 旋转动画（spinner）的线宽。从 `v4.8.0` 开始支持。
    //   fontWeight: 'normal', // 字体粗细。从 `v5.0.1` 开始支持。
    //   fontStyle: 'normal', // 字体风格。从 `v5.0.1` 开始支持。
    //   fontFamily: 'sans-serif' // 字体系列。从 `v5.0.1` 开始支持。
    // })

    // supportAnalysis().then((res) => {
    //   console.log(res, '-----res------')
    //   if (res.data.code === 0) {
    //     intoChart.hideLoading()
    //     lineRightChart.hideLoading()
    //     bottomChart.hideLoading()
    //     moneyChart.hideLoading()
    //     meritsChart.hideLoading()
    //     scaleChart.hideLoading()

    //     let {regTaxList, zlRegTaxVoList} = res.data.data

    //     this.oneEightYear = (Number(regTaxList[0].cz)).toFixed(2)
    //     this.oneNineYear = (Number(regTaxList[1].cz)).toFixed(2)
    //     this.twoZeroYear = (Number(regTaxList[2].cz)).toFixed(2)
    //     this.fitInto = regTaxList[2].num
    //     this.payTaxes = regTaxList[2].num

    //     let payTaxesz = [] // 产值金额
    //     let payTaxesy = [] // 单位面积产值
    //     let payTaxess = [] // 纳税金额
    //     let payTaxesx = [] // 单位面积纳税

    //     let manNum = [] // 企业人数

    //     let priceRange = [] // 减少的企业成本

    //     Array.isArray(regTaxList) && regTaxList.length > 0 && regTaxList.forEach((item) => {
    //       let arrz = item.cz && Number(item.cz) !== 0 ? Number(item.cz).toFixed(2) * 10000 : 0 // 产值金额
    //       let arry = (arrz !== 0) && item.area && (Number(item.area) !== 0) ? (arrz / (Number(item.area).toFixed(2))).toFixed(2) : 0 // 单位面积产值：产值金额/面积

    //       let arrs = item.total && Number(item.total) !== 0 ? (Number(item.total) / 10000).toFixed(2) : 0 // 纳税金额
    //       let arrx = (arrs !== 0) && item.area && (Number(item.area) !== 0) ? (arrs / (Number(item.area).toFixed(2))).toFixed(2) : 0 // 单位面积纳税：纳税金额/面积

    //       // 减少的企业成本：指导价*面积-月租金
    //       let price = ''
    //       if (item.guideprice && (Number(item.guideprice) !== 0) && item.area && ((Number(item.area) !== 0))) {
    //         price = (((Number(item.guideprice).toFixed(2)) * (Number(item.area).toFixed(2)) - (Number(item.yzj).toFixed(2))) / 10000).toFixed(2)
    //       } else {
    //         price = 0
    //       }

    //       payTaxesz.push(arrz)
    //       payTaxesy.push(arry)
    //       payTaxess.push(arrs)
    //       payTaxesx.push(arrx)

    //       manNum.push(Number(item.number))
    //       priceRange.push(price)
    //     })

    //     this.barData.yAxisDataz = payTaxesz
    //     this.barData.yAxisDatas = payTaxess
    //     this.barData.yAxisDatax = payTaxesx
    //     this.barData.yAxisDatay = payTaxesy
    //     intoChart.setOption(barOptions(this.barData))

    //     // this.lineRightData.yAxisDataz = manNum
    //     lineRightChart.setOption(lineRightOptions(this.barData))

    //     this.barDataData.yAxisDataz = priceRange
    //     bottomChart.setOption(threeBarOption(this.barDataData))

    //     moneyChart.setOption(moneyOptions(this.moneyData))

    //     meritsChart.setOption(meritsOptions(this.meritsData))

    //     scaleChart.setOption(scaleOptions(this.barData3))
    //   }
    // })
  },

  methods: {
    handleAddEditSee () {
      this.dialogVisible = true
    },
    handleChange (val) {
      this.radio = val
    }
  }
}

</script>

<style lang="less" scoped>
@import "./index.less";
</style>
