<template>
  <div>
    <div class="mesage">
      <div>资助总金额：<span style="color:#00FFFF">{{totalMoney.toFixed(2)}}</span>万元</div>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <div>资助总次数：<span style="color:#00FFFF">{{totalNum}}</span>次</div>
    </div>
    <div class="table-analysis" :style="{borderBottom: (tableData.length===0 ? '1px solid #336b6c': '') }">
      <el-table :data="tableData" align='center' header-align='center'>
        <el-table-column label="序号" type="index" width="50">
        </el-table-column>
        <el-table-column prop="year" label="立项年度" width="100">
        </el-table-column>
        <el-table-column prop="money" label="资助金额（万元）">
        </el-table-column>
        <el-table-column prop="projectName" label="项目名称">
          <template slot-scope="scope">
            <el-popover placement="top-start" trigger="hover" :content="scope.row.projectName">
              <span slot="reference"> {{ scope.row.projectName | ellipsis(8)}}</span>
            </el-popover>
          </template>
        </el-table-column>
        <el-table-column prop="projectType" label="资金类别">
          <template slot-scope="scope">
            <el-popover placement="top-start" trigger="hover" :content="scope.row.projectType">
              <span slot="reference"> {{ scope.row.projectType | ellipsis(8)}}</span>
            </el-popover>
          </template>
        </el-table-column>
        <el-table-column prop="ywType" label="业务类别">
          <template slot-scope="scope">
            <el-popover placement="top-start" trigger="hover" :content="scope.row.ywType">
              <span slot="reference"> {{ scope.row.ywType | ellipsis(8)}}</span>
            </el-popover>
          </template>
        </el-table-column>
        <el-table-column prop="zgDep" label="主管部门">
          <template slot-scope="scope">
            <el-popover placement="top-start" trigger="hover" :content="scope.row.zgDep">
              <span slot="reference"> {{ scope.row.zgDep | ellipsis(8)}}</span>
            </el-popover>
          </template>
        </el-table-column>
        <el-table-column prop="zgPro" label="主管科室">
          <template slot-scope="scope">
            <el-popover placement="top-start" trigger="hover" :content="scope.row.zgPro">
              <span slot="reference"> {{ scope.row.zgPro | ellipsis(8)}}</span>
            </el-popover>
          </template>
        </el-table-column>
      </el-table>
    </div>
    <div class="table-pagination">
      <el-pagination background :data="tableData" @current-change="handleCurrentChange" :current-page.sync="currentPage" :page-size="pagesize" layout="total, prev, pager, next" :total="totalNum">
      </el-pagination>
    </div>
  </div>

</template>
<script>

export default {
  props: { propertyData: Array },
  data () {
    return {
      currentPage: 1,
      pagesize: 10,
      totalNum: 0,
      totalMoney: 0,
      tableData: []
    }
  },
  created () {
    this.handleCurrentChange(1)
    if (this.propertyData) {
      this.totalNum = this.propertyData.length
      for (let item of this.propertyData) {
        if (item.money) {
          this.totalMoney += parseFloat(item.money)
        }
      }
    }
  },
  filters: {
    ellipsis (value, limit) {
      if (!value) return ''
      if (value.length > limit) {
        return value.slice(0, limit) + '...'
      }
      return value
    }
  },
  methods: {
    handleCurrentChange (currentPage) {
      this.currentPage = currentPage
      this.tableData = []
      for (var i = (currentPage - 1) * this.pagesize; i < (currentPage - 1) * this.pagesize + this.pagesize; i++) {
        if (this.propertyData.length > i) {
          this.tableData.push(this.propertyData[i])
        }
      }
    }
  }
}
</script>

<style lang="less" scoped>
@import "../index.less";
</style>
