<template>
  <div>
    <div class="mesage">
      <div>租赁信息：<span style="color:#00FFFF">1</span>处</div>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <div>预到期：<span style="color:red">1</span>次</div>
    </div>
    <div class="table-analysis" :style="{borderBottom: (tableData.length===0 ? '1px solid #336b6c': '') }">
      <el-table :data="tableData" header-align='center' :fit='true'>
        <el-table-column label="序号" type="index" width="50">
        </el-table-column>
        <el-table-column prop="wyName" label="租赁物业">
          <template slot-scope="scope">
            <el-popover placement="top-start" trigger="hover" :content="scope.row.wyName">
              <span slot="reference"> {{ scope.row.wyName | ellipsis(8)}}</span>
            </el-popover>
          </template>
        </el-table-column>
        <el-table-column prop="area" label="租赁面积（m²）"></el-table-column>
        <el-table-column prop="price" label="租赁单价（元/m²）"></el-table-column>
        <el-table-column prop="mPrice" label="月租金（元）"></el-table-column>
        <el-table-column label="租赁起止日期">
          <template slot-scope="scope">
            <span v-if="scope.row.startTime && scope.row.endTime"> {{`${scope.row.startTime}~${scope.row.endTime}`}}</span>
            <span v-else-if="scope.row.startTime && !scope.row.endTime">  {{`${scope.row.startTime} ~ --`}}</span>
            <span v-else-if="!scope.row.startTime && scope.row.endTime">  {{`-- ~ ${scope.row.endTime}`}}</span>
            <span v-else> {{'--'}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="day" label="合同剩余时间（天）"></el-table-column>
        <el-table-column label="合同附件" align="center">
          <template slot-scope="scope">
            <div @click="handleAddEditSee(scope.row)" style="color:#00D5FF;">查看</div>
          </template>
        </el-table-column>
      </el-table>
    </div>
    <div class="table-pagination">
      <el-pagination background :data="tableData" @current-change="handleCurrentChange" :current-page.sync="currentPage" :page-size="pagesize" layout="total, prev, pager, next" :total="totalNum">
      </el-pagination>
    </div>
  </div>

</template>
<script>

export default {
  props: { rentData: Array },
  data () {
    return {
      currentPage: 1,
      pagesize: 10,
      totalNum: 0,
      totalMoney: 0,
      tableData: []
    }
  },
  created () {
    this.handleCurrentChange(1)
    if (this.rentData) {
      this.totalNum = this.rentData.length
      for (let item of this.rentData) {
        this.totalMoney += parseInt(item.money)
      }
    }
  },
  filters: {
    ellipsis (value, limit) {
      if (!value) return ''
      if (value.length > limit) {
        return value.slice(0, limit) + '...'
      }
      return value
    }
  },
  methods: {
    handleCurrentChange (currentPage) {
      this.currentPage = currentPage
      this.tableData = []
      for (var i = (currentPage - 1) * this.pagesize; i < (currentPage - 1) * this.pagesize + this.pagesize; i++) {
        if (this.propertyData.length > i) {
          this.tableData.push(this.propertyData[i])
        }
      }
    }
  }
}
</script>

<style lang="less" scoped>
@import "../index.less";
</style>
