.icon-title {
    display: inline-flex;
    align-items: center;
    margin: 0 8px 0 2px;
    align-self: center;
    li {
        width: 2px;
        height: 8px;
        background-color: #00D5FF;
        transform: rotate(15deg);
        &+li {
        margin-left: 4px;
        }
    }
}
.content-wrapper{
    box-sizing: border-box;
    box-shadow: 0 0 2px 2px #000 inset;
    .cover-pic{
      width: 100%;
    }
    .park-intro{
      color: #fff;
      font-size: 14px;
      line-height: 22px;
    }
}
.governmentProperty {
    height: 800px;
    width: 1200px;
    padding: 0 24px;
    box-sizing: border-box;
    border: 1px solid #00d5ff;
    background: url('../../../../../img/biger.png') no-repeat center;
    background-size: 100% 100%;
    .title {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #00D5FF;
        padding: 16px 0;
        .title-text {
            display: flex;
        }
        .title-icon {
            font-size: 12px;
            color: #00D5FF;
            display: inline-block;
            margin-right: 8px;
        }
        .title-content {
            font-size: 16px;
            color: #fff;
        }
        .el-icon-close {
            color: #fff;
            font-size: 18px
        }
    }
    .tabs {
      height: 40px;
      .tabs-main {
        height: 40px;
      }
      .tabs-sub {
        height: 40px;
      }
    }
    /deep/.el-tabs__item {
      font-size: 16px;
      color: #fff;
    }
    /deep/.el-tabs__nav-wrap::after {
      background-color: transparent !important;
    }
    /deep/.el-tabs__item {
      margin-top: 0;
      border: none;
    }
    /deep/.el-tabs__item.is-active {
      color: #00d5ff;
      background-color: transparent;
      border-right-color: transparent;
      border-left-color: transparent;
      background: url('../../../../../img/tabsback.png') repeat-x;
      background-size: 100% 100%;
      //    border-bottom: 2px solid #00FFFF;
    }
    // /deep/.el-tabs__item:not(.is-disabled):hover{
    //   color: #fff;
    // }
    /deep/.el-tabs__active-bar {
      background-color: #00d5ff;
    }
    /deep/.el-tabs--border-card > .el-tabs__header {
      background: transparent;
      border: none;
    }
    /deep/.el-tabs--border-card {
      border: none;
      box-shadow: none;
    }
    /deep/.el-tabs__item:focus.is-active.is-focus:not(:active) {
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
      border-radius: 0 !important;
    }
    /deep/.el-tabs--border-card {
      background: transparent;
    }
    /deep/.el-tabs__content {
      padding: 0;
      margin-top: 1px;
    }

    .tabs-sub {
      margin-top: 20px;
      /deep/.el-tabs__nav {
        background-color: rgba(16, 147, 168, 0.1);
      }
      /deep/.el-tabs__item.is-active{
        background: rgba(16, 147, 168, 0.5);
      }
    }

    .pic-wrapper{
      background: rgba(0,0,0,0.2);
      padding: 10px;
      box-sizing: border-box;
      margin-top: 20px;
    }
    .table-wrapper{
      background: rgba(0,0,0,0.2);
      padding: 10px;
      box-sizing: border-box;
      margin-top: 20px;
      .increase{
        color:#55ff00;
        position: relative;
      }
      .decrease{
        color: red;
        position: relative;
      }
    }

    /deep/.el-table {
      background-color: transparent;
    }
    /deep/.el-table::before {
      background-color: transparent;
    }
    /deep/.el-table th,
    /deep/.el-table tr {
      background-color: transparent;
    }
    /deep/.el-table td,
    /deep/.el-table th {
      padding: 12px 0;
      color: #fff;
    }
    /deep/.el-table td,
    /deep/.el-table th.is-leaf {
      border-bottom: 0px;
    }
    /deep/.el-table th > .cell {
      padding-right: 0;
      font-weight: normal;
    }
    /deep/.el-table .cell {
      padding-right: 0;
      // text-align: center;
    }
    /deep/.el-table__body tr:hover {
      color: rgb(18, 157, 250);
      cursor: pointer;
    }
    /deep/th.is-leaf {
      background-color: rgba(0, 0, 0, 0.3);
    }
    /deep/.el-form-item {
      margin-bottom: 0;
    }
    /deep/.btn-next,
    /deep/.btn-prev {
      background-color: rgba(255, 255, 255, 0.3);
      border: 1px solid rgba(255, 255, 255, 0.3);
      color: #fff;
    }

    /deep/ tbody tr.el-table__row--striped td {
      background-color: rgba(0, 0, 0, 0.1);
    }
    /deep/ tbody tr:hover > td,
    /deep/ tbody tr.hover-row > td {
      background-color: rgba(0, 213, 255, 0.2); //#66b1ff
    }
    /deep/.el-table__fixed-right {
      background-color: rgba(48, 53, 59, 0.9) !important;
      bottom: 6px !important;
      height: initial !important;
    }

    /deep/.el-table__fixed-right-patch {
      width: 5px !important;
      background-color: #212122;
      border-color: #212122;
    }
    /deep/.el-table__fixed-right::before,
    /deep/.el-table__fixed::before {
      background-color: transparent !important;
    }
  }