<template>
  <div class="governmentProperty">
    <div class="title">
      <div class="title-text">
        <ul class="icon-title">
          <li></li>
          <li></li>
          <li></li>
        </ul>
        <span class="title-content">更多分析</span>
      </div>
      <i class="el-icon-close" @click="close"></i>
    </div>
    <div class="tabs">
      <el-tabs v-model="activeName" class="tabs-main" type="border-card">
        <el-tab-pane label="园区定位" name="position" class="tabs-item">
          <div class="content-wrapper" style="padding:10px;height: 680px;">
            <div class="park-intro">{{ parkIntro }}</div>
            <el-tabs v-model="activeName1" class="tabs-sub" type="border-card">
              <el-tab-pane label="项目定位" name="type" class="tabs-item">
                <div class="pic-wrapper">
                  <img class="cover-pic" src="@/views/img/hhl/project-type.png" alt="">
                </div>
              </el-tab-pane>
              <el-tab-pane label="产业规划" name="plan" class="tabs-item">
                <div class="pic-wrapper">
                  <img class="cover-pic" src="@/views/img/hhl/industry-plan.png" alt="">
                </div>
              </el-tab-pane>
              <el-tab-pane label="项目设计" name="design" class="tabs-item">
                <div class="pic-wrapper">
                  <img class="cover-pic" src="@/views/img/hhl/project-design.png" alt="">
                </div>
              </el-tab-pane>
              <el-tab-pane label="项目指标" name="target" class="tabs-item">
                <div class="table-wrapper">
                  <el-table fit header-align='center' stripe :data="targetList" align="left">
                    <el-table-column prop="col1" label="类型"></el-table-column>
                    <el-table-column prop="col2" label="改造前" width="220"></el-table-column>
                    <el-table-column prop="col3" label="改造后" width="220"></el-table-column>
                    <el-table-column prop="col4" label="提升幅度" width="100">
                      <template slot-scope="scope">
                        <div :class="scope.row.type==1?'increase':scope.row.type==2?'decrease':''">
                          {{scope.row.col4}}
                          <i v-if="scope.row.type==1" class="icon el-icon-top"></i>
                          <i v-if="scope.row.type==2" class="icon el-icon-bottom"></i>
                        </div>
                      </template>
                    </el-table-column>
                  </el-table>
                </div>
              </el-tab-pane>
            </el-tabs>
          </div>
        </el-tab-pane>
        <el-tab-pane label="建设计划" name="plan" class="tabs-item">
          <div class="content-wrapper" style="padding:20px;height: 680px;">
            <img class="cover-pic" src="@/views/img/hhl/plan.png" alt="">
          </div>
        </el-tab-pane>
        <el-tab-pane label="入驻企业" name="enterprise" class="tabs-item">
          <div class="content-wrapper" style="padding:10px;height: 680px;">
            <CompanyList></CompanyList>
          </div>
        </el-tab-pane>
      </el-tabs>
    </div>
  </div>
</template>
<script>

// import AttributeAnalysis from './attribute/index.vue'
import CompanyList from '../../../../companyList/index.vue'
// import LeasePropertyAnalysis from './leaseProperty/index.vue'
import { closeModal } from '@/until/bigUrl.js'
export default {
  name: 'statisticAnalysis',
  components: { CompanyList },
  data() {
    return {
      activeName: 'position',
      activeName1: 'type',
      titleName: '',
      parkIntro: '红花岭工业南区项目。项目位于留仙大道南侧，紧邻地铁轨道五号线大学城站。园区占地面积约17.9万平方米，建筑面积约27.7万平方米。通过收购项目开发权，重新调整专项规划，“分期分宗”陆续实施园区城市更新。项目东、西区分别作为一期和二期实施城市更新，一期计划于2022年1月开工建设，预计2.5年内完工……。',
      //项目指标
      targetList: [
        { col1: '建筑面积（万㎡）', col2: 27.67, col3: 80, col4: '289%', type: 1 },
        { col1: '建筑容积率', col2: 1.7, col3: 7.2, col4: '424%', type: 1 },
        { col1: '楼从数量（层）', col2: '5-8层', col3: '约20层', col4: '-', type: 0 },
        { col1: '厂房（万㎡）', col2: 17, col3: 49.77, col4: '293%', type: 1 },
        { col1: '产业研发用房（万㎡）', col2: 0, col3: 5.22, col4: '-', type: 0 },
        { col1: '配套商业（万㎡）', col2: 0, col3: 2.21, col4: '-', type: 0 },
        { col1: '配套宿舍（万㎡）', col2: 2.34, col3: 20.02, col4: '856%', type: 1 },
        { col1: '公共配套（万㎡）', col2: 0, col3: 1.34, col4: '-', type: 0 },
      ]
    }
  },
  created() {

  },

  methods: {
    close() {
      closeModal(6)
    }
  }
}
</script>

<style lang="less" scoped>
@import "./index.less";
</style>
