<template>
  <div class="propertyAnalysis">
    <div class="business-tas" v-if="tableShow">
      <div class="table-analysis" :style="{borderBottom: (tableData.length===0 ? '1px solid #336b6c': '') }">
        <el-table :data="tableData" align='center' header-align='center'>
          <el-table-column label="序号" type="index" width="50">
          </el-table-column>

          <el-table-column prop="name" label="楼栋">
            <template slot-scope="scope">
              <el-popover placement="top-start" trigger="hover" :content="scope.row.name">
                <span slot="reference"> {{ scope.row.name | ellipsis(10)}}</span>
                <!-- <span slot="reference"> {{ scope.row.name}}</span> -->
              </el-popover>
            </template>
          </el-table-column>
          <el-table-column prop="buildTotalArea" label="建筑面积（㎡）"></el-table-column>
          <el-table-column prop="rentedArea" label="已出租面积（㎡）"></el-table-column>
          <el-table-column prop="vacantArea" label="空置面积"></el-table-column>
          <el-table-column prop="avgPrice" label="平均租金"></el-table-column>
          <el-table-column prop="qyCount" label="当前入驻企业数"></el-table-column>
          <el-table-column label="操作" align="center">
            <template slot-scope="scope">
              <div @click="handleAddEditSee(scope.row)" style="color:#00D5FF">查看</div>
            </template>
          </el-table-column>
        </el-table>
      </div>
      <div class="table-pagination">
        <el-pagination background :data="tableData" @current-change="handleCurrentChange" :current-page.sync="currentPage" :page-size="pagesize" layout="total, prev, pager, next" :total="totalNum">
        </el-pagination>
      </div>
    </div>
    <div class="business-tas" v-if="!tableShow">
      <div class="table-analysis" :style="{borderBottom: (tableData.length===0 ? '1px solid #336b6c': '') }">
        <el-table :data="tableData" align='center' header-align='center'>
          <el-table-column label="序号" type="index" width="50">
          </el-table-column>

          <el-table-column prop="name" label="物业资产名称">
            <template slot-scope="scope">
              <el-popover placement="top-start" trigger="hover" :content="scope.row.name">
                <!-- <span slot="reference"> {{ scope.row.name | ellipsis(10)}}</span> -->
                <span slot="reference"> {{ scope.row.name}}</span>
              </el-popover>
            </template>
          </el-table-column>
          <el-table-column prop="buildTotalArea" label="建筑面积（㎡）"></el-table-column>
          <el-table-column prop="rentedArea" label="已出租面积（㎡）"></el-table-column>
          <el-table-column prop="vacantArea" label="空置面积m²"></el-table-column>
          <!-- <el-table-column prop="buildArea" label="状态"></el-table-column> -->
          <el-table-column prop="qyCount" label="当前入驻企业数"></el-table-column>
          <!-- <el-table-column prop="buildArea" label="上一次入驻企业"></el-table-column> -->
          <!-- <el-table-column prop="buildArea" label="上一次退房时间"></el-table-column> -->
        </el-table>
      </div>
      <div class="table-pagination">
        <el-pagination background :data="tableData" @current-change="handleCurrentChange" :current-page.sync="currentPage" :page-size="pagesize" layout="total, prev, pager, next" :total="totalNum">
        </el-pagination>
      </div>
    </div>

  </div>
</template>
<script>
import { parkHouseInfoList } from '@/views/request'

export default {
  data () {
    return {
      tableShow: false,
      currentID: '',
      formInline: {
        search: ''
      },
      currentPage: 1,
      pagesize: 15,
      totalNum: 0,
      mark: 0,
      tableData: []
    }
  },
  created () {
    this.currentID = this.$route.query.id
    this.getDataList()
  },
  filters: {
    ellipsis (value, limit) {
      if (!value) return ''
      if (value.length > limit) {
        return value.slice(0, limit) + '...'
      }
      return value
    }
  },
  methods: {
    handleAddEditSee (item) {
      console.log('点击了查看')
    },
    handleCurrentChange (currentPage) {
      this.currentPage = currentPage
      this.getDataList()
    },
    getDataList () {
      let obj = {
        p: this.currentPage,
        size: this.pagesize,
        index: this.currentID
      }
      this.list(obj)
    },
    list (obj) {
      this.mark += 1
      parkHouseInfoList(obj).then(res => {
        this.totalNum = res.data.data.total
        this.tableData = res.data.data.list
      })
    }
  }
}
</script>

<style lang="less" scoped>
@import "./index.less";
</style>
