.simulationCalculation {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    // border: 1px solid #00d5ff;
    box-shadow: 0px 0px 0px 2px #000 inset;
    .form-content{
      display: flex;
      justify-content: space-between;
      .form-box{
        flex:1;
      }
    }
    /deep/.el-form-item__label{
      padding: 0;
      color: #fff;
    }
    /deep/.el-input__inner{
      height: 30px;
      background-color: rgba(0,0,0,0.3);
      border: 1px solid #17424b;
      color: #4bc6c1;
    }
    .btn-result /deep/.el-input__inner{
      font-size: 18px;
      text-align: right;
    }
    .form-item-result{
      position:relative;
      .unit{
        color: #fff;
        position:absolute;
        right: -30px;
        top: 0px;
      }
    }

  }
  
