<template>
  <div class="index_main">
    <div class="index-conter">
      <div class="index_aside_right">
              <el-menu
               class="el-menu-vertical-demo"
               @open="handleOpen"
               @close="handleClose"
               text-color="#333"
               :collapse="!isCollapse"
               :unique-opened="true"
               :default-active="$route.path"
               :default-openeds="openeds"
               active-text-color="#1286FF"
               >
               <NavMenu :menuData="menuData"></NavMenu>
               </el-menu>
      </div>
      </div>

  </div>
</template>
<script>
import NavMenu from '@/components/nav/NavMenu.vue'
import {openModal} from '@/until/bigUrl.js'
import { bigScreenData } from './request'
export default {
  components: {NavMenu},
  data () {
    return {
      isCollapse: true,
      activeIndex: '',
      openeds: ['2-1'],
      menuData: [
        {
          imgUrl: require('@/components/nav/img/01.png'),
          name: '首页',
          routerPath: '/home',
          id: '1',
          bgdeep: require('@/components/nav/img/bg.png'),
          bg: require('@/components/nav/img/normal.png'),
          activeImg: require('@/components/nav/img/01-1.png'),
          sysMenusList: []
        },
        {
          imgUrl: require('@/components/nav/img/02.png'),
          name: '政府物业',
          routerPath: '/governmentProperty',
          id: '2',
          bgdeep: require('@/components/nav/img/bg.png'),
          bg: require('@/components/nav/img/normal.png'),
          activeImg: require('@/components/nav/img/02-1.png'),
          expand: false,
          sysMenusList: [
            {
              imgUrl: require('@/components/nav/img/2-1.png'),
              name: '产业用房及孵化园区',
              routerPath: '/estateHous',
              id: '2-1',
              num: 0,
              bg: require('@/components/nav/img/bg_6.png'),
              sysMenusList: []

            },
            {
              imgUrl: require('@/components/nav/img/2-2.png'),
              name: '办公用房',
              num: 0,
              id: '2-2',
              routerPath: '/officeHouse',
              bg: require('@/components/nav/img/bg_6.png'),
              sysMenusList: []
            },
            {
              imgUrl: require('@/components/nav/img/2-3.png'),
              name: '公共服务设施',
              num: 0,
              id: '2-3',
              routerPath: '/publicFacilitie',
              bg: require('@/components/nav/img/bg_6.png'),
              sysMenusList: []
            },
            {
              imgUrl: require('@/components/nav/img/2-4.png'),
              name: '商业',
              routerPath: '/business',
              num: 0,
              id: '2-4',
              bg: require('@/components/nav/img/bg_6.png'),
              sysMenusList: []
            },
            {
              imgUrl: require('@/components/nav/img/2-5.png'),
              name: '住宅',
              routerPath: '/residence',
              num: 0,
              id: '2-5',
              bg: require('@/components/nav/img/bg_6.png'),
              sysMenusList: []
            },
            {
              imgUrl: require('@/components/nav/img/2-6.png'),
              name: '租赁社会物业',
              routerPath: '/rentSociety',
              num: 0,
              id: '2-6',
              bg: require('@/components/nav/img/bg_6.png'),
              sysMenusList: []
            }
          ]
        },
        {
          imgUrl: require('@/components/nav/img/03.png'),
          name: '国企物业',
          routerPath: '/stateProperty',
          id: '3',
          bgdeep: require('@/components/nav/img/bg.png'),
          bg: require('@/components/nav/img/normal.png'),
          activeImg: require('@/components/nav/img/03-1.png'),
          expand: false,
          sysMenusList: [
            {
              imgUrl: require('@/components/nav/img/03-2.png'),
              name: '深汇通',
              routerPath: '/shenHuiTong',
              id: '3-2',
              num: 0,
              bg: require('@/components/nav/img/bg_6.png'),
              sysMenusList: []

            },
          ]
        },
        {
          imgUrl: require('@/components/nav/img/04.png'),
          name: '社会物业',
          routerPath: '',
          id: '4',
          bg: require('@/components/nav/img/nav_disable.png'),
          isDisabled: true,
          sysMenusList: []
        },
        {
          imgUrl: require('@/components/nav/img/05.png'),
          name: '集体物业',
          routerPath: '',
          id: '5',
          bg: require('@/components/nav/img/nav_disable.png'),
          isDisabled: true,
          sysMenusList: []
        }

      ]
    }
  },
  created () {
    bigScreenData().then((res) => {
      this.recursion(this.menuData[1].sysMenusList, res.data.data)
    })
    openModal(11, '/index', () => {
      openModal(1, '/home', () => {})
    })
  },
  methods: {
    recursion (payload, data) {
      const {cyNum, bgNum, ggNum, syNum, zzNum, zlNum} = data
      let arr = []
      Array.isArray(payload) && payload.length > 0 && payload.forEach((item) => {
        if (item.id === '2-1') {
          item.num = cyNum
        } else if (item.id === '2-2') {
          item.num = bgNum
        } else if (item.id === '2-3') {
          item.num = ggNum
        } else if (item.id === '2-4') {
          item.num = syNum
        } else if (item.id === '2-5') {
          item.num = zzNum
        } else if (item.id === '2-6') {
          item.num = zlNum
        }
        arr.push(item)
      })
      this.menuData[1].sysMenusList = arr
    },

    handleOpen (key, keyPath) {
      console.log(key, keyPath)
    },
    handleClose (key, keyPath) {
      console.log(key, keyPath)
    }
  }
}
</script>

<style lang="less" scoped>
.index_main{
    .index_aside_right{
       width: 360px;
       height: 934px;
       box-sizing: border-box;
       background: url(./img/ce_right.png) no-repeat center;
       background-size:100% 100%;
    }
}
 /deep/.el-menu{
        background-color: transparent !important;
        border-right:none !important;
    }

</style>
