.propertyAnalysis{
  box-sizing: border-box; 
  box-shadow: 0 0 2px 2px rgba(24, 23, 23, 0.3) inset;
  padding: 10px 0px;
  height: 680px;
  .list-tit{
    width: 100%;
    padding: 0px 10px;
    .left{
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 14px;
      color: #fff;
      .census-base{
        margin-right:20px;
        color: #fff;
        padding-left: 10px;
        height: 40px;
        line-height: 40px;
        font-size: 14px;
        box-sizing: border-box;
        margin-right: 12px;
        .vertical-line{
          display: inline-block;
          position: relative;
          top: 2px;
          height: 14px;
          width: 4px;
          background-color: #00D5FF;
          margin-right: 6px;
          margin-top: 9px;
        }
        .title-name{
          display: inline-block;
          margin-right: 24px;
        }
      }
    }
  }
    .business-tas{
      width: 100%;
      margin-bottom: 14px;
    }
      .table-analysis{
        height: 480px;
        margin: 10px 20px;
        // border: 1px solid #336b6c;
        // border-top: 1px solid #336b6c;
        // border-left: 1px solid #336b6c;
        // border-right: 1px solid #336b6c;
        // border-bottom: 1px solid #336b6c;
      }
      .form-search{
        margin: 0 20px;
        .form-item{
           display: flex;
        }
      }
      .form{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
      }
      .table-pagination{
        margin-top: 14px;
        margin-bottom: 14px;
        margin-right: 10px;
        display: flex;
        justify-content: flex-end;
      }
      .el-input{
        margin-right: 10px;
      }
      /deep/.el-form-item__label{
        color:#fff;
        width: 70px;
        text-align: right;
        padding:0;
      }
      .change-label-calss /deep/.el-form-item__label{
        width: 100px;
      }
      .change-label-first /deep/.el-form-item__label{
        width: 100px;
      }
      /deep/.el-select-dropdown {
        top:30px !important;
        left:0 !important;
        background-color: #2f2f30;
        border: 1px solid #336b6c;
      }
      /deep/.el-select-dropdown__item {
        color: #fff;
      }
      /deep/.el-select-dropdown__item.hover{
        background-color: rgba(0, 0, 0, 0.3);
      }
      /deep/.popper__arrow {
        border-bottom-color: #336b6c;
      }
      /deep/.popper__arrow::after {
        border-bottom-color: rgba(0, 0, 0, 0.7);
      }
      /deep/.el-button{
        width: 66px;
        height: 30px;
        background:url('~@/views/img/text_bg.png') no-repeat center;
        background-size: 100% 100%;
        border:none;
        padding:0;
        color:#fff;
      }
  
      /deep/.el-button:hover{
        background-color: #00D5FF;
      }
      /deep/.el-input__inner{
        height: 28px;
        line-height: 28px;
        background-color: rgba(0,0,0,0.3);
        border-color: #336b6c;
        color:#fff;
      }

      /deep/.el-table{
        background-color: transparent;
      }
      /deep/.el-table::before{
        background-color: transparent;
      }
      /deep/.el-table th, /deep/.el-table tr{
        background-color: transparent; 
      }
      /deep/.el-table td, /deep/.el-table th{
        padding:0;
        color: #fff;
      }
      /deep/.el-table th>.cell{
        padding-right: 0;
      }
      /deep/.el-table .cell{
        padding-right: 0;
        padding-left: 0;
        text-align: center;
      }
    
      /deep/.el-table--border::after{
        background-color: transparent;
      }

      /deep/.el-table td, 
      /deep/.el-table th.is-leaf{
        border-bottom: none;
      }

      /deep/.el-table--border{
        border: 1px solid #336b6c;
      }

      /deep/.el-table--border th.gutter:last-of-type{
        border-bottom:none;
        border-bottom-width:0;
      }
      /deep/.el-table--border th{
        border-right: 0;
      }
      /deep/.el-table--border td{
         border: none;
         border-top: 1px solid #336b6c;
       }

      /deep/.el-table__body{
        width: 100% !important;
      }

      /deep/.el-table__body-wrapper, 
      /deep/.is-scrolling-left{
        height: 100% !important;
        width: 100% !important;
      }
    

      /deep/.el-table__row>td:first-child{
        // border-left: 1px solid #336b6c;
        background-color: #2f2f30;
      }

      // /deep/.el-table__row>td:last-child{
        // border-bottom: none;
        // background-color: red;
        // border-bottom: none;
      // }

      .table-name{
        /deep/.el-table__body-wrapper{
          box-shadow: -205px 0 0 -100px #2f2f30 inset;
        }
      }
       
      // /deep/.el-table__row{
      //   border: 1px solid #336b6c;
      //   border-bottom: none;
      //   // background-color: #2f2f30;
      // }

      // /deep/.el-table__row{
      //   background-color: red;
      // }

       /deep/.el-table__fixed{
        // height: 100% !important; 
        background-color: #2f2f30 !important;
        // border-left: 1px solid #336b6c !important;
        bottom: 5px !important;
      }
      /deep/.el-table__fixed-right{
        // height: 100% !important;
        background-color: #2f2f30 !important;
        // border-right: 1px solid #336b6c !important;
        bottom: 5px !important;
        right: 5px !important;
        // border-color: #78b1ba;
        }

      /deep/.el-table__fixed-right-patch{
          width: 5px !important;
          background-color: #212122;
          border-color: #212122;
      }
    
      /deep/.el-table__fixed-right::before, 
      /deep/.el-table__fixed::before{
          background-color: transparent !important;
        }

      /deep/.el-table__body tr:hover{
        color: rgb(18, 157, 250);
        cursor: pointer;
      }
      .table-header-class{
      /deep/.el-table__header{
        border-top: 1px solid #336b6c !important;
        // border-left: 1px solid #336b6c !important;
        // border-right: 1px solid #336b6c !important;
        }
      }
      /deep/tbody tr:hover>td, /deep/tbody tr.hover-row>td { 
        background-color:#66b1ff; 
      }
      /deep/th.is-leaf{
        background-color: rgba(0,0,0,0.3);
      }

      /deep/.el-form-item{
        margin-bottom: 0;
      }
      /deep/.btn-next, /deep/.btn-prev{
         background-color: rgba(255,255,255,0.3); 
         border: 1px solid rgba(255,255,255,0.3);
         color: #fff;
      }
      /deep/.el-pagination__total{
         color: #fff;
      }
      /deep/.el-pager li{
        background-color: rgba(255,255,255,0.3); 
        border: 1px solid rgba(255,255,255,0.3);
        color: #fff;
      }
      /deep/.el-pagination.is-background .el-pager li:not(.disabled).active{
        background-color:#00FFFF;
        border: none;
      }
      /deep/.el-dialog{
        background: url("~@/views/common/biger.png") no-repeat center;
        background-size: 100% 100%;
      }
      /deep/.el-dialog__header{
        padding:10px 20px 10px;
      }
      /deep/.el-dialog__body{
        padding: 0 20px 20px 20px;
      }
      /deep/.el-dialog__title{
        font-size: 14px;
        color: #fff;
      }
      /deep/.el-dialog__headerbtn, 
      /deep/.el-dialog__close{
        color: #fff;
      }
      /* 定义滚动条样式 */
      ::-webkit-scrollbar {
        width: 5px; // 横向滚动条
        height: 7px; // 纵向滚动条 必写
        background-color: #0b8195;
      }
      /* scrollbar-corner：边角，两个滚动条的交汇处*/
      ::-webkit-scrollbar-corner{
        background-color: #7db8c2 !important;
       }
      /*定义滚动条轨道 内阴影+圆角*/
      ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 0px rgba(240, 240, 240, 0.5);
        // border-radius: 20px;
        background-color: rgba(240, 240, 240, 0.5);
      }
      /*定义滑块 内阴影+圆角*/
      ::-webkit-scrollbar-thumb {
        height: 7px;
        // border-radius: 20px;
        box-shadow: inset 0 0 0px rgba(240, 240, 240, 0.5);
        background-color:  #0b8195;
      }
   
}