<template>
  <div class="propertyAnalysis">
    <div class="business-tas">
      <div class="list-tit">
        <div class="left">
          <div class="census-base">
             <span class="vertical-line"></span>
             <span class="title-name">物业退租原因明细列表</span>
            <span>总数：<span style="color:#00D5FF;">
              {{totalNum ? totalNum : '--'}}</span>&nbsp;&nbsp;项
            </span>
            </div>
          <div style="margin-right:30px;"><el-button type="primary" style="margin-left:12px;" @click="goBack({'active' :'propertyAnalysis'})">返回</el-button></div>
        </div>
      </div>
       <div class="form-search">
        <el-form :model="formInline" ref="form" class="form">
        <el-form-item label="退租园区：" class="form-item">
          <el-select placeholder="请选择" v-model="formInline.wyname"  :popper-append-to-body="false">
            <el-option v-for="item in rentPark" :key="item.name" :label="item.name" :value="item.value">
            </el-option>
          </el-select>
        </el-form-item>

        <el-form-item label="退房年份：" class="form-item change-label-first" style="margin-left:30px;">
          <el-select placeholder="请选择" v-model="formInline.year" :popper-append-to-body="false">
            <el-option v-for="item in rentYear" :key="item.name" :label="item.name" :value="item.value">
            </el-option>
          </el-select>
        </el-form-item>

        <el-form-item label="退租类型：" class="form-item change-label-first" style="margin-left:30px;">
          <el-select placeholder="请选择" v-model="formInline.tztype" :popper-append-to-body="false">
            <el-option v-for="item in rentType" :key="item.name" :label="item.name" :value="item.value">
            </el-option>
          </el-select>
        </el-form-item>

        <el-form-item label="退租原因：" class="form-item">
          <el-select placeholder="请选择" v-model="formInline.tzresion" :popper-append-to-body="false">
            <el-option v-for="item in rentReason" :key="item.name" :label="item.name" :value="item.value">
            </el-option>
          </el-select>
        </el-form-item>

        <el-form-item label="退租企业名称：" class="form-item change-label-calss" style="margin-left:30px;">
            <el-input v-model="formInline.name" placeholder="请输入" style="width:218px;"></el-input>
        </el-form-item>

            <el-form-item style="margin-left:106px;">
              <div style="display: flex;">
              <el-button type="primary" style="margin-left:12px;" @click="getDataList">查询</el-button>
              <el-button type="primary" style="margin-left:18px;" @click="getReset">重置</el-button>
              </div>
            </el-form-item>
          </el-form>
      </div>
      <div class="table-analysis">
        <el-table border :data="tableData" align='left' style="width: 100%" max-height="480" :class="tableData.length>0 ? 'table-name' : ''">
         <el-table-column
             label="序号"
             type="index"
             width="50"
             align="center"
             :fixed="tableData.length>0 ? 'left' :false"
             >
            <!-- <template slot-scope="scope">
            <span>{{(Number(formInline.p) - 1) * Number(formInline.size) + Number(scope.$index) + 1}}</span>
           </template> -->
         </el-table-column>

          <el-table-column prop="name" label="退租企业名称" align='left'></el-table-column>
          <el-table-column prop="wyname" label="退租园区"></el-table-column>
          <el-table-column prop="tftime" width="120px" label="退房日期"></el-table-column>
          <el-table-column prop="tztype" width="120px" label="退租类型"></el-table-column>
          <el-table-column prop="tzresion" label="退租原因"></el-table-column>

          <el-table-column label="详细原因"
          align="center"
          width="100"
          :fixed="tableData.length > 0 ? 'right' : false"
          >
            <template slot-scope="scope">
              <div @click="handleAddEditSee(scope.row)" style="color:#00ffff;">查看</div>
            </template>
          </el-table-column>
        </el-table>
      </div>
      <div class="table-pagination">
        <el-pagination
        background
        :data="tableData"
        @current-change="handleCurrentChange"
        :current-page.sync="formInline.p"
        :page-size="formInline.size"
        layout="total, prev, pager, next"
        :total="totalNum"
        >
        </el-pagination>
      </div>
      <div>
      <el-dialog title="详情原因"
      :visible.sync="dialogVisible"
      width="60%"
      top="20vh"
      >
        <Calculation :fullResion="fullResion"></Calculation>
      </el-dialog>
    </div>
    </div>

  </div>
</template>
<script>
import {rentData} from '@/views/request'
import Calculation from './calculation'
export default {
  props: {rentReasonsPayload: Object},
  components: {Calculation},
  data () {
    return {
      formInline: {
        name: '',
        tzresion: '',
        tztype: '',
        wyname: '',
        year: '',
        p: 1,
        size: 20
      },
      totalNum: 0,
      fullResion: '',
      tableData: [],
      dialogVisible: false,
      rentPark: [
        {name: '全选', value: ''},
        {name: '方大城（方大广场）', value: '方大城（方大广场）'},
        {name: '南山软件园', value: '南山软件园'},
        {name: '南山智园（二期）', value: '南山智园（二期）'},
        {name: '南山智园（三期）崇文园区', value: '南山智园（三期）崇文园区'},
        {name: '南山智园（一期）', value: '南山智园（一期）'},
        {name: '塘朗城广场（西区）A座', value: '南山智园（二期）'},
        {name: '阳光科创中心一期A座', value: '南山智园（二期）'}

      ],
      rentYear: [
        {name: '全选', value: ''},
        {name: '2018', value: '2018'},
        {name: '2019', value: '2019'},
        {name: '2020', value: '2020'}
      ],
      rentType: [
        {name: '全选', value: ''},
        {name: '期满终止', value: '期满终止'},
        {name: '提前终止', value: '提前终止'}
      ],
      rentReason: [
        {name: '全选', value: ''},
        {name: '更换办公地点', value: '更换办公地点'},
        {name: '合同到期', value: '合同到期'},
        {name: '经营战略调整', value: '经营战略调整'},
        {name: '人员变动', value: '人员变动'},
        {name: '提前退租', value: '提前退租'},
        {name: '外迁', value: '外迁'},
        {name: '与项目合作方中止合作', value: '与项目合作方中止合作'},
        {name: '变更面积', value: '变更面积'},
        {name: '不满足续租条件', value: '不满足续租条件'},
        {name: '场地不满足企业发展需求', value: '场地不满足企业发展需求'},
        {name: '承租主体变更', value: '承租主体变更'},
        {name: '经营问题', value: '经营问题'},
        {name: '期满退房', value: '期满退房'},
        {name: '期满退租', value: '期满退租'},
        {name: '违反租赁合同条例', value: '违反租赁合同条例'},
        {name: '拖欠租金', value: '拖欠租金'}
      ]
    }
  },
  created () {
    this.formInline.tzresion = this.rentReasonsPayload.tzresion ? this.rentReasonsPayload.tzresion : ''
    this.formInline.year = this.rentReasonsPayload.year ? this.rentReasonsPayload.year : ''
    this.getDataList()
  },
  watch: {
    rentReasonsPayload: function (val) {
      this.formInline.tzresion = val.tzresion ? val.tzresion : ''
      this.formInline.year = val.year ? val.year : ''
      this.getDataList()
    },
    deep: true
  },
  methods: {
    goBack (val) {
      this.$emit('event', val)
    },

    getDataList () {
      rentData(this.formInline).then((res) => {
        if (res.data.code === 0) {
          let {list, p, size, total} = res.data.data
          this.tableData = list
          this.totalNum = total
          this.currentPage = p
          this.pagesize = size
        }
      })
    },

    handleCurrentChange (currentPage) {
      this.formInline.p = currentPage
      this.getDataList()
    },

    getReset () {
      this.formInline.name = ''
      this.formInline.tzresion = ''
      this.formInline.tztype = ''
      this.formInline.wyname = ''
      this.formInline.year = ''
      this.formInline.p = 1
      this.formInline.size = 20
      this.getDataList()
    },

    handleAddEditSee (item) {
      this.fullResion = item.resion
      this.dialogVisible = true
    }
  }
}
</script>

<style lang="less" scoped>
@import "./index.less";
</style>
