<template>
  <div class="enterpriseAnalysis">
    <div style=" display: flex; margin-bottom:12px;">
      <div style="margin-right:12px;">
        <div class="census-base"><span class="vertical-line"></span>园区入驻企业各行业占比情况</div>
        <div class="echarts-left">
          <div ref="officeRoot" class="echarts-root"></div>
          <div ref="office" class="echarts-data"></div>
        </div>
      </div>

      <div>
        <div class="census-base"><span class="vertical-line"></span>园区预到期合同数量统计</div>
        <div ref="into" class="echarts-right"></div>
      </div>

    </div>

    <div>
      <div class="census-base"><span class="vertical-line"></span>入驻企业列表</div>
      <div class="business-tas">
        <el-form :model="formInline" ref="form" class="form">
          <el-form-item>
            <el-input style="width:250px;margin-right:10px;" v-model="formInline.region" placeholder="请输入楼层及房号"></el-input>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="onSubmit">查询</el-button>
          </el-form-item>
        </el-form>
        <div class="table-analysis" :style="{borderBottom: (tableData.length===0 ? '1px solid #336b6c': '') }">
            <el-table border :data="tableData" align='left' style="width: 100%" max-height="190" :class="tableData.length>0 ? 'table-name' : ''">
            <el-table-column label="序号"
             type="index"
             width="50"
             align="center"
             :fixed="tableData.length>0 ? 'left' :false">
            </el-table-column>

            <el-table-column sortable prop="name" width="300" label="企业名称"></el-table-column>
            <el-table-column sortable prop="roomNumber" width="300" label="楼层及房号">
              <!-- <template slot-scope="scope"> -->
                <!-- <el-popover placement="top-start" trigger="hover" :content="scope.row.name"> -->
                  <!-- <span slot="reference"> {{ scope.row.name | ellipsis(10) }}</span> -->
                  <!-- <span slot="reference"> {{ scope.row.roomNumber}}</span> -->
                <!-- </el-popover> -->
              <!-- </template> -->
            </el-table-column>
            <el-table-column sortable align="center" width="200" prop="" label="租赁面积(m²)">
              <template slot-scope="scope">
                  <span> {{ scope.row.buildArea?scope.row.buildArea:'--'}}</span>
              </template>
            </el-table-column>
            <el-table-column sortable align="center" width="200" prop="cz" label="上年度产值营收(亿元)">
              <template slot-scope="scope">
                  <span> {{ scope.row.cz?scope.row.cz:'--'}}</span>
              </template>
            </el-table-column>
            <el-table-column sortable align="center" width="200" label="单位面积产值(万元/m²)">
            <template slot-scope="scope">
                  <span> {{ scope.row.cz!==null&& scope.row.buildArea!==null?(scope.row.cz/ scope.row.buildArea*10000).toFixed(2):'--'}}</span>
              </template>
            </el-table-column>
            <el-table-column sortable align="center" width="200" prop="total" label="上年度纳税(元)">
              <template slot-scope="scope">
                  <span> {{ scope.row.total?scope.row.total:'--'}}</span>
              </template>
            </el-table-column>
            <el-table-column sortable align="center" width="200" prop="total" label="单位面积纳税(元)">
              <template slot-scope="scope">
                  <span> {{ scope.row.ns?scope.row.ns:'--'}}</span>
              </template>
            </el-table-column>
            <el-table-column sortable align="center" width="200" prop="" label="财力贡献(元)">
              <template slot-scope="scope">
                  <span> {{ scope.row.clgx?Math.round(Number(scope.row.clgx) * 100) / 100:'--'}}</span>
              </template>
            </el-table-column>
            <el-table-column sortable align="center" width="200" prop="bknum" label="社保人数">
              <template slot-scope="scope">
                  <span> {{ scope.row.bknum?scope.row.bknum:'--'}}</span>
              </template>
            </el-table-column>
            <el-table-column sortable align="center" width="200" prop="" label="人均办公面积">
              <template slot-scope="scope">
                  <span> {{ scope.row.buildArea!==null&&scope.row.bknum!==null?(scope.row.buildArea/scope.row.bknum).toFixed(2):'--'}}</span>
              </template>
            </el-table-column>
            <el-table-column
            align="center"
           width="100"
          :fixed="tableData.length > 0 ? 'right' : false"
           label="操作">
            <template slot-scope="scope">
              <div @click="handleAddEditSee(scope.row)" style="color:#00D5FF">查看</div>
            </template>
          </el-table-column>
          </el-table>
        </div>
        <div class="table-pagination">
          <el-pagination background :data="tableData" @current-change="handleCurrentChange" :current-page.sync="currentPage" :page-size="pagesize" layout="total, prev, pager, next" :total="totalNum">
          </el-pagination>
        </div>
      </div>
    </div>

  </div>
</template>
<script>
import * as echarts from 'echarts'
import optionPie from '@/views/common/pieOptions'
import rootOptionPie from '@/views/common/rootOptions'
import barOptions from './barOption.js'
import { openModal } from '@/until/bigUrl.js'
import { settleCompanyList, parkStatistics } from '@/views/request'

export default {

  data () {
    return {
      currentID: '0035220182b64e0aa034af2c68620738',
      currentPage: 1,
      pagesize: 5,
      pagelist: [],
      totalNum: 0,
      formInline: {
        region: ''
      },
      tableData: [],
      pieData: {
        data: [
          { value: 0, name: '其他专业技术服务业' },
          { value: 0, name: '无线广播电视传输服务' },
          { value: 0, name: '其他未列明信息技术服务业' },
          { value: 0, name: '化学药品制剂制造' },
          { value: 0, name: '机械设备、五金产品及电子产品批发' },
          { value: 0, name: '其它' }
        ],
        color: [
          '#198cff', '#00ffff', '#0dffa1', '#ffc619',
          '#ff8c19', '#ff198c', '#c619ff', '#c519ff',
          '#188eff', '#19c4fc', '#febf00', '#ff8b19',
          '#fd1b8b'
        ],
        verticalHorizontal: 'vertical',
        seriesLeft: '-52%',
        seriesTop: '9.6%',
        val: 1,
        unit: '处',
        legendTop: '23%',
        legendLeft: '47%',
        titleTop: '37%',
        titleLeft: '24%',
        total: '总数',
        ringWidth: 100,
        ringHeight: 100,
        basemap: [150, 68],
        ringRadius: ['50%', '62%'],
        ringCenter: ['50%', '41%']
      },
      barData: {
        xAxisDtat: ['预到期≤3个月', '3个月＜预到期≤6个月', '6个月＜预到期≤12个月'],
        yAxisDataz: [0, 0, 0]
      }
    }
  },
  created () {
    this.currentID = this.$route.query.id
    this.getDataList()
  },
  filters: {
    ellipsis (value, limit) {
      if (!value) return ''
      if (value.length > limit) {
        return value.slice(0, limit) + '...'
      }
      return value
    }
  },
  methods: {
    handleAddEditSee (row) {
      console.log(row, 'row')
      openModal(6, '/companyDetail?code=' + row.code + '&mark=' + 'analysis' + '&id=' + this.currentID, () => { })
    },
    onSubmit () {
      let obj = {
        p: 1,
        size: this.pagesize,
        index: this.formInline.region,
        type: this.currentID
      }
      this.list(obj)
    },
    handleCurrentChange (currentPage) {
      this.currentPage = currentPage
      this.getDataList()
    },
    getDataList () {
      let obj = {
        p: this.currentPage,
        size: this.pagesize,
        index: '',
        type: this.currentID
      }
      this.list(obj)
    },
    list (obj) {
      settleCompanyList(obj).then(res => {
        this.totalNum = res.data.data.total
        this.tableData = res.data.data.list
      })
    }
  },
  mounted () {
    // 产业用房扶持企业各行业占比情况
    let officeChart = echarts.init(this.$refs.office)

    // 政府及国企物业产业用房近5年退租数、入住数对比
    let intoChart = echarts.init(this.$refs.into)
    intoChart.showLoading({
      text: '正在加载···', // 显示的文本
      effect: 'ring', // 可选为：'spin' | 'bar' | 'ring' | 'whirling' | 'dynamicLine' | 'bubble'
      color: '#00ffff', // 显示转圈的圆圈颜色
      textColor: 'white', // 显示文本的颜色
      maskColor: 'rgba(255,255,255,0)', // 显示的背景色
      zlevel: 0,
      fontSize: 14, // 字体大小。从 `v4.8.0` 开始支持。
      showSpinner: true, // 是否显示旋转动画（spinner）。从 `v4.8.0` 开始支持。
      spinnerRadius: 10, // 旋转动画（spinner）的半径。从 `v4.8.0` 开始支持。
      lineWidth: 3, // 旋转动画（spinner）的线宽。从 `v4.8.0` 开始支持。
      fontWeight: 'normal', // 字体粗细。从 `v5.0.1` 开始支持。
      fontStyle: 'normal', // 字体风格。从 `v5.0.1` 开始支持。
      fontFamily: 'sans-serif' // 字体系列。从 `v5.0.1` 开始支持。
    })

    officeChart.showLoading({
      text: '正在加载···', // 显示的文本
      effect: 'ring', // 可选为：'spin' | 'bar' | 'ring' | 'whirling' | 'dynamicLine' | 'bubble'
      color: '#00ffff', // 显示转圈的圆圈颜色
      textColor: 'white', // 显示文本的颜色
      maskColor: 'rgba(255,255,255,0)', // 显示的背景色
      zlevel: 0,
      fontSize: 14, // 字体大小。从 `v4.8.0` 开始支持。
      showSpinner: true, // 是否显示旋转动画（spinner）。从 `v4.8.0` 开始支持。
      spinnerRadius: 10, // 旋转动画（spinner）的半径。从 `v4.8.0` 开始支持。
      lineWidth: 3, // 旋转动画（spinner）的线宽。从 `v4.8.0` 开始支持。
      fontWeight: 'normal', // 字体粗细。从 `v5.0.1` 开始支持。
      fontStyle: 'normal', // 字体风格。从 `v5.0.1` 开始支持。
      fontFamily: 'sans-serif' // 字体系列。从 `v5.0.1` 开始支持。
    })
    parkStatistics(this.currentID).then((res) => {
      if (res.data.code === 0) {
        intoChart.hideLoading()
        officeChart.hideLoading()
        let {rzList, ydq1Month, ydq3Month, ydq6Month} = res.data.data
        let pieArr = []
        Array.isArray(rzList) && rzList.forEach((item) => {
          let obj = {}
          obj.name = item.name
          obj.value = item.num
          pieArr.push(obj)
        })
        this.pieData.data = pieArr
        officeChart.setOption(optionPie(this.pieData))

        // 环形图底部动画
        let officeRootChart = echarts.init(this.$refs.officeRoot)
        rootOptionPie({
          isTimer: true,
          eChart: officeRootChart,
          step: 6,
          widthNum: 4.18,
          widthInNum: 4.18,
          heightNum: 2.15,
          heightInNum: 2.14,
          outsideLine1: 3.05,
          outsideLine2: 3.33,
          outsideLine3: 5.15,
          color: [
            '#198cff', '#00ffff', '#0dffa1', '#ffc619',
            '#ff8c19', '#ff198c', '#c619ff', '#c519ff',
            '#188eff', '#19c4fc', '#febf00', '#ff8b19',
            '#fd1b8b'
          ]
        })

        let monthNum = []
        monthNum[0] = ydq1Month
        monthNum[1] = ydq3Month
        monthNum[2] = ydq6Month
        this.barData.yAxisDataz = monthNum
        intoChart.setOption(barOptions(this.barData))
      }
    })
  },

  destroyed () {
    optionPie({ isTimer: false })
  }
}

</script>

<style lang="less" scoped>
@import "./index.less";
</style>
