.enterpriseAnalysis {
  box-sizing: border-box;
  box-shadow: 0 0 2px 2px #000 inset;
  .census-base {
    color: #fff;
    padding-left: 14px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    box-sizing: border-box;
    // margin-right: 12px;
    background-color: rgba(0, 0, 0, 0.1);
    .vertical-line {
      display: inline-block;
      position: relative;
      top: 2px;
      height: 14px;
      width: 4px;
      background-color: #00d5ff;
      margin-right: 10px;
      margin-top: 9px;
    }
  }
  .echarts-left {
    width: 500px;
    height: 288px;
    background-color: rgba(0, 0, 0, 0.1);
    position: relative;
    .echarts-root {
      width: 500px;
      height: 288px;
      position: absolute;
      top: 0;
      left: 0;
    }
    .echarts-data {
      width: 500px;
      height: 288px;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .echarts-right {
    width: 640px;
    height: 288px;
    background-color: rgba(0, 0, 0, 0.1);
  }
  .echarts-radar {
    width: 380px;
    height: 288px;
    background-color: rgba(0, 0, 0, 0.1);
  }
  .business-tas {
    // width: 100%;
    height: 300px;
    // margin-bottom: 14px;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 0 12px;
    .table-analysis {
      margin-top: 10px;
      // border-top: 1px solid #336b6c;
      // border-left: 1px solid #336b6c;
      // border-right: 1px solid #336b6c;
    }
    .data-none-border {
      border-bottom: 1px solid #336b6c;
    }
    .form {
      display: flex;
      justify-content: flex-end;
    }
    .table-pagination {
      margin-top: 12px;
      display: flex;
      justify-content: flex-end;
    }
    /deep/.el-button {
      width: 66px;
      height: 30px;
      background: url(../../../../../../img/text_bg.png) no-repeat center;
      background-size: 100% 100%;
      border: none;
      padding: 0;
      color: #fff;
    }
    /deep/.el-button:hover {
      background-color: #00d5ff;
    }
    /deep/.el-input__inner {
      height: 28px;
      line-height: 28px;
      background-color: rgba(255, 255, 255, 0.3);
      border-color: #00d5ff;
      color: #fff;
    }
    /deep/.el-table {
      background-color: transparent;
    }
    /deep/.el-table::before {
      background-color: transparent;
    }
    /deep/.el-table th,
    /deep/.el-table tr {
      background-color: transparent;
    }
    /deep/.el-table td,
    /deep/.el-table th {
      padding: 0;
      color: #fff;
    }
    /deep/.el-table td,
    /deep/.el-table th.is-leaf {
      border-bottom: 1px solid #336b6c;
    }
    /deep/.el-table th > .cell {
      padding-right: 0;
    }
    /deep/.el-table .cell {
      padding-right: 0;
    }
    /deep/.el-table__body tr:hover {
      color: rgb(18, 157, 250);
      cursor: pointer;
    }
    /deep/ tbody tr:hover > td,
    /deep/ tbody tr.hover-row > td {
      background-color: #66b1ff;
    }
    /deep/th.is-leaf {
      background-color: rgba(0,0,0,0.3);
    }
    /deep/.el-form-item {
      margin-bottom: 0;
    }
    /deep/.btn-next,
    /deep/.btn-prev {
      background-color: rgba(255, 255, 255, 0.3);
      border: 1px solid rgba(255, 255, 255, 0.3);
      color: #fff;
    }
    /deep/.el-pagination__total {
      color: #fff;
    }
    /deep/.el-pager li {
      background-color: rgba(255, 255, 255, 0.3);
      border: 1px solid rgba(255, 255, 255, 0.3);
      color: #fff;
    }
    /deep/.el-pagination.is-background .el-pager li:not(.disabled).active {
      background-color: #00ffff;
      border: none;
    }
  }
  /deep/.el-table{
    background-color: transparent;
  }
  /deep/.el-table::before{
    background-color: transparent;
  }
  /deep/.el-table th, /deep/.el-table tr{
    background-color: transparent; 
  }
  /deep/.el-table td, /deep/.el-table th{
    padding:0;
    color: #fff;
  }
  /deep/.el-table th>.cell{
    padding-right: 0;
  }
  /deep/.el-table .cell{
    padding-right: 0;
    padding-left: 0;
    text-align: center;
  }

  /deep/.el-table--border::after{
    background-color: transparent;
  }

  /deep/.el-table td, 
  /deep/.el-table th.is-leaf{
    border-bottom: none;
  }

  /deep/.el-table--border{
    border: 1px solid #336b6c;
  }

  /deep/.el-table--border th.gutter:last-of-type{
    border-bottom:none;
    border-bottom-width:0;
  }
  /deep/.el-table--border th{
    border-right: 0;
  }
  /deep/.el-table--border td{
     border: none;
    //  border-top: 1px solid #336b6c;
   }

  /deep/.el-table__body{
    width: 100% !important;
  }

  /deep/.el-table__body-wrapper, 
  /deep/.is-scrolling-left{
    height: 100% !important;
    width: 100% !important;
  }


  /deep/.el-table__row>td:first-child{
    border-bottom: 1px solid #336b6c !important;
    background-color: #2f2f30;
  }

  /deep/.el-table__row>td:last-child{
    border-bottom: 1px solid #336b6c !important;
  }

  .table-name{
    /deep/.el-table__body-wrapper{
      box-shadow: -205px 0 0 -100px #2f2f30 inset;
    }
  }
   
  
  // /deep/.el-table__row{
  //   border: 1px solid #336b6c;
  //   border-bottom: none;
  //   // background-color: #2f2f30;
  // }

  // /deep/.el-table__row{
  //   background-color: red;
  // }

   /deep/.el-table__fixed{
    // height: 100% !important; 
    background-color: #2f2f30 !important;
    // border-left: 1px solid #336b6c !important;
    bottom: 5px !important;
  }
  /deep/.el-table__fixed-right{
    // height: 100% !important;
    background-color: #2f2f30 !important;
    // border-right: 1px solid #336b6c !important;
    bottom: 5px !important;
    right: 5px !important;
    // border-color: #78b1ba;
    }

  /deep/.el-table__fixed-right-patch{
      width: 5px !important;
      background-color: #212122;
      border-color: #212122;
  }

  /deep/.el-table__fixed-right::before, 
  /deep/.el-table__fixed::before{
      background-color: transparent !important;
    }

  /deep/.el-table__body tr:hover{
    color: rgb(18, 157, 250);
    cursor: pointer;
  }
  .table-header-class{
  /deep/.el-table__header{
    border-top: 1px solid #336b6c !important;
    // border-left: 1px solid #336b6c !important;
    // border-right: 1px solid #336b6c !important;
    }
  }
  /deep/ tbody tr:hover>td,/deep/ tbody tr.hover-row>td { 
    background-color:#66b1ff; 
  }
  /deep/th.is-leaf{
    background-color: rgba(0,0,0,0.3);
  }
 /* 定义滚动条样式 */
::-webkit-scrollbar {
  width: 5px;
  height: 6px;
  background-color: #0b8195;
}

 /* scrollbar-corner：边角，两个滚动条的交汇处*/
 ::-webkit-scrollbar-corner{
  background-color: #7db8c2 !important;
 }

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  height: 3px;
  box-shadow: inset 0 0 0px rgba(240, 240, 240, 0.5);
  // border-radius: 20px;
  background-color: rgba(240, 240, 240, 0.5);
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  height: 3px;
  // border-radius: 20px;
  box-shadow: inset 0 0 0px rgba(240, 240, 240, 0.5);
  background-color:  #0b8195;
}
}
