<template>
  <div class="governmentProperty">
    <div class="title">
      <div>
        <i class="title-icon">|&nbsp;|&nbsp;|</i>
        <span class="title-content">预到期列表</span>
      </div>
      <i class="el-icon-close" style="color:#fff; font-size:18px;" @click="close"></i>
    </div>
    <div class="tabs">
      <DataDetail></DataDetail>
    </div>
  </div>
</template>
<script>

import DataDetail from './dataDetail/index.vue'
import { closeModal } from '@/until/bigUrl.js'
export default {
  components: { DataDetail },
  data () {
    return {
      activeName: 'propertyAnalysis'
    }
  },
  created () {

  },

  methods: {
    close () {
      closeModal(6)
    }
  }
}
</script>

<style lang="less" scoped>
.governmentProperty {
  height: 800px;
  width: 1200px;
  padding: 0 24px;
  box-sizing: border-box;
  border: 1px solid #00d5ff;
  background: url(../../../../img/biger.png) no-repeat center;
  background-size: 100% 100%;
  .title {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #00d5ff;
    padding: 16px 0;
    .title-icon {
      font-size: 12px;
      color: #00d5ff;
      display: inline-block;
      margin-right: 8px;
    }
    .title-content {
      font-size: 16px;
      color: #fff;
    }
  }
  .tabs {
    height: 40px;
    .tabs-main {
      height: 40px;
    }
  }
  /deep/.el-tabs__item {
    font-size: 16px;
    color: #fff;
  }
  /deep/.el-tabs__nav-wrap::after {
    background-color: transparent !important;
  }
  /deep/.el-tabs__item {
    margin-top: 0;
    border: none;
  }
  /deep/.el-tabs__item.is-active {
    color: #00d5ff;
    background-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    background: url(../../../../img/tabsback.png) repeat-x;
    background-size: 100% 100%;
    //    border-bottom: 2px solid #00FFFF;
  }
  // /deep/.el-tabs__item:not(.is-disabled):hover{
  //   color: #fff;
  // }
  /deep/.el-tabs__active-bar {
    background-color: #00d5ff;
  }
  /deep/.el-tabs--border-card > .el-tabs__header {
    background: transparent;
    border: none;
  }
  /deep/.el-tabs--border-card {
    border: none;
    box-shadow: none;
  }
  /deep/.el-tabs__item:focus.is-active.is-focus:not(:active) {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border-radius: 0 !important;
  }
  /deep/.el-tabs--border-card {
    background: transparent;
  }
  /deep/.el-tabs__content {
    padding: 0;
    margin-top: 1px;
  }
}
</style>
