<template>
  <div class="governmentProperty">
    <!-- <div class="header">
      <div>
        <i class="header-icon">|&nbsp;|&nbsp;|</i>
        <span class="header-content">{{titleName}}</span>
      </div>
      <i class="el-icon-close" style="color:#fff; font-size:18px;" @click="close"></i>
    </div> -->
    <div class="form-box">
      <table border="1" cellspacing="0" cellpadding="0" bordercolor="#336b6c">
        <tr>
          <td class="tit" align="right">区级人才类型</td>
          <td class="content">xxx</td>
          <td class="tit" align="right">区级认定有效期</td>
          <td class="content">xxxx</td>
        </tr>
        <tr>
          <td class="tit" align="right">区级认定状态</td>
          <td class="content">xxx</td>
          <td class="tit" align="right">领航卡号</td>
          <td class="content">xxxx</td>
        </tr>
        <tr>
          <td class="tit" align="right">所在单位</td>
          <td class="content" colspan="3">xxx</td>
        </tr>
      </table>
      <div class="form-title">
        <div class="block"></div>
        <div>基本信息</div>
      </div>
      <table border="1" cellspacing="0" cellpadding="0" bordercolor="#336b6c">
        <tr>
          <td class="tit" align="right">姓名</td>
          <td class="content">xxx</td>
          <td class="tit" align="right">证件类型</td>
          <td class="content">xxxx</td>
        </tr>
        <tr>
          <td class="tit" align="right">证件号</td>
          <td class="content">xxx</td>
          <td class="tit" align="right">证件签发机关</td>
          <td class="content">xxxx</td>
        </tr>
        <tr>
          <td class="tit" align="right">证件有效期</td>
          <td class="content">xxx</td>
          <td class="tit" align="right">证件有效期止</td>
          <td class="content">xxxx</td>
        </tr>
        <tr>
          <td class="tit" align="right">证件地址</td>
          <td class="content" colspan="3">xxx</td>
        </tr>
        <tr>
          <td class="tit" align="right">姓名拼音</td>
          <td class="content">xxx</td>
          <td class="tit" align="right">出生日期</td>
          <td class="content">xxxx</td>
        </tr>
        <tr>
          <td class="tit" align="right">性别</td>
          <td class="content">xxx</td>
          <td class="tit" align="right">身份类型</td>
          <td class="content">xxxx</td>
        </tr>
        <tr>
          <td class="tit" align="right">国籍</td>
          <td class="content">xxx</td>
          <td class="tit" align="right">政治面貌</td>
          <td class="content">xxxx</td>
        </tr>
      </table>
      <div class="form-title">
        <div class="block"></div>
        <div>人才信息</div>
      </div>
      <table border="1" cellspacing="0" cellpadding="0" bordercolor="#336b6c">
        <tr>
          <td class="tit" align="right">最高学历</td>
          <td class="content">xxx</td>
          <td class="tit" align="right">最高学位</td>
          <td class="content">xxxx</td>
        </tr>
        <tr>
          <td class="tit" align="right">所学专业</td>
          <td class="content">xxx</td>
          <td class="tit" align="right">从事专业</td>
          <td class="content">xxxx</td>
        </tr>
        <tr>
          <td class="tit" align="right">职业</td>
          <td class="content">xxx</td>
          <td class="tit" align="right">工作职位</td>
          <td class="content">xxxx</td>
        </tr>
        <tr>
          <td class="tit" align="right">技术职称级别</td>
          <td class="content">xxx</td>
          <td class="tit" align="right">技术职称名称</td>
          <td class="content">xxxx</td>
        </tr>
        <tr>
          <td class="tit" align="right">工作关系调入深圳时间</td>
          <td class="content">xxx</td>
          <td class="tit" align="right">工作关系调入本单位时间</td>
          <td class="content">xxxx</td>
        </tr>
        <tr>
          <td class="tit" align="right">个人简介（300字）</td>
          <td class="content" colspan="3">xxx</td>
        </tr>
      </table>
       <div class="form-title">
        <div class="block"></div>
        <div>学历信息</div>
      </div>
      <table border="1" cellspacing="0" cellpadding="0" bordercolor="#336b6c">
        <tr>
          <td class="tit" align="right">毕业学校</td>
          <td class="content">xxx</td>
          <td class="tit" align="right">专业</td>
          <td class="content">xxxx</td>
        </tr>
        <tr>
          <td class="tit" align="right">学历</td>
          <td class="content">xxx</td>
          <td class="tit" align="right">学位</td>
          <td class="content">xxxx</td>
        </tr>
        <tr>
          <td class="tit" align="right">毕业时间</td>
          <td class="content" colspan="3">xxx</td>
        </tr>
      </table>
      <div class="form-title">
        <div class="block"></div>
        <div>工作经历</div>
      </div>
      <table border="1" cellspacing="0" cellpadding="0" bordercolor="#336b6c">
        <tr>
          <td class="tit" align="right">职务</td>
          <td class="content">xxx</td>
          <td class="tit" align="right">工作时间</td>
          <td class="content">xxxx</td>
        </tr>
        <tr>
          <td class="tit" align="right">单位名称</td>
          <td class="content" colspan="3">xxx</td>
        </tr>
      </table>
      <div class="form-title">
        <div class="block"></div>
        <div>联系方式</div>
      </div>
      <table border="1" cellspacing="0" cellpadding="0" bordercolor="#336b6c">
        <tr>
          <td class="tit" align="right">手机号码</td>
          <td class="content">xxx</td>
          <td class="tit" align="right">办公电话</td>
          <td class="content">xxxx</td>
        </tr>
        <tr>
          <td class="tit" align="right">地址类型</td>
          <td class="content" colspan="3">xxx</td>
        </tr>
        <tr>
          <td class="tit" align="right">详细地址</td>
          <td class="content" colspan="3">xxx</td>
        </tr>
      </table>
    </div>
  </div>
</template>

<script>
import { closeModal } from '@/until/bigUrl.js'

export default {
  data () {
    return {
      titleName: '领航人才详情',
      labelPosition: 'center',
      formData: {
        type: 'B类',
        date: '2021202202',
        status: '有效',
        cardNum: '9183918391831'
      }
    }
  },
  methods: {
    close () {
      closeModal(5)
    }
  }
}
</script>

<style lang="less" scoped>
@import "./index.less";
</style>
