<template>
  <div class="mapCenter">
    <div class="haeader-title">
      <i class="icon">||</i>{{ streetName ? streetName : "--" }}
    </div>
    <div class="conter-name">
      <div class="conter-item">
        <div>
          <span class="item-name">{{ area ? area : "--" }}</span
          >万㎡
        </div>
        <span>物业面积</span>
      </div>

      <div class="conter-item">
        <div>
          <span class="item-name">{{ percentage ? percentage : "--" }}</span
          >%
        </div>
        <span>面积占比</span>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      streetName: "",
      area: "",
      num: "",
      percentage: "",
    };
  },
  created() {
    let { areaNum = "", streetName = "", mix = "" } = this.$route.query;
    let rate = Number(mix) * 100;
    this.percentage = rate.toFixed(2);
    let space = Number(areaNum) / 10000;
    this.area = space.toFixed(2);
    this.streetName = streetName;
  },
  methods: {
    handleClick() {
      // console.log(1);
      // window.AC.Camera.get({
      //   callbackFn: function (data) {
      //     console.log(data);
      //     if (data.result == 0) {
      //       window.AC.Camera.set(data.data);
      //     }
      //   },
      // });
    },
  },
};
</script>

<style lang="less" scoped>
.mapCenter {
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.3);
  .haeader-title {
    height: 30px;
    line-height: 30px;
    background-color: #294670;
    font-size: 16px;
    font-weight: bolder;
    color: #fff;
    .icon {
      position: relative;
      top: -1px;
      line-height: 30px;
      display: inline-block;
      font-style: normal;
      font-size: 16px;
      margin-left: 6px;
      margin-right: 12px;
      letter-spacing: -4px;
      color: #00ffff;
    }
  }
  .conter-name {
    display: flex;
    padding-top: 1px;
    .conter-item {
      width: 50%;
      line-height: 25px;
      color: #fff;
      font-size: 14px;
      text-align: center;
      .item-name {
        font-size: 18px;
      }
    }
  }
}
</style>
