<template>
  <div class="governmentProperty">
    <div class="header">
      <div>
        <i class="header-icon">|&nbsp;|&nbsp;|</i>
        <span class="header-content">企业详情</span>
      </div>
      <i class="el-icon-close" style="color:#fff; font-size:18px;" @click="close"></i>
    </div>
    <div class="line"></div>
    <div class="propertyAnalysis">
      <div class="business-tas">
        <div class="title-box">
          <div class="title-tit">
            <div class="list name">
              {{companyName}}

            </div>
            <el-button v-if="pageMark !== 'homeList'" type="primary" @click="onBack">返回</el-button>
          </div>
          <div class="list tags">
            <el-tag v-for="tag in tags" :key="tag.name" :type="tag.type">
              {{tag.name}}
            </el-tag>
          </div>
          <div class="list detail">公司地址：{{companyAddress}}</div>
          <div class="list detail">
            <el-popover placement="top" width='1010' trigger="hover" :content="companyDetail">
              <span slot="reference"> {{ companyDetail|ellipsis(90)}}</span>
              <!-- <el-button slot="reference">展开</el-button> -->
            </el-popover>
          </div>
        </div>
        <div style="display:inline-block;">
          <div class="tabs">
            <el-tabs v-model="activeName" class="tabs-main" type="card">

              <el-tab-pane label="企业信息" name="company" class="tabs-item">
                <CompanyMessage @event="changefcMoney($event)" :companyData='companyData' :nsTotal='nsTotal'></CompanyMessage>
              </el-tab-pane>

              <el-tab-pane v-if="propertyData&&Array.isArray(propertyData) &&propertyData.length" :label="`扶持资金(${propertyData.length>0 ? propertyData.length :''})`" name="property" class="tabs-item">
                <SupportFunds :propertyData='propertyData'></SupportFunds>
              </el-tab-pane>

              <el-tab-pane v-if="rentData && Array.isArray(rentData) && rentData.length>0" :label="`租赁信息(${rentData.length>0 ? rentData.length :''})`" name="rent" class="tabs-item">
                <RentMesssage :rentData='rentData'></RentMesssage>
              </el-tab-pane>

              <el-tab-pane v-if="talentsData&& Array.isArray(talentsData) &&talentsData.length>0" :label="`领航人才(${talentsData.length>0 ? talentsData.length :''})`" name="talents" class="tabs-item">
                <LeaderTalents :talentsData='talentsData'></LeaderTalents>
              </el-tab-pane>

              <el-tab-pane v-if="supportData&&Array.isArray(supportData) &&supportData.length>0" :label="`扶持人才房(${supportData.length>0 ? supportData.length :''})`" name="support" class="tabs-item">
                <SupportHouse :supportData='supportData'></SupportHouse>
              </el-tab-pane>

              <el-tab-pane label="企业扶持效益" name="benefits" class="tabs-item">
                <BenefitAnalysis :benefitData='benefitData'></BenefitAnalysis>
              </el-tab-pane>
            </el-tabs>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>

import CompanyMessage from './dataDetail/company'
import SupportFunds from './dataDetail/property'
import RentMesssage from './dataDetail/rent'
import LeaderTalents from './dataDetail/talents'
import SupportHouse from './dataDetail/support'
import BenefitAnalysis from './dataDetail/benefitAnalysis'

import { openModal, closeModal } from '@/until/bigUrl.js'
import { preDueListDetail } from '@/views/request'

export default {
  components: { CompanyMessage, SupportFunds, RentMesssage, LeaderTalents, SupportHouse, BenefitAnalysis },
  data () {
    return {
      currentCode: '',
      // 91440300593047655L
      activeName: 'company',
      companyName: '',
      companyAddress: '',
      companyDetail: '',
      pageMark: '',
      nsTotal: '',
      tags: [],
      companyData: {},
      propertyData: [],
      rentData: [],
      talentsData: [],
      supportData: [],
      benefitData: []
    }
  },
  filters: {
    ellipsis (value, limit) {
      if (!value) return ''
      if (value.length > limit) {
        return value.slice(0, limit) + '...'
      }
      return value
    }
  },
  created () {
    this.currentCode = this.$route.query.code
    this.pageMark = this.$route.query.mark

    this.getDataLIst()
  },
  mounted () {

  },
  methods: {
    changefcMoney (val) {
      this.tags = []
      this.activeName = val
      this.getDataLIst()
    },
    getDataLIst () {
      preDueListDetail(this.currentCode).then(res => {
        let data = res.data.data
        // 五类tab数据
        this.nsTotal = data.nsTotal
        this.companyData = data.qyDetails
        this.propertyData = data.fcList
        this.talentsData = data.qyrcList
        this.rentData = data.zpList
        this.supportData = data.fcrcfList
        this.benefitData = data.fcxyList
        // 公司详情信息
        this.companyName = data.comName
        this.companyDetail = data.introduction
        this.companyAddress = data.qyDetails.address
        // 企业标签
        let tagList = data.qyDetails.label.split('、')
        let tagType = ['', 'success', 'info', 'warning', 'danger']
        for (let key in tagList) {
          if (Object.prototype.hasOwnProperty.call(tagList, key)) {
            this.tags.push({
              name: tagList[key],
              type: tagType[Math.floor(Math.random() * tagType.length)]
            })
          }
        }
        console.log(this.companyData)
      })
    },
    close () {
      closeModal(6)
    },
    onBack () {
      // 预到期全部企业列表
      if (this.pageMark === 'predue') {
        openModal(6, '/preDue', () => { })
        // 重点企业标签列表
      } else if (this.pageMark === 'tags') {
        openModal(6, '/companyTag?name=' + this.$route.query.name + '&queryName=' + this.$route.query.request, () => { })
        // 园区更多分析
      } else if (this.pageMark === 'analysis') {
        openModal(6, '/parkMoreAnalysis?id=' + this.$route.query.id + '&activeName=intoInfo', () => { })
      }
    }
  }
}
</script>

<style lang="less" scoped>
@import "./dataDetail/index.less";
</style>
