<template>
  <div>
    <div class="table-analysis" :style="{borderBottom: (tableData.length===0 ? '1px solid #336b6c': '') }">
      <el-table :data="tableData" header-align='center'>
        <el-table-column label="序号" type="index" width="50" :fit='true'>
        </el-table-column>
        <el-table-column prop="name" label="人才姓名"></el-table-column>
        <el-table-column prop="rcType" label="人才类别"></el-table-column>
        <el-table-column label="证书起止日期">
          <template slot-scope="scope">
            <span v-if="scope.row.startTime && scope.row.endTime"> {{`${scope.row.startTime}~${scope.row.endTime}`}}</span>
            <span v-else-if="scope.row.startTime && !scope.row.endTime">  {{`${scope.row.startTime} ~ --`}}</span>
            <span v-else-if="!scope.row.startTime && scope.row.endTime">  {{`-- ~ ${scope.row.endTime}`}}</span>
            <span v-else> {{'--'}}</span>
          </template>
        </el-table-column>
        <!-- <el-table-column label="操作" align="center">
          <template slot-scope="scope">
            <div @click="handleAddEditSee(scope.row)" style="color:#00D5FF;">查看</div>
          </template>
        </el-table-column> -->
      </el-table>
    </div>
    <div class="table-pagination">
      <el-pagination background :data="tableData" @current-change="handleCurrentChange" :current-page.sync="currentPage" :page-size="pagesize" layout="total, prev, pager, next" :total="totalNum">
      </el-pagination>
    </div>
    <div>
      <el-dialog title="领航人才详情" :visible.sync="dialogVisible" width="74%" append-to-body>
        <DataDetail></DataDetail>
      </el-dialog>
    </div>
  </div>

</template>
<script>
import DataDetail from '../detail'
export default {
  components: { DataDetail },
  props: { talentsData: Array },
  data () {
    return {
      currentPage: 1,
      pagesize: 10,
      totalNum: 0,
      totalMoney: 0,
      dialogVisible: false,
      tableData: []
    }
  },
  created () {
    this.handleCurrentChange(1)
    if (this.talentsData) {
      this.totalNum = this.talentsData.length
      for (let item of this.talentsData) {
        console.log(item)
        this.totalMoney += parseInt(item.money)
      }
    }
  },
  filters: {
    ellipsis (value, limit) {
      if (!value) return ''
      if (value.length > limit) {
        return value.slice(0, limit) + '...'
      }
      return value
    }
  },
  methods: {
    handleCurrentChange (currentPage) {
      this.currentPage = currentPage
      this.tableData = []
      for (var i = (currentPage - 1) * this.pagesize; i < (currentPage - 1) * this.pagesize + this.pagesize; i++) {
        if (this.talentsData.length > i) {
          this.tableData.push(this.talentsData[i])
        }
      }
    },
    handleAddEditSee (row) {
      this.dialogVisible = true
    }
  }
}
</script>

<style lang="less" scoped>
@import "../index.less";
</style>
