<template>
  <div class="officeStatAnalysis">
    <div class="title">
      <div class="title-text">
        <!-- <i class="title-icon">|&nbsp;|&nbsp;|</i> -->
        <ul class="icon-title">
          <li></li><li></li><li></li>
        </ul>
        <span class="title-content">办公用房统计分析</span>
      </div>
      <i class="el-icon-close" @click="close"></i>
    </div>

    <div>
      <div class="census-base sub-title">
        <div><span class="vertical-line"></span>各单位管理办公用房分析</div>
        <div class="taggingName">
          <el-radio-group v-model="radio" size="mini" @change="handleChange">
            <el-radio-button label="单位管理面积"></el-radio-button>
            <el-radio-button label="人数及人均面积"></el-radio-button>
          </el-radio-group>
        </div>
      </div>
      <div class="echarts-wrapper">
        <div ref="chartUnitOffice" class="echarts-data"></div>
      </div>
    </div>

    <div style="display: flex; margin-bottom: 12px">
      <div>
        <div class="census-base">
          <span class="vertical-line"></span
          >各机关单位（8个街道+1个区直）管理办公用房面积分析
        </div>
        <div class="echarts-wrapper">
          <div ref="chartStreetOffice" class="echarts-data"></div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import * as echarts from "echarts";
//import optionPie from "@/views/common/pieOptions";
import scrollBarOption from "./scrollBarOption.js";
import barLineOption from "./barLineOption.js";
import barOption from "./barOption.js";
//import barOption from "./barOption.js";
//import barOption2 from "./barOption2.js";
import { governmentAnalysis } from "@/views/request.js";
import { closeModal } from "@/until/bigUrl.js";
export default {
  data() {
    return {
      //各机关单位（8个街道+1个区直）管理办公用房面积分析
      barData: {
        xAxisData: [
          "区直机关",
          "南山街道办",
          "南头街道办",
          "沙河街道办",
          "蛇口街道办",
          "桃源街道办",
          "西丽街道办",
          "粤海街道办",
          "招商街道办",
        ],
        yAxisDatax: [
          15.922747, 1.594414, 1.295761, 0.532078, 1.869929, 2.428489, 2.669842,
          1.572872, 1.798628,
        ],
      },
      radio: "单位管理面积",
      //各单位管理办公用房分析-单位管理面积
      scrollBarData: {
        xAxisData: [
          "南山公安分局",
          "南山街道办",
          "南山区人力资源局",
          "南头街道办",
          "区财政局",
          "区采购招标中心（已拆分）",
          "区残联",
          "区城管和综合执法局",
          "区城市更新和土地整备局",
          "区法院",
          "区妇联",
          "区工商联",
          "区工务署",
          "区工业和信息化局",
          "区规划土地监察局",
          "国资局",
          "南山区机关事务管理局",
          "区纪委区监委",
          "区检察院",
          "区教育局",
          "区民政局",
          "行政办公",
          "区水务局",
          "区司法局",
          "区退役军人局",
          "区网格管理中心",
          "区委党校",
          "区委组织部",
          "区卫生健康局",
          "区文化广电旅游体育局",
          "区信访局",
          "区应急管理局",
          "区政府公共物业管理中心",
          "区政务服务数据管理局",
          "区住房和建设局",
          "区总工会",
          "沙河街道办",
          "行政办公",
          "桃源街道办",
          "西丽街道办",
          "粤海街道办",
          "招商街道办",
          "重点片区管理中心",
        ],
        yAxisDatax: [
          14.834099, 0.952997, 0.731621, 1.040596, 0.2116, 0.1293, 0.8376, 3.673147,
          0.2116, 4.452419, 0.790953, 0.1058, 0.3800, 0.5500, 0.1519058, 0.0945, 5.614087,
          0.8688, 2.803637, 1.7499, 0.44075, 1.1656, 0.7343, 0.140466, 0.02272, 0.056946,
          1.75735, 0.6973, 1.640556, 0.4446, 0.1034, 0.98558, 0.337752, 1.536154,
          0.384291, 0.2620, 0.32803, 1.417068, 1.225356, 1.213468, 1.239186,
          0.530015, 0.0880,
        ],
      },
      //各单位管理办公用房分析-人数及人均面积
      barLineData: {
        xAxisData: [
          "区教育局",
          "区政府公共物业管理中心",
          "区卫生健康局",
          "区文化广电旅游局",
          "南山公安分局",
          "区城管和综合执法局",
          "区民政局",
          "区机关事务局",
          "桃源街道办",
          "区法院",
          "粤海街道办",
          "南山街道办",
          "区国资局",
          "蛇口街道办",
          "区检察院",
          "招商街道办",
          "沙河街道办",
          "区司法局",
          "西丽街道办",
          "南头街道办",
          "区委党校",
          "区政务服务数据管理局",
          "区应急管理局",
          "区人武部",
          "区纪委区监委",
          "团区委",
          "区残联",
          "区妇联",
          "区工业和信息化局",
          "区水务局",
          "区人力资源局",
          "区委组织部",
          "区住房建设局",
          "区工务署",
          "区财政局",
          "区总工会",
          "区城市更新和土地整备局",
          "区委统战部",
          "区规划土地监察局",
          "区退役军人局",
          "区工商联",
          "区信访局",
          "重点片区管理中心",
        ],
        legendData: ["单位编制人数", "人均办公面积"],
        yAxisDataz: [
          400, 300, 260, 340, 280, 400, 300, 260, 340, 280, 400, 300, 260, 340,
          280, 400, 300, 260, 340, 280, 400, 300, 260, 340, 280, 400, 300, 260,
          340, 280, 400, 300, 260, 340, 280, 400, 300, 260, 340, 280, 400, 300,
          260,
        ],
        yAxisDatas: [
          40, 20, 26, 34, 28, 40, 30, 26, 34, 28, 40, 30, 26, 34, 28, 40, 30,
          26, 34, 28, 40, 30, 26, 34, 28, 40, 30, 26, 34, 28, 40, 30, 26, 34,
          28, 40, 30, 26, 34, 28, 26, 34, 28,
        ],
      },
      chartUnitOffice: null,
    };
  },
  created() {},

  methods: {
    close() {
      closeModal(6);
    },
    handleChange(val) {
      this.radio = val;
    },
  },
  mounted() {
    // 各机关单位（8个街道+1个区直）管理办公用房面积分析
    let chartStreetOffice = echarts.init(this.$refs.chartStreetOffice);
    // chartStreetOffice.showLoading({
    //   text: "正在加载···", // 显示的文本
    //   effect: "ring", // 可选为：'spin' | 'bar' | 'ring' | 'whirling' | 'dynamicLine' | 'bubble'
    //   color: "#00ffff", // 显示转圈的圆圈颜色
    //   textColor: "white", // 显示文本的颜色
    //   maskColor: "rgba(255,255,255,0)", // 显示的背景色
    //   zlevel: 0,
    //   fontSize: 14, // 字体大小。从 `v4.8.0` 开始支持。
    //   showSpinner: true, // 是否显示旋转动画（spinner）。从 `v4.8.0` 开始支持。
    //   spinnerRadius: 10, // 旋转动画（spinner）的半径。从 `v4.8.0` 开始支持。
    //   lineWidth: 3, // 旋转动画（spinner）的线宽。从 `v4.8.0` 开始支持。
    //   fontWeight: "normal", // 字体粗细。从 `v5.0.1` 开始支持。
    //   fontStyle: "normal", // 字体风格。从 `v5.0.1` 开始支持。
    //   fontFamily: "sans-serif", // 字体系列。从 `v5.0.1` 开始支持。
    // });

    // 各单位管理办公用房分析
    let chartUnitOffice = echarts.init(this.$refs.chartUnitOffice);
    this.chartUnitOffice = chartUnitOffice;
    // chartUnitOffice.showLoading({
    //   text: "正在加载···", // 显示的文本
    //   effect: "ring", // 可选为：'spin' | 'bar' | 'ring' | 'whirling' | 'dynamicLine' | 'bubble'
    //   color: "#00ffff", // 显示转圈的圆圈颜色
    //   textColor: "white", // 显示文本的颜色
    //   maskColor: "rgba(255,255,255,0)", // 显示的背景色
    //   zlevel: 0,
    //   fontSize: 14, // 字体大小。从 `v4.8.0` 开始支持。
    //   showSpinner: true, // 是否显示旋转动画（spinner）。从 `v4.8.0` 开始支持。
    //   spinnerRadius: 10, // 旋转动画（spinner）的半径。从 `v4.8.0` 开始支持。
    //   lineWidth: 3, // 旋转动画（spinner）的线宽。从 `v4.8.0` 开始支持。
    //   fontWeight: "normal", // 字体粗细。从 `v5.0.1` 开始支持。
    //   fontStyle: "normal", // 字体风格。从 `v5.0.1` 开始支持。
    //   fontFamily: "sans-serif", // 字体系列。从 `v5.0.1` 开始支持。
    // });

    // governmentAnalysis().then((res) => {
    //   console.log("-----", res);
    //   if (res.data.code === 0) {
    //chartUnitOffice.hideLoading();
    //chartStreetOffice.hideLoading();

    chartUnitOffice.setOption(scrollBarOption(this.scrollBarData));
    chartStreetOffice.setOption(barOption(this.barData));
    //   }
    // });
  },
  watch: {
    radio: function (val) {
      // 各单位管理办公用房分析
      //let assets = echarts.init(this.$refs.assets);
      let assets = this.chartUnitOffice;
      // assets.showLoading({
      //   text: "正在加载···", // 显示的文本
      //   effect: "ring", // 可选为：'spin' | 'bar' | 'ring' | 'whirling' | 'dynamicLine' | 'bubble'
      //   color: "#00ffff", // 显示转圈的圆圈颜色
      //   textColor: "white", // 显示文本的颜色
      //   maskColor: "rgba(255,255,255,0)", // 显示的背景色
      //   zlevel: 0,
      //   fontSize: 14, // 字体大小。从 `v4.8.0` 开始支持。
      //   showSpinner: true, // 是否显示旋转动画（spinner）。从 `v4.8.0` 开始支持。
      //   spinnerRadius: 10, // 旋转动画（spinner）的半径。从 `v4.8.0` 开始支持。
      //   lineWidth: 3, // 旋转动画（spinner）的线宽。从 `v4.8.0` 开始支持。
      //   fontWeight: "normal", // 字体粗细。从 `v5.0.1` 开始支持。
      //   fontStyle: "normal", // 字体风格。从 `v5.0.1` 开始支持。
      //   fontFamily: "sans-serif", // 字体系列。从 `v5.0.1` 开始支持。
      // });
      //   governmentAnalysis().then((res) => {
      //     if (res.data.code === 0) {
      //assets.hideLoading();
      //let { kzList, rzList } = res.data.data;
      if (val === "单位管理面积") {
        assets.setOption(scrollBarOption(this.scrollBarData), true);
      } else if (val === "人数及人均面积") {
        assets.setOption(barLineOption(this.barLineData), true);
      }
      //     }
      //   });
    },
  },
  destroyed() {
    //optionPie({ isTimer: false });
  },
};
</script>

<style lang="less" scoped>
@import "./index.less";
</style>
