<template>
  <div class="business-tas">
    <el-form :model="form" ref="form" class="form">
      <el-input v-model="form.name">
        <template slot="prepend">物业名称</template>
      </el-input>
      <div class="select">
        <span class="title">物业种类</span>
        <el-select filterable v-model="form.type" placeholder="">
          <el-option v-for="item in typeOptions" :key="item.value" :label="item.label" :value="item.value"
          @click.native="changeList(item,'type')">
          </el-option>
        </el-select>
      </div>
      <div class="select">
        <span class="title">街道</span>
        <el-select filterable v-model="form.street" placeholder="">
          <el-option v-for="item in streetOptions" :key="item.value" :label="item.label" :value="item.value" @click.native="changeList(item,'street')">
          </el-option>
        </el-select>
      </div>
      <div class="select">
        <span class="title">社区</span>
        <el-select filterable v-model="form.society" placeholder="">
          <el-option v-for="item in societyOptions" :key="item.value" :label="item.label" :value="item.value" @click.native="changeList(item,'society')">
          </el-option>
        </el-select>
      </div>
      <div class="twoInp">
        <el-input v-model="form.areaMin" placeholder="最小值">
          <template slot="prepend">空置面积</template>
        </el-input>
        <span style="color:#fff;">&nbsp;-&nbsp;</span>
        <el-input v-model="form.areaMax" placeholder="最大值(m²)">
        </el-input>
      </div>
      <div class="twoInp">
        <el-input v-model="form.rentMin" placeholder="最小值">
          <template slot="prepend">平均租金</template>
        </el-input>
        <span style="color:#fff;">&nbsp;-&nbsp;</span>
        <el-input v-model="form.rentMax" placeholder="最大值(元/m²)">
        </el-input>
      </div>

    </el-form>
    <div class="btn">
      <el-button type="primary" @click="reset">重置</el-button>
      <el-button type="primary" @click="onSubmit">查询</el-button>
    </div>
  </div>
</template>

<script>
import { homePropertyType, homeStreetList, homeSocietyList } from '@/views/request'
import { openModal } from '@/until/bigUrl.js'

export default {
  data () {
    return {
      form: {
        name: '',
        type: '',
        street: '',
        society: '',
        areaMin: '',
        areaMax: '',
        rentMin: '',
        rentMax: ''
      },
      // 物业种类
      typeOptions: [],
      streetOptions: [],
      societyOptions: []
    }
  },
  created () {
    this.getSelectList()
  },
  methods: {
    getSelectList () {
      homePropertyType().then(res => {
        let data = res.data.data
        for (let i = 0; i < data.length; i++) {
          this.typeOptions.push({
            value: i,
            label: data[i]
          })
        }
      })
      homeStreetList().then(res => {
        let data = res.data.data
        for (let i = 0; i < data.length; i++) {
          this.streetOptions.push({
            value: i,
            label: data[i]
          })
        }
      })
      homeSocietyList().then(res => {
        let data = res.data.data
        for (let i = 0; i < data.length; i++) {
          this.societyOptions.push({
            value: i,
            label: data[i]
          })
        }
      })
    },
    changeList (event, mark) {
      if (mark === 'type') {
        this.form.type = event.label
      } else if (mark === 'street') {
        this.form.street = event.label
      } else {
        this.form.society = event.label
      }
    },
    reset () {
      for (let i in this.form) {
        this.form[i] = ''
      }
      openModal(6, '/homeSearchList?content=' + JSON.stringify(this.form), () => { })
    },
    onSubmit () {
      console.log('点击查询', this.form)
      openModal(6, '/homeSearchList?content=' + JSON.stringify(this.form), () => { })
    }
  }
}
</script>

<style lang="less" scoped>
@import "./index.less";
</style>
