.business-tas {
  width: 100%;
  margin-bottom: 14px;
  .select {
    display: flex;
    align-items: center;
    .title {
      width: 60px;
      text-align: center;
      background-color: rgba(151, 154, 156, 0.2);
      border-color: #00d5ff;
      color: #fff;
      font-size: 14px;
      padding:3.5px 20px;
      border:1px solid #00d5ff;
      border-top-left-radius:4px;
      border-bottom-left-radius:4px;
    }
    .el-select {
      width: 227px;
      /deep/.el-input__inner{
        border-left: none;
        border-top-left-radius:0px;
        border-bottom-left-radius: 0px;
      }
    }
  }
  .twoInp{
    display: flex;
    align-items: center;
    /deep/.el-input__inner{
      width: 108px;
    }
  }
  .btn{
    margin-top: 40px;
    text-align: center;
  }
  /deep/.el-button {
    width: 66px;
    height: 30px;
    background: url("~@/views/img/text_bg.png") no-repeat center;
    background-size: 100% 100%;
    border: none;
    padding: 0;
    color: #fff;
  }
  /deep/.el-button:hover {
    background-color: #00d5ff;
  }

  /deep/.el-input__icon {
    height: 28px;
    line-height: 28px;
    position: relative;
  }
  /deep/.el-input-group__prepend {
    width: 60px;
    text-align: center;
    background-color: rgba(151, 154, 156, 0.2);
    border-color: #00d5ff;
    color: #fff;
  }
  /deep/.el-input {
    margin: 10px 0;
  }
  /deep/.el-input__inner {
    height: 28px;
    line-height: 28px;
    background-color: rgba(41, 46, 49, 0.1);
    border-color: #00d5ff;
    color: #fff;
  }
}
