<template>
  <div class="propertyAnalysis">
    <div v-show="viewType=='list'" class="business-tas">
      <div class="search-wrapper">
        <el-form class="search-form" ref="form" :model="formInline" label-width="0">
          <el-form-item label="" style="width:220px">
            <el-input v-model="formInline.search" placeholder="请输入企业名称" clearable></el-input>
          </el-form-item>
          <el-form-item style="">
            <button class="u-btn btn-search" type="primary" @click.prevent="onSearch">查询</button>
          </el-form-item>
        </el-form>
      </div>
      <div class="table-analysis" :style="{borderBottom: (tableData.length===0 ? '1px solid #336b6c': '') }">
        <el-table fit header-align='center' stripe :data="tableData" align='center' @sort-change="sortChange" :row-style="{height: '50px'}">
          <el-table-column label="序号" type="index" width="50">
          </el-table-column>
          <el-table-column prop="b" label="企业名称" :show-overflow-tooltip="true"></el-table-column>
          <el-table-column sortable prop="d1" label="楼层及房号" width="250" :show-overflow-tooltip="true"></el-table-column>
          <el-table-column sortable prop="e" label="租赁面积(m²)" width="150"></el-table-column>
          <!-- <el-table-column sortable prop="l" label="上年度产值营收(亿元)" width="220"></el-table-column>
          <el-table-column prop="y" label="上年度纳税(万元)" width="150"></el-table-column>
          <el-table-column prop="buildArea" label="上年度地方财力贡献(元)" width="200">
            <template>
              -
            </template>
          </el-table-column>
          <el-table-column prop="x" label="享受租金折扣" width="200"></el-table-column>
          <el-table-column prop="buildArea" label="单位面积产值(元/m²)" width="200">
            <template slot-scope="scope">
              {{(!isNaN(scope.row.l)&&!isNaN(scope.row.e))?(scope.row.l*100000000/scope.row.e).toFixed(2):'-'}}
            </template>
          </el-table-column>
          <el-table-column prop="buildArea" label="单位面积纳税(元/m²)" width="200">
            <template slot-scope="scope">
              {{(!isNaN(scope.row.y)&&!isNaN(scope.row.e))?(scope.row.y*10000/scope.row.e).toFixed(2):'-'}}
            </template>
          </el-table-column>
          <el-table-column prop="buildArea" label="人均办公面积(m²/人)" width="200">
            <template slot-scope="scope">
              {{(!isNaN(scope.row.e)&&!isNaN(scope.row.d))?(scope.row.e/scope.row.d).toFixed(2):'-'}}
            </template>
          </el-table-column> -->
          <el-table-column prop="buildArea" label="入驻起止日期" width="180">
            <template slot-scope="scope">
              <span v-if="scope.row.f1!=''||scope.row.g1!=''">{{scope.row.f1}}至{{scope.row.g1}}</span>
            </template>
          </el-table-column>
          <!-- <el-table-column prop="h1" label="租期(年)" width="150"></el-table-column> -->
          <el-table-column label="操作" align="center" width="150">
            <template slot-scope="scope">
              <div @click="handleAddEditSee(scope.row)" style="color:#00D5FF">查看</div>
            </template>
          </el-table-column>
        </el-table>
      </div>
      <div class="table-pagination">
        <el-pagination background :data="tableData" @current-change="handleCurrentChange" :current-page.sync="currentPage" :page-size="pagesize" layout="total, prev, pager, next" :total="totalNum">
        </el-pagination>
      </div>
    </div>
    <div v-show="viewType=='details'" class="business-tas" style="padding: 0 10px;box-sizing:border-box;">
      <div class="title-box">
        <div class="title-tit">
          <div class="list name">
            {{companyName}}
          </div>
          <button @click.prevent="onBack" class="u-btn btn-search" type="primary">返回</button>
        </div>
        <div class="list u-tag">
          <div class="tag-item" :class="'type'+index%4" v-for="(tag,index) in tags" :key="tag.name">
            {{tag.name}}
          </div>
        </div>
        <div class="list detail" style="margin-top: 10px;">公司地址：{{companyAddress}}</div>
        <div class="list detail">公司简介：
          <el-popover placement="top" width='1010' trigger="hover" :content="companyDetail">
            <span slot="reference"> {{ companyDetail|ellipsis(85)}}</span>
          </el-popover>
        </div>
      </div>
      <div style="display:inline-block;">
        <div class="tabs">
          <el-tabs v-model="activeName" class="tabs-sub" type="border-card">
            <el-tab-pane label="企业信息" name="tab1" class="tabs-item">
              <table border="1" cellspacing="0" cellpadding="0" style="width:1110px;margin-top:23px" bordercolor="#336b6c">
                <tr>
                  <td class="tit lb" align="right">法定代表人</td>
                  <td align="center" style="width:30%">贾某某</td>
                  <td class="tit lb" align="right">挂点领导</td>
                  <td align="center" style="width:30%">梅某某</td>
                </tr>
                <tr>
                  <td class="tit lb" align="right">联系电话</td>
                  <td align="center">15989851338</td>
                  <td class="tit lb" align="right">用电情况</td>
                  <td align="center">452.145（千瓦时）</td>
                </tr>
                <tr>
                  <td class="tit lb" align="right">注册资本</td>
                  <td align="center">724.6377万人民币</td>
                  <td class="tit lb" align="right">纳税总额</td>
                  <td align="center">1623.89（万元）</td>
                </tr>
                <tr>
                  <td class="tit lb" align="right">实缴资本</td>
                  <td align="center">724.6377万人民币</td>
                  <td class="tit lb" align="right">参保人数</td>
                  <td align="center">796人</td>
                </tr>
                <tr>
                  <td class="tit lb" align="right">成立时间</td>
                  <td align="center">2009-12-08</td>
                  <td class="tit lb" align="right">统一社会信用代码</td>
                  <td align="center">91440300699068972M</td>
                </tr>
                <tr>
                  <td class="tit lb" align="right">人员规模</td>
                  <td align="center">100-499人</td>
                  <td class="tit lb" align="right">扶持资金</td>
                  <td align="center" class="tit-color" style="cursor: pointer;" @click="activeName='tab6'">179.1299（万元）</td>
                </tr>
                <tr>
                  <td class="tit lb" align="right">人才总数</td>
                  <td align="center" class="tit-color" style="cursor: pointer;" @click="activeName='tab4'">622人</td>
                  <td class="tit lb" align="right" width="66px">租赁信息</td>
                  <td align="center" class="tit-color" style="cursor: pointer;" @click="activeName='tab2'">2处</td>
                </tr>
                <tr>
                  <td class="tit lb" align="right">扶持人才房</td>
                  <td align="center" class="tit-color" style="cursor: pointer;" @click="activeName='tab5'">150</td>
                  <td class="tit lb" align="right"></td>
                  <td align="center"></td>
                </tr>
                <tr>
                  <td class="tit lb" align="right">注册地址</td>
                  <td align="center" colspan="3">深圳市南山区桃源街道留仙大道塘岭路1号金骐智谷大厦8楼</td>
                </tr>
                <tr>
                  <td class="tit lb" align="right">专利总数</td>
                  <td align="center" colspan="3">软件著作权（23）商标信息（12）商标文书（32）专利信息（290）国际专利（21）资质证书（86）标准定制（32）</td>
                </tr>
                <tr style="height:36px">
                  <td class="tit lb" align="right"></td>
                  <td align="center"></td>
                  <td class="tit lb" align="right"></td>
                  <td align="center"></td>
                </tr>
                <tr style="height:36px">
                  <td class="tit lb" align="right"></td>
                  <td align="center"></td>
                  <td class="tit lb" align="right"></td>
                  <td align="center"></td>
                </tr>
              </table>
            </el-tab-pane>
            <el-tab-pane label="租赁信息" name="tab2" class="tabs-item">
              <div class="search-wrapper">
                <el-form class="search-form" ref="form" :model="searchForm" label-width="0">
                  <el-form-item label="租赁信息：" label-width="100px" style="width:150px">
                    <span class="num1">4</span>处
                  </el-form-item>
                  <el-form-item label="预到期：" label-width="100px" style="width:150px">
                    <span class="num2">1</span>次
                  </el-form-item>
                  <div style="flex:1"></div>
                  <el-form-item label="" style="width:220px">
                    <el-input v-model="searchForm.name" clearable placeholder="请输入物业名称"></el-input>
                  </el-form-item>
                  <el-form-item style="">
                    <button @click.prevent="handleSearch1" class="u-btn btn-search" type="primary">查询</button>
                  </el-form-item>
                </el-form>
              </div>
              <div class="table-wrapper">
                <el-table :data="tableData1" header-align='center' :stripe="true" height="390" style="width:1110px">
                  <el-table-column label="序号" type="index" align="center" width="50"></el-table-column>
                  <el-table-column prop="a" label="租赁物业" :show-overflow-tooltip="true"></el-table-column>
                  <el-table-column prop="b" label="租赁面积(m²)" align="center" width="100"></el-table-column>
                  <el-table-column prop="c" label="租赁单价(元/m²)" align="center" width="120"></el-table-column>
                  <el-table-column prop="d" label="月租金(元)" align="center" width="100"></el-table-column>
                  <el-table-column prop="e" label="租赁起止日期" width="190">
                    <template slot-scope="scope">
                      {{scope.row.e}}至{{scope.row.f}}
                    </template>
                  </el-table-column>
                  <el-table-column prop="g" label="合同剩余时间(天)" align="center" width="140">
                    <template slot-scope="scope">
                      <span :style="scope.row.g<=90?'color:red':''">{{scope.row.g}}</span>
                    </template>
                  </el-table-column>
                  <el-table-column label="合同附件" align="center" width="80">
                    <template>
                      <div style="color:#00D5FF">查看</div>
                    </template>
                  </el-table-column>
                </el-table>
              </div>
              <div class="table-pagination">
                <el-pagination background :data="tableData1" @current-change="handleCurrentChange1" :current-page.sync="currentPage1" :page-size="pagesize1" layout="total, prev, pager, next" :total="totalNum1">
                </el-pagination>
              </div>
            </el-tab-pane>
            <el-tab-pane label="参保人数" name="tab3" class="tabs-item">
              <div class="table-wrapper" style="margin-top: 10px">
                <el-table :data="tableData2" header-align='center' :stripe="true" height="430" style="width:1110px">
                  <el-table-column label="序号" type="index" align="center" width="50"></el-table-column>
                  <el-table-column prop="a" label="人员姓名" align="center"></el-table-column>
                  <el-table-column prop="b" label="证件类型" align="center"></el-table-column>
                  <el-table-column prop="c" label="证件号" width="160"></el-table-column>
                  <el-table-column prop="d" label="是否打疫苗" align="center"></el-table-column>
                  <el-table-column prop="e" label="疫苗针次" align="center"></el-table-column>
                  <el-table-column prop="f" label="是否做核酸检测" align="center" width="120"></el-table-column>
                  <el-table-column prop="g" label="上一次核酸检测时间" align="center" width="160">
                    <template slot-scope="scope">
                      {{scope.row.g}}
                    </template>
                  </el-table-column>
                </el-table>
              </div>
              <div class="table-pagination">
                <el-pagination background :data="tableData2" @current-change="handleCurrentChange2" :current-page.sync="currentPage2" :page-size="pagesize2" layout="total, prev, pager, next" :total="totalNum2">
                </el-pagination>
              </div>
            </el-tab-pane>
            <el-tab-pane label="人才总数" name="tab4" class="tabs-item">
              <div class="table-wrapper" style="margin-top: 10px">
                <el-table :data="tableData3" header-align='center' :stripe="true" height="430" style="width:1110px">
                  <el-table-column label="序号" type="index" align="center" width="50"></el-table-column>
                  <el-table-column prop="a" label="人员姓名" align="center"></el-table-column>
                  <el-table-column prop="b" label="人才类别" align="center" width="360"></el-table-column>
                  <el-table-column prop="c" label="证书起止日期" align="center" width="360">
                    <template slot-scope="scope">
                      {{scope.row.c}}至{{scope.row.d}}
                    </template>
                  </el-table-column>
                  <el-table-column label="操作" align="center" width="80">
                    <template slot-scope="scope">
                      <div @click="showPersonDetail(scope.row)" style="color:#00D5FF">查看</div>
                    </template>
                  </el-table-column>
                </el-table>
              </div>
              <div class="table-pagination">
                <el-pagination background :data="tableData3" @current-change="handleCurrentChange3" :current-page.sync="currentPage3" :page-size="pagesize3" layout="total, prev, pager, next" :total="totalNum3">
                </el-pagination>
              </div>
            </el-tab-pane>
            <el-tab-pane label="扶持人才房" name="tab5" class="tabs-item">
              <div class="table-wrapper" style="margin-top: 10px">
                <el-table :data="tableData4" header-align='center' :stripe="true" height="430" style="width:1110px">
                  <el-table-column label="序号" type="index" align="center" width="50"></el-table-column>
                  <el-table-column prop="a" label="人员姓名" align="center"></el-table-column>
                  <el-table-column prop="b" label="房源名称" align="center"></el-table-column>
                  <el-table-column prop="c" label="建筑面积(m²)" align="center"></el-table-column>
                  <el-table-column prop="d" label="合同金额(元)" align="center"></el-table-column>
                  <el-table-column prop="e" label="合同起止日期(元)" align="center" width="300">
                    <template slot-scope="scope">
                      {{scope.row.e}}至{{scope.row.f}}
                    </template>
                  </el-table-column>
                  <el-table-column label="操作" align="center" width="80">
                    <template slot-scope="scope">
                      <div @click="showHouseDetail(scope.row)" style="color:#00D5FF">查看</div>
                    </template>
                  </el-table-column>
                </el-table>
              </div>
              <div class="table-pagination">
                <el-pagination background :data="tableData4" @current-change="handleCurrentChange4" :current-page.sync="currentPage4" :page-size="pagesize4" layout="total, prev, pager, next" :total="totalNum4">
                </el-pagination>
              </div>
            </el-tab-pane>
            <el-tab-pane label="扶持资金" name="tab6" class="tabs-item">
              <div class="search-wrapper">
                <el-form class="search-form" ref="form" :model="searchForm5" label-width="0">
                  <el-form-item label="资助总金额：" label-width="100px" style="width:220px">
                    <span class="num1">2000.00</span>万元
                  </el-form-item>
                  <el-form-item label="资助总次数：" label-width="100px" style="width:150px">
                    <span class="num1">4</span>次
                  </el-form-item>
                  <div style="flex:1"></div>
                  <el-form-item label="" style="width:220px">
                    <el-input v-model="searchForm5.name" clearable></el-input>
                  </el-form-item>
                  <el-form-item style="">
                    <button @click.prevent="handleSearch5" class="u-btn btn-search" type="primary">查询</button>
                  </el-form-item>
                </el-form>
              </div>
              <div class="table-wrapper">
                <el-table :data="tableData5" header-align='center' :stripe="true" height="390" style="width:1110px">
                  <el-table-column label="序号" type="index" align="center" width="50"></el-table-column>
                  <el-table-column prop="a" label="立项年度" align="center"></el-table-column>
                  <el-table-column prop="b" label="资助金额(万元)" align="center"></el-table-column>
                  <el-table-column prop="c" label="项目名称" :show-overflow-tooltip="true" align="center"></el-table-column>
                  <el-table-column prop="d" label="资金类别" align="center"></el-table-column>
                  <el-table-column prop="e" label="业务类别" align="center"></el-table-column>
                  <el-table-column prop="f" label="主管部门" align="center"></el-table-column>
                  <el-table-column prop="g" label="主管科室" align="center"></el-table-column>
                </el-table>
              </div>
              <div class="table-pagination">
                <el-pagination background :data="tableData5" @current-change="handleCurrentChange5" :current-page.sync="currentPage5" :page-size="pagesize5" layout="total, prev, pager, next" :total="totalNum5">
                </el-pagination>
              </div>
            </el-tab-pane>
            <el-tab-pane label="企业扶持效益" name="tab7" class="tabs-item">
              <div style="display: flex; margin-bottom: 12px">
                <div class="calculate-box">
                  <div class="census-base">
                    <div style="display:flex;justify-content: space-between;padding-top:10px;">
                      <span>
                        <span class="vertical-line"></span>
                        <span>企业上年度经济贡献</span>
                      </span>
                      <button style="text-align:right;" class="u-btn btn-simu" @click="showCalc">模拟推算</button>
                    </div>
                  </div>
                  <div class="echarts-wrapper left">
                    <ul class="stat-list">
                      <li class="stat-item">
                        <img class="pic" src="@/views/img/attribute-icon-001.png" alt="">
                        <div class="info">
                          <div class="info1">
                            <div class="lb">产值</div>
                            <div class="num">{{info.l}}亿元</div>
                          </div>
                          <div class="info2">
                            <div class="lb">单位面积产值</div>
                            <div class="num">{{(!isNaN(info.l)&&!isNaN(info.e))?(info.l*10000/info.e).toFixed(2):'-'}}万元/㎡</div>
                          </div>
                        </div>
                      </li>
                      <li class="stat-item">
                        <img class="pic" src="@/views/img/attribute-icon-002.png" alt="">
                        <div class="info">
                          <div class="info1">
                            <div class="lb">纳税</div>
                            <div class="num">{{info.y}}万元</div>
                          </div>
                          <div class="info2">
                            <div class="lb">单位面积纳税</div>
                            <div class="num">{{(!isNaN(info.y)&&!isNaN(info.e))?(info.y/info.e).toFixed(2):'-'}}万元/㎡</div>
                          </div>
                        </div>
                      </li>
                      <li class="stat-item">
                        <img class="pic" src="@/views/img/attribute-icon-003.png" alt="">
                        <div class="info">
                          <div class="info1">
                            <div class="lb">地方财力贡献</div>
                            <div class="num">-亿元<span class="memo">（估算）</span></div>
                          </div>
                          <div class="info2">
                            <div class="lb">单位面积地方财力</div>
                            <div class="num">-元/㎡</div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
                <div>
                  <div class="census-base">
                    <div>
                      <span class="vertical-line"></span>近年企业产值
                    </div>
                  </div>
                  <div class="echarts-wrapper right">
                    <div ref="chartBarLine1" class="echarts-data"></div>
                  </div>
                </div>
                <div>
                  <div class="census-base">
                    <div>
                      <span class="vertical-line"></span>近年企业纳税
                    </div>
                  </div>
                  <div class="echarts-wrapper right">
                    <div ref="chartBarLine2" class="echarts-data" style="width: 350px"></div>
                  </div>
                </div>
              </div>

              <div style="display: flex;">
                <div>
                  <div class="census-base">
                    <div><span class="vertical-line"></span>近年企业地方财力贡献</div>
                  </div>
                  <div class="echarts-wrapper half">
                    <div ref="chartBarLine3" class="echarts-data"></div>
                  </div>
                </div>

                <div>
                  <div class="census-base">
                    <div>
                      <span class="vertical-line"></span>近年企业产业资金扶持情况
                    </div>
                  </div>
                  <div class="echarts-wrapper half">
                    <div ref="chartBarLine4" class="echarts-data" style="width: 549px"></div>
                  </div>
                </div>
              </div>

            </el-tab-pane>
          </el-tabs>
        </div>
      </div>
    </div>
    <el-dialog title="模拟推算" :visible.sync="dialogCalcVisible" width="60%" top="20vh">
      <Calculation></Calculation>
    </el-dialog>
    <el-dialog title="领航人才详情" :visible.sync="dialogPersonDetailVisible" width="70%" top="10vh">
      <PersonDetail></PersonDetail>
    </el-dialog>
    <el-dialog title="人才房详情" :visible.sync="dialogHouseDetailVisible" width="70%" top="10vh">
      <HouseDetail></HouseDetail>
    </el-dialog>
  </div>
</template>
<script>
import * as echarts from 'echarts'
//import { list } from '../request'
import { openModal } from '@/until/bigUrl.js'
import Calculation from '../imitateCalculate/index.vue'
import PersonDetail from './personDetail'
import HouseDetail from './houseDetail'
import barLineOption from '@/views/common/barLine/barLineOption'
import barLineOption3 from './barLineOption3.js'
import barLineOption4 from './barLineOption4.js'

export default {
  components: { Calculation, PersonDetail, HouseDetail },
  data() {
    return {
      viewType: 'list',//list/details
      dialogCalcVisible: false,
      dialogPersonDetailVisible: false,
      dialogHouseDetailVisible: false,
      parkName: '',
      formInline: {
        search: ''
      },
      currentPage: 1,
      pagesize: 10,
      totalNum: 0,
      preDueNum: 0,
      mark: 0,
      tableData: [
        { b: '深圳市速腾聚创科技有限公司', d1: '红花岭一区1栋二楼、一区办公楼整栋、二区9栋整栋', e: 22260, f1: '', g1: '' },
        { b: '深圳佰维存储科技股份有限公司', d1: '红花岭二区4栋1-4楼、8栋1-3楼', e: 8080, f1: '', g1: '' },
        { b: '深圳市景阳科技股份有限公司', d1: '红花岭二区1栋整栋', e: 9040, f1: '', g1: '' },
        { b: '深圳市友华通信技术有限公司', d1: '红花岭二区6栋整栋', e: 9520, f1: '', g1: '' },
        { b: '深圳市国微电子有限公司', d1: '红花岭二区5栋整栋', e: 6960, f1: '', g1: '' },
        { b: '深圳市莱康宁医用科技股份有限公司', d1: '二区二栋8楼厂房', e: 1200, f1: '', g1: '' },
        { b: '深圳市达士科技股份有限公司', d1: '二区三栋厂房', e: 1200, f1: '', g1: '' },
        { b: '深圳市紫光同创电子有限公司', d1: '二区一栋4楼', e: 1130, f1: '', g1: '' },
        { b: '英诺激光科技股份有限公司', d1: '二区一栋1、2、3楼', e: 3390, f1: '', g1: '' },
      ],
      sort: 0,//0默认排序;1 楼层及房号升序;2 楼层及房号降序;3面积升序;4面积降序; 5 :2021年上半年产值升序  6 :2021年上半年产值降序

      //企业扶持效益
      info: {},
      barLineData1: {
        xAxisData: ['2018', '2019', '2020', '2021（1-9月）'],
        legendData: ['产值（亿元）', '单位面积产值（万元/㎡）'],
        yAxisDataz: [987.13, 1109.97, 1411, 1324.16],
        yAxisDatas: [12, 14, 17, 15]
      },
      barLineData2: {
        xAxisData: ['2018', '2019', '2020'],
        legendData: ['纳税（万元）', '单位面积纳税（万元/㎡）'],
        yAxisDataz: [34.93, 38.14, 41],
        yAxisDatas: [0.42, 0.45, 0.51]
      },
      barLineData3: {
        xAxisData: ['2018', '2019', '2020'],
        legendData: ['地方财力贡献（万元）', '单位面积财力贡献（元/㎡）'],
        yAxisDataz: [1000, 1300, 3000],
        yAxisDatas: [12, 15, 18]
      },
      barLineData4: {
        xAxisData: ['2018', '2019', '2020', '2021（1-9月）'],
        legendData: ['扶持资金（万元）'],
        yAxisDataz: [100, 240, 560, 3040]
      },

      tags: [{ name: '存续（在营、开业、在册）' }, { name: '领导挂点企业' }, { name: '工业百强' }, { name: '高新技术企业' }],
      companyName: '深圳市××信息技术有限公司分公司',
      companyAddress: '深圳市南山区桃源街道留仙大道塘岭路1号金骐智谷大厦8楼',
      companyDetail: '××是国内智能家居和物联网解决方案提供商，专注于利用物联网技术，提供智慧生活整体解决方案，自有品牌**，产品品类覆盖了单个设备应用及整个家庭自动化系统，设备类型包括传感器，智能控制器等。',
      activeName: 'tab1',
      //企业信息
      companyData: {

      },

      //租赁信息
      searchForm: {
        name: ''
      },
      tableData1: [
        { a: '南山智园（三期）崇文园区1号', b: '0.5', c: '0.5', d: '256', e: '2019-05-06', f: '2019-05-08', g: '150' },
        { a: '南山智园（三期）崇文园区1号', b: '10', c: '10', d: '256', e: '2019-05-06', f: '2019-05-08', g: '110' },
        { a: '南山智园（三期）崇文园区1号', b: '0.4', c: '0.4', d: '256', e: '2019-05-06', f: '2019-05-08', g: '140' },
        { a: '南山智园（三期）崇文园区1号', b: '0.5', c: '0.5', d: '256', e: '2019-05-06', f: '2019-05-08', g: '10' },
      ],
      currentPage1: 1,
      pagesize1: 10,
      totalNum1: 4,

      //参保人数
      tableData2: [
        { a: '何思琪', b: '身份证', c: '350206********4442', d: '是', e: 2, f: '是', g: '2019-08-06' },
        { a: '何思琪', b: '身份证', c: '350206********4442', d: '是', e: 2, f: '是', g: '2019-08-06' },
        { a: '何思琪', b: '身份证', c: '350206********4442', d: '是', e: 2, f: '是', g: '2019-08-06' },
        { a: '何思琪', b: '身份证', c: '350206********4442', d: '是', e: 2, f: '是', g: '2019-08-06' },
        { a: '何思琪', b: '身份证', c: '350206********4442', d: '是', e: 2, f: '是', g: '2019-08-06' },
        { a: '何思琪', b: '身份证', c: '350206********4442', d: '是', e: 2, f: '是', g: '2019-08-06' },
        { a: '何思琪', b: '身份证', c: '350206********4442', d: '是', e: 2, f: '是', g: '2019-08-06' },
        { a: '何思琪', b: '身份证', c: '350206********4442', d: '是', e: 2, f: '是', g: '2019-08-06' },
        { a: '何思琪', b: '身份证', c: '350206********4442', d: '是', e: 2, f: '是', g: '2019-08-06' },
        { a: '何思琪', b: '身份证', c: '350206********4442', d: '是', e: 2, f: '是', g: '2019-08-06' }
      ],
      currentPage2: 1,
      pagesize2: 10,
      totalNum2: 10,

      //人才总数
      tableData3: [
        { a: '何思琪', b: 'A', c: '2019-08-06', d: '2022-08-06' },
        { a: '何思琪', b: 'A', c: '2019-08-06', d: '2022-08-06' },
        { a: '何思琪', b: 'A', c: '2019-08-06', d: '2022-08-06' },
        { a: '何思琪', b: 'A', c: '2019-08-06', d: '2022-08-06' },
        { a: '何思琪', b: 'A', c: '2019-08-06', d: '2022-08-06' },
        { a: '何思琪', b: 'A', c: '2019-08-06', d: '2022-08-06' },
        { a: '何思琪', b: 'A', c: '2019-08-06', d: '2022-08-06' },
        { a: '何思琪', b: 'A', c: '2019-08-06', d: '2022-08-06' },
        { a: '何思琪', b: 'A', c: '2019-08-06', d: '2022-08-06' },
        { a: '何思琪', b: 'A', c: '2019-08-06', d: '2022-08-06' },
      ],
      currentPage3: 1,
      pagesize3: 10,
      totalNum3: 10,

      //扶持人才房
      tableData4: [
        { a: '何思琪', b: '西里小区', c: '36', d: '36', e: '2019-08-06', f: '2022-08-05' },
        { a: '何思琪', b: '西里小区', c: '36', d: '36', e: '2019-08-06', f: '2022-08-05' },
        { a: '何思琪', b: '西里小区', c: '36', d: '36', e: '2019-08-06', f: '2022-08-05' },
        { a: '何思琪', b: '西里小区', c: '36', d: '36', e: '2019-08-06', f: '2022-08-05' },
        { a: '何思琪', b: '西里小区', c: '36', d: '36', e: '2019-08-06', f: '2022-08-05' },
        { a: '何思琪', b: '西里小区', c: '36', d: '36', e: '2019-08-06', f: '2022-08-05' },
        { a: '何思琪', b: '西里小区', c: '36', d: '36', e: '2019-08-06', f: '2022-08-05' },
        { a: '何思琪', b: '西里小区', c: '36', d: '36', e: '2019-08-06', f: '2022-08-05' },
        { a: '何思琪', b: '西里小区', c: '36', d: '36', e: '2019-08-06', f: '2022-08-05' },
        { a: '何思琪', b: '西里小区', c: '36', d: '36', e: '2019-08-06', f: '2022-08-05' },
      ],
      currentPage4: 1,
      pagesize4: 10,
      totalNum4: 10,

      //扶持资金
      searchForm5: {
        name: ''
      },
      tableData5: [
        { a: '2019', b: '0.5', c: '专利支持计划', d: '科技创新分类投资', e: '-', f: '南山区科技局', g: '知识产权促进中心' },
        { a: '2019', b: '0.5', c: '专利支持计划', d: '科技创新分类投资', e: '-', f: '南山区科技局', g: '知识产权促进中心' },
        { a: '2019', b: '0.5', c: '专利支持计划', d: '科技创新分类投资', e: '-', f: '南山区科技局', g: '知识产权促进中心' },
        { a: '2019', b: '0.5', c: '专利支持计划', d: '科技创新分类投资', e: '-', f: '南山区科技局', g: '知识产权促进中心' },
      ],
      currentPage5: 1,
      pagesize5: 10,
      totalNum5: 4,
    }
  },
  created() {
    this.parkName = this.$route.query.name || '';
    //this.getDataList()
  },
  mounted() {
    let chart1 = echarts.init(this.$refs.chartBarLine1)
    chart1.setOption(barLineOption(this.barLineData1), true)
    let chart2 = echarts.init(this.$refs.chartBarLine2)
    chart2.setOption(barLineOption(this.barLineData2), true)
    let chart3 = echarts.init(this.$refs.chartBarLine3)
    chart3.setOption(barLineOption3(this.barLineData3), true)
    let chart4 = echarts.init(this.$refs.chartBarLine4)
    chart4.setOption(barLineOption4(this.barLineData4), true)
  },
  filters: {
    ellipsis(value, limit) {
      if (!value) return ''
      if (value.length > limit) {
        return value.slice(0, limit) + '...'
      }
      return value
    }
  },
  methods: {
    handleAddEditSee(row) {
      this.viewType = 'details';
      return;
      // console.log(row.code, '查看')
      sessionStorage.setItem('settleCompanyDetail', JSON.stringify(row));
      openModal(6, '/parkSettleCompanyDetail', () => { })
    },
    onBack() {
      this.viewType = 'list';
    },
    handleCurrentChange(currentPage) {
      this.currentPage = currentPage
      this.getDataList()
    },
    getDataList() {
      let obj = {
        p: this.currentPage,
        size: this.pagesize,
        name: this.formInline.search,
        sort: this.sort,
        parkName: this.parkName
      }
      list(obj).then(res => {
        this.totalNum = res.data.data.total
        this.tableData = res.data.data.list[0]
      })
    },
    onSearch() {
      this.currentPage = 1
      this.getDataList()
    },
    // 排序
    sortChange(obj) {
      let [column, prop, order] = Object.values(obj)
      let sort = 0
      if (order == 'ascending') {
        switch (prop) {
          case 'd1': sort = 1; break
          case 'e': sort = 3; break
          case 'l': sort = 5; break
        }
      } else if (order == 'descending') {
        switch (prop) {
          case 'd1': sort = 2; break
          case 'e': sort = 4; break
          case 'l': sort = 6; break
        }
      }
      this.sort = sort
      this.getDataList()
    },
    showCalc() {
      this.dialogCalcVisible = true
    },
    showPersonDetail(row) {
      this.dialogPersonDetailVisible = true;
    },
    showHouseDetail(row) {
      this.dialogHouseDetailVisible = true;
    },
    handleCurrentChange1(currentPage) {
      this.currentPage1 = currentPage
      //this.getDataList()
    },
    handleCurrentChange2(currentPage) {
      this.currentPage2 = currentPage
      //this.getDataList()
    },
    handleCurrentChange3(currentPage) {
      this.currentPage3 = currentPage
      //this.getDataList()
    },
    handleCurrentChange4(currentPage) {
      this.currentPage4 = currentPage
      //this.getDataList()
    },
    handleCurrentChange5(currentPage) {
      this.currentPage5 = currentPage
      //this.getDataList()
    },
    handleSearch1() {

    },
    handleSearch5() {

    }
  }
}
</script>

<style lang="less" scoped>
@import "./index.less";
</style>
