.u-tag{
  display: flex;
  flex-wrap: wrap;
  .tag-item{
    margin-right: 10px;
    padding: 2px 10px;
    &.type0{
      color: rgba(0, 255, 0, 1);
      background-color: rgba(0, 255, 0, 0.2);
    }
    &.type1{
      color: rgba(23, 216, 223, 1);
      background-color: rgba(23, 216, 223, 0.2);
    }
    &.type2{
      color: rgba(248, 242, 24, 1);
      background-color: rgba(248, 242, 24, 0.2);
    }
    &.type3{
      color: rgba(255, 149, 0, 1);
      background-color: rgba(255, 149, 0, 0.2);
    }
  }
}
table {
  border-collapse: collapse;
  td {
    color: #fff;
    font-size: 14px;
  }
  td.lb{
    width: 145px;
    background-color: rgba(90, 126, 248,0.2);
  }
  .tit {
    // width: 150px;
    padding: 8px 5px;
  }
  .tit-color {
    color: #00ffff;
  }
}

.census-base {
  color: #fff;
  
  padding:0px 14px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  box-sizing: border-box;
  margin-right: 12px;
  //background-color: rgba(0, 0, 0, 0.1);

  .vertical-line {
    display: inline-block;
    position: relative;
    top: 2px;
    height: 14px;
    width: 4px;
    background-color: #00d5ff;
    margin-right: 10px;
    margin-top: 9px;
  }
}

.stat-list {
  // padding: 15px 15px 5px;
  box-sizing: border-box;
  .stat-item {
    height: 70px;
    // border: 1px solid #336b6c;
    display: flex;
    align-items: center;
    padding: 0 14px;
    box-sizing: border-box;
    & + .stat-item {
      // margin-top: 10px;
    }
    .pic {
      width: 48px;
      height: 48px;
    }
    .info {
      flex: 1;
      margin-left: 10px;
      .info1 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 16px;
        .lb {
          color: #fff;
        }
        .num {
          color: #00d5ff;
          .memo {
            font-size: 12px;
          }
        }
      }
      .info2 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 12px;
        color: #fff;
        margin-top: 5px;
      }
    }
  }
}

.detail-top {
  display: flex;
  // justify-content:space-around;
  margin-bottom: 12px;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.1);
  .logo-left {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border: 1px solid #00d5ff;
  }
  .content-center {
    margin: 0px 5px;
    .center-name {
      font-size: 16px;
      color: #fff;
    }
    .center-tag {
      display: flex;
      flex-flow: wrap;
      margin: 5px 0px;
      .el-tag {
        margin: 3px;
      }
    }
    .center-data {
      display: flex;
      justify-content: space-between;
      .data-list {
        display: flex;
        align-items: flex-start;
        color: #fff;
        margin-right: 50px;
        .icon {
          margin-top: 3px;
          width: 18px;
          height: 16px;
          margin-right: 3px;
        }
        .list-name {
          font-size: 14px;
        }
        .list-num {
          font-size: 16px;
          color: #00d5ff;
        }
        .list-detail {
          margin-top: 3px;
          max-width: 160px;
          overflow: hidden;
          text-overflow: ellipsis;
          -webkit-line-clamp: 3;
          display: -webkit-box;
          -webkit-box-orient: vertical;
        }
        .btn-color {
          cursor: pointer;
          color: #00d5ff;
        }
      }
    }
  }
  .img-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: auto;
    .com-img {
      width: 120px;
      height: 80px;
      object-fit: cover;
      margin-top: 5px;
      border: 1px solid #fff;
    }
  }
}

.echarts-wrapper {
  width: 373px;
  height: 205px;
  background-color: rgba(0, 0, 0, 0.1);
  // margin-bottom: 12px;
  margin-right: 12px;
  position: relative;
  .echarts-data {
    width: 1150px;
    height: 205px;
    position: absolute;
    top: 0;
    left: 0;
  }

  &.left {
    width: 376px;

    .echarts-root {
      width: 376px;
    }

    .echarts-data {
      width: 376px;
    }
  }

  &.right {
    width: 374px;

    .echarts-root {
      width: 374px;
    }

    .echarts-data {
      width: 374px;
    }
  }

  &.half {
    width: 569px;

    .echarts-root {
      width: 569px;
    }

    .echarts-data {
      width: 569px;
    }
  }
}

.propertyAnalysis {
  box-sizing: border-box;
  // box-shadow: 0 0 2px 2px rgba(24, 23, 23, 0.3) inset;
  // padding: 10px 0px;
  // margin-top: 16px;
  .search-wrapper {
    // background-color: rgba(0, 0, 0, 0.1);
    position: relative;
    padding: 0px 0 10px 0;
    box-sizing: border-box;
    margin-top: 5px;
    .search-form {
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
      .form-item {
        display: flex;
        .item-select {
          display: inline-block;
        }
      }
      .form-btn {
        display: flex;
        margin-left: 20px;
        .el-button + .el-button {
          margin-left: 10px;
        }
      }
      /deep/.el-input__inner {
        height: 36px;
        background-color: rgba(0, 0, 0, 0.3);
        border: 1px solid #17424b;
        color: #fff;
        border-radius: 0px;
      }
      /deep/.el-form-item {
        margin-bottom: 0;
      }
      /deep/.el-form-item__content::after,
      /deep/.el-form-item__content::before {
        display: none;
      }
      /deep/.el-form-item__label{
        color: #fff;
      }
      /deep/.el-form-item__content{
        color: #fff;
        .num1{
          color: #00d5ff;
        }
        .num2{
          color: red;
        }
      }
    }
  }
  .business-tas {
    width: 100%;
    margin-bottom: 14px;
  }
  .title-box {
    color: #fff;
    .title-tit {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .list {
      margin-bottom: 5px;
    }
    .name {
      font-size: 18px;
      font-weight: bold;
    }
    .el-tag {
      height: 16px !important;
      line-height: 16px !important;
      margin-right: 5px;
    }
    .u-tag{
      margin-top: 5px;
    }
    .detail{
      margin-top: 2px;
    }
  }
  .tabs {
    height: 40px;
    .tabs-main {
      height: 40px;
    }
    .tabs-sub {
      height: 40px;
    }
  }
  /deep/.el-tabs__item {
    font-size: 16px;
    color: #fff;
  }
  /deep/.el-tabs__nav-wrap::after {
    background-color: transparent !important;
  }
  /deep/.el-tabs__item {
    margin-top: 0;
    border: none;
  }
  /deep/.el-tabs__item.is-active {
    color: #00d5ff;
    background-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    background: url('../../img/tabsback.png') repeat-x;
    background-size: 100% 100%;
    //    border-bottom: 2px solid #00FFFF;
  }
  // /deep/.el-tabs__item:not(.is-disabled):hover{
  //   color: #fff;
  // }
  /deep/.el-tabs__active-bar {
    background-color: #00d5ff;
  }
  /deep/.el-tabs--border-card > .el-tabs__header {
    background: transparent;
    border: none;
  }
  /deep/.el-tabs--border-card {
    border: none;
    box-shadow: none;
  }
  /deep/.el-tabs__item:focus.is-active.is-focus:not(:active) {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border-radius: 0 !important;
  }
  /deep/.el-tabs--border-card {
    background: transparent;
  }
  /deep/.el-tabs__content {
    padding: 0;
    margin-top: 1px;
  }

  .tabs-sub {
    margin-top: 10px;
    /deep/.el-tabs__nav {
      background-color: rgba(16, 147, 168, 0.1);
    }
    /deep/.el-tabs__item.is-active{
      background: rgba(16, 147, 168, 0.5);
    }
  }
  .table-analysis {
    margin: 10px 5px;
    // border-top: 1px solid #336b6c;
    // border-left: 1px solid #336b6c;
    // border-right: 1px solid #336b6c;
    /deep/.el-table {
      background-color: transparent;
    }
    /deep/.el-table::before {
      background-color: transparent;
    }
    /deep/.el-table th,
    /deep/.el-table tr {
      background-color: transparent;
    }
    /deep/.el-table td,
    /deep/.el-table th {
      padding: 0;
      color: #fff;
    }
    /deep/.el-table td,
    /deep/.el-table th.is-leaf {
      border-bottom: 0px;
    }
    /deep/.el-table th > .cell {
      padding-right: 0;
      font-weight: normal;
    }
    /deep/.el-table .cell {
      padding-right: 0;
      text-align: center;
    }
    /deep/.el-table__body tr:hover {
      color: rgb(18, 157, 250);
      cursor: pointer;
    }
    /deep/th.is-leaf {
      background-color: rgba(0, 0, 0, 0.3);
    }
    /deep/.el-form-item {
      margin-bottom: 0;
    }
    /deep/.btn-next,
    /deep/.btn-prev {
      background-color: rgba(255, 255, 255, 0.3);
      border: 1px solid rgba(255, 255, 255, 0.3);
      color: #fff;
    }

    /deep/ tbody tr.el-table__row--striped td {
      background-color: rgba(0, 0, 0, 0.1);
    }
    /deep/ tbody tr:hover > td,
    /deep/ tbody tr.hover-row > td {
      background-color: rgba(0, 213, 255, 0.2); //#66b1ff
    }
    /deep/.el-table__fixed-right {
      background-color: rgba(48, 53, 59, 0.9) !important;
      bottom: 6px !important;
      height: initial !important;
    }

    /deep/.el-table__fixed-right-patch {
      width: 5px !important;
      background-color: #212122;
      border-color: #212122;
    }
    /deep/.el-table__fixed-right::before,
    /deep/.el-table__fixed::before {
      background-color: transparent !important;
    }
  }
  .form {
    display: flex;
    justify-content: space-between;
  }
  .table-pagination {
    margin: 12px 0px;
    display: flex;
    justify-content: flex-end;
  }
  .el-input {
    margin-right: 10px;
  }
  /deep/.el-button {
    width: 100px;
    height: 38px;
    background: url("~@/views/img/text_bg.png") no-repeat center;
    background-size: 100% 100%;
    border: none;
    padding: 0;
    color: #fff;
  }
  /deep/.el-button:hover {
    background-color: #00d5ff;
  }
  /deep/.el-input__inner {
    height: 28px;
    line-height: 28px;
    background-color: rgba(255, 255, 255, 0.3);
    border-color: #00d5ff;
    color: #fff;
  }
}
.u-btn {
  height: 36px;
  background: url("~@/views/img/text_bg.png") no-repeat center;
  background-size: 100% 100%;
  outline: none;
  border: 0;
  color: #fff;
  padding: 0 25px;
  font-size: 12px;
  cursor: pointer;
}
.btn-search {
  margin-left: 10px;
}
/* 定义滚动条样式 */
/deep/::-webkit-scrollbar {
  width: 5px;
  height: 6px;
  background-color: #0b8195;
}

/* scrollbar-corner：边角，两个滚动条的交汇处*/
/deep/::-webkit-scrollbar-corner {
  background-color: #7db8c2 !important;
}

/*定义滚动条轨道 内阴影+圆角*/
/deep/::-webkit-scrollbar-track {
  height: 3px;
  box-shadow: inset 0 0 0px rgba(240, 240, 240, 0.5);
  background-color: rgba(240, 240, 240, 0.5);
}

/*定义滑块 内阴影+圆角*/
/deep/::-webkit-scrollbar-thumb {
  height: 3px;
  box-shadow: inset 0 0 0px rgba(240, 240, 240, 0.5);
  background-color: #0b8195;
}
// 分页
/deep/.el-pagination__total {
  color: #fff !important;
}
/deep/.el-pager li {
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;
}
/deep/.el-pagination.is-background .el-pager li:not(.disabled).active {
  background-color: #00ffff;
  border: none;
}

/deep/.el-radio-button__inner {
  background: #26617d;
  border: 1px solid #0bafca;
  color: #fff;
}
/deep/.el-radio-button__orig-radio:checked + .el-radio-button__inner {
  background: #0bafca;
}
/deep/.el-dialog {
  height: 500px;
  background: url("~@/views/common/biger.png") no-repeat center;
  background-size: 100% 100%;
}
/deep/.el-dialog__header {
  padding: 10px 20px 10px;
}
/deep/.el-dialog__body {
  padding: 0 20px 20px 20px;
}
/deep/.el-dialog__title {
  font-size: 14px;
  color: #fff;
}
/deep/.el-dialog__headerbtn,
/deep/.el-dialog__close {
  color: #fff;
}