<template>
  <div class="officeHouse">
    <div class="property-content">
      <div class="property-base">
        <div class="census-base">
          <span>国企物业基本统计信息</span>
          <!-- <div @click="handleMore('more')">
            <span class="more">更多分析</span>
            <img :src="require('../img/right_arrow.png')" style="width:6px;height:10px; margin-right:14px;" alt="" />
          </div> -->
        </div>
        <ul class="base-content">
          <li class="base-item" style="width:158px">
            <p class="base-name">建筑面积</p>
            <p class="base-num">20万㎡</p>
          </li>
          <li class="base-item" style="width:158px">
            <p class="base-name">资产总数</p>
            <p class="base-num">6处</p>
          </li>
          <li class="base-item" style="width:158px">
            <p class="base-name">自有物业面积</p>
            <p class="base-num">12万㎡</p>
          </li>
          <li class="base-item" style="width:158px">
            <p class="base-name">代管物业面积</p>
            <p class="base-num">8万㎡</p>
          </li>
        </ul>
      </div>

      <div class="property-base">
        <div class="census-base">
          <span>国企物业使用信息</span>
        </div>
        <ul class="base-content">
          <li class="base-item" style="width:158px">
            <p class="base-name">入驻企业数</p>
            <p class="base-num">131家</p>
          </li>
          <li class="base-item" style="width:158px">
            <p class="base-name">月缴租金</p>
            <p class="base-num">1234.23万元</p>
          </li>
          <li class="base-item vertical" style="width:100%">
            <p class="base-name">使用面积</p>
            <p class="base-num">12万㎡</p>
          </li>
          <li class="base-item" style="width:158px">
            <p class="base-name">出租面积</p>
            <p class="base-num">8万㎡</p>
          </li>
          <li class="base-item" style="width:158px">
            <p class="base-name">调配面积</p>
            <p class="base-num">4万㎡</p>
          </li>
          <li class="base-item" style="width:158px">
            <p class="base-name">空置面积</p>
            <p class="base-num">8万㎡</p>
          </li>
          <li class="base-item" style="width:158px">
            <p class="base-name">空置率</p>
            <p class="base-num">40%</p>
          </li>
        </ul>
      </div>

      <div class="business-expect">
        <div class="census-base">五大类资产统计分析</div>
        <div ref="chartBar" class="echarts-data" style="height: 280px"></div>
      </div>
    </div>
  </div>
</template>
<script>
import * as echarts from "echarts";
import { openModal } from '@/until/bigUrl.js'
import { govermentHouseCodeCheck } from '@/views/request'
import barOption from '@/views/common/bar/barOption'

export default {
  data () {
    return {
      //五大类资产统计分析
      barData: {
        yAxisName: '面积（万㎡）',
        axisLabelWrap: 4,
        grid: {
          left: '5%'
        },
        tooltip: {
          show: false
        },
        xAxisData: [
          "产业用房",
          "行政办公",
          "公共服务设施",
          "商业",
          "住宅"
        ],
        yAxisDatax: [
          23, 12, 15, 34, 53
        ],
      },
    }
  },

  mounted() {
    this.initChart();
  },
  methods: {
    initChart() {
      let chartBar = echarts.init(this.$refs.chartBar);
      chartBar.setOption(barOption(this.barData), false);
    },
    handleMore(mark) {
      if (mark === 'more') {
        openModal(6, '/moreAnalysis', () => { })
      }
    }
  }

}

</script>

<style lang="less" scoped>
@import "./index.less";
</style>
