<template>
  <div class="governmentProperty">
    <div class="title">
      <div class="title-text">
        <ul class="icon-title">
          <li></li>
          <li></li>
          <li></li>
        </ul>
        <span class="title-content">园区VR</span>
      </div>
      <i class="el-icon-close" style="color:#fff; font-size:18px;" @click="close"></i>
    </div>
    <div class="tabs">
      <div class="propertyAnalysis">
    <div class="business-tas">
      <div class="left">
        <!-- <img :src="currentImg" class="left-img"> -->
        <iframe :src ="currentImg"
                width="100%"
                height="100%"
                frameBorder="1"
                id="ifr1" name="ifr1"
                scrolling="yes"
                class="left-img"
                style="border-color:#00d5ff;"
                >
        </iframe>
      </div>
    </div>
  </div>
    </div>
  </div>
</template>
<script>

import { openModal, closeModal } from '@/until/bigUrl.js'

export default {
  data () {
    return {
      currentIndex: 0,
      currentImg: '',
      imgList: [],
      currentID: ''
    }
  },
  created () {
    if (this.$route.query.id) {
      this.currentID = this.$route.query.id
    }
    let vrUrl = this.$route.query.url
    // this.currentImg = this.$route.query.url
    if (vrUrl) {
      this.currentImg = vrUrl
      this.isPark = true
    } else {
      this.currentImg = 'https://720yun.com/t/0cvkzmqqr8w?scene_id=83488881'
      this.isPark = false
    }
  },

  methods: {
    close () {
      closeModal(6)
    }
  }
}
</script>

<style lang="less" scoped>
@import "./index.less";
</style>
