.governmentProperty {
  height: 800px;
  width: 1200px;
  padding: 0 24px;
  box-sizing: border-box;
  border: 1px solid #00d5ff;
  background: url("~@/views/img/biger.png") no-repeat center;
  background-size: 100% 100%;
  .title {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #00d5ff;
    padding: 16px 0;
    .title-text {
      display: flex;
      .icon-title {
        display: inline-flex;
        align-items: center;
        margin: 0 8px 0 2px;
        align-self: center;
        li {
            width: 2px;
            height: 8px;
            background-color: #00D5FF;
            transform: rotate(15deg);
            &+li {
            margin-left: 4px;
            }
        }
      }
    }
    .title-icon {
      font-size: 12px;
      color: #00d5ff;
      display: inline-block;
      margin-right: 8px;
    }
    .title-content {
      font-size: 16px;
      color: #fff;
    }
  }
  .tabs {
    height: 40px;
    .tabs-main {
      height: 40px;
    }
  }
  /deep/.el-tabs__item {
    font-size: 16px;
    color: #fff;
  }
  /deep/.el-tabs__nav-wrap::after {
    background-color: transparent !important;
  }
  /deep/.el-tabs__item {
    margin-top: 0;
    border: none;
  }
  /deep/.el-tabs__item.is-active {
    color: #00d5ff;
    background-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    background: url("~@/views/img/tabsback.png") repeat-x;
    background-size: 100% 100%;
  }
  /deep/.el-tabs__active-bar {
    background-color: #00d5ff;
  }
  /deep/.el-tabs--border-card > .el-tabs__header {
    background: transparent;
    border: none;
  }
  /deep/.el-tabs--border-card {
    border: none;
    box-shadow: none;
  }
  /deep/.el-tabs__item:focus.is-active.is-focus:not(:active) {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border-radius: 0 !important;
  }
  /deep/.el-tabs--border-card {
    background: transparent;
  }
  /deep/.el-tabs__content {
    padding: 0;
    margin-top: 1px;
  }
}
.propertyAnalysis {
  box-sizing: border-box;
  // box-shadow: 0 0 2px 2px rgba(24, 23, 23, 0.3) inset;
  padding: 10px;
  margin-top: 30px;
  .business-tas {
    // display: flex;
    // justify-content: space-between;
    width: 100%;
    .left {
      .left-img {
        width: 100%;
        // width: 1100px;
        height: 660px;
        object-fit: cover;
      }
    }
  }
}
.current {
  opacity: 1 !important;
  border: 1px solid #00d5ff;
}
.behind {
  opacity: 0.3;
}
/deep/.el-button {
  width: 66px;
  height: 30px;
  background: url("~@/views/img/text_bg.png") no-repeat center;
  background-size: 100% 100%;
  border: none;
  padding: 0;
  color: #fff;
}
