<template>
  <div class="propertyAnalysis">
    <div class="business-tas">
      <div class="list-tit">
        <div class="left">
          <div style="margin-right:20px">空置房间数：<span style="color:#00D5FF;">{{totalNum}}</span>&nbsp;&nbsp;间</div>
          <!-- <div>空置总面积：<span style="color:#00D5FF;">{{preDueNum}}</span>&nbsp;&nbsp;万m²</div> -->
        </div>
        <div class="right">
          <el-form :model="formInline" ref="form" class="form">
            <el-form-item>
              <el-input style="width:250px" v-model="formInline.search" placeholder="请输入物业资产名称"></el-input>
            </el-form-item>

            <el-form-item>
              <el-button type="primary" @click="onSubmit">查询</el-button>
            </el-form-item>
          </el-form>
        </div>
      </div>
      <div class="table-analysis" :style="{borderBottom: (tableData.length===0 ? '1px solid #336b6c': '') }">
        <el-table :data="tableData" align='left' header-align='left'>
          <el-table-column label="序号" type="index" width="50">
          </el-table-column>

          <el-table-column prop="name" label="物业资产名称" width="400" align='left'>
            <!-- <template slot-scope="scope">
              <el-popover placement="top-start" trigger="hover" :content="scope.row.name" >
                <span slot="reference"> {{ scope.row.name | ellipsis(10)}}</span>
                <span slot="reference"> {{ scope.row.name}}</span>
              </el-popover>
            </template> -->
          </el-table-column>
          <el-table-column prop="area" label="建筑面积（㎡）" width="100"></el-table-column>
          <el-table-column label="状态" width="100">
            <!-- <template slot-scope="scope"> -->
            <!-- <span slot="reference"> {{ scope.row.status===1?'预备在建':scope.row.status===2?'空置':scope.row.status===3?'运营中':scope.row.status===4?'处置中':'已处置'}}</span> -->
            <!-- </template> -->
            空置
          </el-table-column>
          <el-table-column prop="preEnterprise" label="上一次入驻企业"></el-table-column>
          <!-- <el-table-column prop="buildArea" label="退房时间"></el-table-column>
          <el-table-column prop="buildArea" label="退房原因"></el-table-column> -->
          <el-table-column label="操作" align="center">
            <template slot-scope="scope">
              <!-- <div @click="handleAddEditSee(scope.row)" style="color:#00D5FF">VR看房</div> -->
              <div @click="handleAddEditSee(scope.row)" :style="{'color':vrName.indexOf(scope.row.name)!=-1?'#00D5FF':''}">VR看房</div>
            </template>
          </el-table-column>
        </el-table>
      </div>
      <div class="table-pagination">
        <el-pagination background :data="tableData" @current-change="handleCurrentChange" :current-page.sync="currentPage" :page-size="pagesize" layout="total, prev, pager, next" :total="totalNum">
        </el-pagination>
      </div>
    </div>

  </div>
</template>
<script>
import { vacancyInfoList } from '@/views/request'
import { openModal } from '@/until/bigUrl.js'
import vrUrlObj from '@/until/vrUrl'
export default {
  data () {
    return {
      formInline: {
        search: ''
      },
      color: '#00D5FF',
      vrName: Object.keys(vrUrlObj),
      currentID: '',
      // 6acfef6415bd48149853943bfdd92ceb
      // 0035220182b64e0aa034af2c68620738
      // "135d0ac379714f9c95a10df656f7fbb2"
      currentPage: 1,
      pagesize: 15,
      totalNum: 0,
      preDueNum: 0,
      mark: 0,
      tableData: []
    }
  },
  created () {
    this.currentID = this.$route.query.id
    this.getDataList()
  },
  filters: {
    ellipsis (value, limit) {
      if (!value) return ''
      if (value.length > limit) {
        return value.slice(0, limit) + '...'
      }
      return value
    }
  },
  methods: {
    handleAddEditSee (item) {
      if (this.vrName.indexOf(item.name) !== -1) {
        console.log(vrUrlObj[item.name])
        openModal(6, '/parkVR?url=' + vrUrlObj[item.name] + '&id=' + this.currentID, () => { })
      }
    },

    handleCurrentChange (currentPage) {
      this.currentPage = currentPage
      this.getDataList()
    },
    getDataList () {
      let obj = {
        p: this.currentPage,
        size: this.pagesize,
        index: '',
        type: this.currentID
      }
      this.list(obj)
    },
    onSubmit () {
      let obj = {
        p: 1,
        size: this.pagesize,
        index: this.formInline.search,
        type: this.currentID
      }
      this.list(obj)
    },
    list (obj) {
      this.mark += 1
      vacancyInfoList(obj).then(res => {
        console.log(res)
        this.totalNum = res.data.data.total
        if (this.mark === 1) {
          // 统计表格列表中的预到期企业数量
          // this.getTotal(this.totalNum)
        }
        this.tableData = res.data.data.list
      })
    }
    // getTotal (totalNum) {
    //   let obj = {
    //     p: this.currentPage,
    //     size: totalNum,
    //     index: '',
    //     type: this.currentID
    //   }
    //   vacancyInfoList(obj).then(res => {
    //     let data = res.data.data.list
    //     data.forEach(item => {
    //       if (item.remainDay <= 30) {
    //         this.preDueNum += 1
    //       }
    //     })
    //   })
    // }
  }
}
</script>

<style lang="less" scoped>
@import "./index.less";
</style>
