<template>
  <div class="governmentProperty">
  <div class="tabs">
  <el-tabs v-model="activeName" class="tabs-main">
    <el-tab-pane label="住宅" name="propertyHouse" class="tabs-item">
      <PropertyResidence></PropertyResidence>
    </el-tab-pane>
    <el-tab-pane label="物业列表" name="parkList" class="tabs-item">
      <PropertyList></PropertyList>
    </el-tab-pane>
  </el-tabs>
   </div>
   <div></div>
  </div>
</template>
<script>

import PropertyResidence from './propertyResidence'
import PropertyList from './propertyList'

export default {
  components: {PropertyResidence, PropertyList},
  data () {
    return {
      activeName: 'propertyHouse'
    }
  },
  created () {
    if (this.$route.query.activeName) {
      this.activeName = this.$route.query.activeName
    }
  },
  methods: {
  }
}
</script>

<style lang="less" scoped>
.governmentProperty {
    height: 934px;
    padding: 12px 16px;
    box-sizing: border-box;
    background: url(../../img/ce_left.png) no-repeat center;
    background-size:100% 100%;
    .tabs{
       height: 40px;
       .tabs-main{
         height: 40px;
       }
    }
    /deep/.el-tabs__item{
      font-size: 16px;
      color: #fff;
    }
    /deep/.el-tabs__nav-wrap::after{
      background-color: transparent !important;
    }
    /deep/.el-tabs__item.is-active{
      color: #00D5FF;
    }
    /deep/.el-tabs__active-bar{
      background-color: #00D5FF;
    }
    /deep/.el-tabs__item:focus.is-active.is-focus:not(:active){
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
      border-radius: 0 !important;
    }
  }
</style>
