<template>
  <div class="propertyAnalysis">
    <div style=" display: flex;">
    <div>
       <div class="census-base"><span class="vertical-line"></span>政府及国企物业产业用房数统计</div>
       <div class="echarts-left">
       <div ref="houseRoot" class="echarts-root"></div>
       <div ref="house" class="echarts-data"></div>
       </div>
    </div>

    <div>
       <div class="census-base"><span class="vertical-line"></span>政府及国企物业产业用房近3年退租数、入住数对比</div>
       <div ref="rate" class="echarts-right"></div>
    </div>

    </div>

     <div>
       <div class="census-base"
            style="
            display: flex;
            justify-content: space-between;
            margin-right:0;
            padding-right:20px;
            ">
         <div><span class="vertical-line"></span>政府及国企物业退租原因分析</div>
         <div style="cursor:pointer;" @click="handleMore({'active' :'rentReasons'})">
           <span style="color:#00d5ff;">更多分析</span>
           <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAKCAYAAACXDi8zAAAAKklEQVQImWNk+P//PwMEMDIgASYGHIAFSSWKTrw6YABFJ1E6iLeDNH8AALafBxs8ecqrAAAAAElFTkSuQmCC"
                 alt=""
                 style="width:12px;height:12px; width:6px; height:10px; position:relative;top:1px; margin-left:4px;"
                 />
         </div>
         </div>
       <div ref="into" class="echarts-bottom"></div>
     </div>
  </div>
</template>
<script>
import * as echarts from 'echarts'
import optionPie from '@/views/common/pieOptions'
import rootOptionPie from '@/views/common/rootOptions'
import lineOptions from './options.js'
import barOptions from './barOption.js'
// import {propertyAnalysis} from '@/views/request.js'
export default {

  data () {
    return {
      pieData: {
        data: [{value: 18, name: '政府公共物业'},
          {value: 3, name: '国企物业'}
        ],
        color: [
          '#00ffff', '#00cfff', '#006ced', '#ffe000',
          '#ffa800', '#ff5b00', '#ff3000', '#c519ff',
          '#188eff', '#19c4fc', '#febf00', '#ff8b19',
          '#fd1b8b'
        ],
        verticalHorizontal: 'vertical',
        seriesLeft: '-45%',
        seriesTop: '9.6%',
        val: 0.2,
        unit: '处',
        legendTop: '38%',
        legendLeft: '53.5%',
        titleTop: '37%',
        titleLeft: '26.5%',
        total: '总数',
        ringWidth: 100,
        ringHeight: 100,
        basemap: [150, 68],
        ringRadius: ['50%', '62%'],
        ringCenter: ['50%', '41%']
      },

      lineData: {
        tipData: [{name: '退租数'}, {name: '入住数'}],
        xLabel: ['2019年', '2020年', '2021年'],
        unit: '家',
        goToSchool: [58, 67, 44],
        goOutSchool: [60, 78, 33]
      },
      barData: {
        color: [
          '#198cff', '#00ffff', '#0dffa1', '#ffc619',
          '#ff8c19', '#ff198c', '#ff3000', '#c619ff',
          '#188eff', '#19c4fc', '#febf00', '#ff8b19',
          '#fd1b8b', '#188eff', '#19c4fc', '#febf00'
        ],
        data: [
          [ 'product',
            '更换办公地点',
            '合同到期',
            '经营战略调整',
            '人员变动',
            '提前退租',
            '外迁',
            '与项目合作方中止合作',
            '变更面积',
            '不满足续租条件',
            '场地不满足企业发展需求',
            '承租主体变更',
            '经营问题',
            '期满退房',
            '期满退租',
            '违反租赁合同条例',
            '拖欠租金'
          ],
          ['2019年', 1, 39, 3, 1, 12, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0],
          ['2020年', 0, 0, 0, 0, 8, 0, 0, 1, 7, 3, 2, 18, 25, 2, 10],
          ['2021年', 0, 0, 0, 0, 2, 3, 0, 0, 0, 3, 0, 14, 21, 0, 0, 1]
        ]}
    }
  },
  created () {
  },
  methods: {
    handleMore (val) {
      this.$emit('event', {'active': 'rentReasons'})
    }
  },
  mounted () {
    // 政府办公用房面积空置情况
    let houseRootChart = echarts.init(this.$refs.houseRoot)
    let houseChart = echarts.init(this.$refs.house)
    rootOptionPie({
      isTimer: true,
      eChart: houseRootChart,
      step: 6,
      widthNum: 3.62,
      widthInNum: 3.62,
      heightNum: 2.15,
      heightInNum: 2.14,
      outsideLine1: 3.05,
      outsideLine2: 3.33,
      outsideLine3: 5.15,
      color: [
        '#00ffff', '#00cfff', '#006ced', '#ffe000',
        '#ffa800', '#ff5b00', '#ff3000', '#c519ff',
        '#188eff', '#19c4fc', '#febf00', '#ff8b19',
        '#fd1b8b'
      ]
    }
    )
    // propertyAnalysis().then((res) => {
    //   let {zfNum, gqNum} = res.data.data
    //   let arr = [{value: zfNum, name: '政府公共物业'},
    //     {value: gqNum, name: '国企物业'}
    //   ]
    // this.pieData.data = arr
    houseChart.setOption(optionPie(this.pieData))
    // })

    // 政府及国企物业产业用房近3年退租数、入住数对比
    let rateChart = echarts.init(this.$refs.rate)
    rateChart.setOption(lineOptions(this.lineData))

    // 政府及国企物业退租原因分析
    let intoChart = echarts.init(this.$refs.into)
    intoChart.setOption(barOptions(this.barData))
    intoChart.on('click', (val) => {
      this.$emit('event', {'active': 'rentReasons', 'tzresion': val.seriesName, 'year': val.name.substring(0, 4)})
    })
  },

  destroyed () {
    optionPie({isTimer: false})
  }
}

</script>

<style lang="less" scoped>
@import "./index.less";
</style>
