<template>
  <div class="governmentProperty">
    <div class="tit-box">
      <h6 class="title">{{currentName}}</h6>
      <div class="icon">
        <i class="el-icon-back" style="color:#fff; font-size:18px;" @click="handleMore('back')"></i>
        <i class="el-icon-close" style="color:#fff; font-size:18px; margin-left:20px;" @click="close"></i>
      </div>
    </div>
    <div class="property-content">
      <div class="property-base">
        <div class="census-base">
          <span>园区概况</span>
          <div @click="handleMore('detail')">
            <span class="more">更多</span>
            <img :src="require('../../../../img/right_arrow.png')" style="width:6px;height:10px; margin-right:14px;" alt="" />
          </div>
        </div>
        <ul class="base-content">
          <!-- <li class="base-item">
            <p class="base-name">投入使用时间</p>
            <p class="base-num">{{baseData.useTime?baseData.useTime:"--"}}天</p>
          </li> -->
          <li class="base-item">
            <p class="base-name">用地面积</p>
            <p class="base-num">{{baseData.landArea?(baseData.landArea/10000).toFixed(2):"--"}}万㎡</p>
          </li>
          <li class="base-item">
            <p class="base-name">建筑面积</p>
            <p class="base-num">{{baseData.buildArea?(baseData.buildArea/10000).toFixed(2):"--"}}万㎡</p>
          </li>
          <li class="base-item">
            <p class="base-name">平均租金</p>
            <p class="base-num">{{baseData.averageRent?(baseData.averageRent).toFixed(2):"--"}}元/㎡</p>
          </li>
          <li class="base-item">
            <p class="base-name">楼栋数量</p>
            <p class="base-num">{{baseData.buildNum?baseData.buildNum:"--"}}栋</p>
          </li>
          <li class="base-item">
            <p class="base-name">可出租面积</p>
            <p class="base-num">{{baseData.kczArea?(baseData.kczArea/10000).toFixed(2):"--"}}万㎡</p>
          </li>
          <li class="base-item">
            <p class="base-name">已出租面积</p>
            <p class="base-num">{{baseData.czArea?(baseData.czArea/10000).toFixed(2):"--"}}万㎡</p>
          </li>
          <li class="base-item">
            <p class="base-name">空置户</p>
            <p class="base-num">{{baseData.vacancyNum?baseData.vacancyNum:"--"}}户</p>
          </li>
          <li class="base-item">
            <p class="base-name">空置面积</p>
            <p class="base-num">{{baseData.kzArea?(baseData.kzArea/10000).toFixed(2):"--"}}万㎡</p>
          </li>
          <li class="base-item">
            <p class="base-name">空置率</p>
            <p class="base-num">{{baseData.vacancyRate?(baseData.vacancyRate).toFixed(2):"--"}}%</p>
          </li>
        </ul>
      </div>
      <div class="business-tas">
        <div class="table-analysis" :style="{borderBottom: (tableData.length===0 ? '1px solid #336b6c': '') }">
          <el-table :data="tableData" style="width: 100%,font-size:12px" :show-header='false'>
            <el-table-column prop="name">
            </el-table-column>

            <el-table-column prop="num" align='center'>
              <template slot-scope="scope">
                <span>{{ scope.row.num?scope.row.num:"--"}}</span>
              </template>
            </el-table-column>

          </el-table>
        </div>
      </div>
      <div class="property-base">
        <div class="census-base">
          <span>园区照片</span>
          <div @click="handleMore('img')">
            <span class="more">更多</span>
            <img :src="require('../../../../img/right_arrow.png')" style="width:6px;height:10px; margin-right:14px;" alt="" />
          </div>
        </div>
        <img :src="parkImg" class="img">
        <!-- <img src="~@/views/img/cloud.jpg" class="img" v-if="currentName==='南山云科技大厦'"> -->
      </div>
      <div class="property-base" style="margin-bottom:14px;">
        <div class="census-base">
          <span>园区VR</span>
          <div @click="handleMore('vr')">
            <span class="more">查看</span>
            <img :src="require('../../../../img/right_arrow.png')" style="width:6px;height:10px; margin-right:14px;" alt="" />
          </div>
        </div>
      </div>
      <div class="property-base">
        <div class="census-base">
          <span>园区地址</span>
        </div>
        <div class="addres-name">{{address}}</div>
      </div>
    </div>
  </div>
</template>
<script>

import { closeModal, openModal } from '@/until/bigUrl.js'
import { parkDetailList } from '@/views/request'

export default {
  data () {
    return {
      currentName: '',
      currentID: '',
      address: '',
      parkImg: '',
      imgList: [],
      imgUrl: '/zbkc',
      baseData: {
        useTime: '',
        landArea: '',
        buildArea: '',
        averageRent: '',
        buildNum: '',
        kczArea: '', // 可出租面积
        czArea: '', // 已出租面积
        vacancyNum: '', // 空置户
        kzArea: '', // 空置面积
        vacancyRate: '' // 空置率=空置面积/建筑面积
      },
      tableData: [{
        mark: 1,
        name: '入驻企业',
        num: ''
      },
      {
        mark: 2,
        name: '预到期',
        num: ''
      },
      {
        mark: 3,
        name: '是否办理产权证',
        num: ''
      },
      {
        mark: 4,
        name: '入账金额',
        num: ''
      },
      {
        mark: 5,
        name: '投入使用时间',
        num: ''
      }
      ]
    }
  },
  created () {
    this.currentName = this.$route.query.name
    this.currentID = this.$route.query.id
    this.getDataList()
  },

  methods: {
    getDataList () {
      parkDetailList(this.currentID).then(res => {
        let data = res.data.data
        this.address = data.address
        this.baseData.landArea = data.landArea
        this.baseData.buildArea = data.buildArea
        this.baseData.averageRent = data.avgPrice
        this.baseData.buildNum = data.buildingCount
        this.baseData.kczArea = data.rentableArea + data.rentedArea
        this.baseData.czArea = data.rentedArea
        this.baseData.vacancyNum = data.vacantCount
        this.baseData.kzArea = data.vacantArea
        this.baseData.vacancyRate = data.rentableArea / this.baseData.kczArea * 100

        this.imgList = data.url
        this.parkImg = this.imgUrl + data.url[0]
        this.tableData.forEach(item => {
          if (item.mark === 1) {
            if (this.currentName === '南山智园（一期）') {
              item.num = '98家'
            } else {
              item.num = data.qyCount ? data.qyCount + '家' : '--'
            }
          } else if (item.mark === 2) {
            item.num = data.beExpire ? data.beExpire + '户' : '--'
          } else if (item.mark === 3) {
            item.num = data.certHas
          } else if (item.mark === 5) {
            item.num = data.userTime ? data.userTime : '--'
          } else {
            item.num = data.rzMoney ? data.rzMoney + '元' : '--'
          }
        })
      })
    },

    handleMore (mark) {
      if (mark === 'detail') {
        openModal(6, '/parkMoreAnalysis?id=' + this.currentID + '&name=' + this.$route.query.name, () => { })
      } else if (mark === 'img') {
        openModal(6, '/parkImg', () => { })
        sessionStorage.setItem('park_img_list', JSON.stringify(this.imgList))
      } else if (mark === 'vr') {
        openModal(6, '/parkVR', () => { })
      } else {
        let path = this.$route.query.path
        // 园区概况
        closeModal(6, null, 'isMark')
        setTimeout(() => {
          openModal(1, `${path}?activeName=parkList`, () => { })
        }, 400)
      }
    },

    close () {
      closeModal(6, null, 'isMark')
      setTimeout(() => {
        openModal(1, '/estateHous?activeName=propertyHouse', () => { })
      }, 400)
    }

  }
}
</script>

<style lang="less" scoped>
@import "./index.less";
</style>
