.governmentProperty {
  width: 360px;
  height: 100%;
  padding: 12px 16px;
  box-sizing: border-box;
  background: url(../../../../img/ce_left.png) no-repeat center;
  background-size: 100% 100%;
  .tit-box {
    display: flex;
    justify-content: space-between;
    .title {
      font-size: 16px;
      color: #00d5ff;
      margin: 10px 0;
      width: 80%;
    }
    .icon {
      height: 100%;
      display: flex;
      margin-top: 13px;
      align-content: flex-start;
    }
  }
  .img {
    width: 325px;
    height: 200px;
    object-fit: cover;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .addres-name {
    font-size: 12px;
    margin-top: 10px;
    color: #fff;
  }
  .census-base {
    height: 24px;
    font-size: 16px;
    color: #fff;
    line-height: 24px;
    padding-left: 14px;
    box-sizing: border-box;
    background: url(../../../../img/title.png) no-repeat center;
    background-size: 100% 100%;
    display: flex;
    justify-content: space-between;
    .more {
      height: 24px;
      padding: 0 16px;
      display: inline-block;
      color: #00d5ff;
      font-size: 14px;
      cursor: pointer;
    }
  }
  .property-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .property-base {
      width: 100%;
      .base-content {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 12px;
        box-sizing: border-box;
        .base-item {
          width: 100px;
          height: 60px;
          background: url(../../../../img/text_bg.png) no-repeat center;
          background-size: 100% 100%;
          margin-bottom: 12px;
          .base-name {
            font-size: 12px;
            margin-top: 10px;
            text-align: center;
            color: #fff;
          }
          .base-num {
            margin-top: 6px;
            font-size: 12px;
            text-align: center;
            color: #00d5ff;
          }
        }
        .base-item-last {
          width: 100px;
          height: 60px;
        }
      }
    }

    .business-expect {
      width: 100%;
      .echarts-content {
        margin-top: 14px;
        width: 328px;
        height: 274px;
      }
      .business-content {
        width: 100%;
        padding-top: 12px;
        box-sizing: border-box;
        .business-line {
          display: flex;
          justify-content: space-between;
          .business-item {
            display: flex;
            width: 158px;
            height: 70px;
            background: url(../../../../img/text_bg.png) no-repeat center;
            background-size: 100% 100%;
            margin-bottom: 12px;
            .imgIcon {
              margin-top: 15px;
              margin-left: 20px;
              width: 44px;
              height: 44px;
            }
            .business-name {
              font-size: 12px;
              margin-top: 16px;
              text-align: left;
              color: #fff;
              margin-left: 12px;
            }
            .business-num {
              margin-top: 6px;
              font-size: 12px;
              text-align: left;
              color: #00d5ff;
              margin-left: 12px;
            }
          }
        }
      }
    }

    .business-tas {
      width: 100%;
      margin-bottom: 14px;
      .table-analysis {
        border-top: 1px solid #336b6c;
        border-left: 1px solid #336b6c;
        border-right: 1px solid #336b6c;
      }
      .data-none-border{
        border-bottom: 1px solid #336b6c;
      }
      /deep/.el-table {
        background-color: transparent;
      }
      /deep/.el-table::before {
        background-color: transparent;
      }
      /deep/.el-table th,
      /deep/.el-table tr {
        background-color: transparent;
      }
      /deep/.el-table td,
      /deep/.el-table th {
        padding: 0;
        color: #fff;
      }
      /deep/.el-table td,
      /deep/.el-table th.is-leaf {
        border-bottom: 1px solid #336b6c;
      }
      /deep/.el-table th > .cell {
        padding-right: 0;
      }
      /deep/.el-table .cell {
        padding-right: 0;
      }
      /deep/.el-table__body tr:hover {
        color: rgb(18, 157, 250);
        cursor: pointer;
      }
      /deep/ tbody tr:hover > td,
      /deep/ tbody tr.hover-row > td {
        background-color: #66b1ff;
      }
    }
  }
}
