<template>
  <div class="propertyAnalysis">
    <div style=" display: flex;">
    <div>
       <div class="census-base"><span class="vertical-line"></span>政府及国企物业产业用房数统计</div>
       <div class="echarts-left">
       <div ref="houseRoot" class="echarts-root"></div>
       <div ref="house" class="echarts-data"></div>
       </div>
    </div>

     <div>
       <div class="census-base"><span class="vertical-line"></span>政府及国企物业产业用房数统计</div>
       <div ref="rate" class="echarts-right"></div>
    </div>
    </div>

    <div style=" display: flex;">
    <div class="echarts-left" style="width:434px;margin-bottom: 0;height: 340px;">
       <!-- <div class="census-base"><span class="vertical-line"></span>政府及国企物业退租原因分析</div>
       <div class="echarts-left">
       <div ref="rentRoot" class="echarts-root"></div>
       <div ref="rent" class="echarts-data"></div>
       </div> -->
    </div>

     <div class="echarts-right" style="width:800px;margin-bottom: 0;height: 340px;">
       <!-- <div class="census-base"><span class="vertical-line"></span>政府及国企物业产业用房近5年退租数、入住数对比</div>
       <div ref="into" class="echarts-right"></div> -->
    </div>
    </div>

  </div>
</template>
<script>
import * as echarts from 'echarts'
import optionPie from '@/views/common/pieOptions'
import rootOptionPie from '@/views/common/rootOptions'

import lineOptions from './lineOption.js'
// import barOptions from './barOption.js'

export default {

  data () {
    return {
      pieData1: [
        {value: 1048, name: '政府公共物业'},
        {value: 735, name: '国企物业'}
      ],
      pieData2: [
        {value: 1048, name: '退租原因一'},
        {value: 735, name: '退租原因二'}
      ],
      lineData: {
        tipData: [{name: '政府物业'}, {name: '国企物业'}],
        xLabel: ['3', '4', '5', '6', '7', '8'],
        goToSchool: ['40', '60', '22', '85', '50', '40'],
        goOutSchool: ['20', '50', '12', '65', '30', '60']
      },
      barData: {
        xAxisData: ['2014年', '2015年', '2016年', '2017年', '2018年', '2019年', '2020年'],
        legendData: ['政府物业', '国企物业', '集体物业', '空置率'],
        yAxisDatax: [15, 25, 90, 40, 26, 30, 20],
        yAxisDataz: [10, 50, 100, 35, 55, 30, 20],
        yAxisDataz1: [20, 60, 100, 20, 45, 10, 60],
        yAxisDataz2: [30, 70, 100, 10, 60, 50, 80]
      }
    }
  },
  created () {
  },
  mounted () {
    // 政府及国企物业产业用房数统计
    let houseRootChart = echarts.init(this.$refs.houseRoot)
    let houseChart = echarts.init(this.$refs.house)
    houseChart.setOption(optionPie(
      {
        data: this.pieData1,
        color: [
          '#ff3000', '#c519ff', '#188eff', '#19c4fc', '#febf00',
          '#ff8b19', '#fd1b8b', '#00ffff', '#00cfff', '#006ced',
          '#ffe000', '#ffa800', '#ff5b00'
        ],
        val: 60,
        name: '用房数统计',
        unit: '家',
        top: '84%',
        total: '总数',
        ringWidth: 100,
        ringHeight: 100,
        basemap: [150, 68],
        ringRadius: ['44%', '64%'],
        ringCenter: ['50%', '41%']
      }
    ))
    rootOptionPie({
      isTimer: true,
      eChart: houseRootChart,
      step: 6,
      color: [
        '#00ffff', '#00cfff', '#006ced', '#ffe000',
        '#ffa800', '#ff5b00', '#ff3000', '#c519ff',
        '#188eff', '#19c4fc', '#febf00', '#ff8b19',
        '#fd1b8b'
      ]
    }
    )

    // // 政府及国企物业退租原因分析
    // let rentRootChart = echarts.init(this.$refs.rentRoot)
    // let rentChart = echarts.init(this.$refs.rent)
    // rootOptionPie({
    //   isTimer: true,
    //   eChart: rentRootChart,
    //   step: 6,
    //   color: [
    //     '#ffa800', '#ff5b00', '#ff3000', '#c519ff',
    //     '#188eff', '#19c4fc', '#febf00', '#ff8b19',
    //     '#fd1b8b'
    //   ]
    // }
    // )
    // rentChart.setOption(optionPie(
    //   {
    //     data: this.pieData2,
    //     color: [
    //       '#ffa800', '#ff5b00', '#ff3000', '#c519ff',
    //       '#188eff', '#19c4fc', '#febf00', '#ff8b19',
    //       '#fd1b8b'
    //     ],
    //     val: 60,
    //     name: '用房数统计',
    //     unit: '家',
    //     top: '84%',
    //     total: '总数',
    //     ringWidth: 100,
    //     ringHeight: 100,
    //     basemap: [150, 68],
    //     ringRadius: ['44%', '64%'],
    //     ringCenter: ['50%', '41%']
    //   }
    // ))

    // 政府物业办公用房空置情况
    let rateChart = echarts.init(this.$refs.rate)
    rateChart.setOption(lineOptions(this.barData))

    // // 政府及国企物业产业用房近5年退租数、入住数对比
    // let intoChart = echarts.init(this.$refs.into)
    // intoChart.setOption(barOptions(this.barData))
  },

  destroyed () {
    optionPie({isTimer: false})
  }
}

</script>

<style lang="less" scoped>
@import "./index.less";
</style>
