<template>
  <div class="governmentProperty">
    <h6 class="title">政府公共物业资产统计</h6>
    <div class="property-content">
      <div class="property-base">
        <div class="census-base">
          <span>物业基本统计</span>
          <div @click="handleMore('more')">
            <span class="more">更多分析</span>
            <img :src="require('../img/right_arrow.png')" style="width:6px;height:10px; margin-right:14px;" alt="" />
          </div>
        </div>
        <ul class="base-content">
          <li class="base-item" style="width: 158px;">
            <p class="base-name">政府物业总面积</p>
            <p class="base-num">{{baseData.buildArea?(baseData.buildArea/10000).toFixed(2):"--"}}万㎡</p>
          </li>
          <li class="base-item" style="width: 158px;">
            <p class="base-name">政府物业总资产</p>
            <p class="base-num">{{baseData.projectNum?baseData.projectNum:"--"}}处</p>
          </li>
          <!-- <li class="base-item">
            <p class="base-name">空置面积</p>
            <p class="base-num">{{baseData.kzArea?(baseData.kzArea/10000).toFixed(2):"--"}}万㎡</p>
          </li> -->
          <!-- <li class="base-item">
            <p class="base-name">空置率</p>
            <p class="base-num">{{baseData.vacancyRate?(baseData.vacancyRate).toFixed(2):"--"}}%</p>
          </li> -->
           <!-- <li class="base-item">
            <p class="base-name">已出租面积</p>
            <p class="base-num">{{baseData.czArea?(baseData.czArea/10000).toFixed(2):"--"}}万㎡</p>
          </li> -->
          <!-- <li class="base-item">
            <p class="base-name">使用率</p>
            <p class="base-num">{{baseData.useRate?(baseData.useRate).toFixed(2):"--"}}%</p>
          </li> -->
           <li class="base-item" style="width: 158px;">
            <p class="base-name">资产入账</p>
            <p class="base-num">{{baseData.projectNum?baseData.rzNum:"--"}}处</p>
          </li>
          <li class="base-item" style="width: 158px;">
            <p class="base-name">产权办理</p>
            <p class="base-num">{{baseData.certHasNum?baseData.certHasNum:"--"}}处</p>
          </li>
          <!-- <li class="base-item-last">
          </li> -->
        </ul>
      </div>

      <div class="business-expect">
        <div class="census-base">房屋编码核查</div>
        <!-- <div class="census-base">物业类型统计</div> -->
        <!-- <div ref="wrap" class="echarts-content"></div> -->
        <div class="business-content">
          <div class="business-line">
            <div class="business-item" @click="handleMore('all')">
              <img class="imgIcon" :src="require('../img/check-task.png')" alt="" />
              <div>
                <p class="business-name">核查任务编码</p>
                <p class="business-num">{{baseData.checkTask?baseData.checkTask: "--"}}项</p>
              </div>
            </div>
            <div class="business-item" @click="handleMore('irregular')">
              <img class="imgIcon" :src="require('../img/check-abnormal.png')" alt="" />
              <div>
                <p class="business-name">不符合编码条件</p>
                <p class="business-num">{{baseData.checkAbnormal?baseData.checkAbnormal: "--"}}项</p>
              </div>
            </div>
          </div>
          <div class="business-line">
            <div class="business-item" @click="handleMore('has')">
              <img class="imgIcon" :src="require('../img/check-y.png')" alt="" />
              <div>
                <p class="business-name">已补充编码</p>
                <p class="business-num">{{baseData.checkY?baseData.checkY: "--"}}项</p>
              </div>
            </div>
            <div class="business-item" @click="handleMore('none')">
              <img class="imgIcon" :src="require('../img/check-n.png')" alt="" />
              <div>
                <p class="business-name">未补充编码</p>
                <p class="business-num">{{baseData.checkN?baseData.checkN: "--"}}项</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="business-tas">
        <div class="census-base">预警统计</div>
        <div class="table-analysis" :style="{borderBottom: (tableData.length===0 ? '1px solid #336b6c': '') }">
          <el-table :data="tableData" style="width: 100%,font-size:12px">
            <el-table-column prop="name" label="物业类型">
            </el-table-column>

            <el-table-column prop="num" label="项目数量(处)" width="100" align="center">
              <template slot-scope="scope">
                <span>{{ scope.row.num?scope.row.num:"--"}}</span>
              </template>
            </el-table-column>

          </el-table>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import {openModal} from '@/until/bigUrl.js'
import { govermentHouseCodeCheck } from '@/views/request'

export default {
  // components: {Breadcrumb},
  data () {
    return {
      xAxisDtat: ['产业用房', '办公用房', '商业', '公共服务设施', '住宅'],
      yAxisDataz: [210, 187, 178, 168, 210],
      yAxisDatas: [15, 17, 15, 14, 15],

      baseData: {
        buildArea: '',
        totalProperty: '', // 政府物业总资产
        czArea: '',
        kzArea: '',
        projectNum: '', // 所有Num总和
        useRate: '', // 使用率=出租面积/建筑面积
        vacancyRate: '', // 空置面积/总面积
        certHasNum: '', // 产权办理
        checkTask: '',
        checkAbnormal: '',
        checkY: '',
        checkN: '',
        rzNum: ''

      },
      tableData: [
        {
          name: '资产未入账',
          num: '1101'
        },
        {
          name: '未办房产证',
          num: '1342'
        },
        {
          name: '出租租期长(不含产业用房)',
          num: '13'
        },
        {
          name: '合同预到期(不含产业用房)',
          num: '42'
        },
        {
          name: '空置未使用(不含产业用房)',
          num: '80'
        }
      ]
    }
  },
  created () {
    this.getDataList()
  },

  methods: {
    handleMore (mark) {
      if (mark === 'more') {
        openModal(6, '/moreAnalysis', () => {})
      }
      // else if (mark === 'all') {
      //   openModal(6, '/totalCheckList', () => {})
      // } else if (mark === 'irregular') {
      //   openModal(6, '/irregularCheckList', () => {})
      // } else if (mark === 'has') {
      //   openModal(6, '/hasCheckList', () => {})
      // } else {
      //   openModal(6, '/noneCheckList', () => {})
      // }
    },
    getDataList () {
      let data = JSON.parse(window.localStorage.getItem('side_echarts_data'))
      // 政府公共物业资产统计
      this.baseData.buildArea = data.buildArea
      this.baseData.czArea = data.czArea
      this.baseData.kzArea = data.kzArea
      this.baseData.projectNum = data.cyNum + data.bgNum + data.zzNum + data.ggNum + data.syNum
      this.baseData.useRate = data.czArea / data.buildArea * 100
      this.baseData.vacancyRate = data.kzArea / data.buildArea * 100
      this.baseData.certHasNum = data.certHasNum
      this.baseData.rzNum = data.rzNum
      // 房屋编码核查
      govermentHouseCodeCheck().then(res => {
        // console.log(res.data.data)
        let code = res.data.data
        this.baseData.checkTask = code.haveCode + code.incompatible + code.noCode
        this.baseData.checkAbnormal = code.incompatible
        this.baseData.checkY = code.haveCode
        this.baseData.checkN = code.noCode
      })
      // 预警统计
      // this.tableData.forEach((item) => {
      //   if (item.mark === 1) {
      //     item.num = data.cyNum
      //   } else if (item.mark === 2) {
      //     item.num = data.bgNum
      //   } else if (item.mark === 3) {
      //     item.num = data.syNum
      //   } else if (item.mark === 4) {
      //     item.num = data.ggNum
      //   } else if (item.mark === 5) {
      //     item.num = data.zzNum
      //   }
      // })
    }
  }

}

</script>

<style lang="less" scoped>
@import "./index.less";
</style>
