<template>
  <div class="governmentProperty">
    <div class="tit-box">
      <h6 class="title">{{currentName}}</h6>
      <div class="icon">
        <i class="el-icon-back" style="color:#fff; font-size:18px;" @click="handleMore('back')"></i>
        <i class="el-icon-close" style="color:#fff; font-size:18px; margin-left:20px;" @click="close"></i>
      </div>
    </div>
    <div class="property-content">
      <div class="property-base">
        <div class="census-base">
          <span>园区概况</span>
          <div @click="handleMore('detail')">
            <span class="more">详情</span>
            <img :src="require('@/views/img/right_arrow.png')" style="width:6px;height:10px; margin-right:14px;" alt="" />
          </div>
        </div>
        <ul class="base-content">
          <li class="base-item" style="width:157px">
            <p class="base-name">用地面积</p>
            <p class="base-num">12.23万㎡</p>
          </li>
          <li class="base-item" style="width:157px">
            <p class="base-name">总投资</p>
            <p class="base-num">56.33亿元</p>
          </li>
          <li class="base-item" style="width:157px">
            <p class="base-name">更新前</p>
            <p class="base-num">23.01万㎡</p>
          </li>
          <li class="base-item" style="width:157px">
            <p class="base-name">更新后</p>
            <p class="base-num">80.00万㎡</p>
          </li>
          <li class="base-item" style="width:157px">
            <p class="base-name">产值</p>
            <p class="base-num">141.49亿元</p>
          </li>
          <li class="base-item" style="width:157px">
            <p class="base-name">纳税</p>
            <p class="base-num">6.54亿元</p>
          </li>
        </ul>
      </div>

      <div class="property-base">
        <div class="census-base">
          <span>旧改方案</span>
        </div>
        <div class="business-tas">
          <div class="table-analysis" :style="{borderBottom: (positionTable.length===0 ? '1px solid #336b6c': '') }">
            <el-table :data="positionTable" style="width: 100%,font-size:12px" :show-header='false'>
              <el-table-column prop="name" width="100" align="center">
              </el-table-column>

              <el-table-column prop="num" align='right'>
                <template slot-scope="scope">
                  <div style="padding-right:10px">{{ scope.row.num?scope.row.num:"--"}}</div>
                </template>
              </el-table-column>
            </el-table>
          </div>
        </div>
      </div>

      <div class="property-base">
        <div class="census-base">
          <span>园区展示</span>
        </div>
        <div class="">
          <div class="census-base-sub" style="margin-top:10px">
            <span class="name">园区照片</span>
            <div @click="handleMore('img')">
              <span class="more">更多</span>
              <img :src="require('@/views/img/right_arrow.png')" style="width:6px;height:10px; margin-right:14px;" alt="" />
            </div>
          </div>
          <div style="height:200px">
            <img v-show="parkImg&&parkImg!=''" class="guard-pic" :src="require('@/views/img/'+parkImg)" alt="">
          </div>
          <div class="census-base-sub">
            <span class="name">园区VR</span>
            <div @click="handleMore('vr')">
              <span class="more">查看</span>
              <img :src="require('@/views/img/right_arrow.png')" style="width:6px;height:10px; margin-right:14px;" alt="" />
            </div>
          </div>
          <div class="census-base-sub">
            <span class="name">园区地址</span>
          </div>
          <div class="addr">{{address}}</div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>

import { closeModal, openModal } from '@/until/bigUrl.js'
import { homeDataListDetail } from '@/views/request'

export default {
  data() {
    return {
      currentName: '源河楼东侧加建楼（大沙河改造已拆除）（大沙河改造已拆除）（大沙河改造已拆除）',
      // "源河楼东侧加建楼（大沙河改造已拆除）"
      // "010f589c124d45158470e382793de791"
      currentID: '6acfef6415bd48149853943bfdd92ceb',
      parkImg: 'hhl/hhl01.jpg',
      imgList: ['hhl/hhl01.jpg','hhl/hhl02.jpg','hhl/hhl03.jpg','hhl/hhl04.jpg','hhl/hhl05.jpg','hhl/hhl06.jpg','hhl/hhl07.jpg'],
      address: '广东省深圳市南山区粤海街道大冲社区科发路11号南山金融大厦',
      baseData: {
        landArea: '',
        buildArea: '',
        vacantCount: '',
        vacantArea: '', // 空置面积
        vacancyRate: '' // 空置率=空置面积/建筑面积
      },
      positionTable: [
        {
          mark: 1,
          name: '项目旧改方式',
          num: '分期分宗'
        },
        {
          mark: 2,
          name: '一期项目计划',
          num: '2021.01-2023.07'
        },
        {
          mark: 3,
          name: '二期项目计划',
          num: '待定'
        }
      ],
      basicTable: [
        {
          mark: 1,
          name: '管理单位',
          num: ''
        },
        {
          mark: 2,
          name: '物业公司',
          num: ''
        },
        {
          mark: 3,
          name: '物业公司电话',
          num: ''
        }
      ]
    }
  },
  created() {
    this.currentName = this.$route.query.name
    this.currentID = this.$route.query.id
    //this.getDataList()
  },

  methods: {
    handleMore(mark) {
      if (mark === 'detail') {
        // 更多
        openModal(6, '/SHTCenterDetail?id=' + this.currentID, () => { })
      } else if (mark === 'back') {
        // 返回
        //closeModal(1)
        closeModal(6)
        setTimeout(() => {
          openModal(1, `${this.$route.query.url}?activeName=parkList`, () => { })
        }, 400)
      } else if (mark === 'img') {
        sessionStorage.setItem('park_img_list', JSON.stringify(this.imgList))
        openModal(6, '/stateParkImg', () => { })
      } else if (mark === 'vr') {
        openModal(6, `/stateParkVR?url=https://720yun.com/t/0cvkzmqqr8w?scene_id=83488881`, () => { })
      }
    },
    close() {
      //closeModal(1)
      closeModal(6)
      setTimeout(() => {
        openModal(1, `${this.$route.query.url}?activeName=propertyHouse`, () => { })
      }, 400)
    },
    getDataList() {
      console.log('this.currentID', this.currentID)
      homeDataListDetail(this.currentID).then(res => {
        let data = res.data.data
        this.baseData.landArea = data.landArea
        this.baseData.buildArea = data.buildArea
        this.baseData.vacantCount = data.vacantCount
        this.baseData.vacantArea = data.vacantArea
        this.baseData.vacancyRate = data.rentableArea / this.baseData.kczArea * 100

        this.positionTable.forEach(item => {
          if (item.mark === 1) {
            item.num = data.streetName ? data.streetName : '--'
          } else if (item.mark === 2) {
            item.num = data.communityName ? data.communityName : '--'
          } else {
            item.num = data.address ? data.address : '--'
          }
        })

        this.basicTable.forEach(item => {
          if (item.mark === 1) {
            item.num = data.manUnit ? data.manUnit : '--'
          } else if (item.mark === 2) {
            item.num = data.wygsmc ? data.wygsmc : '--'
          } else {
            item.num = data.wygstel ? data.wygstel : '--'
          }
        })
      })
    }

  }
}
</script>

<style lang="less" scoped>
@import "./index.less";
</style>
