<template>
  <div class="officeStatAnalysis">
    <div class="title">
      <div class="title-text">
        <ul class="icon-title">
          <li></li>
          <li></li>
          <li></li>
        </ul>
        <span class="title-content">住宅统计分析</span>
      </div>
      <i class="el-icon-close" @click="close"></i>
    </div>

    <div>
      <div class="census-base">
        <div><span class="vertical-line"></span>各单位住宅统计分析</div>
      </div>
      <div class="echarts-wrapper">
        <div ref="chartUnit" class="echarts-data"></div>
      </div>
    </div>

    <div style="display: flex; margin-bottom: 12px">
      <div>
        <div class="census-base">
          <span class="vertical-line"></span>各街道住宅占比统计分析
        </div>
        <div class="echarts-wrapper">
          <div ref="chartStreet" class="echarts-data"></div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import * as echarts from "echarts";
import scrollBarOption from "./scrollBarOption.js";
import barOption from "./barOption.js";
import { governmentAnalysis } from "@/views/request.js";
import { closeModal } from "@/until/bigUrl.js";
export default {
  data() {
    return {
      //各单位住宅统计分析
      scrollBarData: {
        xAxisData: [
          "区卫生健康局",
          "区政府公共物业管理中心",
          "桃源街道办",
          "南头街道办",
          "南山街道办",
          "区机关事务局",
          "南山公安分局",
          "区城市更新和土地整备局",
          "区城管和综合执法局",
          "区工务署",
          "区委统战部",
          "区文化广电旅游体育局",
          "蛇口街道办",
          "区住房和建设局",
          "粤海街道办",
          "沙河街道办",
          "区民政局",
          "招商街道办",
          "区财政局",
          "西丽街道办",
          "区法院"
        ],
        yAxisDatax: [
          16799.07, 6388.54, 1714.52, 568.04, 1279, 832.63, 3650, 1772.54, 21252.86, 223.07, 670.52, 175.78, 1944.69,
          215, 1818.16, 4888.13, 3166.23, 242.65, 1503, 502, 475
        ],
      },
      //各街道住宅占比统计分析
      barData: {
        xAxisData: [
          "南头街道",
          "南山街道",
          "招商街道",
          "桃源街道",
          "沙河街道",
          "粤海街道",
          "蛇口街道",
          "西丽街道"
        ],
        yAxisDatax: [
          41301.45, 6623.85, 342.65, 2440.71, 4888.13, 10132.45, 2580.19, 1772
        ],
      },
    };
  },
  created() { },

  methods: {
    close() {
      closeModal(6);
    },
  },
  mounted() {
    // 各单位管理办公用房分析
    let chartUnit = echarts.init(this.$refs.chartUnit);
    // chartUnit.showLoading({
    //   text: "正在加载···", // 显示的文本
    //   effect: "ring", // 可选为：'spin' | 'bar' | 'ring' | 'whirling' | 'dynamicLine' | 'bubble'
    //   color: "#00ffff", // 显示转圈的圆圈颜色
    //   textColor: "white", // 显示文本的颜色
    //   maskColor: "rgba(255,255,255,0)", // 显示的背景色
    //   zlevel: 0,
    //   fontSize: 14, // 字体大小。从 `v4.8.0` 开始支持。
    //   showSpinner: true, // 是否显示旋转动画（spinner）。从 `v4.8.0` 开始支持。
    //   spinnerRadius: 10, // 旋转动画（spinner）的半径。从 `v4.8.0` 开始支持。
    //   lineWidth: 3, // 旋转动画（spinner）的线宽。从 `v4.8.0` 开始支持。
    //   fontWeight: "normal", // 字体粗细。从 `v5.0.1` 开始支持。
    //   fontStyle: "normal", // 字体风格。从 `v5.0.1` 开始支持。
    //   fontFamily: "sans-serif", // 字体系列。从 `v5.0.1` 开始支持。
    // });

    // 各机关单位（8个街道+1个区直）管理办公用房面积分析
    let chartStreet = echarts.init(this.$refs.chartStreet);
    // governmentAnalysis().then((res) => {
    //   console.log("-----", res);
    //   if (res.data.code === 0) {
    //chartUnit.hideLoading();
    chartStreet.hideLoading();

    chartUnit.setOption(scrollBarOption(this.scrollBarData));
    chartStreet.setOption(barOption(this.barData));
    //   }
    // });
  },
  destroyed() { },
};
</script>

<style lang="less" scoped>
@import "./index.less";
</style>
