<template>
  <div class="propertyHouse">
    <!-- <h6 class="title">资产统计</h6> -->
    <!-- <div class="property-content"> -->
      <div class="property-base">
        <div class="census-base">物业基本统计信息</div>
        <ul class="base-content">
          <li class="base-item">
            <p class="base-name">建筑面积</p>
            <!-- <p class="base-num">{{baseData.buildArea?(baseData.buildArea/10000).toFixed(2):"--"}}万㎡</p> -->
            <p class="base-num">640.23万㎡</p>
          </li>
          <!-- <li class="base-item">
            <p class="base-name">使用面积</p>
            <p class="base-num">{{baseData.czArea ? (baseData.czArea /10000).toFixed(2): "--"}}万㎡</p>
          </li>
          <li class="base-item">
            <p class="base-name">空置面积</p>
            <p class="base-num">{{baseData.kzArea?(baseData.kzArea/10000).toFixed(2): "--"}}万㎡</p>
          </li> -->
          <li class="base-item">
            <p class="base-name">资产总数</p>
            <p class="base-num">{{baseData.projectNum?baseData.projectNum: "--"}}处</p>
          </li>
          <el-popover
            placement="top-start"
            trigger="hover"
            content="政府空间194家，国企空间126家"
          >
            <li class="base-item" slot="reference" style="cursor: pointer;">
            <p class="base-name">扶持企业数量</p>
            <p class="base-num">{{baseData.supportNum?baseData.supportNum: "--"}}家</p>
          </li>
          </el-popover>
        </ul>
      </div>

      <div class="business-tas">
        <div class="census-base">五大类资产统计分析</div>
        <div class="table-analysis" :style="{borderBottom: (tableData.length===0 ? '1px solid #336b6c': '') }">
          <el-table :data="tableData" style="width: 100%,font-size:12px" @row-click="rowClick">
            <el-table-column prop="name" label="物业类型">
              <template slot-scope="scope">
                <el-popover placement="top-start" width="230" trigger="hover" :content="scope.row.name">
                  <span slot="reference"> {{ scope.row.name | ellipsis(6) }}</span>
                </el-popover>
              </template>
            </el-table-column>

            <el-table-column prop="itemName" label="总面积(㎡)">
              <template slot-scope="scope">
                {{scope.row.itemName?(scope.row.itemName).toFixed(2):"--"}}
              </template>
            </el-table-column>

            <el-table-column prop="num" label="资产总数(处)">
              <template slot-scope="scope">
                <div style="display: flex; justify-content: flex-end; justify-content: space-between; align-items:center; padding-right:10px; box-sizing: border-box;">
                  <div>
                    {{scope.row.num?scope.row.num:"--"}}
                  </div>
                  <img :src="require('@/views/img/right_arrow.png')" style="width:6px;height:10px;" alt="" />
                </div>
              </template>
            </el-table-column>

          </el-table>
        </div>
      </div>

      <div class="business-expect">
        <div class="census-base">五大类资产空置情况统计分析</div>
        <div ref="wrap" class="echarts-content"></div>
      </div>
  </div>
</template>
<script>
import MapUtil from '@/until/mapUtil'
import * as echarts from 'echarts'
import { bigScreenData } from '@/views/request'
import { openModal, basePath } from '@/until/bigUrl.js'
import handleOption from '../../homeDption.js'
export default {
  // components: {Breadcrumb},

  data () {
    return {
      xAxisDtat: ['产业用房', '办公用房', '商业', '公共服务设施', '住宅'],
      legendData: ['总量'],
      yAxisDataz: [],
      yAxisDatas: [],

      baseData: {
        buildArea: '',
        czArea: '', // 使用面积=出租面积
        kzArea: '',
        projectNum: '', // 项目数量=所有Num总和
        supportNum: '',
        vacancyRate: '', // 空置率=空置面积/建筑面积
        averageRent: ''
      },
      tableData: [{
        name: '产业用房及孵化园区',
        mark: 1,
        num: '',
        itemName: ''
      },
      {
        name: '办公用房',
        mark: 2,
        num: '',
        itemName: ''
      },
      {
        name: '商业',
        mark: 3,
        num: '',
        itemName: ''
      },
      {
        name: '公共服务设施',
        mark: 4,
        num: '',
        itemName: ''
      },
      {
        name: '住宅',
        mark: 5,
        num: '',
        itemName: ''
      }
      ]
    }
  },
  filters: {
    ellipsis (value, limit) {
      if (!value) return ''
      if (value.length > limit) {
        return value.slice(0, limit) + '...'
      }
      return value
    }
  },
  created () {
    let landmark = sessionStorage.getItem('landmark')
    if (landmark) {
      let num = Number(landmark)
      for (let i = 0; i <= num; i++) {
        let id = String(i)
        window.AC.HideCustomWindowEx(id, {
          callbackFn: function (data) {
            console.log(data)
          }
        })
      }
    }
    let pathUrl = basePath()
    bigScreenData().then((res) => {
      let streetList = res.data.data.streetList
      sessionStorage.setItem('landmark', JSON.stringify(streetList.length))
      sessionStorage.setItem('landmarkUrl', '/home')
      for (let i = 0; i <= streetList.length; i++) {
        let areaSite = Array.isArray(streetList) && streetList.length > 0 && streetList[i].address && streetList[i].address.split(',')
        let id = String(i)
        let longitude = Number(areaSite[0])
        let latitude = Number(areaSite[1])
        let { street, area, num } = streetList[i]
        window.AC.ShowCustomWindowEx(id, `${pathUrl}/mapSite?streetName=${street}&areaNum=${area}&number=${num}&mix=home`,
          longitude,
          latitude,
          24,
          234,
          92,
          1,
          {
            isLocat: false,
            range: [1, 50000],
            pivot: [0, 0],
            //onclickFn: 'MapUtil.locatTo.jiedao(\'440305001000\', true)',
            callbackFn: function (data) {
              console.dir(data)
            }
          })
      }
    })
  },
  mounted () {
    // 1. 实例化echarts对象，并传入容器
    let myChart = echarts.init(this.$refs.wrap)
    bigScreenData().then((res) => {
      let data = res.data.data
      localStorage.setItem('side_echarts_data', JSON.stringify(data))
      let yDataz = []
      let yDatas = []
      let yDatasTotal = 0
      // 物业基本统计数据
      this.baseData.buildArea = data.buildArea
      this.baseData.czArea = data.czArea
      this.baseData.kzArea = data.kzArea
      this.baseData.projectNum = data.cyNum + data.bgNum + data.zzNum + data.ggNum + data.syNum + 3
      this.baseData.supportNum = data.supportNum
      this.baseData.vacancyRate = data.kzArea / data.buildArea * 100
      this.baseData.averageRent = data.averageRent
      // 五大类资产统计分析数据、五大类资产空置情况统计分析数据
      this.tableData.forEach((item) => {
        if (item.mark === 1) {
          item.num = data.cyNum + 3
          // item.itemName = data.cyArea
          item.itemName = 16258881.23
        } else if (item.mark === 2) {
          item.num = data.bgNum
          item.itemName = data.bgArea
        } else if (item.mark === 3) {
          item.num = data.syNum
          item.itemName = data.syArea
        } else if (item.mark === 4) {
          item.num = data.ggNum
          item.itemName = data.ggArea
        } else if (item.mark === 5) {
          item.num = data.zzNum
          item.itemName = data.zzArea
        }
        yDataz.push(item.num)
        yDatasTotal += item.num
      })
      this.tableData.forEach((item) => {
        yDatas.push((item.num / yDatasTotal * 100).toFixed(2))
      })
      this.yAxisDataz = yDataz
      this.yAxisDatas = yDatas
      if (this.yAxisDataz.length > 0 && this.yAxisDatas.length > 0) {
        myChart.setOption(handleOption({
          yAxisDataz: this.yAxisDataz,
          yAxisDatas: this.yAxisDatas,
          xAxisDtat: this.xAxisDtat,
          legendData: this.legendData
        }))
      }
    })
  },
  methods: {
    rowClick (row) {
      let currentName = {
        1: '产业用房',
        2: '行政办公',
        3: '商业',
        4: '公共服务设施',
        5: '住宅'
      }
      if (row.mark === 1) {
        openModal(6, '/estateAnalysis', () => { })
      } else {
        openModal(6, '/analysisList?id=' + currentName[row.mark], () => { })
      }
      // let path = {
      //   1: '/estateAnalysis',
      //   2: '/officeAnalysis',
      //   3: '/businessAnalysis',
      //   4: '/facilitiesAnalysis',
      //   5: '/dwellingAnalysis'
      // }
      // openModal(6, path[row.mark], () => {})
    }
  }

}

</script>

<style lang="less" scoped>
@import "./index.less";
</style>
