.propertyHouse {
  width: 100%;
  display: flex;
  flex-direction: column;
  .title {
    font-size: 16px;
    color: #00d5ff;
    margin: 10px 0;
  }
  .census-base {
    height: 24px;
    font-size: 16px;
    color: #fff;
    line-height: 24px;
    padding-left: 14px;
    box-sizing: border-box;
    background: url("~@/views/img/title.png") no-repeat center;
    background-size: 100% 100%;
  }
  .property-base {
    width: 100%;
    .base-content {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-top: 12px;
      box-sizing: border-box;
      .base-item {
        width: 100px;
        height: 70px;
        background: url("~@/views/img/text_bg.png") no-repeat center;
        background-size: 100% 100%;
        margin-bottom: 12px;
        .base-name {
          padding-top: 15px;
          font-size: 12px;
          text-align: center;
          color: #fff;
        }
        .base-num {
          margin-top: 6px;
          font-size: 12px;
          text-align: center;
          color: #00d5ff;
        }
      }
      .base-item-last {
        width: 100px;
        height: 70px;
      }
    }
  }
  .business-tas {
    width: 100%;
    margin-bottom: 14px;
    margin-top: 10px;
    .table-analysis {
      margin-top: 10px;
      border-top: 1px solid #336b6c;
      border-left: 1px solid #336b6c;
      border-right: 1px solid #336b6c;
    }
    .data-none-border {
      border-bottom: 1px solid #336b6c;
    }
    /deep/.el-table {
      background-color: transparent;
    }
    /deep/.el-table::before {
      background-color: transparent;
    }
    /deep/.el-table th,
    /deep/.el-table tr {
      background-color: transparent;
    }
    /deep/.el-table td,
    /deep/.el-table th {
      padding: 0;
      color: #fff;
    }
    /deep/.el-table td,
    /deep/.el-table th.is-leaf {
      border-bottom: 1px solid #336b6c;
    }
    /deep/.el-table th > .cell {
      padding-right: 0;
    }
    /deep/.el-table .cell {
      padding-right: 0;
      line-height: 30px;
    }
    /deep/.el-table__body tr:hover {
      color: rgb(18, 157, 250);
      cursor: pointer;
    }
    /deep/ tbody tr:hover > td,
    /deep/ tbody tr.hover-row > td {
      background-color: #66b1ff;
    }
    /deep/.el-tooltip__popper.is-dark {
      background: rgba(0, 0, 0, 0.3) !important;
      border: 1px solid #336b6c !important;
    }
  }

  .business-expect {
    width: 100%;
    margin-top: 10px;
    .echarts-content {
      margin-top: 14px;
      width: 328px;
      height: 324px;
    }
    .empty-content {
      font-size: 16px;
      color: #fff;
      text-align: center;
      padding-top: 100px;
    }
  }
}
