<template>
  <div class="governmentProperty">
    <div class="tit-box">
      <h6 class="title">{{currentName}}</h6>
      <div class="icon">
        <i class="el-icon-back" style="color:#fff; font-size:18px;" @click="handleMore('back')"></i>
        <i class="el-icon-close" style="color:#fff; font-size:18px; margin-left:20px;" @click="close"></i>
      </div>
    </div>
    <div class="property-content">
      <div class="property-base">
        <div class="census-base">
          <span>物业概况</span>
          <div @click="handleMore('detail')">
            <span class="more">更多</span>
            <img :src="require('@/views/img/right_arrow.png')" style="width:6px;height:10px; margin-right:14px;" alt="" />
          </div>
        </div>
        <ul class="base-content">
          <li class="base-item">
            <p class="base-name">建筑面积</p>
            <p class="base-num">{{baseData.buildArea?(baseData.buildArea/10000).toFixed(2):"--"}}万㎡</p>
          </li>
          <li class="base-item">
            <p class="base-name">实用面积</p>
            <p class="base-num">{{baseData.actArea?(baseData.actArea/10000).toFixed(2):"--"}}万㎡</p>
          </li>
          <li class="base-item">
            <p class="base-name">租赁期限</p>
            <p class="base-num">{{baseData.dateTime?baseData.dateTime:"--"}}年</p>
          </li>
          <li class="base-item">
            <p class="base-name">租赁单价</p>
            <p class="base-num">{{baseData.price?baseData.price:"--"}}元/㎡</p>
          </li>
          <li class="base-item">
            <p class="base-name">月租金</p>
            <p class="base-num">{{baseData.monthPrice?baseData.monthPrice:"--"}}元</p>
          </li>
          <li class="base-item-last">
          </li>
        </ul>
      </div>

      <div class="property-base">
        <div class="business-tas">
          <div class="table-analysis">
            <el-table :data="contractTable" style="width: 100%,font-size:12px" :show-header='false'>
              <el-table-column prop="name" width="100">
              </el-table-column>

              <el-table-column prop="num" align='center'>
                <template slot-scope="scope">
                  <span>{{ scope.row.num?scope.row.num:"--"}}</span>
                </template>
              </el-table-column>
            </el-table>
          </div>
        </div>
      </div>

      <div class="property-base">
        <div class="census-base">
          <span>位置</span>
        </div>
        <div class="business-tas">
          <div class="table-analysis">
            <el-table :data="positionTable" style="width: 100%,font-size:12px" :show-header='false'>
              <el-table-column prop="name" width="100">
              </el-table-column>

              <el-table-column prop="num" align='center'>
                <template slot-scope="scope">
                  <span>{{ scope.row.num?scope.row.num:"--"}}</span>
                </template>
              </el-table-column>
            </el-table>
          </div>
        </div>
      </div>

      <div class="property-base">
        <div class="census-base">
          <span>基本物业信息</span>
        </div>
        <div class="business-tas">
          <div class="table-analysis">
            <!-- :style="{borderBottom: (basicTable.length===0 ? '1px solid #336b6c': '') }" -->
            <el-table :data="basicTable" style="width: 100%,font-size:12px" :show-header='false'>
              <el-table-column prop="name" width="100">
              </el-table-column>

              <el-table-column prop="num" align='center'>
                <template slot-scope="scope">
                  <span>{{ scope.row.num?scope.row.num:"--"}}</span>
                </template>
              </el-table-column>
            </el-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>

import { closeModal, openModal } from '@/until/bigUrl.js'
import { homeDataListDetail } from '@/views/request'

export default {
  data () {
    return {
      currentName: '白芒社区健康服务中心2',
      // "白芒社区健康服务中心2"
      // ""05655393fcaa4429b3df0fb03be961c2"
      currentID: '0caa0af0994c4dfe9b43c5870f245017',
      baseData: {
        buildArea: '',
        actArea: '',
        dateTime: '',
        price: '',
        monthPrice: ''
      },
      contractTable: [
        {
          mark: 1,
          name: '是否签订合同',
          num: ''
        },
        {
          mark: 2,
          name: '租赁起始日期',
          num: ''
        },
        {
          mark: 3,
          name: '租赁结束日期',
          num: ''
        }
      ],
      positionTable: [
        {
          mark: 1,
          name: '街道',
          num: ''
        },
        {
          mark: 2,
          name: '社区',
          num: ''
        },
        {
          mark: 3,
          name: '物业地址',
          num: ''
        }
      ],
      basicTable: [
        {
          mark: 1,
          name: '管理单位',
          num: ''
        },
        {
          mark: 2,
          name: '物业公司',
          num: ''
        },
        {
          mark: 3,
          name: '物业公司电话',
          num: ''
        }
      ]
    }
  },
  created () {
    this.currentName = this.$route.query.name
    this.currentID = this.$route.query.id
    this.getDataList()
  },

  methods: {
    handleMore (mark) {
      if (mark === 'detail') {
        // 更多
        openModal(6, '/listOverview?id=' + this.currentID, () => { })
      } else {
        // 返回
        closeModal(1)
        closeModal(6)
        setTimeout(() => {
          openModal(1, '/rentSociety?activeName=' + 'parkList', () => { })
        }, 400)
      }
    },
    close () {
      closeModal(1)
      closeModal(6)
      setTimeout(() => {
        openModal(1, '/rentSociety?activeName=' + 'propertyHouse', () => { })
      }, 400)
    },
    getDataList () {
      homeDataListDetail(this.currentID).then(res => {
        console.log(res)
        let data = res.data.data
        this.baseData.buildArea = data.buildArea
        this.baseData.actArea = data.actArea
        this.baseData.dateTime = data.czzljx
        this.baseData.price = data.zlshwyzldj
        this.baseData.monthPrice = data.zlshwyyzj

        this.contractTable.forEach(item => {
          if (item.mark === 1) {
            item.num = data.zlshwysfqdht ? data.zlshwysfqdht : '--'
          } else if (item.mark === 2) {
            item.num = data.zlshwyqsrq ? data.zlshwyqsrq : '--'
          } else {
            item.num = data.zlshwydqrq ? data.zlshwydqrq : '--'
          }
        })

        this.positionTable.forEach(item => {
          if (item.mark === 1) {
            item.num = data.streetName ? data.streetName : '--'
          } else if (item.mark === 2) {
            item.num = data.communityName ? data.communityName : '--'
          } else {
            item.num = data.address ? data.address : '--'
          }
        })

        this.basicTable.forEach(item => {
          if (item.mark === 1) {
            item.num = data.manUnit ? data.manUnit : '--'
          } else if (item.mark === 2) {
            item.num = data.wygsmc ? data.wygsmc : '--'
          } else {
            item.num = data.wygstel ? data.wygstel : '--'
          }
        })
      })
    }

  }
}
</script>

<style lang="less" scoped>
@import "./index.less";
</style>
