<template>
  <div class="governmentProperty">
    <div class="form-box">
      <table border="1" cellspacing="0" cellpadding="0" bordercolor="#336b6c">
        <tr>
          <td class="tit" align="right">姓名</td>
          <td class="content">-</td>
          <td class="tit" align="right">证件类型</td>
          <td class="content">-</td>
        </tr>
        <tr>
          <td class="tit" align="right">电话</td>
          <td class="content">-</td>
          <td class="tit" align="right">证件号码</td>
          <td class="content">-</td>
        </tr>
        <tr>
          <td class="tit" align="right">社保电脑号</td>
          <td class="content">-</td>
          <td class="tit" align="right">生日</td>
          <td class="content">-</td>
        </tr>
        <tr>
          <td class="tit" align="right">是否企业</td>
          <td class="content">-</td>
          <td class="tit" align="right">职称</td>
          <td class="content">-</td>
        </tr>
        <tr>
          <td class="tit" align="right">是否有效申请人</td>
          <td class="content">-</td>
          <td class="tit" align="right">申请人ID</td>
          <td class="content">-</td>
        </tr>
        <tr>
          <td class="tit" align="right">合同编号</td>
          <td class="content">-</td>
          <td class="tit" align="right">房源名称</td>
          <td class="content">-</td>
        </tr>
        <tr>
          <td class="tit" align="right">合同起止日期</td>
          <td class="content">-</td>
          <td class="tit" align="right">户型</td>
          <td class="content">-</td>
        </tr>
        <tr>
          <td class="tit" align="right">合同金额</td>
          <td class="content">-</td>
          <td class="tit" align="right">建筑面积</td>
          <td class="content">-</td>
        </tr>
        <tr>
          <td class="tit" align="right">入住人数</td>
          <td class="content">-</td>
          <td class="tit" align="right">房屋单价</td>
          <td class="content">-</td>
        </tr>
        <tr>
          <td class="tit" align="right">入住日期</td>
          <td class="content">-</td>
          <td class="tit" align="right"></td>
          <td class="content"></td>
        </tr>
        <tr>
          <td class="tit" align="right">通讯地址</td>
          <td class="content" colspan="3"></td>
        </tr>
      </table>
    </div>
  </div>
</template>

<script>
import { closeModal } from '@/until/bigUrl.js'

export default {
  data () {
    return {
      titleName: '领航人才详情',
      labelPosition: 'center',
      formData: {
        type: 'B类',
        date: '2021202202',
        status: '有效',
        cardNum: '9183918391831'
      }
    }
  },
  methods: {
    close () {
      closeModal(5)
    }
  }
}
</script>

<style lang="less" scoped>
@import "./index.less";
</style>
