.governmentProperty {
  width: 100%;
  height: 440px;
  padding: 12px;
  box-sizing: border-box;
  // border: 1px solid #00d5ff;
  box-shadow: 0px 0px 0px 2px #000 inset;
  overflow-y: auto;
  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    // border-bottom: 1px solid #00d5ff;
    padding: 16px 0;
    .header-icon {
      font-size: 12px;
      color: #00d5ff;
      display: inline-block;
      margin-right: 8px;
    }
    .header-content {
      font-size: 16px;
      color: #fff;
    }
  }
  .form-box {
    // width: 750px;
    .form-title{
      margin: 12px 0;
      display: flex;
      align-items: center;
      font-size: 14px;
      color: #fff;
      .block{
        width: 5px;
        height: 15px;
        background-color: #00d5ff;
        margin-right: 10px;
      }
    }
    table {
      width: 100%;
      // margin-top: 16px;
      padding-bottom: 16px;
      border-collapse: collapse;
      td {
        color: #fff;
      }
      .tit {
        width: 150px;
        padding: 5px;
        // background-color: #163339;
        background-color: rgba(22,51,57, .3);
      }
      .content{
        padding: 10px;
      }
    }
  }
}
/* 定义滚动条样式 */
::-webkit-scrollbar {
  width: 5px;
  height: 1px;
  background-color: #0b8195;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  height: 3px;
  box-shadow: inset 0 0 0px rgba(240, 240, 240, 0.5);
  border-radius: 20px;
  background-color: rgba(240, 240, 240, 0.5);
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  height: 3px;
  border-radius: 20px;
  box-shadow: inset 0 0 0px rgba(240, 240, 240, 0.5);
  background-color:  #0b8195;
}