<template>
  <div class="governmentProperty">
    <div class="title">
      <div>
        <i class="title-icon">|&nbsp;|&nbsp;|</i>
        <span class="title-content">各单位管理{{currentName}}物业列表</span>
      </div>
      <i class="el-icon-close" style="color:#fff; font-size:18px;" @click="close"></i>
    </div>
    <div class="propertyAnalysis">
      <div class="business-tas">
        <div class="list-tit">
          <div class="left">
          </div>
          <div class="right">
            <el-form :model="formInline" ref="form" class="form">
              <el-form-item>
                <el-input style="width:250px" v-model="formInline.search" placeholder="请输入物业名称或详细地址"></el-input>
              </el-form-item>

              <el-form-item>
                <el-button type="primary" @click="onSubmit">查询</el-button>
              </el-form-item>
            </el-form>
          </div>
        </div>
        <div class="table-analysis" :style="{borderBottom: (tableData.length===0 ? '1px solid #336b6c': '') }">
          <el-table :data="tableData"  header-align='center'>
            <el-table-column label="序号" type="index" width="50">
            </el-table-column>

            <el-table-column prop="name" label="物业名称">
              <template slot-scope="scope">
                <el-popover placement="top-start" trigger="hover" :content="scope.row.name">
                  <span slot="reference"> {{ scope.row.name|ellipsis(12)}}</span>
                </el-popover>
              </template>
            </el-table-column>
            <el-table-column prop="buildArea" label="面积（㎡）" align="left"></el-table-column>
            <el-table-column prop="address" label="详细地址">
              <template slot-scope="scope">
                <el-popover placement="top-start" trigger="hover" :content="scope.row.address">
                  <span slot="reference"> {{ scope.row.address|ellipsis(12)}}</span>
                </el-popover>
              </template>
            </el-table-column>
            <el-table-column prop="manUnit" label="管理单位">
              <template slot-scope="scope">
                <el-popover placement="top-start" trigger="hover" :content="scope.row.manUnit">
                  <span slot="reference"> {{ scope.row.manUnit|ellipsis(12)}}</span>
                </el-popover>
              </template>
            </el-table-column>
            <el-table-column label="操作" align="center" width="150">
              <template slot-scope="scope">
                <div @click="handleAddEditSee(scope.row)" style="color:#00D5FF">详情</div>
              </template>
            </el-table-column>
          </el-table>
        </div>
        <div class="table-pagination">
          <el-pagination background :data="tableData" @current-change="handleCurrentChange" :current-page.sync="currentPage" :page-size="pagesize" layout="total, prev, pager, next" :total="totalNum">
          </el-pagination>
        </div>
        <div>
          <el-dialog title="物业详情" :visible.sync="dialogVisible" width="74%" :before-close="handleClose" append-to-body>
            <DataDetail :currentID='currentID'></DataDetail>
          </el-dialog>
        </div>
      </div>
    </div>
  </div>
</template>
<script>

import { closeModal } from '@/until/bigUrl.js'
import { industryHouseList } from '@/views/request'
import DataDetail from './dataDetail'

export default {
  components: { DataDetail },
  data () {
    return {
      currentName: '',
      dialogVisible: false,
      currentID: '',
      formInline: {
        search: ''
      },
      currentPage: 1,
      pagesize: 20,
      totalNum: 0,
      preDueNum: 0,
      tableData: []
    }
  },
  filters: {
    ellipsis (value, limit) {
      if (!value) return ''
      if (value.length > limit) {
        return value.slice(0, limit) + '...'
      }
      return value
    }
  },

  mounted () {
    this.currentName = this.$route.query.id
    this.getDataList(this.$route.query.id)
  },

  computed: {
    current () {
      return sessionStorage.getItem('home_ananysis_current_name')
    }
  },
  methods: {
    handleAddEditSee (row) {
      console.log(row.id)
      this.dialogVisible = true
      this.currentID = row.id
    },
    handleClose (done) {
      done()
    },
    handleCurrentChange (currentPage) {
      this.currentPage = currentPage
      this.getDataList()
    },
    getDataList (val) {
      let obj = {
        p: this.currentPage,
        size: this.pagesize,
        index: '',
        type: val || this.currentName
      }
      this.list(obj)
    },
    onSubmit () {
      let obj = {
        p: 1,
        size: this.pagesize,
        index: this.formInline.search,
        type: this.currentName
      }
      this.list(obj)
    },
    list (obj) {
      industryHouseList(obj).then(res => {
        console.log(res)
        this.totalNum = res.data.data.total
        this.tableData = res.data.data.list
      })
    },
    close () {
      closeModal(6)
    }
  }
}
</script>

<style lang="less" scoped>
@import "./index.less";
</style>
