<template>
  <div class="simulationCalculation">
   {{resion}}
  </div>
</template>

<script>
export default {
  props: ['fullResion'],
  data () {
    return {
      resion: this.fullResion
    }
  },
  watch: {
    'fullResion': function (val) {
      this.resion = val
    }
  }
}
</script>

<style lang="less" scoped>
@import "./index.less";
</style>
