.simulationCalculation {
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
  // border: 1px solid #00d5ff;
  box-shadow: 0px 0px 0px 2px #000 inset;
  color: #fff;
  .form-content{
    display: flex;
    justify-content: space-between;
  }
  /deep/.el-form-item__label{
    padding: 0;
    color: #fff;
  }
  /deep/.el-input__inner{
    height: 30px;
    background-color: rgba(0,0,0,0.3);
    border: 1px solid #17424b;
  }
}
