<template>
  <div class="officeStatAnalysis">
    <div class="title">
      <div class="title-text">
        <ul class="icon-title">
          <li></li>
          <li></li>
          <li></li>
        </ul>
        <span class="title-content">商业统计分析</span>
      </div>
      <i class="el-icon-close" @click="close"></i>
    </div>

    <div>
      <div class="census-base sub-title">
        <div>
          <span class="vertical-line"></span>各单位商业物业面积及租金统计分析
        </div>
        <div class="taggingName">
          <el-radio-group v-model="radio" size="mini" @change="handleChange">
            <el-radio-button label="物业面积"></el-radio-button>
            <el-radio-button label="出租面积及租金"></el-radio-button>
          </el-radio-group>
        </div>
      </div>
      <div class="echarts-wrapper">
        <div ref="chartUnit" class="echarts-data"></div>
      </div>
    </div>

    <div style="display: flex; margin-bottom: 12px">
      <div>
        <div class="census-base">
          <span class="vertical-line"></span>各街道商业物业平均租金对比统计
        </div>
        <div class="echarts-wrapper">
          <div ref="chartStreet" class="echarts-data"></div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import * as echarts from "echarts";
import barLineOption from "./barLineOption.js";
import barLineOption2 from "./barLineOption2.js";
import bar3dOption from "./bar3dOption.js";
import { governmentAnalysis } from "@/views/request.js";
import { closeModal } from "@/until/bigUrl.js";
export default {
  data() {
    return {
      //各街道商业物业平均租金对比统计
      bar3dData: {
        xAxisData: [
          "南山街道办",
          "南头街道办",
          "沙河街道办",
          "蛇口街道办",
          "桃源街道办",
          "西丽街道办",
          "粤海街道办",
          "招商街道办",
          "其它",
        ],
        yAxisDatax: [0, 79.31, 35, 58.65, 105, 22.18, 70.76, 25.89, 17],
        max: [120, 120, 120, 120, 120, 120, 120, 120, 120],
      },
      //各单位商业物业面积及租金统计分析-物业面积
      radio: "物业面积",
      barLine2Data: {
        xAxisData: [
          "南山公安分局",
          "南山街道办",
          "南山区人力资源局",
          "区城管和综合执法局",
          "统战部",
          "区文化广电旅游体育局",
          "区政府公共物业管理中心",
          "沙河街道办",
          "蛇口街道办",
          "西丽街道办",
          "粤海街道办",
          "招商街道办",
        ],
        legendData: ["物业面积", "空置面积", "空置率"],
        yAxisDataz: [
          50.57, 208.12, 321.04, 9300.88, 973.41, 52635, 24482.16, 61.31, 296, 696, 8326.77, 1510.14
        ],
        yAxisDatam: [
          50.57, 208.12, 321.04, 9236.39, 0, 52635, 799.06, 61.31, 50, 0, 0, 1510.14
        ],
        yAxisDatas: [
          100, 100, 100, 99.31, 0, 100, 3.26, 100, 16.89, 0, 0, 100
        ],
      },
      //各单位商业物业面积及租金统计分析-出租面积及租金
      barLineData: {
        xAxisData: [
          "南山公安分局",
          "南山街道办",
          "南山区人力资源局",
          "区城管和综合执法局",
          "统战部",
          "区文化广电旅游体育局",
          "区政府公共物业管理中心",
          "沙河街道办",
          "蛇口街道办",
          "西丽街道办",
          "粤海街道办",
          "招商街道办",
        ],
        legendData: ["已出租面积", "平均租金"],
        yAxisDataz: [
          0, 0, 0, 64.49, 973.41, 0, 23683.1, 0, 246, 696, 8326.77, 0
        ],
        yAxisDatas: [0, 0, 0, 180, 69.75, 0, 58.23, 0, 75.93, 88.12, 67.95, 0],
      },
      chartUnitChart: null,
    };
  },
  created() { },

  methods: {
    close() {
      closeModal(6);
    },
    handleChange(val) {
      this.radio = val;
    },
  },
  mounted() {
    // 各机关单位（8个街道+1个区直）管理办公用房面积分析
    let chartStreet = echarts.init(this.$refs.chartStreet);
    // chartStreet.showLoading({
    //   text: "正在加载···", // 显示的文本
    //   effect: "ring", // 可选为：'spin' | 'bar' | 'ring' | 'whirling' | 'dynamicLine' | 'bubble'
    //   color: "#00ffff", // 显示转圈的圆圈颜色
    //   textColor: "white", // 显示文本的颜色
    //   maskColor: "rgba(255,255,255,0)", // 显示的背景色
    //   zlevel: 0,
    //   fontSize: 14, // 字体大小。从 `v4.8.0` 开始支持。
    //   showSpinner: true, // 是否显示旋转动画（spinner）。从 `v4.8.0` 开始支持。
    //   spinnerRadius: 10, // 旋转动画（spinner）的半径。从 `v4.8.0` 开始支持。
    //   lineWidth: 3, // 旋转动画（spinner）的线宽。从 `v4.8.0` 开始支持。
    //   fontWeight: "normal", // 字体粗细。从 `v5.0.1` 开始支持。
    //   fontStyle: "normal", // 字体风格。从 `v5.0.1` 开始支持。
    //   fontFamily: "sans-serif", // 字体系列。从 `v5.0.1` 开始支持。
    // });

    // 各单位管理办公用房分析
    let chartUnit = echarts.init(this.$refs.chartUnit);
    this.chartUnitChart = chartUnit;

    // governmentAnalysis().then((res) => {
    //   console.log("-----", res);
    //   if (res.data.code === 0) {
    chartStreet.hideLoading();
    //chartUnit.hideLoading();

    chartUnit.setOption(barLineOption2(this.barLine2Data));
    chartStreet.setOption(bar3dOption(this.bar3dData));
    //   }
    // });
  },
  watch: {
    radio: function (val) {
      // 近3年各园区租赁价格及市场指导价统计分析
      //let chartUnit = echarts.init(this.$refs.chartUnit);
      let chartUnit = this.chartUnitChart;
      // chartUnit.showLoading({
      //   text: "正在加载···", // 显示的文本
      //   effect: "ring", // 可选为：'spin' | 'bar' | 'ring' | 'whirling' | 'dynamicLine' | 'bubble'
      //   color: "#00ffff", // 显示转圈的圆圈颜色
      //   textColor: "white", // 显示文本的颜色
      //   maskColor: "rgba(255,255,255,0)", // 显示的背景色
      //   zlevel: 0,
      //   fontSize: 14, // 字体大小。从 `v4.8.0` 开始支持。
      //   showSpinner: true, // 是否显示旋转动画（spinner）。从 `v4.8.0` 开始支持。
      //   spinnerRadius: 10, // 旋转动画（spinner）的半径。从 `v4.8.0` 开始支持。
      //   lineWidth: 3, // 旋转动画（spinner）的线宽。从 `v4.8.0` 开始支持。
      //   fontWeight: "normal", // 字体粗细。从 `v5.0.1` 开始支持。
      //   fontStyle: "normal", // 字体风格。从 `v5.0.1` 开始支持。
      //   fontFamily: "sans-serif", // 字体系列。从 `v5.0.1` 开始支持。
      // });
      //   governmentAnalysis().then((res) => {
      //     if (res.data.code === 0) {
      //chartUnit.hideLoading();
      //let { kzList, rzList } = res.data.data;
      if (val === "物业面积") {
        chartUnit.setOption(barLineOption2(this.barLine2Data), true);
      } else if (val === "出租面积及租金") {
        chartUnit.setOption(barLineOption(this.barLineData), true);
      }
      //     }
      //   });
    },
  },
  destroyed() {
    //optionPie({ isTimer: false });
  },
};
</script>

<style lang="less" scoped>
@import "./index.less";
</style>
