.icon-title {
  display: inline-flex;
  align-items: center;
  margin: 0 8px 0 2px;
  align-self: center;

  li {
    width: 2px;
    height: 8px;
    background-color: #00D5FF;
    transform: rotate(15deg);

    &+li {
      margin-left: 4px;
    }
  }
}

.officeStatAnalysis {
  height: 800px;
  width: 1200px;
  padding: 0 24px;
  box-sizing: border-box;
  border: 1px solid #00D5FF;
  background: url(../../../../img/biger.png) no-repeat center;
  background-size: 100% 100%;

  .title {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #00D5FF;
    padding: 16px 0;

    .title-text {
      display: flex;
    }

    .title-icon {
      font-size: 12px;
      color: #00D5FF;
      display: inline-block;
      margin-right: 8px;
    }

    .title-content {
      font-size: 16px;
      color: #fff;
    }

    .el-icon-close {
      color: #fff;
      font-size: 18px
    }
  }

  .census-base {
    color: #fff;
    padding-left: 14px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    box-sizing: border-box;
    margin-right: 12px;
    background-color: rgba(0, 0, 0, 0.1);

    .vertical-line {
      display: inline-block;
      position: relative;
      top: 2px;
      height: 14px;
      width: 4px;
      background-color: #00D5FF;
      margin-right: 10px;
      margin-top: 9px;
    }

    &.sub-title {
      display: flex;
      justify-content: space-between;
    }
  }

  .echarts-left {
    width: 376px;
    height: 313px;
    background-color: rgba(0, 0, 0, 0.1);
    // margin-bottom: 12px;
    margin-right: 12px;
    position: relative;

    .echarts-root {
      width: 376px;
      height: 313px;
      position: absolute;
      top: 0;
      left: 0;
    }

    .echarts-data {
      width: 376px;
      height: 313px;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .echarts-right {
    width: 376px;
    height: 313px;
    background-color: rgba(0, 0, 0, 0.1);

    .lease-term {
      width: 188px;
      height: 313px;
    }
  }


  .echarts-wrapper {
    width: 1150px;
    height: 313px;
    background-color: rgba(0, 0, 0, 0.1);
    // margin-bottom: 12px;
    margin-right: 12px;
    position: relative;

    .echarts-root {
      width: 1150px;
      height: 313px;
      position: absolute;
      top: 0;
      left: 0;
    }

    .echarts-data {
      width: 1150px;
      height: 313px;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .taggingName {
    margin-top: 8px;
    margin-right: 14px;
    color: #fff;
    display: flex;
  }

  /deep/.el-button:hover {
    background-color: #24505a;
  }

  /deep/.el-radio-button__inner {
    background: transparent;
    border: 1px solid #0bafca;
    color: #fff;
  }

  /deep/.el-radio-button__orig-radio:checked+.el-radio-button__inner {
    background-color: #24505a;
  }
}