<template>
  <div class="officeStatAnalysis">
    <div class="title">
      <div class="title-text">
        <ul class="icon-title">
          <li></li>
          <li></li>
          <li></li>
        </ul>
        <span class="title-content">公共服务设施统计分析</span>
      </div>
      <i class="el-icon-close" @click="close"></i>
    </div>

    <div style="display: flex; margin-bottom: 12px">
      <div>
        <div class="census-base">
          <div><span class="vertical-line"></span>公共服务设施种类占比</div>
        </div>
        <div class="echarts-wrapper left">
          <div ref="chartUnit" class="echarts-data"></div>
        </div>
      </div>

      <div>
        <div class="census-base">
          <div>
            <span class="vertical-line"></span>各街道公共服务设施统计分析
          </div>
        </div>
        <div class="echarts-wrapper right">
          <div ref="chartStreet" class="echarts-data"></div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import * as echarts from "echarts";
//import optionPie from "@/views/common/pieOptions";
//import rootOptionPie from "@/views/common/rootOptions";
import pieOption from "./pieOption";
import barLineOption from "./barLineOption.js";
import { governmentAnalysis } from "@/views/request.js";
import { closeModal } from "@/until/bigUrl.js";
export default {
  data() {
    return {
      //各街道公共服务设施统计分析
      barLineData: {
        xAxisData: [
          "南头街道",
          "南山街道",
          "招商街道",
          "桃源街道",
          "沙河街道",
          "粤海街道",
          "蛇口街道",
          "西丽街道",
          "其它",
        ],
        legendData: ["物业面积", "人均面积"],
        yAxisDataz: [
          127.109739, 33.01003, 30.409747, 43.117348, 25.432882, 58.66381, 51.182944, 34.042481, 0.0130
        ],
        yAxisDatas: [4.73, 0.90, 2.03, 1.50, 1.36, 2.36, 3.07, 1.10, 0.00],
      },
      //公共服务设施种类占比
      pieData: {
        title: "单位：%",
        data: [
          { name: "医疗卫生", value: 83.126995 },
          { name: "市政公用", value: 5.1294 },
          { name: "教育", value: 227.368489 },
          { name: "文体", value: 66.049796 },
          { name: "社区服务", value: 21.307301 },
        ],
        color: ["#1557f4", "#13caf6", "#febf00", "#ff8c19", "#fd198a"],
        legendData: ["医疗卫生", "市政公用", "教育", "文体", "社区服务"],
      },
    };
  },
  created() { },

  methods: {
    close() {
      closeModal(6);
    },
  },
  mounted() {
    // 公共服务设施种类占比
    let chartUnit = echarts.init(this.$refs.chartUnit);
    // chartUnit.showLoading({
    //   text: "正在加载···", // 显示的文本
    //   effect: "ring", // 可选为：'spin' | 'bar' | 'ring' | 'whirling' | 'dynamicLine' | 'bubble'
    //   color: "#00ffff", // 显示转圈的圆圈颜色
    //   textColor: "white", // 显示文本的颜色
    //   maskColor: "rgba(255,255,255,0)", // 显示的背景色
    //   zlevel: 0,
    //   fontSize: 14, // 字体大小。从 `v4.8.0` 开始支持。
    //   showSpinner: true, // 是否显示旋转动画（spinner）。从 `v4.8.0` 开始支持。
    //   spinnerRadius: 10, // 旋转动画（spinner）的半径。从 `v4.8.0` 开始支持。
    //   lineWidth: 3, // 旋转动画（spinner）的线宽。从 `v4.8.0` 开始支持。
    //   fontWeight: "normal", // 字体粗细。从 `v5.0.1` 开始支持。
    //   fontStyle: "normal", // 字体风格。从 `v5.0.1` 开始支持。
    //   fontFamily: "sans-serif", // 字体系列。从 `v5.0.1` 开始支持。
    // });
    // 各街道公共服务设施统计分析
    let chartStreet = echarts.init(this.$refs.chartStreet);

    // governmentAnalysis().then((res) => {
    //   console.log("-----", res);
    //   if (res.data.code === 0) {
    //chartUnit.hideLoading();
    //chartStreet.hideLoading();

    chartUnit.setOption(pieOption(this.pieData));
    chartStreet.setOption(barLineOption(this.barLineData));
    //   }
    // });
  },
  watch: {},
  destroyed() {
    //optionPie({ isTimer: false });
  },
};
</script>

<style lang="less" scoped>
@import "./index.less";
</style>
