.propertyAnalysis{
  box-sizing: border-box; 
  box-shadow: 0 0 2px 2px #000 inset;
  .census-base{
    color: #fff;
    padding-left: 14px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    box-sizing: border-box;
    margin-right: 12px;
    background-color:rgba(0,0,0,0.1);
    .vertical-line{
      display: inline-block;
      position: relative;
      top: 2px;
      height: 14px;
      width: 4px;
      background-color: #00D5FF;
      margin-right: 10px;
      margin-top: 9px;
    }
  }
  .echarts-left{
    width: 400px;
    height: 288px;
    background-color:rgba(0,0,0,0.1);
    margin-bottom: 12px;
    margin-right: 12px;
    position: relative;
    .echarts-root{
      width: 400px;
      height: 288px;
      position: absolute;
      top: 0;
      left: 0;
    }
    .echarts-data{
      width: 400px;
      height: 288px;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .echarts-right{
    width: 800px;
    height: 288px;
    background-color:rgba(0,0,0,0.1);
  }
}