<template>
  <div class="enterpriseAnalysis">
    <div style=" display: flex; margin-bottom:12px;">
      <div>
        <div class="census-base"><span class="vertical-line"></span>产业用房扶持企业各行业占比情况</div>
        <div class="echarts-wrapper left">
          <div ref="officeRoot" class="echarts-root" style="margin-left:10px"></div>
          <div ref="office" class="echarts-data" style="margin-left:10px"></div>
        </div>
      </div>

      <div>
        <div class="census-base"><span class="vertical-line"></span>亿元楼统计分析（top5）</div>
        <div class="echarts-wrapper left">
          <div ref="barChart1" class="echarts-data"></div>
        </div>
      </div>

      <!-- <div style="display: flex;"> -->
      <!-- <div style="margin-bottom: 12px;">
       <div class="census-base"><span class="vertical-line"></span>产业用房扶持企业各规模数量统计</div>
       <div ref="radar" class="echarts-radar"></div>
       </div> -->

      <!-- <div class="echarts-wrapper left" style="background-color:transparent">
        <div class="census-base" style="margin-right:0;"><span class="vertical-line"></span>政府及国企物业各行业知识产权数量（TOP10）</div>
        <div style="padding:12px;  background-color:rgba(0,0,0,0.1);">
          <div class="table-analysis" :style="{borderBottom: (tableData.length===0 ? '1px solid #336b6c': '') }">
            <el-table :data="tableData" style="width: 100%,font-size:12px">
              <el-table-column prop="serial" label="序号" width="60px" align="center">
                <template slot-scope="scope">
                  <span v-if="scope.row.serial === 1" class="serialIndex1">{{scope.row.serial}}</span>
                  <span v-else-if="scope.row.serial === 2" class="serialIndex2">{{scope.row.serial}}</span>
                  <span v-else-if="scope.row.serial === 3" class="serialIndex3">{{scope.row.serial}}</span>
                  <span v-else>{{scope.row.serial}}</span>
                </template>
              </el-table-column>

              <el-table-column prop="name" label="行业">
              </el-table-column>
              <el-table-column prop="num" label="产权数">
              </el-table-column>
            </el-table>
          </div>
        </div>

      </div> -->
      <div class="echarts-wrapper left" style="background-color:transparent;">
        <div class="census-base" style="margin-right:0;"><span class="vertical-line"></span>企业年度产值/纳税（TOP10）
          <el-radio-group v-model="radioTax" size="mini" style="margin-left:15px">
            <el-radio-button label="产值"></el-radio-button>
            <el-radio-button label="纳税"></el-radio-button>
          </el-radio-group>
        </div>
        <div v-show="radioTax=='产值'" style="padding:12px;  background-color:rgba(0,0,0,0.1);height:276px">
          <div class="table-analysis" :style="{borderBottom: (tableData1.length===0 ? '1px solid #336b6c': '') }">
            <el-table :data="tableData1" style="width: 100%,font-size:12px">
              <el-table-column prop="serial" label="序号" width="50px" align="center">
                <template slot-scope="scope">
                  <span v-if="scope.row.serial === 1" class="serialIndex1">{{scope.row.serial}}</span>
                  <span v-else-if="scope.row.serial === 2" class="serialIndex2">{{scope.row.serial}}</span>
                  <span v-else-if="scope.row.serial === 3" class="serialIndex3">{{scope.row.serial}}</span>
                  <span v-else>{{scope.row.serial}}</span>
                </template>
              </el-table-column>

              <el-table-column prop="name" label="企业名称" :show-overflow-tooltip="true">
              </el-table-column>
              <el-table-column prop="num" label="产值(亿元)" width="90px" align="center">
              </el-table-column>
            </el-table>
          </div>
        </div>
        <div v-show="radioTax=='纳税'" style="padding:12px;  background-color:rgba(0,0,0,0.1);height:276px">
          <div class="table-analysis" :style="{borderBottom: (tableData2.length===0 ? '1px solid #336b6c': '') }">
            <el-table :data="tableData2" style="width: 100%,font-size:12px">
              <el-table-column prop="serial" label="序号" width="50px" align="center">
                <template slot-scope="scope">
                  <span v-if="scope.row.serial === 1" class="serialIndex1">{{scope.row.serial}}</span>
                  <span v-else-if="scope.row.serial === 2" class="serialIndex2">{{scope.row.serial}}</span>
                  <span v-else-if="scope.row.serial === 3" class="serialIndex3">{{scope.row.serial}}</span>
                  <span v-else>{{scope.row.serial}}</span>
                </template>
              </el-table-column>

              <el-table-column prop="name" label="企业名称" :show-overflow-tooltip="true">
              </el-table-column>
              <el-table-column prop="num" label="纳税(万元)" width="90px" align="center">
              </el-table-column>
            </el-table>
          </div>
        </div>

      </div>

      <!-- </div> -->
    </div>

    <div style=" display: flex;">
      <div>
        <div class="census-base"><span class="vertical-line"></span>政府及国企物业用房的扶持企业政策扶持情况</div>
        <div class="echarts-wrapper left">
          <!-- <div ref="supportRoot" class="echarts-root"></div> -->
          <div ref="support" class="echarts-data"></div>
        </div>
      </div>

      <div>
        <div class="census-base"><span class="vertical-line"></span>政府及国企物业知识产权数量统计</div>
        <div class="echarts-wrapper right">
          <div ref="into" class="echarts-data"></div>
        </div>
      </div>
    </div>

  </div>
</template>
<script>
import * as echarts from 'echarts'
import optionPie from '@/views/common/pieOptions'
import rootOptionPie from '@/views/common/rootOptions'
// import radOption from './radarOption'
import barOptions from './barOption.js'
import horizBarOption from '@/views/common/barOptions/horizBar'

export default {

  data() {
    return {
      radioTax: '产值',
      pieData1: {
        hideLegendValue: true,
        data: [
          { value: 44, name: '软件开发' },
          { value: 20, name: '其他电子设备制造' },
          { value: 18, name: '其他科技推广和应用服务业' },
          { value: 12, name: '其他未列明批发业' },
          { value: 7, name: '信息技术咨询服务' },
          { value: 219, name: '其他' }
        ],
        color: [
          '#fff799', '#00ffff', '#0dffa1', '#ffc619',
          '#ff8c19', '#ff198c', '#c619ff', '#198cff',
          '#188eff', '#19c4fc', '#febf00', '#ff8b19',
          '#fd1b8b'
        ],
        verticalHorizontal: 'vertical',
        seriesLeft: '-51%',
        seriesTop: '9.6%',
        val: 3,
        unit: '家',
        legendTop: '23%',
        legendLeft: '52%',
        titleTop: '37%',
        titleLeft: '23%',
        total: '总数',
        ringWidth: 100,
        ringHeight: 100,
        basemap: [150, 68],
        ringRadius: ['50%', '62%'],
        ringCenter: ['50%', '41%']
      },
      pieData2: {
        data: [
          { value: 208, name: '扶持产业用房' },
          { value: 16, name: '扶持产业用房、人才用房' },
          { value: 61, name: '扶持产业用房、住房补贴' },
          { value: 36, name: '扶持产业用房、人才用房、住房补贴' }
        ],
        color: [
          '#fff799', '#00ffff', '#0dffa1', '#ffc619',
          '#ff8c19', '#ff198c', '#c619ff', '#198cff',
          '#188eff', '#19c4fc', '#febf00', '#ff8b19',
          '#fd1b8b'
        ],
        verticalHorizontal: 'vertical',
        seriesLeft: '-58%',
        seriesTop: '9.6%',
        val: 3,
        unit: '家',
        legendTop: '33%',
        legendLeft: '41%',
        titleTop: '37%',
        titleLeft: '19.5%',
        total: '总数',
        ringWidth: 100,
        ringHeight: 100,
        basemap: [150, 68],
        ringRadius: ['50%', '62%'],
        ringCenter: ['50%', '41%']
      },

      // radarData: {
      //   data: [
      //     {name: '1-50人', max: '50'},
      //     {name: '50-100人', max: '100'},
      //     {name: '100-150人', max: '150'},
      //     {name: '500以上', max: '100'}
      //   ],
      //   value: [10, 42, 63, 84]
      // },
      barData: {
        xAxisDtat: ['商标信息', '商标文书', '专利信息', '国际专利', '资质证书', '软件著作权', '标注制定'],
        yAxisDataz: [10277, 279, 22871, 2000, 5229, 716, 6629]
      },
      tableData: [
        {
          name: '软件开发',
          num: 5576,
          serial: 1
        },
        {
          name: '其他电子设备制造',
          num: 3676,
          serial: 2
        },
        {
          name: '软件和信息技术服务业',
          num: 2770,
          serial: 3
        },
        {
          name: '电子元件制造',
          num: 2582,
          serial: 4
        },
        {
          name: '其他科技推广和应用服务业',
          num: 2539,
          serial: 5
        },
        {
          name: '其他专业技术服务业',
          num: 2465,
          serial: 6
        },
        {
          name: '通信系统设备制造',
          num: 2366,
          serial: 7
        },
        {
          name: '专业技术服务业',
          num: 2053,
          serial: 8
        },
        {
          name: '信息系统集成服务',
          num: 1731,
          serial: 9
        },
        {
          name: '批发业',
          num: 1616,
          serial: 10
        }
      ],
      //产值
      tableData1: [
        { name: '深圳市大疆百旺科技有限公司', num: '225.92', serial: 1 },
        { name: '深圳市华富洋供应链有限公司', num: '146.93', serial: 2 },
        { name: '中建四局第五建筑工程有限公司', num: '111.57', serial: 3 },
        { name: '深圳中电港技术股份有限公司', num: '89.62', serial: 4 },
        { name: '维谛技术有限公司', num: '64.31', serial: 5 },
        { name: '中建四局土木工程有限公司', num: '54.09', serial: 6 },
        { name: '记忆科技（深圳）有限公司', num: '50.01', serial: 7 },
        { name: '深圳市康哲药业有限公司', num: '49.97', serial: 8 },
        { name: '深信服科技股份有限公司', num: '48.28', serial: 9 },
        { name: '中海建筑有限公司', num: '40.57', serial: 10 },
      ],
      //纳税
      tableData2: [
        { name: '中海建筑有限公司', num: '84500', serial: 1 },
        { name: '深信服科技股份有限公司', num: '49410', serial: 2 },
        { name: '深圳市康哲药业有限公司', num: '28727', serial: 3 },
        { name: '深圳市大疆百旺科技有限公司', num: '24607', serial: 4 },
        { name: '深圳市汇通金控基金投资有限公司', num: '16403', serial: 5 },
        { name: '维谛技术有限公司', num: '16184', serial: 6 },
        { name: '深圳港创建材股份有限公司', num: '10757', serial: 7 },
        { name: '中建四局第五建筑工程有限公司', num: '9720', serial: 8 },
        { name: '深圳市火元素网络技术有限公司', num: '8352', serial: 9 },
        { name: '深圳开立生物医疗科技股份有限公司', num: '7411', serial: 10 },
      ],

      barChartData1: {
        category: ['侨城坊8号楼', '阳光科创中心一期A座', '塘朗城广场（西区）A座', '南山智园（一期）B1栋', '南山智园（三期）崇文花园3号楼'],
        data: [172.09, 165.37, 149.32, 88.2, 61.54],
        max: 200,
        axisUnit: '（亿元）'
      },
      supportChartData: {
        category: ['仅扶持产业用房', '同时扶持产业用房、人才房', '同时扶持产业用房、住房补贴', '同时扶持产业用房、人才房、住房补贴'],
        data: [190, 440, 270, 100]
      },
    }
  },
  created() {
  },
  mounted() {
    // 产业用房扶持企业各行业占比情况
    let officeRootChart = echarts.init(this.$refs.officeRoot)
    let officeChart = echarts.init(this.$refs.office)
    officeChart.setOption(optionPie(this.pieData1))
    rootOptionPie({
      isTimer: true,
      eChart: officeRootChart,
      step: 6,
      widthNum: 4.08,
      widthInNum: 4.1,
      heightNum: 2.15,
      heightInNum: 2.14,
      outsideLine1: 3.05,
      outsideLine2: 3.33,
      outsideLine3: 5.15,
      color: [
        '#00ffff', '#00cfff', '#006ced', '#ffe000',
        '#ffa800', '#ff5b00', '#ff3000', '#c519ff',
        '#188eff', '#19c4fc', '#febf00', '#ff8b19',
        '#fd1b8b'
      ]
    }
    )

    // 政府及国企物业用房的扶持企业政策扶持情况
    // let supportRootChart = echarts.init(this.$refs.supportRoot)
    // let supportChart = echarts.init(this.$refs.support)
    // rootOptionPie({
    //   isTimer: true,
    //   eChart: supportRootChart,
    //   step: 6,
    //   widthNum: 4.78,
    //   widthInNum: 4.78,
    //   heightNum: 2.15,
    //   heightInNum: 2.14,
    //   outsideLine1: 3.05,
    //   outsideLine2: 3.33,
    //   outsideLine3: 5.15,
    //   color: [
    //     '#ff3000', '#c519ff', '#188eff', '#19c4fc', '#febf00', '#ff8b19', '#fd1b8b'
    //   ]
    // }
    // )
    // supportChart.setOption(optionPie(this.pieData2))
    let supportChart = echarts.init(this.$refs.support)
    supportChart.setOption(horizBarOption(this.supportChartData));

    let barChart1 = echarts.init(this.$refs.barChart1)
    barChart1.setOption(horizBarOption(this.barChartData1));


    // // 产业用房扶持企业各规模数量统计
    // let radarChart = echarts.init(this.$refs.radar)
    // radarChart.setOption(radOption({...this.radarData}))

    // 政府及国企物业产业用房近5年退租数、入住数对比
    let intoChart = echarts.init(this.$refs.into)
    intoChart.setOption(barOptions(this.barData))
  },

  destroyed() {
    optionPie({ isTimer: false })
  }
}

</script>

<style lang="less" scoped>
@import "./index.less";
</style>
