.enterpriseAnalysis {
  box-sizing: border-box;
  box-shadow: 0 0 2px 2px #000 inset;
  .census-base {
    color: #fff;
    padding-left: 14px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    box-sizing: border-box;
    margin-right: 12px;
    background-color: rgba(0, 0, 0, 0.1);
    .vertical-line {
      display: inline-block;
      position: relative;
      top: 2px;
      height: 14px;
      width: 4px;
      background-color: #00d5ff;
      margin-right: 10px;
      margin-top: 9px;
    }
  }
  .echarts-left {
    width: 540px;
    height: 288px;
    background-color: rgba(0, 0, 0, 0.1);
    // margin-bottom: 12px;
    margin-right: 12px;
    position: relative;
    .echarts-root {
      width: 540px;
      height: 288px;
      position: absolute;
      top: 0;
      left: 0;
    }
    .echarts-data {
      width: 540px;
      height: 288px;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .echarts-right {
    width: 660px;
    height: 288px;
    background-color: rgba(0, 0, 0, 0.1);
  }
  .echarts-radar {
    width: 380px;
    height: 288px;
    margin-right: 12px;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .echarts-wrapper {
    width: 1150px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.1);
    // margin-bottom: 12px;
    margin-right: 12px;
    position: relative;

    .echarts-root {
      width: 1150px;
      height: 300px;
      position: absolute;
      top: 0;
      left: 0;
    }

    .echarts-data {
      width: 1150px;
      height: 300px;
      position: absolute;
      top: 0;
      left: 0;
    }

    &.left {
      width: 376px;

      .echarts-root {
        width: 376px;
      }

      .echarts-data {
        width: 376px;
      }
    }

    &.right {
      width: 764px;

      .echarts-root {
        width: 764px;
      }

      .echarts-data {
        width: 764px;
      }
    }

    &.half {
      width: 569px;

      .echarts-root {
        width: 569px;
      }

      .echarts-data {
        width: 569px;
      }
    }
  }

  /deep/.el-radio-button__inner {
    background: transparent;
    border: 1px solid #0bafca;
    color: #fff;
  }

  /deep/.el-radio-button__orig-radio:checked+.el-radio-button__inner {
    background-color: #24505a;
  }

  .table-analysis {
    // margin-top: 10px;
    border-top: 1px solid #336b6c;
    border-left: 1px solid #336b6c;
    border-right: 1px solid #336b6c;
    .serialIndex1{
      display: inline-block;
      width: 20px;
      height: 20px;
      text-shadow: 0 0 4px #583c00;
      background: url('~@/views/common/img/top-1@2x.png') no-repeat center;
      background-size: 100% 100%;
    }
    .serialIndex2{
      display: inline-block;
      width: 20px;
      height: 20px;
      text-shadow: 0 0 4px #583c00;
      background: url('~@/views/common/img/top-2@2x.png') no-repeat center;
      background-size: 100% 100%;
    }
    .serialIndex3{
      display: inline-block;
      width: 20px;
      height: 20px;
      text-shadow: 0 0 4px #583c00;
      background: url('~@/views/common/img/top-3@2x.png') no-repeat center;
      background-size: 100% 100%;
    }
  }
  .data-none-border {
    border-bottom: 1px solid #336b6c;
  }
  /deep/.el-table {
    background-color: transparent;
  }
  /deep/.el-table::before {
    background-color: transparent;
  }
  /deep/.el-table th,
  /deep/.el-table tr {
    background-color: transparent;
  }
  /deep/.el-table td,
  /deep/.el-table th {
    padding: 0;
    color: #fff;
  }
  /deep/.el-table td,
  /deep/.el-table th.is-leaf {
    border-bottom: 1px solid #1b4950;
  }
  /deep/.el-table th > .cell {
    padding-right: 0;
  }
  /deep/.el-table .cell {
    padding-right: 0;
  }
  /deep/.el-table__body tr:hover {
    color: rgb(18, 157, 250);
    cursor: pointer;
  }
  /deep/ tbody tr:hover > td,
  /deep/ tbody tr.hover-row > td {
    background-color: #66b1ff;
  }
  /deep/.el-form-item {
    margin-bottom: 0;
  }
  /deep/.btn-next,
  /deep/.btn-prev {
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #fff;
  }
  /deep/.el-pagination__total {
    color: #fff;
  }
  /deep/.el-pager li {
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #fff;
  }
  /deep/.el-pagination.is-background .el-pager li:not(.disabled).active {
    background-color: #00ffff;
    border: none;
  }
  /deep/th.is-leaf {
    background-color: rgba(210, 153, 255, 0.3);
  }
  /deep/.el-table td, /deep/.el-table th.is-leaf{
    border-bottom: 1px solid #336b6c; 
  }
}
