<template>
  <div class="governmentProperty">
    <div class="title">
      <div>
        <i class="title-icon">|&nbsp;|&nbsp;|</i>
        <span class="title-content">{{currentName}}</span>
      </div>
      <i class="el-icon-close" style="color:#fff; font-size:18px;" @click="close"></i>
    </div>
    <div class="tabs">
      <el-tabs v-model="activeName" class="tabs-main" type="border-card">
        <el-tab-pane label="企业列表" name="propertyAnalysis" class="tabs-item">
          <div class="propertyAnalysis">
            <div class="business-tas">
              <div class="list-tit">
                <div class="left">
                  <div style="margin-right:20px">企业数量：<span style="color:#00D5FF;">{{totalNum}}</span>&nbsp;&nbsp;家</div>
                </div>
                <div class="right">
                  <el-form :model="formInline" ref="form" class="form">
                    <el-form-item>
                      <el-input style="width:250px" v-model="formInline.search" placeholder="请输入物业名称"></el-input>
                    </el-form-item>

                    <el-form-item>
                      <el-button type="primary" @click="onSubmit">查询</el-button>
                    </el-form-item>
                  </el-form>
                </div>
              </div>
              <div class="table-analysis" :style="{borderBottom: (tableData.length===0 ? '1px solid #336b6c': '') }">
                <el-table :data="tableData" align='center' header-align='center'>
                  <el-table-column label="序号" type="index" width="50">
                  </el-table-column>

                  <el-table-column prop="name" label="物业名称">
                    <template slot-scope="scope">
                      <el-popover placement="top-start" trigger="hover" :content="scope.row.name">
                        <!-- <span slot="reference"> {{ scope.row.name | ellipsis(15)}}</span> -->
                        <span slot="reference"> {{ scope.row.name}}</span>
                      </el-popover>
                    </template>
                  </el-table-column>
                  <el-table-column prop="num" label="租赁数" width="150"></el-table-column>
                  <el-table-column label="操作" align="center" width="150">
                    <template slot-scope="scope">
                      <div @click="handleAddEditSee(scope.row)" style="color:#00D5FF">查看</div>
                    </template>
                  </el-table-column>
                </el-table>
              </div>
              <div class="table-pagination">
                <el-pagination background :data="tableData" @current-change="handleCurrentChange" :current-page.sync="currentPage" :page-size="pagesize" layout="total, prev, pager, next" :total="totalNum">
                </el-pagination>
              </div>
            </div>
          </div>
        </el-tab-pane>
      </el-tabs>

    </div>
    <div></div>
  </div>
</template>
<script>

import { openModal, closeModal } from '@/until/bigUrl.js'
import { companyTypeDataList } from '@/views/request'

export default {
  data () {
    return {
      activeName: 'propertyAnalysis',
      currentName: '领导挂点',
      type: '领导挂点',
      formInline: {
        search: ''
      },
      currentPage: 1,
      pagesize: 15,
      totalNum: 0,
      preDueNum: 0,
      mark: 0,
      tableData: []
    }
  },
  created () {
    this.currentName = this.$route.query.name
    this.type = this.$route.query.queryName
    this.getDataList()
  },
  filters: {
    ellipsis (value, limit) {
      if (!value) return ''
      if (value.length > limit) {
        return value.slice(0, limit) + '...'
      }
      return value
    }
  },
  methods: {
    handleCurrentChange (currentPage) {
      this.currentPage = currentPage
      this.getDataList()
    },
    getDataList () {
      let obj = {
        p: this.currentPage,
        size: this.pagesize,
        index: '',
        type: this.type
      }
      this.list(obj)
    },
    onSubmit () {
      let obj = {
        p: 1,
        size: this.pagesize,
        index: this.formInline.search,
        type: this.type
      }
      this.list(obj)
    },
    list (obj) {
      this.mark += 1
      companyTypeDataList(obj).then(res => {
        console.log(res)
        this.totalNum = res.data.data.total
        this.tableData = res.data.data.list
      })
    },
    handleAddEditSee (row) {
      openModal(6, '/companyDetail?code=' + row.code + '&mark=' + 'tags' + '&name=' + this.currentName + '&request=' + this.type, () => { })
    },
    close () {
      closeModal(6)
    }
  }
}
</script>

<style lang="less" scoped>
@import "./index.less";
</style>
