<template>
  <div class="governmentProperty">
    <div class="title">
      <div>
        <i class="title-icon">|&nbsp;|&nbsp;|</i>
        <span class="title-content">未核查任务列表</span>
      </div>
      <i class="el-icon-close" style="color:#fff; font-size:18px;" @click="close"></i>
    </div>
    <div class="tabs">
      <div class="propertyAnalysis">
        <div class="business-tas">
          <div class="list-tit">
            <div class="left">
              <div style="margin-right:20px">总数&nbsp;&nbsp;<span style="color:#00D5FF;">{{totalNum}}</span>&nbsp;&nbsp;项</div>
            </div>
            <div class="right">
              <el-form :model="formInline" ref="form" class="form">
                <el-form-item>
                  <el-input style="width:250px" v-model="formInline.name" placeholder="请输入物业名称"></el-input>
                </el-form-item>
                <el-form-item>
                  <el-input style="width:250px" v-model="formInline.address" placeholder="请输入详细地址"></el-input>
                </el-form-item>
                <el-form-item>
                  <el-button type="primary" @click="onSubmit">查询</el-button>
                </el-form-item>
              </el-form>
            </div>
          </div>
          <div class="table-analysis" :style="{borderBottom: (tableData.length===0 ? '1px solid #336b6c': '') }">
            <el-table :data="tableData" align='center' header-align='center'>
              <el-table-column label="序号" type="index" width="50">
              </el-table-column>
              <el-table-column prop="wymc" label="物业名称">
                <template slot-scope="scope">
                  <el-popover placement="top-start" trigger="hover" :content="scope.row.wymc">
                    <span slot="reference"> {{ scope.row.wymc | ellipsis(8)}}</span>
                  </el-popover>
                </template>
              </el-table-column>
              <!-- <el-table-column prop="buildArea" label="物业归属类型"></el-table-column> -->
              <el-table-column prop="jd" label="所属街道"></el-table-column>
              <el-table-column prop="sq" label="所属社区"></el-table-column>
              <el-table-column prop="xxdz" label="详细地址">
                <template slot-scope="scope">
                  <el-popover placement="top-start" trigger="hover" :content="scope.row.xxdz">
                    <span slot="reference"> {{ scope.row.xxdz | ellipsis(8)}}</span>
                  </el-popover>
                </template>
              </el-table-column>
              <!-- <el-table-column prop="buildArea" label="核实任务"></el-table-column> -->
              <!-- <el-table-column prop="buildArea" label="办理状态"></el-table-column> -->
            </el-table>
          </div>
          <div class="table-pagination">
            <el-pagination background :data="tableData" @current-change="handleCurrentChange" :current-page.sync="currentPage" :page-size="pagesize" layout="total, prev, pager, next" :total="totalNum">
            </el-pagination>
          </div>
        </div>
      </div>
    </div>
    <div></div>
  </div>
</template>
<script>

import { closeModal } from '@/until/bigUrl.js'
import { homeCheckList } from '@/views/request'

export default {
  data () {
    return {
      activeName: 'propertyAnalysis',
      formInline: {
        name: '',
        address: ''
      },
      currentPage: 1,
      pagesize: 15,
      totalNum: 0,
      preDueNum: 0,
      mark: 0,
      tableData: []
    }
  },
  created () {
    this.getDataList()
  },
  filters: {
    ellipsis (value, limit) {
      if (!value) return ''
      if (value.length > limit) {
        return value.slice(0, limit) + '...'
      }
      return value
    }
  },

  methods: {
    handleCurrentChange (currentPage) {
      this.currentPage = currentPage
      this.getDataList()
    },
    getDataList () {
      let obj = {
        p: this.currentPage,
        size: this.pagesize,
        name: '',
        address: '',
        type: '未补充编码'
      }
      this.list(obj)
    },
    onSubmit () {
      let obj = {
        p: this.currentPage,
        size: this.pagesize,
        name: this.formInline.name,
        address: this.formInline.address,
        type: '未补充编码'
      }
      this.list(obj)
    },
    list (obj) {
      this.mark += 1
      homeCheckList(obj).then(res => {
        console.log(res)
        this.totalNum = res.data.data.total
        if (this.mark === 1) {
          // 统计表格列表中的预到期企业数量
          this.getTotal(this.totalNum)
        }
        this.tableData = res.data.data.list
      })
    },
    getTotal (totalNum) {
      let obj = {
        p: this.currentPage,
        size: this.totalNum,
        name: '',
        address: '',
        type: '未补充编码'
      }
      homeCheckList(obj).then(res => {
        let data = res.data.data.list
        data.forEach(item => {
          if (item.remainDay <= 30) {
            this.preDueNum += 1
          }
        })
      })
    },
    close () {
      closeModal(6)
    }
  }
}
</script>

<style lang="less" scoped>
@import "./index.less";
</style>
