.governmentProperty {
  height: 800px;
  width: 1200px;
  padding: 0 24px;
  box-sizing: border-box;
  border: 1px solid #00D5FF;
  background:url('~@/views/img/biger.png') no-repeat center;
  background-size: 100% 100%;
  .title{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #00D5FF;
    padding: 16px 0;
   .title-icon{
       font-size: 12px;
       color:#00D5FF;
       display: inline-block;
       margin-right: 8px;
   }
   .title-content{
       font-size: 16px;
       color: #fff;
   }
}
  .tabs{
     height: 40px;
     .tabs-main{
       height: 40px;
     }
  }
  /deep/.el-tabs__item{
    font-size: 16px;
    color: #fff;
  }
  /deep/.el-tabs__nav-wrap::after{
    background-color: transparent !important;
  }
   /deep/.el-tabs__item{
      margin-top:0;
      border:none;
  }
  /deep/.el-tabs__item.is-active{
    color: #00D5FF;
     background-color: transparent;
     border-right-color: transparent;
     border-left-color: transparent;
     background: url('~@/views/img/tabsback.png') repeat-x;
     background-size: 100% 100%;
  }
  /deep/.el-tabs__active-bar{
    background-color: #00D5FF;
  }
  /deep/.el-tabs--border-card>.el-tabs__header{
     background:transparent;
     border: none;
  }
  /deep/.el-tabs--border-card{
     border: none;
     box-shadow: none;
  }
  /deep/.el-tabs__item:focus.is-active.is-focus:not(:active){
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border-radius: 0 !important;
  }
  /deep/.el-tabs--border-card{
      background:transparent;
  }
  /deep/.el-tabs__content{
    padding: 0;
    margin-top:1px;
  }
}
.propertyAnalysis {
  box-sizing: border-box;
  // box-shadow: 0 0 2px 2px rgba(24, 23, 23, 0.3) inset;
  padding: 10px;
  margin-top: 16px;
  .list-tit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    .left {
      display: flex;
      font-size: 14px;
      color: #fff;
    }
  }
  .business-tas {
    width: 100%;
    margin-bottom: 14px;
  }
  .table-analysis {
    margin: 10px 5px;
    border-top: 1px solid #336b6c;
    border-left: 1px solid #336b6c;
    border-right: 1px solid #336b6c;
  }
  .form {
    display: flex;
    justify-content: space-between;
  }
  .table-pagination {
    margin-top: 150px;
    margin-bottom: 12px;
    display: flex;
    justify-content: flex-end;
  }
  .el-input {
    margin-right: 10px;
  }
  /deep/.el-button {
    width: 66px;
    height: 30px;
    background: url('~@/views/img/text_bg.png') no-repeat center;
    background-size: 100% 100%;
    border: none;
    padding: 0;
    color: #fff;
  }
  /deep/.el-button:hover {
    background-color: #00d5ff;
  }
  /deep/.el-input__inner {
    height: 28px;
    line-height: 28px;
    background-color: rgba(255, 255, 255, 0.3);
    border-color: #00d5ff;
    color: #fff;
  }
  /deep/.el-table {
    background-color: transparent;
  }
  /deep/.el-table::before {
    background-color: transparent;
  }
  /deep/.el-table th,
  /deep/.el-table tr {
    background-color: transparent;
  }
  /deep/.el-table td,
  /deep/.el-table th {
    padding: 0;
    color: #fff;
  }
  /deep/.el-table td,
  /deep/.el-table th.is-leaf {
    border-bottom: 1px solid #336b6c;
  }
  /deep/.el-table th > .cell {
    padding-right: 0;
  }
  /deep/.el-table .cell {
    padding-right: 0;
    text-align: center;
  }
  /deep/.el-table__body tr:hover {
    color: rgb(18, 157, 250);
    cursor: pointer;
  }
  /deep/ tbody tr:hover > td,
  /deep/ tbody tr.hover-row > td {
    background-color: #66b1ff;
  }
  /deep/th.is-leaf {
    background-color: rgba(0, 0, 0, 0.3);
  }
  /deep/.el-form-item {
    margin-bottom: 0;
  }
  /deep/.btn-next,
  /deep/.btn-prev {
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #fff;
  }
  /deep/.el-pagination__total {
    color: #fff;
  }
  /deep/.el-pager li {
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #fff;
  }
  /deep/.el-pagination.is-background .el-pager li:not(.disabled).active {
    background-color: #00ffff;
    border: none;
  }
  /deep/.el-select-dropdown {
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid #336b6c;
  }
  /deep/.el-select-dropdown__item {
    color: #fff;
  }
  /deep/.popper__arrow {
    border-bottom-color: #336b6c;
  }
  /deep/.popper__arrow::after {
    border-bottom-color: rgba(0, 0, 0, 0.7);
  }
  /deep/.el-select-dropdown__item.hover,
  /deep/.el-select-dropdown__item:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: #fff;
  }
}
