.governmentProperty {
  height: 800px;
  width: 1200px;
  // padding: 0 24px;
  box-sizing: border-box;
  border: 1px solid #00d5ff;
  background: url("~@/views/common/biger.png") no-repeat center;
  background-size: 100% 100%;
  .header {
    width: 100%;
    display: flex;
    justify-content:space-between;
    // border-bottom: 1px solid #00d5ff;
    padding: 16px 20px;
    box-sizing: border-box;
    .header-icon {
      font-size: 12px;
      color: #00d5ff;
      display: inline-block;
      margin-right: 8px;
    }
    .header-content {
      font-size: 16px;
      color: #fff;
    }
  }
  .line{
    border-bottom: 1px solid #00d5ff;
    margin: 0 20px;
  }
  .propertyAnalysis {
    width: 100%;
    // margin-top: 14px;
    box-sizing: border-box;
    // box-shadow: 0 0 2px 2px rgba(24, 23, 23, 0.3) inset;
    padding: 10px 0px;
    .business-tas {
      width: 100%;
      margin-bottom: 14px;
    }
    .tabs {
      // width: 1156px;
      height: 40px;
      padding: 0px 20px;
      margin-top: 15px;
    }
    .title-box {
      padding: 0px 20px;
      color: #fff;
      .title-tit {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .list {
        margin-bottom: 5px;
      }
      .name {
        font-size: 16px;
      }
      .el-tag {
        height: 16px !important;
        line-height: 16px !important;
        margin-right: 5px;
      }
    }
  }
  /deep/.el-button {
    width: 66px;
    height: 30px;
    background: url("~@/views/img/text_bg.png") no-repeat center;
    background-size: 100% 100%;
    border: none;
    padding: 0;
    color: #fff;
  }
  /deep/.tabs-main{
    width: 100%;
  }
  /deep/.el-tabs__header {
    border-bottom: none;
    margin: 10px 0px !important;
  }
  /deep/.el-tabs__content{
    width: 100%;
  }
  /deep/.el-tabs__nav-scroll {
    border: none;
  }
  /deep/.el-tabs__nav {
    background-color: rgba(26, 134, 156, 0.2);
    border: none;
  }
  /deep/.el-tabs__item {
    color: #fff;
    border-left: none;
  }
  /deep/.el-tabs__item.is-active {
    background-color: #18859a;
    border-bottom-color: transparent;
    color: #00d5ff;
  }
}
table {
  border-collapse: collapse;
  margin-bottom: 200px;
  td {
    color: #fff;
    font-size: 14px;
  }
  .tit {
    // width: 150px;
    padding: 5px;
  }
  .tit-color {
    color: #00ffff;
  }
}
.mesage {
  display: flex;
  color: #fff;
  margin-bottom: 10px;
}
.table-analysis {
  // height: 900px;
  margin: 10px 5px;
  border-top: 1px solid #336b6c;
  border-left: 1px solid #336b6c;
  border-right: 1px solid #336b6c;
}
.table-pagination {
  margin-top: 150px;
  margin-bottom: 12px;
  display: flex;
  justify-content: flex-end;
}
/deep/.el-table {
  background-color: transparent;
}
/deep/.el-table::before {
  background-color: transparent;
}
/deep/.el-table th,
/deep/.el-table tr {
  background-color: transparent;
}
/deep/.el-table td,
/deep/.el-table th {
  padding: 0;
  color: #fff;
}
/deep/.el-table td,
/deep/.el-table th.is-leaf {
  border-bottom: 1px solid #336b6c;
}
/deep/.el-table th > .cell {
  padding-right: 0;
}
/deep/.el-table .cell {
  padding-right: 0;
  text-align: center;
}
/deep/.el-table__body{
  width: 100% !important;
}
/deep/.el-table__header{
  width: 100% !important;
  border: none !important;
}
/deep/.el-table__header-wrapper{
  border-bottom: 1px solid #336b6c;
}
/deep/.el-table__body tr:hover {
  color: rgb(18, 157, 250);
  cursor: pointer;
}
/deep/ tbody tr:hover > td,
/deep/ tbody tr.hover-row > td {
  background-color: #66b1ff;
}
/deep/th.is-leaf {
  background-color: rgba(0, 0, 0, 0.3);
}
/deep/.el-form-item {
  margin-bottom: 0;
}
/deep/.btn-next,
/deep/.btn-prev {
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;
}
/deep/.el-pagination__total {
  color: #fff;
}
/deep/.el-pager li {
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;
}
/deep/.el-pagination.is-background .el-pager li:not(.disabled).active {
  background-color: #00ffff;
  border: none;
}
/deep/.el-dialog{
  margin-top: 6vh !important;
  background: url("~@/views/common/biger.png") no-repeat center;
  background-size: 100% 100%;
}
/deep/.el-dialog__body{
  padding: 6px 20px 20px 20px;
 
}
/deep/.el-dialog__title{
  color: #fff;
}
/deep/ .el-table .el-table__body tr:hover td {
  background-color:rgba(0, 213, 255, 0.2); 
  border-top: 1px solid #00D5FF;
  border-bottom: 1px solid #00D5FF;
}
/deep/ .el-table .el-table__body tr:hover td:first-child {
  border-left: 1px solid #00D5FF;
}
/deep/ .el-table .el-table__body tr:hover td:last-child {
  border-right: 1px solid #00D5FF;
}
