.governmentProperty {
  height: 934px;
  padding: 12px 16px;
  box-sizing: border-box;
  background: url('~@/views/img/ce_left.png') no-repeat center;
  background-size:100% 100%;
  .tabs{
     height: 40px;
     .tabs-main{
       height: 40px;
     }
  }
  /deep/.el-tabs__item{
    font-size: 16px;
    color: #fff;
  }
  /deep/.el-tabs__nav-wrap::after{
    background-color: transparent !important;
  }
  /deep/.el-tabs__item.is-active{
    color: #00D5FF;
  }
  /deep/.el-tabs__active-bar{
    background-color: #00D5FF;
  }
  /deep/.el-tabs__item:focus.is-active.is-focus:not(:active){
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border-radius: 0 !important;
  }
}