<template>
  <div class="governmentProperty">
  <div class="tabs">
  <el-tabs v-model="activeName" class="tabs-main">
    <el-tab-pane label="资产统计" name="propertyHouse" class="tabs-item">
      <PropertyHome/>
    </el-tab-pane>
    <el-tab-pane label="物业资产" name="parkList" class="tabs-item">
      <PropertyList/>
    </el-tab-pane>
    <el-tab-pane label="智能选址" name="searchSelect" class="tabs-item">
      <SelectSearch/>
    </el-tab-pane>
  </el-tabs>
   </div>
   <div></div>
  </div>
</template>
<script>

import PropertyHome from './homeTabs/propertyHome'
import PropertyList from './homeTabs/propertyList'
import SelectSearch from './homeTabs/selectSearch'

export default {
  components: {PropertyHome, PropertyList, SelectSearch},
  data () {
    return {
      activeName: ''
    }
  },
  created () {
    let tabList = this.$route.query.activeName
    if (tabList) {
      this.activeName = tabList
    } else {
      this.activeName = 'propertyHouse'
    }
  }
}
</script>

<style lang="less" scoped>
@import "./index.less";
</style>
