<template>
 <div class="moreAnalysis">

   <div class="title">
        <div>
          <i class="title-icon">|&nbsp;|&nbsp;|</i>
          <span class="title-content">更多分析</span>
        </div>
        <i class="el-icon-close" style="color:#fff; font-size:18px;" @click="close"></i>
    </div>

  <div class="enterpriseAnalysis">
    <div style=" display: flex; margin-bottom:12px;">
    <div>
       <div class="census-base"><span class="vertical-line"></span>各项物业资产入账统计分析</div>
       <div class="echarts-left">
       <div ref="entryRoot" class="echarts-root"></div>
       <div ref="entry" class="echarts-data"></div>
       </div>
    </div>
    <div>
       <div class="census-base"><span class="vertical-line"></span>各项物业产权办理统计分析</div>
       <div class="echarts-left">
       <div ref="propertyRoot" class="echarts-root"></div>
       <div ref="radar" class="echarts-data"></div>
       </div>
    </div>

     <div>
       <div class="census-base" style="margin-right:0;"><span class="vertical-line"></span>各项物业空置情况统计分析</div>
       <div ref="vacant" class="echarts-right"></div>
    </div>
  </div>

  <div style=" display: flex; margin-bottom:12px;">
    <div>
       <div class="census-base"><span class="vertical-line"></span>房屋编码统计分析</div>
       <div class="echarts-left">
       <div ref="codeRoot" class="echarts-root"></div>
       <div ref="code" class="echarts-data"></div>
       </div>
    </div>
    <div>
       <div class="census-base" style=" display: flex; justify-content: space-between;">
         <div><span class="vertical-line"></span>各单位管理物业资产情况</div>
         <div class="taggingName">
         <el-radio-group v-model="radio" size="mini" @change="handleChange">
         <el-radio-button label="行政事业单位"></el-radio-button>
         <el-radio-button label="街道"></el-radio-button>
         </el-radio-group>
       </div>
         </div>
       <div class="echarts-left">
       <div ref="assets" class="echarts-data"></div>
       </div>
    </div>

     <div>
       <div class="census-base" style="margin-right:0;"><span class="vertical-line"></span>出租租期长/合同预到期分析</div>
       <div class="echarts-right" style="display: flex;">
             <div ref="rentOut" class="lease-term"></div>
             <div ref="contract" class="lease-term"></div>
       </div>

    </div>
  </div>

 </div>
 </div>
</template>
<script>
import * as echarts from 'echarts'
import optionPie from '@/views/common/pieOptions'
// import assetsOptionBar from './propertyOption.js'
import assetsOptionBar from './brokenLineOption.js'
import entryPie from './entryOption.js'
import radOption from './propertyOption.js'
import lineOption from './lineOption.js'
import codeBar from './codeOption.js'
import barOption from './barOption.js'
import barOption2 from './barOption2.js'
import {governmentAnalysis} from '@/views/request.js'
import {closeModal} from '@/until/bigUrl.js'
export default {

  data () {
    return {
      pieData1: {
        data: [
          {value: 59.78, name: '产业用房'},
          {value: 10.00, name: '办公用房'},
          {value: 77.56, name: '公共服务设施'},
          {value: 2, name: '商业'},
          {value: 20.79, name: '住宅'}
        ]
      },
      radarData: {
        legendData: ['总面积（万㎡）', '产权办理面积（万㎡）'],
        xAxisData: ['产业用房', '住宅', '商业', '公共服务设施', '行政办公'],
        data1: [53.02, 0.72, 0.07, 22.18, 3.96],
        data2: [125.49, 9.15, 9.88, 413.22, 63.68],
        percentage: {'产业用房': 42.25, '住宅': 7.80, '商业': 0.73, '公共服务设施': 5.37, '行政办公': 6.22}

      },
      barDataLine: {
        xAxisData: ['已补充编码', '未补充编码', '不符合编码条件'],
        yAxisDatax: [559, 50, 39]
      },
      radio: '行政事业单位',
      lineDataBar: {
        cityList: ['区教育局', '区政府公共物业管理中心', '区卫生健康局', '区文化广电旅游局', '南山公安分局', '区城管和综合执法局', '区民政局', '区机关事务局', '桃源街道办', '区法院', '粤海街道办', '南山街道办', '区国资局', '蛇口街道办', '区检察院', '招商街道办', '沙河街道办', '区司法局', '西丽街道办', '南头街道办', '区委党校', '区政务服务数据管理局', '区应急管理局', '区人武部', '区纪委区监委', '团区委', '区残联', '区妇联', '区工业和信息化局', '区水务局', '区人力资源局', '区委组织部', '区住房建设局', '区工务署', '区财政局', '区总工会', '区城市更新和土地整备局', '区委统战部', '区规划土地监察局', '区退役军人局', '区工商联', '区信访局', '重点片区管理中心'],
        cityData: [228.915927, 127.701615, 87.559800, 67.708800, 15.893831, 12.646801, 5.747993, 5.69375, 5.527000, 4.499919, 3.743607, 3.186153, 3.0885, 3.032659, 2.803637, 2.704814, 2.48123, 2.264021, 2.250097, 1.993101, 1.75735, 1.536154, 1.24558, 1.1656, 0.9164, 0.857064, 0.8376, 0.790953, 0.7520, 0.7343, 0.731621, 0.6973, 0.405791, 0.396919, 0.3619, 0.2620, 0.2116, 0.164393, 0.151958, 0.106446, 0.1058, 0.1034, 0.0880]
      },
      streetDataBar: {
        cityList: ['南头街道', '桃园街道', '粤海街道办', '蛇口街道', '西丽街道', '南山街道', '招商街道', '沙河街道', '其他'],
        cityData: [175.27, 143.86, 79.07, 56.18, 54.34, 43.14, 37.71, 31.82, 0.04]
      },
      barData: {
        legendData: ['5≤租期<10年', '10≤租期<15年', '15年≤租期'],
        xAxisData: ['出租租期长'],
        yAxisDatax: [3],
        yAxisDatay: [3],
        yAxisDataz: [7]
      },

      barData2: {
        legendData: ['预到期≤3个月', '3个月＜预到期≤6个月', '6个月＜预到期≤12个月'],
        xAxisData: ['合同预到期'],
        yAxisDatax: [1],
        yAxisDatay: [13],
        yAxisDataz: [2]
      },

      lineData: {
        xAxisData: ['产业用房', '办公用房', '商业', '公共服务设施', '住宅'],
        legendData: ['空置率', '空置面积'],
        yAxisDataz: [0, 0, 0, 0, 0],
        yAxisDatas: [0, 0, 0, 0, 0]
      }

    }
  },
  created () {
  },

  methods: {
    close () {
      closeModal(6)
    },
    handleChange (val) {
      this.radio = val
    }
  },
  mounted () {
    // 各项物业资产入账统计分析
    let entry = echarts.init(this.$refs.entry)
    entry.showLoading({
      text: '正在加载···', // 显示的文本
      effect: 'ring', // 可选为：'spin' | 'bar' | 'ring' | 'whirling' | 'dynamicLine' | 'bubble'
      color: '#00ffff', // 显示转圈的圆圈颜色
      textColor: 'white', // 显示文本的颜色
      maskColor: 'rgba(255,255,255,0)', // 显示的背景色
      zlevel: 0,
      fontSize: 14, // 字体大小。从 `v4.8.0` 开始支持。
      showSpinner: true, // 是否显示旋转动画（spinner）。从 `v4.8.0` 开始支持。
      spinnerRadius: 10, // 旋转动画（spinner）的半径。从 `v4.8.0` 开始支持。
      lineWidth: 3, // 旋转动画（spinner）的线宽。从 `v4.8.0` 开始支持。
      fontWeight: 'normal', // 字体粗细。从 `v5.0.1` 开始支持。
      fontStyle: 'normal', // 字体风格。从 `v5.0.1` 开始支持。
      fontFamily: 'sans-serif' // 字体系列。从 `v5.0.1` 开始支持。
    })

    // 各项物业产权办理统计分析
    let radarChart = echarts.init(this.$refs.radar)
    radarChart.showLoading({
      text: '正在加载···', // 显示的文本
      effect: 'ring', // 可选为：'spin' | 'bar' | 'ring' | 'whirling' | 'dynamicLine' | 'bubble'
      color: '#00ffff', // 显示转圈的圆圈颜色
      textColor: 'white', // 显示文本的颜色
      maskColor: 'rgba(255,255,255,0)', // 显示的背景色
      zlevel: 0,
      fontSize: 14, // 字体大小。从 `v4.8.0` 开始支持。
      showSpinner: true, // 是否显示旋转动画（spinner）。从 `v4.8.0` 开始支持。
      spinnerRadius: 10, // 旋转动画（spinner）的半径。从 `v4.8.0` 开始支持。
      lineWidth: 3, // 旋转动画（spinner）的线宽。从 `v4.8.0` 开始支持。
      fontWeight: 'normal', // 字体粗细。从 `v5.0.1` 开始支持。
      fontStyle: 'normal', // 字体风格。从 `v5.0.1` 开始支持。
      fontFamily: 'sans-serif' // 字体系列。从 `v5.0.1` 开始支持。
    })

    // 房屋编码统计分析
    let code = echarts.init(this.$refs.code)
    code.showLoading({
      text: '正在加载···', // 显示的文本
      effect: 'ring', // 可选为：'spin' | 'bar' | 'ring' | 'whirling' | 'dynamicLine' | 'bubble'
      color: '#00ffff', // 显示转圈的圆圈颜色
      textColor: 'white', // 显示文本的颜色
      maskColor: 'rgba(255,255,255,0)', // 显示的背景色
      zlevel: 0,
      fontSize: 14, // 字体大小。从 `v4.8.0` 开始支持。
      showSpinner: true, // 是否显示旋转动画（spinner）。从 `v4.8.0` 开始支持。
      spinnerRadius: 10, // 旋转动画（spinner）的半径。从 `v4.8.0` 开始支持。
      lineWidth: 3, // 旋转动画（spinner）的线宽。从 `v4.8.0` 开始支持。
      fontWeight: 'normal', // 字体粗细。从 `v5.0.1` 开始支持。
      fontStyle: 'normal', // 字体风格。从 `v5.0.1` 开始支持。
      fontFamily: 'sans-serif' // 字体系列。从 `v5.0.1` 开始支持。
    })

    // 各单位管理物业资产情况
    let assets = echarts.init(this.$refs.assets)
    assets.showLoading({
      text: '正在加载···', // 显示的文本
      effect: 'ring', // 可选为：'spin' | 'bar' | 'ring' | 'whirling' | 'dynamicLine' | 'bubble'
      color: '#00ffff', // 显示转圈的圆圈颜色
      textColor: 'white', // 显示文本的颜色
      maskColor: 'rgba(255,255,255,0)', // 显示的背景色
      zlevel: 0,
      fontSize: 14, // 字体大小。从 `v4.8.0` 开始支持。
      showSpinner: true, // 是否显示旋转动画（spinner）。从 `v4.8.0` 开始支持。
      spinnerRadius: 10, // 旋转动画（spinner）的半径。从 `v4.8.0` 开始支持。
      lineWidth: 3, // 旋转动画（spinner）的线宽。从 `v4.8.0` 开始支持。
      fontWeight: 'normal', // 字体粗细。从 `v5.0.1` 开始支持。
      fontStyle: 'normal', // 字体风格。从 `v5.0.1` 开始支持。
      fontFamily: 'sans-serif' // 字体系列。从 `v5.0.1` 开始支持。
    })

    // 各项物业空置情况统计分析
    let vacantChart = echarts.init(this.$refs.vacant)
    vacantChart.showLoading({
      text: '正在加载···', // 显示的文本
      effect: 'ring', // 可选为：'spin' | 'bar' | 'ring' | 'whirling' | 'dynamicLine' | 'bubble'
      color: '#00ffff', // 显示转圈的圆圈颜色
      textColor: 'white', // 显示文本的颜色
      maskColor: 'rgba(255,255,255,0)', // 显示的背景色
      zlevel: 0,
      fontSize: 14, // 字体大小。从 `v4.8.0` 开始支持。
      showSpinner: true, // 是否显示旋转动画（spinner）。从 `v4.8.0` 开始支持。
      spinnerRadius: 10, // 旋转动画（spinner）的半径。从 `v4.8.0` 开始支持。
      lineWidth: 3, // 旋转动画（spinner）的线宽。从 `v4.8.0` 开始支持。
      fontWeight: 'normal', // 字体粗细。从 `v5.0.1` 开始支持。
      fontStyle: 'normal', // 字体风格。从 `v5.0.1` 开始支持。
      fontFamily: 'sans-serif' // 字体系列。从 `v5.0.1` 开始支持。
    })

    // 出租租期长
    let rentOutChart = echarts.init(this.$refs.rentOut)
    rentOutChart.showLoading({
      text: '正在加载···', // 显示的文本
      effect: 'ring', // 可选为：'spin' | 'bar' | 'ring' | 'whirling' | 'dynamicLine' | 'bubble'
      color: '#00ffff', // 显示转圈的圆圈颜色
      textColor: 'white', // 显示文本的颜色
      maskColor: 'rgba(255,255,255,0)', // 显示的背景色
      zlevel: 0,
      fontSize: 14, // 字体大小。从 `v4.8.0` 开始支持。
      showSpinner: true, // 是否显示旋转动画（spinner）。从 `v4.8.0` 开始支持。
      spinnerRadius: 10, // 旋转动画（spinner）的半径。从 `v4.8.0` 开始支持。
      lineWidth: 3, // 旋转动画（spinner）的线宽。从 `v4.8.0` 开始支持。
      fontWeight: 'normal', // 字体粗细。从 `v5.0.1` 开始支持。
      fontStyle: 'normal', // 字体风格。从 `v5.0.1` 开始支持。
      fontFamily: 'sans-serif' // 字体系列。从 `v5.0.1` 开始支持。
    })

    // 合同预到期分析
    let contractChart = echarts.init(this.$refs.contract)
    contractChart.showLoading({
      text: '正在加载···', // 显示的文本
      effect: 'ring', // 可选为：'spin' | 'bar' | 'ring' | 'whirling' | 'dynamicLine' | 'bubble'
      color: '#00ffff', // 显示转圈的圆圈颜色
      textColor: 'white', // 显示文本的颜色
      maskColor: 'rgba(255,255,255,0)', // 显示的背景色
      zlevel: 0,
      fontSize: 14, // 字体大小。从 `v4.8.0` 开始支持。
      showSpinner: true, // 是否显示旋转动画（spinner）。从 `v4.8.0` 开始支持。
      spinnerRadius: 10, // 旋转动画（spinner）的半径。从 `v4.8.0` 开始支持。
      lineWidth: 3, // 旋转动画（spinner）的线宽。从 `v4.8.0` 开始支持。
      fontWeight: 'normal', // 字体粗细。从 `v5.0.1` 开始支持。
      fontStyle: 'normal', // 字体风格。从 `v5.0.1` 开始支持。
      fontFamily: 'sans-serif' // 字体系列。从 `v5.0.1` 开始支持。
    })

    governmentAnalysis().then((res) => {
      if (res.data.code === 0) {
        entry.hideLoading()
        radarChart.hideLoading()
        code.hideLoading()
        assets.hideLoading()
        vacantChart.hideLoading()
        rentOutChart.hideLoading()
        contractChart.hideLoading()

        let {
          // cqList,
          kzList,
          rzList
          // zcList = []
        // houseCodeList,
        // zq1Month,
        // zq3Month,
        // zq5Year,
        // zq6Month,
        // zq10Year,
        // zq15Year
        } = res.data.data
        this.pieData1.data = [
          {value: rzList.cyNum ? ((rzList.cyNum / 100000000).toFixed(2)) : 0, name: '产业用房'},
          {value: rzList.bgNum ? ((rzList.bgNum / 100000000).toFixed(2)) : 0, name: '办公用房'},
          {value: rzList.ggNum ? ((rzList.ggNum / 100000000).toFixed(2)) : 0, name: '公共服务设施'},
          {value: rzList.syNum ? ((rzList.syNum / 10000000).toFixed(2)) : 0, name: '商业'},
          {value: rzList.zzNum ? ((rzList.zzNum / 100000000).toFixed(2)) : 0, name: '住宅'}
        ]
        entry.setOption(entryPie(this.pieData1))

        // let radar = []
        // radar[0] = cqList.cyNum ? cqList.cyNum : 0
        // radar[1] = cqList.bgNum ? cqList.bgNum : 0
        // radar[2] = cqList.ggNum ? cqList.ggNum : 0
        // radar[3] = cqList.syNum ? cqList.syNum : 0
        // radar[4] = cqList.zzNum ? cqList.zzNum : 0

        // let vacantArea = Math.max(...radar)
        // let len = String(vacantArea).length - 2
        // let keyLen = formatInt(vacantArea, len)
        // let radarArr = [
        //   {name: '产业用房', max: String(keyLen)},
        //   {name: '办公用房', max: String(keyLen)},
        //   {name: '公共服务设施', max: String(keyLen)},
        //   {name: '商业', max: String(keyLen)},
        //   {name: '住宅', max: String(keyLen)}
        // ]
        // this.radarData.data = radarArr
        // this.radarData.value = radar
        radarChart.setOption(radOption(this.radarData))

        code.setOption(codeBar(this.barDataLine))

        // let cityListArr = []
        // let cityDataArr = []
        // zcList.forEach((item, index) => {
        //   cityListArr[index] = item.unitName
        //   cityDataArr[index] = item.num
        // })
        // this.lineDataBar.cityList = cityListArr
        // this.lineDataBar.cityData = cityDataArr

        assets.setOption(assetsOptionBar(this.lineDataBar))

        let linebar = {}
        let yAxisDatazem = []
        let yAxisDatasem = []
        yAxisDatazem[0] = 45.74
        // yAxisDatazem[0] = kzList.cyArea ? (kzList.cyArea).toFixed(2) : 0
        yAxisDatazem[1] = kzList.bgArea ? (kzList.bgArea / 10000).toFixed(2) : 0
        yAxisDatazem[2] = kzList.syArea ? (kzList.syArea / 10000).toFixed(2) : 0
        yAxisDatazem[3] = kzList.ggArea ? (kzList.ggArea / 10000).toFixed(2) : 0
        yAxisDatazem[4] = kzList.zzArea ? (kzList.zzArea / 10000).toFixed(2) : 0

        yAxisDatasem[0] = 47.87
        // yAxisDatasem[0] = kzList.cyRate ? (kzList.cyRate * 100).toFixed(2) : 0
        yAxisDatasem[1] = kzList.bgRate ? (kzList.bgRate * 100).toFixed(2) : 0
        yAxisDatasem[2] = kzList.syRate ? (kzList.syRate * 100).toFixed(2) : 0
        yAxisDatasem[3] = kzList.ggRate ? (kzList.ggRate * 100).toFixed(2) : 0
        yAxisDatasem[4] = kzList.zzRate ? (kzList.zzRate * 100).toFixed(2) : 0

        linebar.yAxisDataz = yAxisDatazem
        linebar.yAxisDatas = yAxisDatasem

        let emptylineData = this.lineData
        this.lineData = Object.assign(emptylineData, linebar)
        vacantChart.setOption(lineOption(this.lineData))

        // let bar1 = {}
        // let yAxisDataxzq = []
        // let yAxisDatayzq = []
        // let yAxisDatazzq = []
        // yAxisDataxzq[0] = zq5Year
        // yAxisDatayzq[0] = zq10Year + zq5Year
        // yAxisDatazzq[0] = zq15Year + zq10Year + zq5Year
        // bar1.yAxisDatax = yAxisDataxzq
        // bar1.yAxisDatay = yAxisDatayzq
        // bar1.yAxisDataz = yAxisDatazzq
        // let barzq = this.barData
        // this.barData = Object.assign(barzq, bar1)
        rentOutChart.setOption(barOption(this.barData))

        // let bar2 = {}
        // let yAxisDataxyd = []
        // let yAxisDatayyd = []
        // let yAxisDatazyd = []
        // yAxisDataxyd[0] = zq1Month
        // yAxisDatayyd[0] = zq3Month + zq1Month
        // yAxisDatazyd[0] = zq6Month + zq3Month + zq1Month
        // bar2.yAxisDatax = yAxisDataxyd
        // bar2.yAxisDatay = yAxisDatayyd
        // bar2.yAxisDataz = yAxisDatazyd
        // let baryd = this.barData2
        // this.barData2 = Object.assign(baryd, bar2)
        contractChart.setOption(barOption2(this.barData2))

        rentOutChart.setOption(barOption(this.barData))
        contractChart.setOption(barOption2(this.barData2))
      }
    })
  },
  watch: {
    radio: function (val) {
      // 近3年各园区租赁价格及市场指导价统计分析
      let assets = echarts.init(this.$refs.assets)
      assets.showLoading({
        text: '正在加载···', // 显示的文本
        effect: 'ring', // 可选为：'spin' | 'bar' | 'ring' | 'whirling' | 'dynamicLine' | 'bubble'
        color: '#00ffff', // 显示转圈的圆圈颜色
        textColor: 'white', // 显示文本的颜色
        maskColor: 'rgba(255,255,255,0)', // 显示的背景色
        zlevel: 0,
        fontSize: 14, // 字体大小。从 `v4.8.0` 开始支持。
        showSpinner: true, // 是否显示旋转动画（spinner）。从 `v4.8.0` 开始支持。
        spinnerRadius: 10, // 旋转动画（spinner）的半径。从 `v4.8.0` 开始支持。
        lineWidth: 3, // 旋转动画（spinner）的线宽。从 `v4.8.0` 开始支持。
        fontWeight: 'normal', // 字体粗细。从 `v5.0.1` 开始支持。
        fontStyle: 'normal', // 字体风格。从 `v5.0.1` 开始支持。
        fontFamily: 'sans-serif' // 字体系列。从 `v5.0.1` 开始支持。
      })
      governmentAnalysis().then((res) => {
        if (res.data.code === 0) {
          assets.hideLoading()
          if (val === '行政事业单位') {
            assets.setOption(assetsOptionBar(this.lineDataBar))
          } else if (val === '街道') {
            assets.setOption(assetsOptionBar(this.streetDataBar))
          }
        }
      })
    }
  },
  destroyed () {
    optionPie({isTimer: false})
  }
}

</script>

<style lang="less" scoped>
@import "./index.less";
</style>
