<template>
  <div class="mapCenter">
    <div class="haeader-title"><i class="icon">||</i>{{streetName ? streetName : "--"}}</div>
    <div class="conter-name">

    <div class="conter-item">
      <div><span class="item-name">{{area ? area : "--"}}</span>万㎡</div>
      <span>物业面积</span>
    </div>

    <div class="conter-item">
      <div><span class="item-name">{{num ? num : "--"}}</span>处</div>
      <span>物业数量</span>
    </div>

    </div>
  </div>
</template>
<script>
export default {
  data () {
    return {
      isNumber: false,
      isMix: false,
      streetName: '',
      area: '',
      num: '',
      percentage: ''
    }
  },
  created () {
    let {areaNum = '', number = '', streetName = ''} = this.$route.query
    this.num = Number(number)
    let space = Number(areaNum) / 10000
    this.area = space.toFixed(2)
    this.streetName = streetName
  }
}
</script>

<style lang="less" scoped>
   .mapCenter{
     padding: 5px;
     background-color: rgba(0,0,0,0.3);
     .haeader-title{
       height: 30px;
       line-height: 30px;
       background-color: #294670;
       font-size: 16px;
       font-weight: bolder;
       color:#fff;
       .icon{
       position: relative;
       top:-1px;
       line-height: 30px;
       display: inline-block;
       font-style: normal;
       font-size: 16px;
       margin-left:6px;
       margin-right: 12px;
       letter-spacing:-4px;
       color: #00FFFF;
     }
     }
     .conter-name{
       display: flex;
       padding-top:1px;
       .conter-item{
          width: 50%;
          line-height: 25px;
          color: #fff;
          font-size: 14px;
          text-align: center;
          .item-name{
            font-size: 18px;
          }
       }
     }

   }
</style>
