<template>
  <div class="navMenu">
      <template v-for="item in menuData">
          <el-submenu v-if="item.sysMenusList&&Array.isArray(item.sysMenusList)&&item.sysMenusList.length>0"
            :index="item.id"
            :key="item.id"
            :data="item.sysMenusList"
            :route="item.routerPath"
            >
              <template slot="title">
                <div class="first-menu"
                @click="handleJump(item.routerPath,item.id,item)"

                :index="item.id"
                :style="{backgroundImage: activeMenuId==item.id  ? `url(${item.bgdeep})` : `url(${item.bg})`}"
                :class="(item.id==='2'||item.id==='3') ? 'active-menu-template' : ''"
                >
                   <div
                   @mouseenter="handleFocus(item.id)"
                   @mouseleave="handleBlur(item.id)"
                   style="width:902px;height:66px; padding-left:12px;"
                   :class="activeMenuId==item.id && 'huiSeZhiZhao20211018150153'">
                   <img :src="((isImg2 && item.id==='2') || (activeMenuId==item.id && item.id==='2')||(isImg3 && item.id==='3') || (activeMenuId==item.id && item.id==='3')) ? item.activeImg : item.imgUrl" alt="">
                   <span slot="title" class="title-name">{{item.name}}</span>
                   <span class="stowExpand">{{item.expand ? '收起' : '展开'}}</span>
                   </div>
                </div>
              </template>
              <NavMenu :menuData="item.sysMenusList"></NavMenu>
          </el-submenu>
          <el-menu-item
          @click="handleJump(item.routerPath,item.id,item)"
          :index="item.id"
          :key="item.id"
          class="first-menu"
          :style="{backgroundImage: isActiveHome ? `url(${item.bgdeep})` : `url(${item.bg})`}"
          :class="(item.id==='2-1') || (item.id==='2-2') || (item.id==='2-3')  || (item.id==='2-4') || (item.id==='2-5') || (item.id==='2-6') || (item.id==='3-2') ? 'active-menu' : (item.id==='1') ? 'active-menu-template': 'active-menu-display'"
          v-else
          >
              <div
               @mouseenter="handleFocus(item.id)"
               @mouseleave="handleBlur(item.id)"
               class="submenu-wrapper"
               :class="(isActiveHome && item.id==='1') && 'huiSeZhiZhao20211018150153'">
              <div class="submenu-inner">
                <img :src="((isImg1 && item.id==='1') || (isActiveHome && item.id==='1')) ? item.activeImg : item.imgUrl" alt="" :class="(item.id==='4') || (item.id==='5') ? 'icon-opacity' : ''">
              </div>
              <span slot="title" class="title-name" :class="(item.id==='4') || (item.id==='5') ? 'icon-opacity' : ''">{{item.name}}</span>
              </div>
              <div>
              <span class="num-name">{{item.num ? item.num : ''}}</span>
              <i class="part">{{item.num ? '处' : ''}}</i>
              </div>
          </el-menu-item>
      </template>
  </div>
</template>

<script>
import {
  openModal,
  closeModal
// basePath
} from '@/until/bigUrl.js'
export default {
  name: 'NavMenu',
  props: ['menuData'],
  data () {
    return {
      isShow: false,
      isActive: false,
      isActiveHome: true,
      activeMenuId: 1,
      isImg1: true,
      isImg2: false,
      isImg3: false

      // currentUrl: basePath + '/home'
    }
  },

  methods: {
    handleFocus (id) {
      if (id === '1') {
        this.isImg1 = true
      } else {
        this.isImg1 = false
      }
      if (id === '2') {
        this.isImg2 = true
      } else {
        this.isImg2 = false
      }
      if (id === '3') {
        this.isImg3 = true
      } else {
        this.isImg3 = false
      }
    },
    handleBlur (id) {
      this.isImg1 = false
      this.isImg2 = false
    },
    handleJump (url, id, item) {
      if (id === '1') {
        this.isActiveHome = true
        this.isImg1 = true
      } else {
        this.isActiveHome = false
        this.isImg1 = false
      }
      if (id === '2') {
        if (this.isShow === true) {
          this.isShow = false
        } else {
          this.isShow = true
        }
        this.isActive = true
        this.isImg2 = true
      } else {
        this.isActive = false
        this.isImg2 = false
      }

      if(id == 1 || id == 2 || id == 3) {
        this.activeMenuId = id;
        item.expand = !item.expand;
      }else{
        this.activeMenuId = 0;
      }

      window.AC && window.AC.ClearCustomWindowEx({
        callbackFn: function (data) {
          console.log('ClearCustomWindowEx', data)
        }
      })
      if (url) {
        // 1. 如果点击切换的是当前页面 return，
        // // 2. 切换左弹框，成功后切换menu的active，关闭中弹框，
        // let currentUrl = localStorage.getItem('currentUrl')
        // this.currentUrl = currentUrl

        // 切换左侧弹框
        openModal(1, url, () => {})
        // 关闭中间弹框
        if (url === '/estateHous') {
          sessionStorage.setItem('landmarkUrl', '/estateHous')
        } else if (url === '/home') {
          sessionStorage.setItem('landmarkUrl', '/home')
        } else {
          sessionStorage.removeItem('landmarkUrl')
        }
        closeModal(6, url)
      }
    }
  }
}
</script>

<style lang="less" scoped>
.navMenu{
  display: flex;
  flex-direction: column;
 .first-menu{
   height: 66px;
   margin: 12px 16px 0 16px;
   background-position: center;
   background-repeat: no-repeat;
   background-size:100% 100%;
   display: flex;
   justify-content: space-between;
   .stowExpand{
     color: #fff;
     font-size: 16px;
     line-height: 66px;
     display: inline-block;
     margin-left: 130px;
   }
   .title-name{
     color: #fff;
     font-size: 18px;
     line-height: 66px;
   }
   .num-name{
     font-size: 18px;
     font-weight: bolder;
     color:#00D5FF;
     line-height: 66px;
   }
   .part{
     font-style: normal;
     font-size: 12px;
     color:#00D5FF;
     display: inline-block;
     margin-right: 12px;
     margin-top: 4px;
   }
 }
 .submenu-wrapper{
   width:902px;
   height:66px; 
   padding-left:12px;
   display:flex;
   align-items:center;
   .submenu-inner{
     width:56px;
     height:56px;
     display:flex;
     align-items:center;
     justify-content:center;
   }
 }
 /deep/.el-submenu__title{
  //  width: 100%;
   height: 66px;
   margin: 0 !important;
   background-position: center;
   background-repeat: no-repeat;
   background-size:100% 100%;
   background-color: transparent !important;
 }
 /deep/.el-submenu__title{
     padding: 0 !important;
 }
 .el-menu-item{
   padding: 0 !important;
 }
 .icon-opacity{
    opacity: 0.3;
 }

.huiSeZhiZhao20211018150153{
    width: 902px;
    height: 66px;
    background: url(./img/w328h4950steps75.png) no-repeat 0px 0px;
    -webkit-animation: huida20211018150153 4s infinite steps(75, end);
    -moz-animation: huida20211018150153 4s infinite steps(75, end);
    -ms-animation: huida20211018150153 4s infinite steps(75, end);
    animation: huida20211018150153 4s infinite steps(75, end);
}
@-webkit-keyframes huida20211018150153 {
    0% {
        background-position-y: 0px;
    }
    100% {
        background-position-y: -4950px;
    }
}
@-moz-keyframes huida20211018150153 {
    0% {
        background-position-y: 0px;
    }
    100% {
        background-position-y: -4950px;
    }
}
@-ms-keyframes huida20211018150153 {
    0% {
        background-position-y: 0px;
    }
    100% {
        background-position-y: -4950px;
    }
}
@keyframes huida20211018150153 {
    0% {
        background-position-y: 0px;
    }
    100% {
        background-position-y: -4950px;
    }
}
.active-menu{
   background: url(./img/bg_6.png) no-repeat center !important;
   background-size:100% 100% !important;
}
.active-menu-display{
   background: url(./img/nav_disable.png) no-repeat center !important;
   background-size:100% 100% !important;
}
.active-menu:focus, .active-menu:hover{
   background: url(./img/active.png) no-repeat center !important;
   background-size:100% 100% !important;
 }
.active-menu-template:focus, .active-menu-template:hover, .el-submenu__title .first-menu:hover{
   background: url(./img/bg.png) no-repeat center !important;
   background-size:100% 100% !important;
 }
 /deep/.el-menu-item:focus, /deep/.el-menu-item:hover{
   background-color: transparent !important;
 }

 /deep/.el-icon-arrow-down:before{
   content: "" !important;
 }
}
</style>
