<template>
  <div class="business-tas">
    <el-form :model="formInline" ref="form" class="form">
      <el-select v-model="MissionTemplateForm" style="width:75px" @change='changeList'>
        <el-option v-for="state in StatusOptions" :key="state.key" :value="state.key" :label="state.display_name" />
      </el-select>
      <el-form-item>
        <el-input style="width:180px" v-model="formInline.region" :placeholder="placeholderName"></el-input>
      </el-form-item>

      <el-form-item>
        <el-button type="primary" @click="onSubmit">查询</el-button>
      </el-form-item>
    </el-form>
    <div class="table-analysis" :style="{borderBottom: (tableData.length===0 ? '1px solid #336b6c': '') }">
      <el-table :data="tableData" style="width: 100%,font-size:12px" @row-click="handleMore">
        <el-table-column label="序号" align="center" type="index" width="40">
        </el-table-column>

        <el-table-column prop="name" :label="tableName">
          <template slot-scope="scope">
            <el-popover placement="top-start" width="230" trigger="hover" :content="scope.row.name">
              <span slot="reference"> {{ scope.row.name | ellipsis(8) }}</span>
            </el-popover>
          </template>
        </el-table-column>
        <el-table-column prop="area" :label="tableAreaName" align="right">
          <template slot-scope="scope">
            <div style="margin-right:10px;">
              <span slot="reference"> {{ scope.row.area}}<img :src="require('@/views/img/right_arrow.png')" style="width:6px;height:10px;padding:0;margin-left:10px;" alt="" /></span>
            </div>
          </template>
        </el-table-column>
      </el-table>
    </div>
    <div class="table-pagination">
      <el-pagination :small='true' :pagerCount="pagerCount" background :data="tableData" @current-change="handleCurrentChange" :current-page.sync="currentPage" :page-size="pagesize" layout="total, prev, pager, next" :total="totalNum">
      </el-pagination>
    </div>
  </div>
</template>
<script>
import { homeProperList } from '@/views/request'
import { openModal } from '@/until/bigUrl.js'

export default {
  // components: {Breadcrumb},
  data () {
    return {
      pagerCount: 5,
      currentPage: 1,
      pagesize: 25,
      totalNum: 0,
      type: '',
      placeholderName: '请输入物业资产名称',
      tableName: '物业资产名称',
      tableAreaName: '建筑面积(m²)',
      formInline: {
        region: ''
      },
      tableData: [],
      MissionTemplateForm: '',
      StatusOptions: [
        { key: '2', display_name: '物业' },
        { key: '1', display_name: '企业' }
      ]
    }
  },
  created () {
    this.MissionTemplateForm = this.StatusOptions[0].key
    this.type = this.MissionTemplateForm
    this.getDataList()
  },
  filters: {
    ellipsis (value, limit) {
      if (!value) return ''
      if (value.length > limit) {
        return value.slice(0, limit) + '...'
      }
      return value
    }
  },
  methods: {
    changeList (data) {
      this.type = parseInt(data)
      if (this.type === 1) {
        this.placeholderName = '请输入企业名称'
        this.tableName = '企业名称'
        this.tableAreaName = '租赁面积(m²)'
      } else {
        this.placeholderName = '请输入物业资产名称'
        this.tableName = '物业资产名称'
        this.tableAreaName = '建筑面积(m²)'
      }
      this.getDataList()
    },
    onSubmit () {
      this.index = this.formInline.region
      this.getDataList()
    },

    handleCurrentChange (currentPage) {
      this.currentPage = currentPage
      this.getDataList()
    },
    getDataList () {
      let obj = {
        p: this.currentPage,
        size: this.pagesize,
        index: this.formInline.region,
        type: this.type
      }
      homeProperList(obj).then(res => {
        console.log(res.data.data)
        this.totalNum = res.data.data.total
        this.tableData = res.data.data.list
      })
    },
    list (obj) {
      homeProperList(obj).then(res => {
        console.log(res.data.data)
        this.totalNum = res.data.data.total
        this.tableData = res.data.data.list
      })
    },
    handleMore (row) {
      let path = this.$route.path
      if (this.type === 1) {
        // 企业
        openModal(6, '/companyDetail?code=' + row.code + '&mark=' + 'homeList', () => { })
      } else {
        // 物业
        openModal(1, '/parkDetail?id=' + row.id + '&&name=' + row.name + '&path=' + path, () => { })
      }
    }
  }
}
</script>

<style lang="less" scoped>
@import "./index.less";
</style>
