<template>
  <div class="propertyAnalysis">
    <div class="business-tas">
      <div class="list-tit">
        <div class="left">
          <div style="margin-right:20px">企业数量：<span style="color:#00D5FF;">{{totalNum}}</span>&nbsp;&nbsp;家</div>
          <!-- <div>预到期：<span style="color:red;">{{preDueNum}}</span>&nbsp;&nbsp;家</div> -->
        </div>
        <div class="right">
          <el-form :model="formInline" ref="form" class="form">
            <el-form-item>
              <el-input style="width:250px" v-model="formInline.search" placeholder="请输入企业名称"></el-input>
            </el-form-item>

            <el-form-item>
              <el-button type="primary" @click="onSubmit">查询</el-button>
            </el-form-item>
          </el-form>
        </div>
      </div>
      <div class="table-analysis" :style="{borderBottom: (tableData.length===0 ? '1px solid #336b6c': '') }">
        <el-table :data="tableData" align='center' header-align='center'>
          <el-table-column label="序号" type="index" width="50">
          </el-table-column>

          <el-table-column prop="name" label="企业名称">
            <template slot-scope="scope">
              <el-popover placement="top-start" trigger="hover" :content="scope.row.name">
                <!-- <span slot="reference"> {{ scope.row.name | ellipsis(15)}}</span> -->
                <span slot="reference"> {{ scope.row.name}}</span>
              </el-popover>
            </template>
          </el-table-column>
          <el-table-column prop="buildArea" label="租赁面积(㎡)" width="150"></el-table-column>
          <el-table-column prop="syNum" label="剩余时间" width="150">
            <template slot-scope="scope">
              <span :class="scope.row.syNum<=30?'colorR':''"> {{ scope.row.syNum}}天</span>
            </template>
          </el-table-column>
          <el-table-column label="操作" align="center" width="150">
            <template slot-scope="scope">
              <div @click="handleAddEditSee(scope.row)" style="color:#00D5FF">查看</div>
            </template>
          </el-table-column>
        </el-table>
      </div>
      <div class="table-pagination">
        <el-pagination background :data="tableData" @current-change="handleCurrentChange" :current-page.sync="currentPage" :page-size="pagesize" layout="total, prev, pager, next" :total="totalNum">
        </el-pagination>
      </div>
    </div>
  </div>
</template>
<script>
import { industryPreCompany } from '../../../../../request'
import { openModal } from '@/until/bigUrl.js'

export default {
  data () {
    return {
      formInline: {
        search: ''
      },
      currentPage: 1,
      pagesize: 15,
      totalNum: 0,
      preDueNum: 0,
      mark: 0,
      tableData: []
    }
  },
  created () {
    this.getDataList()
  },
  filters: {
    ellipsis (value, limit) {
      if (!value) return ''
      if (value.length > limit) {
        return value.slice(0, limit) + '...'
      }
      return value
    }
  },
  methods: {
    handleAddEditSee (row) {
      console.log(row.code)
      openModal(6, '/companyDetail?code=' + row.code + '&mark=' + 'predue', () => { })
    },
    handleCurrentChange (currentPage) {
      this.currentPage = currentPage
      this.getDataList()
    },
    getDataList () {
      let obj = {
        p: this.currentPage,
        size: this.pagesize,
        index: ''
      }
      this.list(obj)
    },
    onSubmit () {
      let obj = {
        p: 1,
        size: this.pagesize,
        index: this.formInline.search
      }
      this.list(obj)
    },
    list (obj) {
      this.mark += 1
      industryPreCompany(obj).then(res => {
        console.log(res)
        this.totalNum = res.data.data.total
        // if (this.mark === 1) {
        //   // 统计表格列表中的预到期企业数量
        //   this.getTotal(this.totalNum)
        // }
        this.tableData = res.data.data.list
      })
    }
    // getTotal (totalNum) {
    //   let obj = {
    //     p: this.currentPage,
    //     size: totalNum,
    //     index: '',
    //     userId: sessionStorage.getItem('userId')
    //   }
    //   industryPreCompany(obj).then(res => {
    //     let data = res.data.data.list
    //     data.forEach(item => {
    //       if (item.remainDay <= 30) {
    //         this.preDueNum += 1
    //       }
    //     })
    //   })
    // }
  }
}
</script>

<style lang="less" scoped>
@import "./index.less";
.colorR {
  color: red;
}
</style>
