<template>
  <div>
    <div class="table-analysis" :style="{borderBottom: (tableData.length===0 ? '1px solid #336b6c': '') }">
      <el-table :data="tableData" header-align='center' :fit='true'>
        <el-table-column label="序号" type="index" width="50">
        </el-table-column>
        <el-table-column prop="userName" label="人才姓名"></el-table-column>
        <el-table-column prop="roomName" label="房源名称"></el-table-column>
        <el-table-column prop="buildArea" label="建筑面积（m²）"></el-table-column>
        <!-- <el-table-column prop="area" label="合同金额（元）" width="150"></el-table-column>
        <el-table-column prop="name" label="合同起止日期" width="300"></el-table-column> -->
        <!-- <el-table-column label="操作" align="center" width="150">
          <template slot-scope="scope">
            <div @click="handleAddEditSee(scope.row)" style="color:#00D5FF;">查看</div>
          </template>
        </el-table-column> -->
      </el-table>
    </div>
    <div class="table-pagination">
      <el-pagination background :data="tableData" @current-change="handleCurrentChange" :current-page.sync="currentPage" :page-size="pagesize" layout="total, prev, pager, next" :total="totalNum">
      </el-pagination>
    </div>
  </div>

</template>
<script>

export default {
  props: { supportData: Array },
  data () {
    return {
      currentPage: 1,
      pagesize: 10,
      totalNum: 0,
      totalMoney: 0,
      tableData: []
    }
  },
  created () {
    this.handleCurrentChange(1)
    if (this.supportData) {
      this.totalNum = this.supportData.length
      for (let item of this.supportData) {
        console.log(item)
        this.totalMoney += parseInt(item.money)
      }
    }
  },
  filters: {
    ellipsis (value, limit) {
      if (!value) return ''
      if (value.length > limit) {
        return value.slice(0, limit) + '...'
      }
      return value
    }
  },
  methods: {
    handleCurrentChange (currentPage) {
      this.currentPage = currentPage
      this.tableData = []
      for (var i = (currentPage - 1) * this.pagesize; i < (currentPage - 1) * this.pagesize + this.pagesize; i++) {
        if (this.supportData.length > i) {
          this.tableData.push(this.supportData[i])
        }
      }
    }
  }
}
</script>

<style lang="less" scoped>
@import "../index.less";
</style>
