<template>
<div class="simulationCalculation">

  <el-form ref="form" :model="form" label-width="126px">
  <div class="form-content">
  <div class="form-box">
  <el-form-item label="增量税：">
    <el-input v-model="form.name"></el-input>
  </el-form-item>
   <el-form-item label="城市维护建设税：">
    <el-input v-model="form.name"></el-input>
  </el-form-item>
   <el-form-item label="印花税：">
    <el-input v-model="form.name"></el-input>
  </el-form-item>
   <el-form-item label="教育费附加：">
    <el-input v-model="form.name"></el-input>
  </el-form-item>
   <el-form-item label="残疾人就业保障金：">
    <el-input v-model="form.name"></el-input>
  </el-form-item>
    <el-form-item label="计算结果：" style=" margin-top:60px;">
    <el-input v-model="form.name"></el-input>
  </el-form-item>
   </div>
   <div class="form-box">
  <el-form-item label="企业所得税：">
    <el-input v-model="form.name"></el-input>
  </el-form-item>
   <el-form-item label="房产税：">
    <el-input v-model="form.name"></el-input>
  </el-form-item>
   <el-form-item label="城镇土地使用税：">
    <el-input v-model="form.name"></el-input>
  </el-form-item>
   <el-form-item label="地方教育附加：">
    <el-input v-model="form.name"></el-input>
  </el-form-item>
   <el-form-item>
    <el-button type="primary" @click="onSubmit" style=" margin-top:106px;">计算</el-button>
  </el-form-item>
   </div>
   </div>
</el-form>

  </div>
</template>

<script>
export default {
  data () {
    return {
      form: {
        name: '',
        region: '',
        type: ''
      }

    }
  },
  methods: {
    onSubmit () {
      console.log('submit!')
    }
  }
}
</script>

<style lang="less" scoped>
@import "./index.less";
</style>
