<template>
  <div class="business-tas">
    <el-form :model="formInline" ref="form" class="form">
      <el-form-item>
        <el-input style="width:250px" v-model="formInline.region" placeholder="请输入园区名称"></el-input>
      </el-form-item>

      <el-form-item>
        <el-button type="primary" @click="onSubmit">查询</el-button>
      </el-form-item>
    </el-form>
    <div class="table-analysis" :style="{borderBottom: (tableData.length===0 ? '1px solid #336b6c': '') }">
      <el-table :data="tableData" style="width: 100%,font-size:12px" @row-click="handleMore">
        <el-table-column label="序号" type="index" width="40">
        </el-table-column>

        <el-table-column prop="name" label="园区名称" width="170">
          <template slot-scope="scope">
            <el-popover placement="top-start" width="230" trigger="hover" :content="scope.row.name">
              <span slot="reference"> {{ scope.row.name | ellipsis(8) }}</span>
            </el-popover>
          </template>
        </el-table-column>

        <el-table-column prop="itemName">
          <template slot-scope="scope">
            <div style="height:24px;display: flex; margin-right:10px; align-items:center;" :style="{justifyContent: (transfer.indexOf(scope.row.name) !== -1) ? 'space-between' : 'flex-end'}">
              <div style="color:#00FFFF;" v-if="transfer.indexOf(scope.row.name) !== -1">新移交</div>
              <img :src="require('../../../img/right_arrow.png')" style="width:6px;height:10px;padding:0;" alt="" />
            </div>
          </template>
        </el-table-column>
      </el-table>
    </div>
    <div class="table-pagination">
      <el-pagination :small='true' :pagerCount="pagerCount" background :data="tableData" @current-change="handleCurrentChange" :current-page.sync="currentPage" :page-size="pagesize" layout="total, prev, pager, next" :total="totalNum">
      </el-pagination>
      <!-- <el-pagination background
            :data="pagelist"
             @size-change="handleSizeChange"
             @current-change="handleCurrentChange"
             :current-page="currentPage"
             :page-sizes="[10,15,20]"
             :page-size="pagesize"
              layout="total,sizes, prev, pager, next, jumper" :total="totalNum">
            </el-pagination> -->
    </div>
  </div>
</template>
<script>
import MapUtil from '@/until/mapUtil'
import { industryHouseList } from '../../../request'
import { openModal } from '@/until/bigUrl.js'
import landmark from './mark.js'
export default {
  // components: {Breadcrumb},
  data() {
    return {
      pagerCount: 5,
      currentPage: 1,
      pagesize: 25,
      pagelist: [],
      totalNum: 0,
      formInline: {
        region: ''
      },
      tableData: [],
      transfer: ['汇通大厦', '南山云科技大厦'],
      tableData1: [],
      zy1: '',
      zy3: ''
    }
  },
  created() {
    this.getDataList()
  },
  filters: {
    ellipsis(value, limit) {
      if (!value) return ''
      if (value.length > limit) {
        return value.slice(0, limit) + '...'
      }
      return value
    }
  },
  methods: {
    onSubmit() {
      let obj = {
        p: 1,
        size: this.pagesize,
        index: this.formInline.region,
        type: '产业用房'
      }
      this.list(obj)
    },

    handleCurrentChange(currentPage) {
      this.currentPage = currentPage
      this.getDataList()
    },
    getDataList() {
      let obj = {
        p: this.currentPage,
        size: this.pagesize,
        index: '',
        type: '产业用房'
      }
      this.list(obj)
    },
    list(obj) {
      industryHouseList(obj).then(res => {
        this.totalNum = res.data.data.total
        this.tableData1 = res.data.data.list
        for (var i = 0; i < this.tableData1.length; i++) {
          if (this.tableData1[i].name === '南山智园（一期）') {
            this.zy1 = this.tableData1[i]
          } else if (this.tableData1[i].name === '南山智园（三期）崇文园区') {
            this.zy3 = this.tableData1[i]
          }
        }
        this.tableData = []
        this.tableData.push(this.zy1)
        this.tableData.push(this.zy3)
        for (var j = 0; j < this.tableData1.length; j++) {
          if (this.tableData1[j].name !== '南山智园（一期）' && this.tableData1[j].name !== '南山智园（三期）崇文园区') {
            this.tableData.push(this.tableData1[j])
          }
        }
      })
    },
    handleMore(row) {
      if (landmark[row.name].houseCode && landmark[row.name].houseCode.length > 0) {//有楼栋编码、定位到楼栋、显示标注
        MapUtil.locatTo.loudong(landmark[row.name].houseCode, false, function () {//定位
          MapUtil.pointLabel.loudong(landmark[row.name].houseCode, function (wybm) { });//显示楼栋标签
        });
      }
      // else if (landmark[row.name].pos) {
      //   window.AC.LocatToByWGS84Coord(landmark[row.name].pos.x, landmark[row.name].pos.y, landmark[row.name].pos.z);
      // }
      else {
        window.AC.Camera.set(landmark[row.name].camera)
      }
      let path = this.$route.path
      openModal(1, '/parkDetail?id=' + row.id + '&name=' + row.name + '&path=' + path, () => { })
    }
  }
}
</script>

<style lang="less" scoped>
@import "./index.less";
</style>
